/**
 * Octicons, 9.4.0
 * Created by GitHub Inc.
 * https://octicons.github.com
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "octicons";
  src: url('./octicons.eot');
  src: 
    url('./octicons.eot?#iefix') format('embedded-opentype'),
    url('./octicons.woff2') format('woff2'),
    url('./octicons.woff') format('woff'),
    url('./octicons.ttf') format('truetype'),
    url('./octicons.svg#octicons') format('svg');
}

.octicon {
  font-family: "octicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.octicon-alert::before {
  content: "\ea01";
}

.octicon-archive::before {
  content: "\ea02";
}

.octicon-arrow-both::before {
  content: "\ea03";
}

.octicon-arrow-down::before {
  content: "\ea04";
}

.octicon-arrow-left::before {
  content: "\ea05";
}

.octicon-arrow-right::before {
  content: "\ea06";
}

.octicon-arrow-small-down::before {
  content: "\ea07";
}

.octicon-arrow-small-left::before {
  content: "\ea08";
}

.octicon-arrow-small-right::before {
  content: "\ea09";
}

.octicon-arrow-small-up::before {
  content: "\ea0a";
}

.octicon-arrow-up::before {
  content: "\ea0b";
}

.octicon-beaker::before {
  content: "\ea0c";
}

.octicon-bell::before {
  content: "\ea0d";
}

.octicon-bold::before {
  content: "\ea0e";
}

.octicon-book::before {
  content: "\ea0f";
}

.octicon-bookmark::before {
  content: "\ea10";
}

.octicon-briefcase::before {
  content: "\ea11";
}

.octicon-broadcast::before {
  content: "\ea12";
}

.octicon-browser::before {
  content: "\ea13";
}

.octicon-bug::before {
  content: "\ea14";
}

.octicon-calendar::before {
  content: "\ea15";
}

.octicon-check::before {
  content: "\ea16";
}

.octicon-checklist::before {
  content: "\ea17";
}

.octicon-chevron-down::before {
  content: "\ea18";
}

.octicon-chevron-left::before {
  content: "\ea19";
}

.octicon-chevron-right::before {
  content: "\ea1a";
}

.octicon-chevron-up::before {
  content: "\ea1b";
}

.octicon-circle-slash::before {
  content: "\ea1c";
}

.octicon-circuit-board::before {
  content: "\ea1d";
}

.octicon-clippy::before {
  content: "\ea1e";
}

.octicon-clock::before {
  content: "\ea1f";
}

.octicon-cloud-download::before {
  content: "\ea20";
}

.octicon-cloud-upload::before {
  content: "\ea21";
}

.octicon-code::before {
  content: "\ea22";
}

.octicon-comment::before {
  content: "\ea23";
}

.octicon-comment-discussion::before {
  content: "\ea24";
}

.octicon-credit-card::before {
  content: "\ea25";
}

.octicon-dash::before {
  content: "\ea26";
}

.octicon-dashboard::before {
  content: "\ea27";
}

.octicon-database::before {
  content: "\ea28";
}

.octicon-dependent::before {
  content: "\ea29";
}

.octicon-desktop-download::before {
  content: "\ea2a";
}

.octicon-device-camera::before {
  content: "\ea2b";
}

.octicon-device-camera-video::before {
  content: "\ea2c";
}

.octicon-device-desktop::before {
  content: "\ea2d";
}

.octicon-device-mobile::before {
  content: "\ea2e";
}

.octicon-diff::before {
  content: "\ea2f";
}

.octicon-diff-added::before {
  content: "\ea30";
}

.octicon-diff-ignored::before {
  content: "\ea31";
}

.octicon-diff-modified::before {
  content: "\ea32";
}

.octicon-diff-removed::before {
  content: "\ea33";
}

.octicon-diff-renamed::before {
  content: "\ea34";
}

.octicon-ellipsis::before {
  content: "\ea35";
}

.octicon-eye::before {
  content: "\ea36";
}

.octicon-eye-closed::before {
  content: "\ea37";
}

.octicon-file::before {
  content: "\ea38";
}

.octicon-file-binary::before {
  content: "\ea39";
}

.octicon-file-code::before {
  content: "\ea3a";
}

.octicon-file-directory::before {
  content: "\ea3b";
}

.octicon-file-media::before {
  content: "\ea3c";
}

.octicon-file-pdf::before {
  content: "\ea3d";
}

.octicon-file-submodule::before {
  content: "\ea3e";
}

.octicon-file-symlink-directory::before {
  content: "\ea3f";
}

.octicon-file-symlink-file::before {
  content: "\ea40";
}

.octicon-file-zip::before {
  content: "\ea41";
}

.octicon-flame::before {
  content: "\ea42";
}

.octicon-fold::before {
  content: "\ea43";
}

.octicon-fold-down::before {
  content: "\ea44";
}

.octicon-fold-up::before {
  content: "\ea45";
}

.octicon-gear::before {
  content: "\ea46";
}

.octicon-gift::before {
  content: "\ea47";
}

.octicon-gist::before {
  content: "\ea48";
}

.octicon-gist-secret::before {
  content: "\ea49";
}

.octicon-git-branch::before {
  content: "\ea4a";
}

.octicon-git-commit::before {
  content: "\ea4b";
}

.octicon-git-compare::before {
  content: "\ea4c";
}

.octicon-git-merge::before {
  content: "\ea4d";
}

.octicon-git-pull-request::before {
  content: "\ea4e";
}

.octicon-github-action::before {
  content: "\ea4f";
}

.octicon-globe::before {
  content: "\ea50";
}

.octicon-grabber::before {
  content: "\ea51";
}

.octicon-graph::before {
  content: "\ea52";
}

.octicon-heart::before {
  content: "\ea53";
}

.octicon-heart-outline::before {
  content: "\ea54";
}

.octicon-history::before {
  content: "\ea55";
}

.octicon-home::before {
  content: "\ea56";
}

.octicon-horizontal-rule::before {
  content: "\ea57";
}

.octicon-hubot::before {
  content: "\ea58";
}

.octicon-inbox::before {
  content: "\ea59";
}

.octicon-infinity::before {
  content: "\ea5a";
}

.octicon-info::before {
  content: "\ea5b";
}

.octicon-issue-closed::before {
  content: "\ea5c";
}

.octicon-issue-opened::before {
  content: "\ea5d";
}

.octicon-issue-reopened::before {
  content: "\ea5e";
}

.octicon-italic::before {
  content: "\ea5f";
}

.octicon-jersey::before {
  content: "\ea60";
}

.octicon-kebab-horizontal::before {
  content: "\ea61";
}

.octicon-kebab-vertical::before {
  content: "\ea62";
}

.octicon-key::before {
  content: "\ea63";
}

.octicon-keyboard::before {
  content: "\ea64";
}

.octicon-law::before {
  content: "\ea65";
}

.octicon-light-bulb::before {
  content: "\ea66";
}

.octicon-line-arrow-down::before {
  content: "\ea67";
}

.octicon-line-arrow-left::before {
  content: "\ea68";
}

.octicon-line-arrow-right::before {
  content: "\ea69";
}

.octicon-line-arrow-up::before {
  content: "\ea6a";
}

.octicon-link::before {
  content: "\ea6b";
}

.octicon-link-external::before {
  content: "\ea6c";
}

.octicon-list-ordered::before {
  content: "\ea6d";
}

.octicon-list-unordered::before {
  content: "\ea6e";
}

.octicon-location::before {
  content: "\ea6f";
}

.octicon-lock::before {
  content: "\ea70";
}

.octicon-logo-gist::before {
  content: "\ea71";
}

.octicon-logo-github::before {
  content: "\ea72";
}

.octicon-mail::before {
  content: "\ea73";
}

.octicon-mail-read::before {
  content: "\ea74";
}

.octicon-mark-github::before {
  content: "\ea75";
}

.octicon-markdown::before {
  content: "\ea76";
}

.octicon-megaphone::before {
  content: "\ea77";
}

.octicon-mention::before {
  content: "\ea78";
}

.octicon-milestone::before {
  content: "\ea79";
}

.octicon-mirror::before {
  content: "\ea7a";
}

.octicon-mortar-board::before {
  content: "\ea7b";
}

.octicon-mute::before {
  content: "\ea7c";
}

.octicon-no-newline::before {
  content: "\ea7d";
}

.octicon-note::before {
  content: "\ea7e";
}

.octicon-octoface::before {
  content: "\ea7f";
}

.octicon-organization::before {
  content: "\ea80";
}

.octicon-package::before {
  content: "\ea81";
}

.octicon-paintcan::before {
  content: "\ea82";
}

.octicon-pencil::before {
  content: "\ea83";
}

.octicon-person::before {
  content: "\ea84";
}

.octicon-pin::before {
  content: "\ea85";
}

.octicon-play::before {
  content: "\ea86";
}

.octicon-plug::before {
  content: "\ea87";
}

.octicon-plus::before {
  content: "\ea88";
}

.octicon-plus-small::before {
  content: "\ea89";
}

.octicon-primitive-dot::before {
  content: "\ea8a";
}

.octicon-primitive-dot-stroke::before {
  content: "\ea8b";
}

.octicon-primitive-square::before {
  content: "\ea8c";
}

.octicon-project::before {
  content: "\ea8d";
}

.octicon-pulse::before {
  content: "\ea8e";
}

.octicon-question::before {
  content: "\ea8f";
}

.octicon-quote::before {
  content: "\ea90";
}

.octicon-radio-tower::before {
  content: "\ea91";
}

.octicon-reply::before {
  content: "\ea92";
}

.octicon-repo::before {
  content: "\ea93";
}

.octicon-repo-clone::before {
  content: "\ea94";
}

.octicon-repo-force-push::before {
  content: "\ea95";
}

.octicon-repo-forked::before {
  content: "\ea96";
}

.octicon-repo-pull::before {
  content: "\ea97";
}

.octicon-repo-push::before {
  content: "\ea98";
}

.octicon-repo-template::before {
  content: "\ea99";
}

.octicon-repo-template-private::before {
  content: "\ea9a";
}

.octicon-report::before {
  content: "\ea9b";
}

.octicon-request-changes::before {
  content: "\ea9c";
}

.octicon-rocket::before {
  content: "\ea9d";
}

.octicon-rss::before {
  content: "\ea9e";
}

.octicon-ruby::before {
  content: "\ea9f";
}

.octicon-saved::before {
  content: "\eaa0";
}

.octicon-screen-full::before {
  content: "\eaa1";
}

.octicon-screen-normal::before {
  content: "\eaa2";
}

.octicon-search::before {
  content: "\eaa3";
}

.octicon-server::before {
  content: "\eaa4";
}

.octicon-settings::before {
  content: "\eaa5";
}

.octicon-shield::before {
  content: "\eaa6";
}

.octicon-shield-check::before {
  content: "\eaa7";
}

.octicon-shield-lock::before {
  content: "\eaa8";
}

.octicon-shield-x::before {
  content: "\eaa9";
}

.octicon-sign-in::before {
  content: "\eaaa";
}

.octicon-sign-out::before {
  content: "\eaab";
}

.octicon-skip::before {
  content: "\eaac";
}

.octicon-smiley::before {
  content: "\eaad";
}

.octicon-squirrel::before {
  content: "\eaae";
}

.octicon-star::before {
  content: "\eaaf";
}

.octicon-stop::before {
  content: "\eab0";
}

.octicon-sync::before {
  content: "\eab1";
}

.octicon-tag::before {
  content: "\eab2";
}

.octicon-tasklist::before {
  content: "\eab3";
}

.octicon-telescope::before {
  content: "\eab4";
}

.octicon-terminal::before {
  content: "\eab5";
}

.octicon-text-size::before {
  content: "\eab6";
}

.octicon-three-bars::before {
  content: "\eab7";
}

.octicon-thumbsdown::before {
  content: "\eab8";
}

.octicon-thumbsup::before {
  content: "\eab9";
}

.octicon-tools::before {
  content: "\eaba";
}

.octicon-trashcan::before {
  content: "\eabb";
}

.octicon-triangle-down::before {
  content: "\eabc";
}

.octicon-triangle-left::before {
  content: "\eabd";
}

.octicon-triangle-right::before {
  content: "\eabe";
}

.octicon-triangle-up::before {
  content: "\eabf";
}

.octicon-unfold::before {
  content: "\eac0";
}

.octicon-unmute::before {
  content: "\eac1";
}

.octicon-unsaved::before {
  content: "\eac2";
}

.octicon-unverified::before {
  content: "\eac3";
}

.octicon-verified::before {
  content: "\eac4";
}

.octicon-versions::before {
  content: "\eac5";
}

.octicon-watch::before {
  content: "\eac6";
}

.octicon-workflow::before {
  content: "\eac7";
}

.octicon-workflow-all::before {
  content: "\eac8";
}

.octicon-x::before {
  content: "\eac9";
}

.octicon-zap::before {
  content: "\eaca";
}
