/**
 * Simple Icons, 1.2.23
 * Created by Simple Icons Collaborators
 * https://www.simpleicons.org
 * CC0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "simple-icons";
  src: url('./simple-icons.eot');
  src: 
    url('./simple-icons.eot?#iefix') format('embedded-opentype'),
    url('./simple-icons.woff2') format('woff2'),
    url('./simple-icons.woff') format('woff'),
    url('./simple-icons.ttf') format('truetype'),
    url('./simple-icons.svg#simple-icons') format('svg');
}

.si {
  font-family: "simple-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}



.si-500px::before {
    content: "\ea01";
}

.si-aboutme::before {
    content: "\ea02";
}

.si-acm::before {
    content: "\ea03";
}

.si-addthis::before {
    content: "\ea04";
}

.si-adobe::before {
    content: "\ea05";
}

.si-adobeacrobatreader::before {
    content: "\ea06";
}

.si-adobeaftereffects::before {
    content: "\ea07";
}

.si-adobedreamweaver::before {
    content: "\ea08";
}

.si-adobeillustrator::before {
    content: "\ea09";
}

.si-adobeindesign::before {
    content: "\ea0a";
}

.si-adobelightroom::before {
    content: "\ea0b";
}

.si-adobephotoshop::before {
    content: "\ea0c";
}

.si-adobetypekit::before {
    content: "\ea0d";
}

.si-aim::before {
    content: "\ea0e";
}

.si-airbnb::before {
    content: "\ea0f";
}

.si-amazon::before {
    content: "\ea10";
}

.si-americanexpress::before {
    content: "\ea11";
}

.si-android::before {
    content: "\ea12";
}

.si-angellist::before {
    content: "\ea13";
}

.si-angular::before {
    content: "\ea14";
}

.si-apple::before {
    content: "\ea15";
}

.si-applemusic::before {
    content: "\ea16";
}

.si-archlinux::before {
    content: "\ea17";
}

.si-asana::before {
    content: "\ea18";
}

.si-atlassian::before {
    content: "\ea19";
}

.si-atom::before {
    content: "\ea1a";
}

.si-auth0::before {
    content: "\ea1b";
}

.si-automatic::before {
    content: "\ea1c";
}

.si-aventrix::before {
    content: "\ea1d";
}

.si-baidu::before {
    content: "\ea1e";
}

.si-bandcamp::before {
    content: "\ea1f";
}

.si-basecamp::before {
    content: "\ea20";
}

.si-bathasu::before {
    content: "\ea21";
}

.si-behance::before {
    content: "\ea22";
}

.si-bigcartel::before {
    content: "\ea23";
}

.si-bing::before {
    content: "\ea24";
}

.si-bitbucket::before {
    content: "\ea25";
}

.si-bitcoin::before {
    content: "\ea26";
}

.si-bitly::before {
    content: "\ea27";
}

.si-blogger::before {
    content: "\ea28";
}

.si-bootstrap::before {
    content: "\ea29";
}

.si-bower::before {
    content: "\ea2a";
}

.si-brandai::before {
    content: "\ea2b";
}

.si-buffer::before {
    content: "\ea2c";
}

.si-buzzfeed::before {
    content: "\ea2d";
}

.si-cakephp::before {
    content: "\ea2e";
}

.si-campaignmonitor::before {
    content: "\ea2f";
}

.si-circleci::before {
    content: "\ea30";
}

.si-codecademy::before {
    content: "\ea31";
}

.si-codeforces::before {
    content: "\ea32";
}

.si-codeigniter::before {
    content: "\ea33";
}

.si-codepen::before {
    content: "\ea34";
}

.si-coderwall::before {
    content: "\ea35";
}

.si-codeschool::before {
    content: "\ea36";
}

.si-codewars::before {
    content: "\ea37";
}

.si-codio::before {
    content: "\ea38";
}

.si-compropago::before {
    content: "\ea39";
}

.si-conekta::before {
    content: "\ea3a";
}

.si-coop::before {
    content: "\ea3b";
}

.si-coursera::before {
    content: "\ea3c";
}

.si-css3::before {
    content: "\ea3d";
}

.si-csswizardry::before {
    content: "\ea3e";
}

.si-dailymotion::before {
    content: "\ea3f";
}

.si-deezer::before {
    content: "\ea40";
}

.si-delicious::before {
    content: "\ea41";
}

.si-designernews::before {
    content: "\ea42";
}

.si-deviantart::before {
    content: "\ea43";
}

.si-diaspora::before {
    content: "\ea44";
}

.si-digg::before {
    content: "\ea45";
}

.si-digitalocean::before {
    content: "\ea46";
}

.si-discord::before {
    content: "\ea47";
}

.si-discourse::before {
    content: "\ea48";
}

.si-discover::before {
    content: "\ea49";
}

.si-disqus::before {
    content: "\ea4a";
}

.si-django::before {
    content: "\ea4b";
}

.si-docker::before {
    content: "\ea4c";
}

.si-draugiemlv::before {
    content: "\ea4d";
}

.si-dribbble::before {
    content: "\ea4e";
}

.si-dropbox::before {
    content: "\ea4f";
}

.si-drupal::before {
    content: "\ea50";
}

.si-ebay::before {
    content: "\ea51";
}

.si-ello::before {
    content: "\ea52";
}

.si-empirekred::before {
    content: "\ea53";
}

.si-ethereum::before {
    content: "\ea54";
}

.si-etsy::before {
    content: "\ea55";
}

.si-eventbrite::before {
    content: "\ea56";
}

.si-eventstore::before {
    content: "\ea57";
}

.si-evernote::before {
    content: "\ea58";
}

.si-everplaces::before {
    content: "\ea59";
}

.si-facebook::before {
    content: "\ea5a";
}

.si-fandango::before {
    content: "\ea5b";
}

.si-feathub::before {
    content: "\ea5c";
}

.si-feedly::before {
    content: "\ea5d";
}

.si-fitbit::before {
    content: "\ea5e";
}

.si-flickr::before {
    content: "\ea5f";
}

.si-flipboard::before {
    content: "\ea60";
}

.si-fnac::before {
    content: "\ea61";
}

.si-foursquare::before {
    content: "\ea62";
}

.si-freecodecamp::before {
    content: "\ea63";
}

.si-garmin::before {
    content: "\ea64";
}

.si-gatsby::before {
    content: "\ea65";
}

.si-gauges::before {
    content: "\ea66";
}

.si-geeklist::before {
    content: "\ea67";
}

.si-geocaching::before {
    content: "\ea68";
}

.si-gerrit::before {
    content: "\ea69";
}

.si-ghost::before {
    content: "\ea6a";
}

.si-git::before {
    content: "\ea6b";
}

.si-github::before {
    content: "\ea6c";
}

.si-gitlab::before {
    content: "\ea6d";
}

.si-gitter::before {
    content: "\ea6e";
}

.si-glassdoor::before {
    content: "\ea6f";
}

.si-gmail::before {
    content: "\ea70";
}

.si-gnu::before {
    content: "\ea71";
}

.si-gnusocial::before {
    content: "\ea72";
}

.si-goldenline::before {
    content: "\ea73";
}

.si-goodreads::before {
    content: "\ea74";
}

.si-google::before {
    content: "\ea75";
}

.si-googleallo::before {
    content: "\ea76";
}

.si-googleanalytics::before {
    content: "\ea77";
}

.si-googlechrome::before {
    content: "\ea78";
}

.si-googledrive::before {
    content: "\ea79";
}

.si-googlehangouts::before {
    content: "\ea7a";
}

.si-googlekeep::before {
    content: "\ea7b";
}

.si-googleplay::before {
    content: "\ea7c";
}

.si-googleplus::before {
    content: "\ea7d";
}

.si-govuk::before {
    content: "\ea7e";
}

.si-graphcool::before {
    content: "\ea7f";
}

.si-graphql::before {
    content: "\ea80";
}

.si-gratipay::before {
    content: "\ea81";
}

.si-grav::before {
    content: "\ea82";
}

.si-gravatar::before {
    content: "\ea83";
}

.si-gulp::before {
    content: "\ea84";
}

.si-gumtree::before {
    content: "\ea85";
}

.si-hackerrank::before {
    content: "\ea86";
}

.si-hackster::before {
    content: "\ea87";
}

.si-haskell::before {
    content: "\ea88";
}

.si-hatenabookmark::before {
    content: "\ea89";
}

.si-heroku::before {
    content: "\ea8a";
}

.si-hexo::before {
    content: "\ea8b";
}

.si-hipchat::before {
    content: "\ea8c";
}

.si-homify::before {
    content: "\ea8d";
}

.si-hootsuite::before {
    content: "\ea8e";
}

.si-houzz::before {
    content: "\ea8f";
}

.si-html5::before {
    content: "\ea90";
}

.si-hulu::before {
    content: "\ea91";
}

.si-humblebundle::before {
    content: "\ea92";
}

.si-icq::before {
    content: "\ea93";
}

.si-ifixit::before {
    content: "\ea94";
}

.si-imdb::before {
    content: "\ea95";
}

.si-inkscape::before {
    content: "\ea96";
}

.si-instacart::before {
    content: "\ea97";
}

.si-instagram::before {
    content: "\ea98";
}

.si-instapaper::before {
    content: "\ea99";
}

.si-intel::before {
    content: "\ea9a";
}

.si-intercom::before {
    content: "\ea9b";
}

.si-invision::before {
    content: "\ea9c";
}

.si-javascript::before {
    content: "\ea9d";
}

.si-jekyll::before {
    content: "\ea9e";
}

.si-jenkins::before {
    content: "\ea9f";
}

.si-jira::before {
    content: "\eaa0";
}

.si-joomla::before {
    content: "\eaa1";
}

.si-jquery::before {
    content: "\eaa2";
}

.si-jsfiddle::before {
    content: "\eaa3";
}

.si-json::before {
    content: "\eaa4";
}

.si-justgiving::before {
    content: "\eaa5";
}

.si-kaggle::before {
    content: "\eaa6";
}

.si-keybase::before {
    content: "\eaa7";
}

.si-keycdn::before {
    content: "\eaa8";
}

.si-khanacademy::before {
    content: "\eaa9";
}

.si-kickstarter::before {
    content: "\eaaa";
}

.si-kik::before {
    content: "\eaab";
}

.si-kirby::before {
    content: "\eaac";
}

.si-klout::before {
    content: "\eaad";
}

.si-known::before {
    content: "\eaae";
}

.si-koding::before {
    content: "\eaaf";
}

.si-lanyrd::before {
    content: "\eab0";
}

.si-laravel::before {
    content: "\eab1";
}

.si-lastfm::before {
    content: "\eab2";
}

.si-launchpad::before {
    content: "\eab3";
}

.si-letterboxd::before {
    content: "\eab4";
}

.si-line::before {
    content: "\eab5";
}

.si-linkedin::before {
    content: "\eab6";
}

.si-linux::before {
    content: "\eab7";
}

.si-linuxfoundation::before {
    content: "\eab8";
}

.si-livejournal::before {
    content: "\eab9";
}

.si-livestream::before {
    content: "\eaba";
}

.si-macys::before {
    content: "\eabb";
}

.si-magento::before {
    content: "\eabc";
}

.si-mailchimp::before {
    content: "\eabd";
}

.si-makerbot::before {
    content: "\eabe";
}

.si-mastercard::before {
    content: "\eabf";
}

.si-mastodon::before {
    content: "\eac0";
}

.si-matternet::before {
    content: "\eac1";
}

.si-mediatemple::before {
    content: "\eac2";
}

.si-medium::before {
    content: "\eac3";
}

.si-meetup::before {
    content: "\eac4";
}

.si-messenger::before {
    content: "\eac5";
}

.si-meteor::before {
    content: "\eac6";
}

.si-microblog::before {
    content: "\eac7";
}

.si-microgenetics::before {
    content: "\eac8";
}

.si-microsoft::before {
    content: "\eac9";
}

.si-microsoftaccess::before {
    content: "\eaca";
}

.si-microsoftexcel::before {
    content: "\eacb";
}

.si-microsoftonenote::before {
    content: "\eacc";
}

.si-microsoftoutlook::before {
    content: "\eacd";
}

.si-microsoftpowerpoint::before {
    content: "\eace";
}

.si-microsoftword::before {
    content: "\eacf";
}

.si-minutemailer::before {
    content: "\ead0";
}

.si-mixcloud::before {
    content: "\ead1";
}

.si-monero::before {
    content: "\ead2";
}

.si-mongodb::before {
    content: "\ead3";
}

.si-monkeytie::before {
    content: "\ead4";
}

.si-monogram::before {
    content: "\ead5";
}

.si-moo::before {
    content: "\ead6";
}

.si-mozilla::before {
    content: "\ead7";
}

.si-mozillafirefox::before {
    content: "\ead8";
}

.si-myspace::before {
    content: "\ead9";
}

.si-mysql::before {
    content: "\eada";
}

.si-neo4j::before {
    content: "\eadb";
}

.si-netflix::before {
    content: "\eadc";
}

.si-netlify::before {
    content: "\eadd";
}

.si-nextdoor::before {
    content: "\eade";
}

.si-nginx::before {
    content: "\eadf";
}

.si-nintendo::before {
    content: "\eae0";
}

.si-nintendogamecube::before {
    content: "\eae1";
}

.si-nintendoswitch::before {
    content: "\eae2";
}

.si-nodejs::before {
    content: "\eae3";
}

.si-nodemon::before {
    content: "\eae4";
}

.si-npm::before {
    content: "\eae5";
}

.si-nucleo::before {
    content: "\eae6";
}

.si-oculus::before {
    content: "\eae7";
}

.si-odnoklassniki::before {
    content: "\eae8";
}

.si-onedrive::before {
    content: "\eae9";
}

.si-opera::before {
    content: "\eaea";
}

.si-origin::before {
    content: "\eaeb";
}

.si-overcast::before {
    content: "\eaec";
}

.si-ovh::before {
    content: "\eaed";
}

.si-pagekit::before {
    content: "\eaee";
}

.si-pandora::before {
    content: "\eaef";
}

.si-patreon::before {
    content: "\eaf0";
}

.si-paypal::before {
    content: "\eaf1";
}

.si-periscope::before {
    content: "\eaf2";
}

.si-php::before {
    content: "\eaf3";
}

.si-pinboard::before {
    content: "\eaf4";
}

.si-pingdom::before {
    content: "\eaf5";
}

.si-pingup::before {
    content: "\eaf6";
}

.si-pinterest::before {
    content: "\eaf7";
}

.si-plangrid::before {
    content: "\eaf8";
}

.si-playerme::before {
    content: "\eaf9";
}

.si-playstation::before {
    content: "\eafa";
}

.si-playstation3::before {
    content: "\eafb";
}

.si-playstation4::before {
    content: "\eafc";
}

.si-plex::before {
    content: "\eafd";
}

.si-pluralsight::before {
    content: "\eafe";
}

.si-plurk::before {
    content: "\eaff";
}

.si-pocket::before {
    content: "\eb00";
}

.si-podcasts::before {
    content: "\eb01";
}

.si-prismic::before {
    content: "\eb02";
}

.si-processwire::before {
    content: "\eb03";
}

.si-producthunt::before {
    content: "\eb04";
}

.si-protoio::before {
    content: "\eb05";
}

.si-protonmail::before {
    content: "\eb06";
}

.si-python::before {
    content: "\eb07";
}

.si-qiita::before {
    content: "\eb08";
}

.si-quantcast::before {
    content: "\eb09";
}

.si-quantopian::before {
    content: "\eb0a";
}

.si-quora::before {
    content: "\eb0b";
}

.si-rails::before {
    content: "\eb0c";
}

.si-raspberrypi::before {
    content: "\eb0d";
}

.si-react::before {
    content: "\eb0e";
}

.si-readability::before {
    content: "\eb0f";
}

.si-readthedocs::before {
    content: "\eb10";
}

.si-reddit::before {
    content: "\eb11";
}

.si-redis::before {
    content: "\eb12";
}

.si-redux::before {
    content: "\eb13";
}

.si-reverbnation::before {
    content: "\eb14";
}

.si-roots::before {
    content: "\eb15";
}

.si-rss::before {
    content: "\eb16";
}

.si-ruby::before {
    content: "\eb17";
}

.si-runkeeper::before {
    content: "\eb18";
}

.si-rust::before {
    content: "\eb19";
}

.si-salesforce::before {
    content: "\eb1a";
}

.si-sass::before {
    content: "\eb1b";
}

.si-saucelabs::before {
    content: "\eb1c";
}

.si-scribd::before {
    content: "\eb1d";
}

.si-sega::before {
    content: "\eb1e";
}

.si-sellfy::before {
    content: "\eb1f";
}

.si-sentry::before {
    content: "\eb20";
}

.si-serverfault::before {
    content: "\eb21";
}

.si-shazam::before {
    content: "\eb22";
}

.si-shopify::before {
    content: "\eb23";
}

.si-signal::before {
    content: "\eb24";
}

.si-simpleicons::before {
    content: "\eb25";
}

.si-sinaweibo::before {
    content: "\eb26";
}

.si-sitepoint::before {
    content: "\eb27";
}

.si-skyliner::before {
    content: "\eb28";
}

.si-skype::before {
    content: "\eb29";
}

.si-slack::before {
    content: "\eb2a";
}

.si-slashdot::before {
    content: "\eb2b";
}

.si-slickpic::before {
    content: "\eb2c";
}

.si-slides::before {
    content: "\eb2d";
}

.si-smashingmagazine::before {
    content: "\eb2e";
}

.si-snapchat::before {
    content: "\eb2f";
}

.si-sogou::before {
    content: "\eb30";
}

.si-songkick::before {
    content: "\eb31";
}

.si-soundcloud::before {
    content: "\eb32";
}

.si-sourceforge::before {
    content: "\eb33";
}

.si-sparkpost::before {
    content: "\eb34";
}

.si-speakerdeck::before {
    content: "\eb35";
}

.si-spotify::before {
    content: "\eb36";
}

.si-spotlight::before {
    content: "\eb37";
}

.si-spreaker::before {
    content: "\eb38";
}

.si-squarespace::before {
    content: "\eb39";
}

.si-stackexchange::before {
    content: "\eb3a";
}

.si-stackoverflow::before {
    content: "\eb3b";
}

.si-statamic::before {
    content: "\eb3c";
}

.si-staticman::before {
    content: "\eb3d";
}

.si-steam::before {
    content: "\eb3e";
}

.si-steem::before {
    content: "\eb3f";
}

.si-stitcher::before {
    content: "\eb40";
}

.si-storify::before {
    content: "\eb41";
}

.si-strava::before {
    content: "\eb42";
}

.si-stripe::before {
    content: "\eb43";
}

.si-stubhub::before {
    content: "\eb44";
}

.si-stumbleupon::before {
    content: "\eb45";
}

.si-styleshare::before {
    content: "\eb46";
}

.si-stylus::before {
    content: "\eb47";
}

.si-sublimetext::before {
    content: "\eb48";
}

.si-subversion::before {
    content: "\eb49";
}

.si-superuser::before {
    content: "\eb4a";
}

.si-swarm::before {
    content: "\eb4b";
}

.si-swift::before {
    content: "\eb4c";
}

.si-symfony::before {
    content: "\eb4d";
}

.si-ted::before {
    content: "\eb4e";
}

.si-teespring::before {
    content: "\eb4f";
}

.si-telegram::before {
    content: "\eb50";
}

.si-tencentqq::before {
    content: "\eb51";
}

.si-tesla::before {
    content: "\eb52";
}

.si-themighty::before {
    content: "\eb53";
}

.si-tinder::before {
    content: "\eb54";
}

.si-toggl::before {
    content: "\eb55";
}

.si-topcoder::before {
    content: "\eb56";
}

.si-toptal::before {
    content: "\eb57";
}

.si-trakt::before {
    content: "\eb58";
}

.si-travisci::before {
    content: "\eb59";
}

.si-treehouse::before {
    content: "\eb5a";
}

.si-trello::before {
    content: "\eb5b";
}

.si-tripadvisor::before {
    content: "\eb5c";
}

.si-trulia::before {
    content: "\eb5d";
}

.si-tumblr::before {
    content: "\eb5e";
}

.si-twilio::before {
    content: "\eb5f";
}

.si-twitch::before {
    content: "\eb60";
}

.si-twitter::before {
    content: "\eb61";
}

.si-twoo::before {
    content: "\eb62";
}

.si-uber::before {
    content: "\eb63";
}

.si-ubuntu::before {
    content: "\eb64";
}

.si-udacity::before {
    content: "\eb65";
}

.si-uikit::before {
    content: "\eb66";
}

.si-umbraco::before {
    content: "\eb67";
}

.si-untappd::before {
    content: "\eb68";
}

.si-upwork::before {
    content: "\eb69";
}

.si-viadeo::before {
    content: "\eb6a";
}

.si-viber::before {
    content: "\eb6b";
}

.si-vim::before {
    content: "\eb6c";
}

.si-vimeo::before {
    content: "\eb6d";
}

.si-vine::before {
    content: "\eb6e";
}

.si-virb::before {
    content: "\eb6f";
}

.si-visa::before {
    content: "\eb70";
}

.si-visualstudiocode::before {
    content: "\eb71";
}

.si-vk::before {
    content: "\eb72";
}

.si-vsco::before {
    content: "\eb73";
}

.si-vuejs::before {
    content: "\eb74";
}

.si-webpack::before {
    content: "\eb75";
}

.si-webstorm::before {
    content: "\eb76";
}

.si-wechat::before {
    content: "\eb77";
}

.si-whatsapp::before {
    content: "\eb78";
}

.si-wheniwork::before {
    content: "\eb79";
}

.si-wii::before {
    content: "\eb7a";
}

.si-wiiu::before {
    content: "\eb7b";
}

.si-wikipedia::before {
    content: "\eb7c";
}

.si-windows::before {
    content: "\eb7d";
}

.si-wire::before {
    content: "\eb7e";
}

.si-wix::before {
    content: "\eb7f";
}

.si-wordpress::before {
    content: "\eb80";
}

.si-wpengine::before {
    content: "\eb81";
}

.si-xbox::before {
    content: "\eb82";
}

.si-xcode::before {
    content: "\eb83";
}

.si-xero::before {
    content: "\eb84";
}

.si-xing::before {
    content: "\eb85";
}

.si-yahoo::before {
    content: "\eb86";
}

.si-yammer::before {
    content: "\eb87";
}

.si-yandex::before {
    content: "\eb88";
}

.si-ycombinator::before {
    content: "\eb89";
}

.si-yelp::before {
    content: "\eb8a";
}

.si-youtube::before {
    content: "\eb8b";
}

.si-zapier::before {
    content: "\eb8c";
}

.si-zendesk::before {
    content: "\eb8d";
}

.si-zerply::before {
    content: "\eb8e";
}

.si-zillow::before {
    content: "\eb8f";
}