/**
 * Cryptocoins Icons, 2.9.0
 * Created by Martin Allien
 * https://github.com/allienworks/cryptocoins
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "cryptocoins-icons";
  src: url('./cryptocoins-icons.eot');
  src: 
    url('./cryptocoins-icons.eot?#iefix') format('embedded-opentype'),
    url('./cryptocoins-icons.woff2') format('woff2'),
    url('./cryptocoins-icons.woff') format('woff'),
    url('./cryptocoins-icons.ttf') format('truetype'),
    url('./cryptocoins-icons.svg#cryptocoins-icons') format('svg');
}

.cci {
  font-family: "cryptocoins-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

.cci-ADA::before {
  content: "\ea01";
}

.cci-ADA-alt::before {
  content: "\ea02";
}

.cci-ADC::before {
  content: "\ea03";
}

.cci-ADC-alt::before {
  content: "\ea04";
}

.cci-AEON::before {
  content: "\ea05";
}

.cci-AEON-alt::before {
  content: "\ea06";
}

.cci-AMP::before {
  content: "\ea07";
}

.cci-AMP-alt::before {
  content: "\ea08";
}

.cci-ANC::before {
  content: "\ea09";
}

.cci-ANC-alt::before {
  content: "\ea0a";
}

.cci-ARCH::before {
  content: "\ea0b";
}

.cci-ARCH-alt::before {
  content: "\ea0c";
}

.cci-ARDR::before {
  content: "\ea0d";
}

.cci-ARDR-alt::before {
  content: "\ea0e";
}

.cci-ARK::before {
  content: "\ea0f";
}

.cci-ARK-alt::before {
  content: "\ea10";
}

.cci-AST::before {
  content: "\ea11";
}

.cci-AUR::before {
  content: "\ea12";
}

.cci-AUR-alt::before {
  content: "\ea13";
}

.cci-BANX::before {
  content: "\ea14";
}

.cci-BANX-alt::before {
  content: "\ea15";
}

.cci-BAT::before {
  content: "\ea16";
}

.cci-BAT-alt::before {
  content: "\ea17";
}

.cci-BAY::before {
  content: "\ea18";
}

.cci-BAY-alt::before {
  content: "\ea19";
}

.cci-BC::before {
  content: "\ea1a";
}

.cci-BC-alt::before {
  content: "\ea1b";
}

.cci-BCH::before {
  content: "\ea1c";
}

.cci-BCH-alt::before {
  content: "\ea1d";
}

.cci-BCN::before {
  content: "\ea1e";
}

.cci-BCN-alt::before {
  content: "\ea1f";
}

.cci-BCY::before {
  content: "\ea20";
}

.cci-BELA::before {
  content: "\ea21";
}

.cci-BFT::before {
  content: "\ea22";
}

.cci-BFT-alt::before {
  content: "\ea23";
}

.cci-BLZ::before {
  content: "\ea24";
}

.cci-BNB::before {
  content: "\ea25";
}

.cci-BRK::before {
  content: "\ea26";
}

.cci-BRK-alt::before {
  content: "\ea27";
}

.cci-BRX::before {
  content: "\ea28";
}

.cci-BRX-alt::before {
  content: "\ea29";
}

.cci-BSD::before {
  content: "\ea2a";
}

.cci-BSD-alt::before {
  content: "\ea2b";
}

.cci-BTA::before {
  content: "\ea2c";
}

.cci-BTC::before {
  content: "\ea2d";
}

.cci-BTC-alt::before {
  content: "\ea2e";
}

.cci-BTCD::before {
  content: "\ea2f";
}

.cci-BTCD-alt::before {
  content: "\ea30";
}

.cci-BTCP::before {
  content: "\ea31";
}

.cci-BTCP-alt::before {
  content: "\ea32";
}

.cci-BTG::before {
  content: "\ea33";
}

.cci-BTM::before {
  content: "\ea34";
}

.cci-BTM-alt::before {
  content: "\ea35";
}

.cci-BTS::before {
  content: "\ea36";
}

.cci-BTS-alt::before {
  content: "\ea37";
}

.cci-BURST::before {
  content: "\ea38";
}

.cci-CLAM::before {
  content: "\ea39";
}

.cci-CLAM-alt::before {
  content: "\ea3a";
}

.cci-CLOAK::before {
  content: "\ea3b";
}

.cci-CLOAK-alt::before {
  content: "\ea3c";
}

.cci-CVC::before {
  content: "\ea3d";
}

.cci-CVC-alt::before {
  content: "\ea3e";
}

.cci-DAO::before {
  content: "\ea3f";
}

.cci-DAO-alt::before {
  content: "\ea40";
}

.cci-DASH::before {
  content: "\ea41";
}

.cci-DASH-alt::before {
  content: "\ea42";
}

.cci-DCR::before {
  content: "\ea43";
}

.cci-DCR-alt::before {
  content: "\ea44";
}

.cci-DCT::before {
  content: "\ea45";
}

.cci-DCT-alt::before {
  content: "\ea46";
}

.cci-DGB::before {
  content: "\ea47";
}

.cci-DGB-alt::before {
  content: "\ea48";
}

.cci-DGD::before {
  content: "\ea49";
}

.cci-DGX::before {
  content: "\ea4a";
}

.cci-DMD::before {
  content: "\ea4b";
}

.cci-DMD-alt::before {
  content: "\ea4c";
}

.cci-DOGE::before {
  content: "\ea4d";
}

.cci-DOGE-alt::before {
  content: "\ea4e";
}

.cci-EMC::before {
  content: "\ea4f";
}

.cci-EMC-alt::before {
  content: "\ea50";
}

.cci-EMC2::before {
  content: "\ea51";
}

.cci-EMC2-alt::before {
  content: "\ea52";
}

.cci-EOS::before {
  content: "\ea53";
}

.cci-EOS-alt::before {
  content: "\ea54";
}

.cci-ERC::before {
  content: "\ea55";
}

.cci-ERC-alt::before {
  content: "\ea56";
}

.cci-ETC::before {
  content: "\ea57";
}

.cci-ETC-alt::before {
  content: "\ea58";
}

.cci-ETH::before {
  content: "\ea59";
}

.cci-ETH-alt::before {
  content: "\ea5a";
}

.cci-EXP::before {
  content: "\ea5b";
}

.cci-EXP-alt::before {
  content: "\ea5c";
}

.cci-FC2::before {
  content: "\ea5d";
}

.cci-FC2-alt::before {
  content: "\ea5e";
}

.cci-FCT::before {
  content: "\ea5f";
}

.cci-FCT-alt::before {
  content: "\ea60";
}

.cci-FLDC::before {
  content: "\ea61";
}

.cci-FLDC-alt::before {
  content: "\ea62";
}

.cci-FLO::before {
  content: "\ea63";
}

.cci-FLO-alt::before {
  content: "\ea64";
}

.cci-FRK::before {
  content: "\ea65";
}

.cci-FRK-alt::before {
  content: "\ea66";
}

.cci-FTC::before {
  content: "\ea67";
}

.cci-FTC-alt::before {
  content: "\ea68";
}

.cci-FUN::before {
  content: "\ea69";
}

.cci-GAME::before {
  content: "\ea6a";
}

.cci-GAME-alt::before {
  content: "\ea6b";
}

.cci-GBYTE::before {
  content: "\ea6c";
}

.cci-GBYTE-alt::before {
  content: "\ea6d";
}

.cci-GDC::before {
  content: "\ea6e";
}

.cci-GDC-alt::before {
  content: "\ea6f";
}

.cci-GEMZ::before {
  content: "\ea70";
}

.cci-GEMZ-alt::before {
  content: "\ea71";
}

.cci-GLD::before {
  content: "\ea72";
}

.cci-GLD-alt::before {
  content: "\ea73";
}

.cci-GNO::before {
  content: "\ea74";
}

.cci-GNO-alt::before {
  content: "\ea75";
}

.cci-GNT::before {
  content: "\ea76";
}

.cci-GNT-alt::before {
  content: "\ea77";
}

.cci-GOLOS::before {
  content: "\ea78";
}

.cci-GOLOS-alt::before {
  content: "\ea79";
}

.cci-GRC::before {
  content: "\ea7a";
}

.cci-GRC-alt::before {
  content: "\ea7b";
}

.cci-GRS::before {
  content: "\ea7c";
}

.cci-HEAT::before {
  content: "\ea7d";
}

.cci-HEAT-alt::before {
  content: "\ea7e";
}

.cci-HSR::before {
  content: "\ea7f";
}

.cci-HUC::before {
  content: "\ea80";
}

.cci-HUC-alt::before {
  content: "\ea81";
}

.cci-ICN::before {
  content: "\ea82";
}

.cci-ICN-alt::before {
  content: "\ea83";
}

.cci-ICX::before {
  content: "\ea84";
}

.cci-IFC::before {
  content: "\ea85";
}

.cci-IFC-alt::before {
  content: "\ea86";
}

.cci-INCNT::before {
  content: "\ea87";
}

.cci-INCNT-alt::before {
  content: "\ea88";
}

.cci-IOC::before {
  content: "\ea89";
}

.cci-IOC-alt::before {
  content: "\ea8a";
}

.cci-IOTA::before {
  content: "\ea8b";
}

.cci-IOTA-alt::before {
  content: "\ea8c";
}

.cci-JBS::before {
  content: "\ea8d";
}

.cci-JBS-alt::before {
  content: "\ea8e";
}

.cci-KMD::before {
  content: "\ea8f";
}

.cci-KMD-alt::before {
  content: "\ea90";
}

.cci-KOBO::before {
  content: "\ea91";
}

.cci-KORE::before {
  content: "\ea92";
}

.cci-KORE-alt::before {
  content: "\ea93";
}

.cci-LBC::before {
  content: "\ea94";
}

.cci-LBC-alt::before {
  content: "\ea95";
}

.cci-LDOGE::before {
  content: "\ea96";
}

.cci-LDOGE-alt::before {
  content: "\ea97";
}

.cci-LSK::before {
  content: "\ea98";
}

.cci-LSK-alt::before {
  content: "\ea99";
}

.cci-LTC::before {
  content: "\ea9a";
}

.cci-LTC-alt::before {
  content: "\ea9b";
}

.cci-MAID::before {
  content: "\ea9c";
}

.cci-MAID-alt::before {
  content: "\ea9d";
}

.cci-MARKS::before {
  content: "\ea9e";
}

.cci-MARKS-alt::before {
  content: "\ea9f";
}

.cci-MCO::before {
  content: "\eaa0";
}

.cci-MCO-alt::before {
  content: "\eaa1";
}

.cci-MINT::before {
  content: "\eaa2";
}

.cci-MINT-alt::before {
  content: "\eaa3";
}

.cci-MONA::before {
  content: "\eaa4";
}

.cci-MONA-alt::before {
  content: "\eaa5";
}

.cci-MRC::before {
  content: "\eaa6";
}

.cci-MSC::before {
  content: "\eaa7";
}

.cci-MSC-alt::before {
  content: "\eaa8";
}

.cci-MTL::before {
  content: "\eaa9";
}

.cci-MTL-alt::before {
  content: "\eaaa";
}

.cci-MTR::before {
  content: "\eaab";
}

.cci-MTR-alt::before {
  content: "\eaac";
}

.cci-MUE::before {
  content: "\eaad";
}

.cci-MUE-alt::before {
  content: "\eaae";
}

.cci-MYST::before {
  content: "\eaaf";
}

.cci-MYST-alt::before {
  content: "\eab0";
}

.cci-NAV::before {
  content: "\eab1";
}

.cci-NAV-alt::before {
  content: "\eab2";
}

.cci-NBT::before {
  content: "\eab3";
}

.cci-NEO::before {
  content: "\eab4";
}

.cci-NEO-alt::before {
  content: "\eab5";
}

.cci-NEOS::before {
  content: "\eab6";
}

.cci-NEOS-alt::before {
  content: "\eab7";
}

.cci-NEU::before {
  content: "\eab8";
}

.cci-NEU-alt::before {
  content: "\eab9";
}

.cci-NLG::before {
  content: "\eaba";
}

.cci-NLG-alt::before {
  content: "\eabb";
}

.cci-NMC::before {
  content: "\eabc";
}

.cci-NMC-alt::before {
  content: "\eabd";
}

.cci-NMR::before {
  content: "\eabe";
}

.cci-NOTE::before {
  content: "\eabf";
}

.cci-NOTE-alt::before {
  content: "\eac0";
}

.cci-NVC::before {
  content: "\eac1";
}

.cci-NVC-alt::before {
  content: "\eac2";
}

.cci-NXT::before {
  content: "\eac3";
}

.cci-NXT-alt::before {
  content: "\eac4";
}

.cci-OK::before {
  content: "\eac5";
}

.cci-OK-alt::before {
  content: "\eac6";
}

.cci-OMG::before {
  content: "\eac7";
}

.cci-OMG-alt::before {
  content: "\eac8";
}

.cci-OMNI::before {
  content: "\eac9";
}

.cci-OMNI-alt::before {
  content: "\eaca";
}

.cci-OPAL::before {
  content: "\eacb";
}

.cci-OPAL-alt::before {
  content: "\eacc";
}

.cci-PART::before {
  content: "\eacd";
}

.cci-PART-alt::before {
  content: "\eace";
}

.cci-PASC::before {
  content: "\eacf";
}

.cci-PIGGY::before {
  content: "\ead0";
}

.cci-PIGGY-alt::before {
  content: "\ead1";
}

.cci-PINK::before {
  content: "\ead2";
}

.cci-PINK-alt::before {
  content: "\ead3";
}

.cci-PIVX::before {
  content: "\ead4";
}

.cci-PIVX-alt::before {
  content: "\ead5";
}

.cci-POT::before {
  content: "\ead6";
}

.cci-POT-alt::before {
  content: "\ead7";
}

.cci-PPC::before {
  content: "\ead8";
}

.cci-PPC-alt::before {
  content: "\ead9";
}

.cci-PPT::before {
  content: "\eada";
}

.cci-QRK::before {
  content: "\eadb";
}

.cci-QRK-alt::before {
  content: "\eadc";
}

.cci-QTUM::before {
  content: "\eadd";
}

.cci-QTUM-alt::before {
  content: "\eade";
}

.cci-RADS::before {
  content: "\eadf";
}

.cci-RADS-alt::before {
  content: "\eae0";
}

.cci-RBIES::before {
  content: "\eae1";
}

.cci-RBIES-alt::before {
  content: "\eae2";
}

.cci-RBT::before {
  content: "\eae3";
}

.cci-RBT-alt::before {
  content: "\eae4";
}

.cci-RBY::before {
  content: "\eae5";
}

.cci-RBY-alt::before {
  content: "\eae6";
}

.cci-RDD::before {
  content: "\eae7";
}

.cci-RDD-alt::before {
  content: "\eae8";
}

.cci-REP::before {
  content: "\eae9";
}

.cci-REP-alt::before {
  content: "\eaea";
}

.cci-RHOC::before {
  content: "\eaeb";
}

.cci-RIC::before {
  content: "\eaec";
}

.cci-RIC-alt::before {
  content: "\eaed";
}

.cci-RISE::before {
  content: "\eaee";
}

.cci-RISE-alt::before {
  content: "\eaef";
}

.cci-SALT::before {
  content: "\eaf0";
}

.cci-SALT-alt::before {
  content: "\eaf1";
}

.cci-SAR::before {
  content: "\eaf2";
}

.cci-SAR-alt::before {
  content: "\eaf3";
}

.cci-SCOT::before {
  content: "\eaf4";
}

.cci-SCOT-alt::before {
  content: "\eaf5";
}

.cci-SDC::before {
  content: "\eaf6";
}

.cci-SDC-alt::before {
  content: "\eaf7";
}

.cci-SIA::before {
  content: "\eaf8";
}

.cci-SIA-alt::before {
  content: "\eaf9";
}

.cci-SJCX::before {
  content: "\eafa";
}

.cci-SJCX-alt::before {
  content: "\eafb";
}

.cci-SLG::before {
  content: "\eafc";
}

.cci-SLG-alt::before {
  content: "\eafd";
}

.cci-SLS::before {
  content: "\eafe";
}

.cci-SLS-alt::before {
  content: "\eaff";
}

.cci-SNRG::before {
  content: "\eb00";
}

.cci-SNRG-alt::before {
  content: "\eb01";
}

.cci-SNT::before {
  content: "\eb02";
}

.cci-START::before {
  content: "\eb03";
}

.cci-START-alt::before {
  content: "\eb04";
}

.cci-STEEM::before {
  content: "\eb05";
}

.cci-STEEM-alt::before {
  content: "\eb06";
}

.cci-STRAT::before {
  content: "\eb07";
}

.cci-STRAT-alt::before {
  content: "\eb08";
}

.cci-SWIFT::before {
  content: "\eb09";
}

.cci-SWIFT-alt::before {
  content: "\eb0a";
}

.cci-SYNC::before {
  content: "\eb0b";
}

.cci-SYNC-alt::before {
  content: "\eb0c";
}

.cci-SYS::before {
  content: "\eb0d";
}

.cci-SYS-alt::before {
  content: "\eb0e";
}

.cci-TRIG::before {
  content: "\eb0f";
}

.cci-TRIG-alt::before {
  content: "\eb10";
}

.cci-TRX::before {
  content: "\eb11";
}

.cci-TX::before {
  content: "\eb12";
}

.cci-TX-alt::before {
  content: "\eb13";
}

.cci-UBQ::before {
  content: "\eb14";
}

.cci-UBQ-alt::before {
  content: "\eb15";
}

.cci-UNITY::before {
  content: "\eb16";
}

.cci-UNITY-alt::before {
  content: "\eb17";
}

.cci-USDT::before {
  content: "\eb18";
}

.cci-USDT-alt::before {
  content: "\eb19";
}

.cci-VERI::before {
  content: "\eb1a";
}

.cci-VET::before {
  content: "\eb1b";
}

.cci-VIA::before {
  content: "\eb1c";
}

.cci-VIA-alt::before {
  content: "\eb1d";
}

.cci-VIOR::before {
  content: "\eb1e";
}

.cci-VIOR-alt::before {
  content: "\eb1f";
}

.cci-VNL::before {
  content: "\eb20";
}

.cci-VNL-alt::before {
  content: "\eb21";
}

.cci-VPN::before {
  content: "\eb22";
}

.cci-VPN-alt::before {
  content: "\eb23";
}

.cci-VRC::before {
  content: "\eb24";
}

.cci-VRC-alt::before {
  content: "\eb25";
}

.cci-VTC::before {
  content: "\eb26";
}

.cci-VTC-alt::before {
  content: "\eb27";
}

.cci-WAVES::before {
  content: "\eb28";
}

.cci-WAVES-alt::before {
  content: "\eb29";
}

.cci-XAI::before {
  content: "\eb2a";
}

.cci-XAI-alt::before {
  content: "\eb2b";
}

.cci-XBC::before {
  content: "\eb2c";
}

.cci-XBS::before {
  content: "\eb2d";
}

.cci-XBS-alt::before {
  content: "\eb2e";
}

.cci-XCP::before {
  content: "\eb2f";
}

.cci-XCP-alt::before {
  content: "\eb30";
}

.cci-XEM::before {
  content: "\eb31";
}

.cci-XEM-alt::before {
  content: "\eb32";
}

.cci-XLM::before {
  content: "\eb33";
}

.cci-XLM-alt::before {
  content: "\eb34";
}

.cci-XMR::before {
  content: "\eb35";
}

.cci-XMY::before {
  content: "\eb36";
}

.cci-XPM::before {
  content: "\eb37";
}

.cci-XPM-alt::before {
  content: "\eb38";
}

.cci-XRP::before {
  content: "\eb39";
}

.cci-XRP-alt::before {
  content: "\eb3a";
}

.cci-XTZ::before {
  content: "\eb3b";
}

.cci-XTZ-alt::before {
  content: "\eb3c";
}

.cci-XVC::before {
  content: "\eb3d";
}

.cci-XVC-alt::before {
  content: "\eb3e";
}

.cci-XVG::before {
  content: "\eb3f";
}

.cci-XVG-alt::before {
  content: "\eb40";
}

.cci-XZC::before {
  content: "\eb41";
}

.cci-XZC-alt::before {
  content: "\eb42";
}

.cci-YBC::before {
  content: "\eb43";
}

.cci-YBC-alt::before {
  content: "\eb44";
}

.cci-ZEC::before {
  content: "\eb45";
}

.cci-ZEC-alt::before {
  content: "\eb46";
}

.cci-ZEIT::before {
  content: "\eb47";
}

.cci-ZEIT-alt::before {
  content: "\eb48";
}

.cci-ZRX::before {
  content: "\eb49";
}

.cci-ZRX-alt::before {
  content: "\eb4a";
}
