/**
 * Fontisto Travel, 3.0.4
 * Created by Kenan Gündoğan
 * http://www.fontisto.com
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "fontisto-travel";
  src: url('fontisto-travel.eot');
  src: url('fontisto-travel.eot?#iefix') format('eot'),

    url('fontisto-travel.woff') format('woff'),
    url('fontisto-travel.ttf') format('truetype'),
    url('fontisto-travel.svg#fontisto-travel') format('svg');
}

.fit {
  font-family: "fontisto-travel";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.fit-beach-slipper:before {
  content: "\eb2b";
}
.fit-bus-ticket:before {
  content: "\eb2c";
}
.fit-cocktail:before {
  content: "\eb2d";
}
.fit-compass-alt:before {
  content: "\eb2e";
}
.fit-direction-sign:before {
  content: "\eb2f";
}
.fit-do-not-disturb:before {
  content: "\eb30";
}
.fit-flotation-ring:before {
  content: "\eb31";
}
.fit-holiday-village:before {
  content: "\eb32";
}
.fit-hot-air-balloon:before {
  content: "\eb33";
}
.fit-hotel-alt:before {
  content: "\eb34";
}
.fit-hotel:before {
  content: "\eb35";
}
.fit-island:before {
  content: "\eb36";
}
.fit-money-symbol:before {
  content: "\eb37";
}
.fit-parasol:before {
  content: "\eb38";
}
.fit-passport-alt:before {
  content: "\eb39";
}
.fit-passport:before {
  content: "\eb3a";
}
.fit-photograph:before {
  content: "\eb3b";
}
.fit-plane-ticket:before {
  content: "\eb3c";
}
.fit-room:before {
  content: "\eb3d";
}
.fit-sait-boat:before {
  content: "\eb3e";
}
.fit-snorkel:before {
  content: "\eb3f";
}
.fit-suitcase-alt:before {
  content: "\eb40";
}
.fit-suitcase:before {
  content: "\eb41";
}
.fit-sun:before {
  content: "\eb42";
}
.fit-sunglasses-alt:before {
  content: "\eb43";
}
.fit-swimsuit:before {
  content: "\eb44";
}
.fit-tent:before {
  content: "\eb45";
}
.fit-ticket-alt:before {
  content: "\eb46";
}
.fit-train-ticket:before {
  content: "\eb47";
}
.fit-wallet:before {
  content: "\eb48";
}

