/**
 * Dashicons
 * Created by Wordpress

 * GPL-2.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "dashicons";
  src: url('dashicons.eot');
  src: url('dashicons.eot?#iefix') format('eot'),
    url('dashicons.woff2') format('woff2'),

    url('dashicons.ttf') format('truetype'),
;
}

.dashicons {
  font-family: "dashicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.dashicons-menu:before {
  content: "\f333";
}
.dashicons-admin-site:before {
  content: "\f319";
}
.dashicons-dashboard:before {
  content: "\f226";
}
.dashicons-admin-post:before {
  content: "\f109";
}
.dashicons-admin-media:before {
  content: "\f104";
}
.dashicons-admin-links:before {
  content: "\f103";
}
.dashicons-admin-page:before {
  content: "\f105";
}
.dashicons-admin-comments:before {
  content: "\f101";
}
.dashicons-admin-appearance:before {
  content: "\f100";
}
.dashicons-admin-plugins:before {
  content: "\f106";
}
.dashicons-admin-users:before {
  content: "\f110";
}
.dashicons-admin-tools:before {
  content: "\f107";
}
.dashicons-admin-settings:before {
  content: "\f108";
}
.dashicons-admin-network:before {
  content: "\f112";
}
.dashicons-admin-home:before {
  content: "\f102";
}
.dashicons-admin-generic:before {
  content: "\f111";
}
.dashicons-admin-collapse:before {
  content: "\f148";
}
.dashicons-filter:before {
  content: "\f536";
}
.dashicons-admin-customizer:before {
  content: "\f540";
}
.dashicons-admin-multisite:before {
  content: "\f541";
}
.dashicons-welcome-write-blog:before {
  content: "\f119";
}
.dashicons-welcome-add-page:before {
  content: "\f133";
}
.dashicons-welcome-view-site:before {
  content: "\f115";
}
.dashicons-welcome-widgets-menus:before {
  content: "\f116";
}
.dashicons-welcome-comments:before {
  content: "\f117";
}
.dashicons-welcome-learn-more:before {
  content: "\f118";
}
.dashicons-format-aside:before {
  content: "\f123";
}
.dashicons-format-image:before {
  content: "\f128";
}
.dashicons-format-gallery:before {
  content: "\f161";
}
.dashicons-format-video:before {
  content: "\f126";
}
.dashicons-format-status:before {
  content: "\f130";
}
.dashicons-format-quote:before {
  content: "\f122";
}
.dashicons-format-chat:before {
  content: "\f125";
}
.dashicons-format-audio:before {
  content: "\f127";
}
.dashicons-camera:before {
  content: "\f306";
}
.dashicons-images-alt:before {
  content: "\f232";
}
.dashicons-images-alt2:before {
  content: "\f233";
}
.dashicons-video-alt:before {
  content: "\f234";
}
.dashicons-video-alt2:before {
  content: "\f235";
}
.dashicons-video-alt3:before {
  content: "\f236";
}
.dashicons-media-archive:before {
  content: "\f501";
}
.dashicons-media-audio:before {
  content: "\f500";
}
.dashicons-media-code:before {
  content: "\f499";
}
.dashicons-media-default:before {
  content: "\f498";
}
.dashicons-media-document:before {
  content: "\f497";
}
.dashicons-media-interactive:before {
  content: "\f496";
}
.dashicons-media-spreadsheet:before {
  content: "\f495";
}
.dashicons-media-text:before {
  content: "\f491";
}
.dashicons-media-video:before {
  content: "\f490";
}
.dashicons-playlist-audio:before {
  content: "\f492";
}
.dashicons-playlist-video:before {
  content: "\f493";
}
.dashicons-controls-play:before {
  content: "\f522";
}
.dashicons-controls-pause:before {
  content: "\f523";
}
.dashicons-controls-forward:before {
  content: "\f519";
}
.dashicons-controls-skipforward:before {
  content: "\f517";
}
.dashicons-controls-back:before {
  content: "\f518";
}
.dashicons-controls-skipback:before {
  content: "\f516";
}
.dashicons-controls-repeat:before {
  content: "\f515";
}
.dashicons-controls-volumeon:before {
  content: "\f521";
}
.dashicons-controls-volumeoff:before {
  content: "\f520";
}
.dashicons-image-crop:before {
  content: "\f165";
}
.dashicons-image-rotate:before {
  content: "\f531";
}
.dashicons-image-rotate-left:before {
  content: "\f166";
}
.dashicons-image-rotate-right:before {
  content: "\f167";
}
.dashicons-image-flip-vertical:before {
  content: "\f168";
}
.dashicons-image-flip-horizontal:before {
  content: "\f169";
}
.dashicons-image-filter:before {
  content: "\f533";
}
.dashicons-undo:before {
  content: "\f171";
}
.dashicons-redo:before {
  content: "\f172";
}
.dashicons-editor-bold:before {
  content: "\f200";
}
.dashicons-editor-italic:before {
  content: "\f201";
}
.dashicons-editor-ul:before {
  content: "\f203";
}
.dashicons-editor-ol:before {
  content: "\f204";
}
.dashicons-editor-quote:before {
  content: "\f205";
}
.dashicons-editor-alignleft:before {
  content: "\f206";
}
.dashicons-editor-aligncenter:before {
  content: "\f207";
}
.dashicons-editor-alignright:before {
  content: "\f208";
}
.dashicons-editor-insertmore:before {
  content: "\f209";
}
.dashicons-editor-spellcheck:before {
  content: "\f210";
}
.dashicons-editor-expand:before {
  content: "\f211";
}
.dashicons-editor-contract:before {
  content: "\f506";
}
.dashicons-editor-kitchensink:before {
  content: "\f212";
}
.dashicons-editor-underline:before {
  content: "\f213";
}
.dashicons-editor-justify:before {
  content: "\f214";
}
.dashicons-editor-textcolor:before {
  content: "\f215";
}
.dashicons-editor-paste-word:before {
  content: "\f216";
}
.dashicons-editor-paste-text:before {
  content: "\f217";
}
.dashicons-editor-removeformatting:before {
  content: "\f218";
}
.dashicons-editor-video:before {
  content: "\f219";
}
.dashicons-editor-customchar:before {
  content: "\f220";
}
.dashicons-editor-outdent:before {
  content: "\f221";
}
.dashicons-editor-indent:before {
  content: "\f222";
}
.dashicons-editor-help:before {
  content: "\f223";
}
.dashicons-editor-strikethrough:before {
  content: "\f224";
}
.dashicons-editor-unlink:before {
  content: "\f225";
}
.dashicons-editor-rtl:before {
  content: "\f320";
}
.dashicons-editor-break:before {
  content: "\f474";
}
.dashicons-editor-code:before {
  content: "\f475";
}
.dashicons-editor-paragraph:before {
  content: "\f476";
}
.dashicons-editor-table:before {
  content: "\f535";
}
.dashicons-align-left:before {
  content: "\f135";
}
.dashicons-align-right:before {
  content: "\f136";
}
.dashicons-align-center:before {
  content: "\f134";
}
.dashicons-align-none:before {
  content: "\f138";
}
.dashicons-lock:before {
  content: "\f160";
}
.dashicons-unlock:before {
  content: "\f528";
}
.dashicons-calendar:before {
  content: "\f145";
}
.dashicons-calendar-alt:before {
  content: "\f508";
}
.dashicons-visibility:before {
  content: "\f177";
}
.dashicons-hidden:before {
  content: "\f530";
}
.dashicons-post-status:before {
  content: "\f173";
}
.dashicons-edit:before {
  content: "\f464";
}
.dashicons-trash:before {
  content: "\f182";
}
.dashicons-sticky:before {
  content: "\f537";
}
.dashicons-external:before {
  content: "\f504";
}
.dashicons-arrow-up:before {
  content: "\f142";
}
.dashicons-arrow-down:before {
  content: "\f140";
}
.dashicons-arrow-right:before {
  content: "\f139";
}
.dashicons-arrow-left:before {
  content: "\f141";
}
.dashicons-arrow-up-alt:before {
  content: "\f342";
}
.dashicons-arrow-down-alt:before {
  content: "\f346";
}
.dashicons-arrow-right-alt:before {
  content: "\f344";
}
.dashicons-arrow-left-alt:before {
  content: "\f340";
}
.dashicons-arrow-up-alt2:before {
  content: "\f343";
}
.dashicons-arrow-down-alt2:before {
  content: "\f347";
}
.dashicons-arrow-right-alt2:before {
  content: "\f345";
}
.dashicons-arrow-left-alt2:before {
  content: "\f341";
}
.dashicons-sort:before {
  content: "\f156";
}
.dashicons-leftright:before {
  content: "\f229";
}
.dashicons-randomize:before {
  content: "\f503";
}
.dashicons-list-view:before {
  content: "\f163";
}
.dashicons-exerpt-view:before {
  content: "\f164";
}
.dashicons-grid-view:before {
  content: "\f509";
}
.dashicons-move:before {
  content: "\f545";
}
.dashicons-share:before {
  content: "\f237";
}
.dashicons-share-alt:before {
  content: "\f240";
}
.dashicons-share-alt2:before {
  content: "\f242";
}
.dashicons-twitter:before {
  content: "\f301";
}
.dashicons-rss:before {
  content: "\f303";
}
.dashicons-email:before {
  content: "\f465";
}
.dashicons-email-alt:before {
  content: "\f466";
}
.dashicons-facebook:before {
  content: "\f304";
}
.dashicons-facebook-alt:before {
  content: "\f305";
}
.dashicons-googleplus:before {
  content: "\f462";
}
.dashicons-networking:before {
  content: "\f325";
}
.dashicons-hammer:before {
  content: "\f308";
}
.dashicons-art:before {
  content: "\f309";
}
.dashicons-migrate:before {
  content: "\f310";
}
.dashicons-performance:before {
  content: "\f311";
}
.dashicons-universal-access:before {
  content: "\f483";
}
.dashicons-universal-access-alt:before {
  content: "\f507";
}
.dashicons-tickets:before {
  content: "\f486";
}
.dashicons-nametag:before {
  content: "\f484";
}
.dashicons-clipboard:before {
  content: "\f481";
}
.dashicons-heart:before {
  content: "\f487";
}
.dashicons-megaphone:before {
  content: "\f488";
}
.dashicons-schedule:before {
  content: "\f489";
}
.dashicons-wordpress:before {
  content: "\f120";
}
.dashicons-wordpress-alt:before {
  content: "\f324";
}
.dashicons-pressthis:before {
  content: "\f157";
}
.dashicons-update:before {
  content: "\f463";
}
.dashicons-screenoptions:before {
  content: "\f180";
}
.dashicons-info:before {
  content: "\f348";
}
.dashicons-cart:before {
  content: "\f174";
}
.dashicons-feedback:before {
  content: "\f175";
}
.dashicons-cloud:before {
  content: "\f176";
}
.dashicons-translation:before {
  content: "\f326";
}
.dashicons-tag:before {
  content: "\f323";
}
.dashicons-category:before {
  content: "\f318";
}
.dashicons-archive:before {
  content: "\f480";
}
.dashicons-tagcloud:before {
  content: "\f479";
}
.dashicons-text:before {
  content: "\f478";
}
.dashicons-yes:before {
  content: "\f147";
}
.dashicons-no:before {
  content: "\f158";
}
.dashicons-no-alt:before {
  content: "\f335";
}
.dashicons-plus:before {
  content: "\f132";
}
.dashicons-plus-alt:before {
  content: "\f502";
}
.dashicons-minus:before {
  content: "\f460";
}
.dashicons-dismiss:before {
  content: "\f153";
}
.dashicons-marker:before {
  content: "\f159";
}
.dashicons-star-filled:before {
  content: "\f155";
}
.dashicons-star-half:before {
  content: "\f459";
}
.dashicons-star-empty:before {
  content: "\f154";
}
.dashicons-flag:before {
  content: "\f227";
}
.dashicons-warning:before {
  content: "\f534";
}
.dashicons-location:before {
  content: "\f230";
}
.dashicons-location-alt:before {
  content: "\f231";
}
.dashicons-vault:before {
  content: "\f178";
}
.dashicons-shield:before {
  content: "\f332";
}
.dashicons-shield-alt:before {
  content: "\f334";
}
.dashicons-sos:before {
  content: "\f468";
}
.dashicons-search:before {
  content: "\f179";
}
.dashicons-slides:before {
  content: "\f181";
}
.dashicons-analytics:before {
  content: "\f183";
}
.dashicons-chart-pie:before {
  content: "\f184";
}
.dashicons-chart-bar:before {
  content: "\f185";
}
.dashicons-chart-line:before {
  content: "\f238";
}
.dashicons-chart-area:before {
  content: "\f239";
}
.dashicons-groups:before {
  content: "\f307";
}
.dashicons-businessman:before {
  content: "\f338";
}
.dashicons-id:before {
  content: "\f336";
}
.dashicons-id-alt:before {
  content: "\f337";
}
.dashicons-products:before {
  content: "\f312";
}
.dashicons-awards:before {
  content: "\f313";
}
.dashicons-forms:before {
  content: "\f314";
}
.dashicons-testimonial:before {
  content: "\f473";
}
.dashicons-portfolio:before {
  content: "\f322";
}
.dashicons-book:before {
  content: "\f330";
}
.dashicons-book-alt:before {
  content: "\f331";
}
.dashicons-download:before {
  content: "\f316";
}
.dashicons-upload:before {
  content: "\f317";
}
.dashicons-backup:before {
  content: "\f321";
}
.dashicons-clock:before {
  content: "\f469";
}
.dashicons-lightbulb:before {
  content: "\f339";
}
.dashicons-microphone:before {
  content: "\f482";
}
.dashicons-desktop:before {
  content: "\f472";
}
.dashicons-laptop:before {
  content: "\f547";
}
.dashicons-tablet:before {
  content: "\f471";
}
.dashicons-smartphone:before {
  content: "\f470";
}
.dashicons-phone:before {
  content: "\f525";
}
.dashicons-index-card:before {
  content: "\f510";
}
.dashicons-carrot:before {
  content: "\f511";
}
.dashicons-building:before {
  content: "\f512";
}
.dashicons-store:before {
  content: "\f513";
}
.dashicons-album:before {
  content: "\f514";
}
.dashicons-palmtree:before {
  content: "\f527";
}
.dashicons-tickets-alt:before {
  content: "\f524";
}
.dashicons-money:before {
  content: "\f526";
}
.dashicons-smiley:before {
  content: "\f328";
}
.dashicons-thumbs-up:before {
  content: "\f529";
}
.dashicons-thumbs-down:before {
  content: "\f542";
}
.dashicons-layout:before {
  content: "\f538";
}
.dashicons-paperclip:before {
  content: "\f546";
}

