/**
 * Maki Icons, 6.2.0
 * Created by Mapbox
 * https://github.com/mapbox/maki
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "maki-icons";
  src: url('./maki-icons.eot');
  src: 
    url('./maki-icons.eot?#iefix') format('embedded-opentype'),
    url('./maki-icons.woff2') format('woff2'),
    url('./maki-icons.woff') format('woff'),
    url('./maki-icons.ttf') format('truetype'),
    url('./maki-icons.svg#maki-icons') format('svg');
}

.mki {
  font-family: "maki-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

.mki-aerialway::before {
  content: "\ea01";
}

.mki-airfield::before {
  content: "\ea02";
}

.mki-airport::before {
  content: "\ea03";
}

.mki-alcohol-shop::before {
  content: "\ea04";
}

.mki-american-football::before {
  content: "\ea05";
}

.mki-amusement-park::before {
  content: "\ea06";
}

.mki-aquarium::before {
  content: "\ea07";
}

.mki-art-gallery::before {
  content: "\ea08";
}

.mki-attraction::before {
  content: "\ea09";
}

.mki-bakery::before {
  content: "\ea0a";
}

.mki-bank::before {
  content: "\ea0b";
}

.mki-bank-JP::before {
  content: "\ea0c";
}

.mki-bar::before {
  content: "\ea0d";
}

.mki-barrier::before {
  content: "\ea0e";
}

.mki-baseball::before {
  content: "\ea0f";
}

.mki-basketball::before {
  content: "\ea10";
}

.mki-bbq::before {
  content: "\ea11";
}

.mki-beach::before {
  content: "\ea12";
}

.mki-beer::before {
  content: "\ea13";
}

.mki-bicycle::before {
  content: "\ea14";
}

.mki-bicycle-share::before {
  content: "\ea15";
}

.mki-blood-bank::before {
  content: "\ea16";
}

.mki-bowling-alley::before {
  content: "\ea17";
}

.mki-bridge::before {
  content: "\ea18";
}

.mki-building::before {
  content: "\ea19";
}

.mki-building-alt1::before {
  content: "\ea1a";
}

.mki-bus::before {
  content: "\ea1b";
}

.mki-cafe::before {
  content: "\ea1c";
}

.mki-campsite::before {
  content: "\ea1d";
}

.mki-car::before {
  content: "\ea1e";
}

.mki-car-rental::before {
  content: "\ea1f";
}

.mki-car-repair::before {
  content: "\ea20";
}

.mki-casino::before {
  content: "\ea21";
}

.mki-castle::before {
  content: "\ea22";
}

.mki-castle-JP::before {
  content: "\ea23";
}

.mki-cemetery::before {
  content: "\ea24";
}

.mki-cemetery-JP::before {
  content: "\ea25";
}

.mki-charging-station::before {
  content: "\ea26";
}

.mki-cinema::before {
  content: "\ea27";
}

.mki-circle::before {
  content: "\ea28";
}

.mki-circle-stroked::before {
  content: "\ea29";
}

.mki-city::before {
  content: "\ea2a";
}

.mki-clothing-store::before {
  content: "\ea2b";
}

.mki-college::before {
  content: "\ea2c";
}

.mki-college-JP::before {
  content: "\ea2d";
}

.mki-commercial::before {
  content: "\ea2e";
}

.mki-communications-tower::before {
  content: "\ea2f";
}

.mki-confectionery::before {
  content: "\ea30";
}

.mki-convenience::before {
  content: "\ea31";
}

.mki-cricket::before {
  content: "\ea32";
}

.mki-cross::before {
  content: "\ea33";
}

.mki-dam::before {
  content: "\ea34";
}

.mki-danger::before {
  content: "\ea35";
}

.mki-defibrillator::before {
  content: "\ea36";
}

.mki-dentist::before {
  content: "\ea37";
}

.mki-doctor::before {
  content: "\ea38";
}

.mki-dog-park::before {
  content: "\ea39";
}

.mki-drinking-water::before {
  content: "\ea3a";
}

.mki-embassy::before {
  content: "\ea3b";
}

.mki-emergency-phone::before {
  content: "\ea3c";
}

.mki-entrance::before {
  content: "\ea3d";
}

.mki-entrance-alt1::before {
  content: "\ea3e";
}

.mki-farm::before {
  content: "\ea3f";
}

.mki-fast-food::before {
  content: "\ea40";
}

.mki-fence::before {
  content: "\ea41";
}

.mki-ferry::before {
  content: "\ea42";
}

.mki-fire-station::before {
  content: "\ea43";
}

.mki-fire-station-JP::before {
  content: "\ea44";
}

.mki-fitness-centre::before {
  content: "\ea45";
}

.mki-florist::before {
  content: "\ea46";
}

.mki-fuel::before {
  content: "\ea47";
}

.mki-furniture::before {
  content: "\ea48";
}

.mki-gaming::before {
  content: "\ea49";
}

.mki-garden::before {
  content: "\ea4a";
}

.mki-garden-centre::before {
  content: "\ea4b";
}

.mki-gift::before {
  content: "\ea4c";
}

.mki-globe::before {
  content: "\ea4d";
}

.mki-golf::before {
  content: "\ea4e";
}

.mki-grocery::before {
  content: "\ea4f";
}

.mki-hairdresser::before {
  content: "\ea50";
}

.mki-harbor::before {
  content: "\ea51";
}

.mki-hardware::before {
  content: "\ea52";
}

.mki-heart::before {
  content: "\ea53";
}

.mki-heliport::before {
  content: "\ea54";
}

.mki-home::before {
  content: "\ea55";
}

.mki-horse-riding::before {
  content: "\ea56";
}

.mki-hospital::before {
  content: "\ea57";
}

.mki-hospital-JP::before {
  content: "\ea58";
}

.mki-ice-cream::before {
  content: "\ea59";
}

.mki-industry::before {
  content: "\ea5a";
}

.mki-information::before {
  content: "\ea5b";
}

.mki-jewelry-store::before {
  content: "\ea5c";
}

.mki-karaoke::before {
  content: "\ea5d";
}

.mki-landmark::before {
  content: "\ea5e";
}

.mki-landmark-JP::before {
  content: "\ea5f";
}

.mki-landuse::before {
  content: "\ea60";
}

.mki-laundry::before {
  content: "\ea61";
}

.mki-library::before {
  content: "\ea62";
}

.mki-lighthouse::before {
  content: "\ea63";
}

.mki-lodging::before {
  content: "\ea64";
}

.mki-logging::before {
  content: "\ea65";
}

.mki-marker::before {
  content: "\ea66";
}

.mki-marker-stroked::before {
  content: "\ea67";
}

.mki-mobile-phone::before {
  content: "\ea68";
}

.mki-monument::before {
  content: "\ea69";
}

.mki-mountain::before {
  content: "\ea6a";
}

.mki-museum::before {
  content: "\ea6b";
}

.mki-music::before {
  content: "\ea6c";
}

.mki-natural::before {
  content: "\ea6d";
}

.mki-optician::before {
  content: "\ea6e";
}

.mki-paint::before {
  content: "\ea6f";
}

.mki-park::before {
  content: "\ea70";
}

.mki-park-alt1::before {
  content: "\ea71";
}

.mki-parking::before {
  content: "\ea72";
}

.mki-parking-garage::before {
  content: "\ea73";
}

.mki-pharmacy::before {
  content: "\ea74";
}

.mki-picnic-site::before {
  content: "\ea75";
}

.mki-pitch::before {
  content: "\ea76";
}

.mki-place-of-worship::before {
  content: "\ea77";
}

.mki-playground::before {
  content: "\ea78";
}

.mki-police::before {
  content: "\ea79";
}

.mki-police-JP::before {
  content: "\ea7a";
}

.mki-post::before {
  content: "\ea7b";
}

.mki-post-JP::before {
  content: "\ea7c";
}

.mki-prison::before {
  content: "\ea7d";
}

.mki-rail::before {
  content: "\ea7e";
}

.mki-rail-light::before {
  content: "\ea7f";
}

.mki-rail-metro::before {
  content: "\ea80";
}

.mki-ranger-station::before {
  content: "\ea81";
}

.mki-recycling::before {
  content: "\ea82";
}

.mki-religious-buddhist::before {
  content: "\ea83";
}

.mki-religious-christian::before {
  content: "\ea84";
}

.mki-religious-jewish::before {
  content: "\ea85";
}

.mki-religious-muslim::before {
  content: "\ea86";
}

.mki-religious-shinto::before {
  content: "\ea87";
}

.mki-residential-community::before {
  content: "\ea88";
}

.mki-restaurant::before {
  content: "\ea89";
}

.mki-restaurant-noodle::before {
  content: "\ea8a";
}

.mki-restaurant-pizza::before {
  content: "\ea8b";
}

.mki-restaurant-seafood::before {
  content: "\ea8c";
}

.mki-roadblock::before {
  content: "\ea8d";
}

.mki-rocket::before {
  content: "\ea8e";
}

.mki-school::before {
  content: "\ea8f";
}

.mki-school-JP::before {
  content: "\ea90";
}

.mki-scooter::before {
  content: "\ea91";
}

.mki-shelter::before {
  content: "\ea92";
}

.mki-shoe::before {
  content: "\ea93";
}

.mki-shop::before {
  content: "\ea94";
}

.mki-skateboard::before {
  content: "\ea95";
}

.mki-skiing::before {
  content: "\ea96";
}

.mki-slaughterhouse::before {
  content: "\ea97";
}

.mki-slipway::before {
  content: "\ea98";
}

.mki-snowmobile::before {
  content: "\ea99";
}

.mki-soccer::before {
  content: "\ea9a";
}

.mki-square::before {
  content: "\ea9b";
}

.mki-square-stroked::before {
  content: "\ea9c";
}

.mki-stadium::before {
  content: "\ea9d";
}

.mki-star::before {
  content: "\ea9e";
}

.mki-star-stroked::before {
  content: "\ea9f";
}

.mki-suitcase::before {
  content: "\eaa0";
}

.mki-sushi::before {
  content: "\eaa1";
}

.mki-swimming::before {
  content: "\eaa2";
}

.mki-table-tennis::before {
  content: "\eaa3";
}

.mki-teahouse::before {
  content: "\eaa4";
}

.mki-telephone::before {
  content: "\eaa5";
}

.mki-tennis::before {
  content: "\eaa6";
}

.mki-theatre::before {
  content: "\eaa7";
}

.mki-toilet::before {
  content: "\eaa8";
}

.mki-town::before {
  content: "\eaa9";
}

.mki-town-hall::before {
  content: "\eaaa";
}

.mki-triangle::before {
  content: "\eaab";
}

.mki-triangle-stroked::before {
  content: "\eaac";
}

.mki-veterinary::before {
  content: "\eaad";
}

.mki-viewpoint::before {
  content: "\eaae";
}

.mki-village::before {
  content: "\eaaf";
}

.mki-volcano::before {
  content: "\eab0";
}

.mki-volleyball::before {
  content: "\eab1";
}

.mki-warehouse::before {
  content: "\eab2";
}

.mki-waste-basket::before {
  content: "\eab3";
}

.mki-watch::before {
  content: "\eab4";
}

.mki-water::before {
  content: "\eab5";
}

.mki-waterfall::before {
  content: "\eab6";
}

.mki-watermill::before {
  content: "\eab7";
}

.mki-wetland::before {
  content: "\eab8";
}

.mki-wheelchair::before {
  content: "\eab9";
}

.mki-windmill::before {
  content: "\eaba";
}

.mki-zoo::before {
  content: "\eabb";
}
