/**
 * CryptocurrencyIcons, 0.16.1
 * Created by atomiclabs
 * http://cryptoicons.co
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "cryptocurrency-icons";
  src: url('./cryptocurrency-icons.eot');
  src: 
    url('./cryptocurrency-icons.eot?#iefix') format('embedded-opentype'),
    url('./cryptocurrency-icons.woff2') format('woff2'),
    url('./cryptocurrency-icons.woff') format('woff'),
    url('./cryptocurrency-icons.ttf') format('truetype'),
    url('./cryptocurrency-icons.svg#cryptocurrency-icons') format('svg');
}

.crypto {
  font-family: "cryptocurrency-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.crypto-ardr::before {
  content: "\ea01";
}

.crypto-bat::before {
  content: "\ea02";
}

.crypto-bcd::before {
  content: "\ea03";
}

.crypto-bnb::before {
  content: "\ea04";
}

.crypto-btc::before {
  content: "\ea05";
}

.crypto-btm::before {
  content: "\ea06";
}

.crypto-dai::before {
  content: "\ea07";
}

.crypto-dash::before {
  content: "\ea08";
}

.crypto-dgd::before {
  content: "\ea09";
}

.crypto-ela::before {
  content: "\ea0a";
}

.crypto-eth::before {
  content: "\ea0b";
}

.crypto-gbyte::before {
  content: "\ea0c";
}

.crypto-ht::before {
  content: "\ea0d";
}

.crypto-iost::before {
  content: "\ea0e";
}

.crypto-knc::before {
  content: "\ea0f";
}

.crypto-lend::before {
  content: "\ea10";
}

.crypto-lrc::before {
  content: "\ea11";
}

.crypto-ltc::before {
  content: "\ea12";
}

.crypto-mco::before {
  content: "\ea13";
}

.crypto-mkr::before {
  content: "\ea14";
}

.crypto-neo::before {
  content: "\ea15";
}

.crypto-ont::before {
  content: "\ea16";
}

.crypto-ppt::before {
  content: "\ea17";
}

.crypto-ren::before {
  content: "\ea18";
}

.crypto-steem::before {
  content: "\ea19";
}

.crypto-usdt::before {
  content: "\ea1a";
}

.crypto-waves::before {
  content: "\ea1b";
}

.crypto-xvg::before {
  content: "\ea1c";
}

.crypto-zil::before {
  content: "\ea1d";
}
