/**
 * Cryptocurrency Icons, 0.0.3
 * Created by Christopher Downer
 * https://github.com/cjdowner/cryptocurrency-icons
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "cryptocurrency-icons";
  src: url('./cryptocurrency-icons.eot');
  src: 
    url('./cryptocurrency-icons.eot?#iefix') format('embedded-opentype'),
    url('./cryptocurrency-icons.woff2') format('woff2'),
    url('./cryptocurrency-icons.woff') format('woff'),
    url('./cryptocurrency-icons.ttf') format('truetype'),
    url('./cryptocurrency-icons.svg#cryptocurrency-icons') format('svg');
}

.cryptocurrency-icons {
  font-family: "cryptocurrency-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}



.cryptocurrency-icons-act::before {
    content: "\ea01";
}

.cryptocurrency-icons-ada::before {
    content: "\ea02";
}

.cryptocurrency-icons-adx::before {
    content: "\ea03";
}

.cryptocurrency-icons-ae::before {
    content: "\ea04";
}

.cryptocurrency-icons-aion::before {
    content: "\ea05";
}

.cryptocurrency-icons-amp::before {
    content: "\ea06";
}

.cryptocurrency-icons-ant::before {
    content: "\ea07";
}

.cryptocurrency-icons-ardr::before {
    content: "\ea08";
}

.cryptocurrency-icons-ark::before {
    content: "\ea09";
}

.cryptocurrency-icons-ast::before {
    content: "\ea0a";
}

.cryptocurrency-icons-atm::before {
    content: "\ea0b";
}

.cryptocurrency-icons-bat::before {
    content: "\ea0c";
}

.cryptocurrency-icons-bay::before {
    content: "\ea0d";
}

.cryptocurrency-icons-bcc::before {
    content: "\ea0e";
}

.cryptocurrency-icons-bch::before {
    content: "\ea0f";
}

.cryptocurrency-icons-bcn::before {
    content: "\ea10";
}

.cryptocurrency-icons-bco::before {
    content: "\ea11";
}

.cryptocurrency-icons-bdl::before {
    content: "\ea12";
}

.cryptocurrency-icons-bela::before {
    content: "\ea13";
}

.cryptocurrency-icons-blcn::before {
    content: "\ea14";
}

.cryptocurrency-icons-blk::before {
    content: "\ea15";
}

.cryptocurrency-icons-block::before {
    content: "\ea16";
}

.cryptocurrency-icons-bnb::before {
    content: "\ea17";
}

.cryptocurrency-icons-bnt::before {
    content: "\ea18";
}

.cryptocurrency-icons-bq::before {
    content: "\ea19";
}

.cryptocurrency-icons-bqx::before {
    content: "\ea1a";
}

.cryptocurrency-icons-btc::before {
    content: "\ea1b";
}

.cryptocurrency-icons-btcd::before {
    content: "\ea1c";
}

.cryptocurrency-icons-btcz::before {
    content: "\ea1d";
}

.cryptocurrency-icons-btg::before {
    content: "\ea1e";
}

.cryptocurrency-icons-btm::before {
    content: "\ea1f";
}

.cryptocurrency-icons-bts::before {
    content: "\ea20";
}

.cryptocurrency-icons-btx::before {
    content: "\ea21";
}

.cryptocurrency-icons-burst::before {
    content: "\ea22";
}

.cryptocurrency-icons-cdn::before {
    content: "\ea23";
}

.cryptocurrency-icons-clam::before {
    content: "\ea24";
}

.cryptocurrency-icons-cloak::before {
    content: "\ea25";
}

.cryptocurrency-icons-cnd::before {
    content: "\ea26";
}

.cryptocurrency-icons-cnx::before {
    content: "\ea27";
}

.cryptocurrency-icons-cny::before {
    content: "\ea28";
}

.cryptocurrency-icons-cred::before {
    content: "\ea29";
}

.cryptocurrency-icons-crpt::before {
    content: "\ea2a";
}

.cryptocurrency-icons-cvc::before {
    content: "\ea2b";
}

.cryptocurrency-icons-dash::before {
    content: "\ea2c";
}

.cryptocurrency-icons-dat::before {
    content: "\ea2d";
}

.cryptocurrency-icons-data::before {
    content: "\ea2e";
}

.cryptocurrency-icons-dbc::before {
    content: "\ea2f";
}

.cryptocurrency-icons-dcn::before {
    content: "\ea30";
}

.cryptocurrency-icons-dcr::before {
    content: "\ea31";
}

.cryptocurrency-icons-dent::before {
    content: "\ea32";
}

.cryptocurrency-icons-dgb::before {
    content: "\ea33";
}

.cryptocurrency-icons-dgd::before {
    content: "\ea34";
}

.cryptocurrency-icons-doge::before {
    content: "\ea35";
}

.cryptocurrency-icons-drgn::before {
    content: "\ea36";
}

.cryptocurrency-icons-edg::before {
    content: "\ea37";
}

.cryptocurrency-icons-edoge::before {
    content: "\ea38";
}

.cryptocurrency-icons-elf::before {
    content: "\ea39";
}

.cryptocurrency-icons-ella::before {
    content: "\ea3a";
}

.cryptocurrency-icons-emc::before {
    content: "\ea3b";
}

.cryptocurrency-icons-emc2::before {
    content: "\ea3c";
}

.cryptocurrency-icons-eng::before {
    content: "\ea3d";
}

.cryptocurrency-icons-eos::before {
    content: "\ea3e";
}

.cryptocurrency-icons-etc::before {
    content: "\ea3f";
}

.cryptocurrency-icons-eth::before {
    content: "\ea40";
}

.cryptocurrency-icons-ethos::before {
    content: "\ea41";
}

.cryptocurrency-icons-etn::before {
    content: "\ea42";
}

.cryptocurrency-icons-etp::before {
    content: "\ea43";
}

.cryptocurrency-icons-eur::before {
    content: "\ea44";
}

.cryptocurrency-icons-evx::before {
    content: "\ea45";
}

.cryptocurrency-icons-exmo::before {
    content: "\ea46";
}

.cryptocurrency-icons-exp::before {
    content: "\ea47";
}

.cryptocurrency-icons-fair::before {
    content: "\ea48";
}

.cryptocurrency-icons-fct::before {
    content: "\ea49";
}

.cryptocurrency-icons-fil::before {
    content: "\ea4a";
}

.cryptocurrency-icons-fldc::before {
    content: "\ea4b";
}

.cryptocurrency-icons-flo::before {
    content: "\ea4c";
}

.cryptocurrency-icons-fun::before {
    content: "\ea4d";
}

.cryptocurrency-icons-game::before {
    content: "\ea4e";
}

.cryptocurrency-icons-gas::before {
    content: "\ea4f";
}

.cryptocurrency-icons-gbp::before {
    content: "\ea50";
}

.cryptocurrency-icons-gbx::before {
    content: "\ea51";
}

.cryptocurrency-icons-gbyte::before {
    content: "\ea52";
}

.cryptocurrency-icons-gno::before {
    content: "\ea53";
}

.cryptocurrency-icons-gnt::before {
    content: "\ea54";
}

.cryptocurrency-icons-grc::before {
    content: "\ea55";
}

.cryptocurrency-icons-grs::before {
    content: "\ea56";
}

.cryptocurrency-icons-gup::before {
    content: "\ea57";
}

.cryptocurrency-icons-gvt::before {
    content: "\ea58";
}

.cryptocurrency-icons-gxs::before {
    content: "\ea59";
}

.cryptocurrency-icons-hpb::before {
    content: "\ea5a";
}

.cryptocurrency-icons-hsr::before {
    content: "\ea5b";
}

.cryptocurrency-icons-huc::before {
    content: "\ea5c";
}

.cryptocurrency-icons-hush::before {
    content: "\ea5d";
}

.cryptocurrency-icons-icn::before {
    content: "\ea5e";
}

.cryptocurrency-icons-icx::before {
    content: "\ea5f";
}

.cryptocurrency-icons-ignis::before {
    content: "\ea60";
}

.cryptocurrency-icons-ins::before {
    content: "\ea61";
}

.cryptocurrency-icons-iost::before {
    content: "\ea62";
}

.cryptocurrency-icons-jpy::before {
    content: "\ea63";
}

.cryptocurrency-icons-kcs::before {
    content: "\ea64";
}

.cryptocurrency-icons-kin::before {
    content: "\ea65";
}

.cryptocurrency-icons-kmd::before {
    content: "\ea66";
}

.cryptocurrency-icons-knc::before {
    content: "\ea67";
}

.cryptocurrency-icons-krb::before {
    content: "\ea68";
}

.cryptocurrency-icons-lbc::before {
    content: "\ea69";
}

.cryptocurrency-icons-link::before {
    content: "\ea6a";
}

.cryptocurrency-icons-lkk::before {
    content: "\ea6b";
}

.cryptocurrency-icons-lrc::before {
    content: "\ea6c";
}

.cryptocurrency-icons-lsk::before {
    content: "\ea6d";
}

.cryptocurrency-icons-ltc::before {
    content: "\ea6e";
}

.cryptocurrency-icons-maid::before {
    content: "\ea6f";
}

.cryptocurrency-icons-mana::before {
    content: "\ea70";
}

.cryptocurrency-icons-mcap::before {
    content: "\ea71";
}

.cryptocurrency-icons-mco::before {
    content: "\ea72";
}

.cryptocurrency-icons-med::before {
    content: "\ea73";
}

.cryptocurrency-icons-miota::before {
    content: "\ea74";
}

.cryptocurrency-icons-mkr::before {
    content: "\ea75";
}

.cryptocurrency-icons-mln::before {
    content: "\ea76";
}

.cryptocurrency-icons-mnx::before {
    content: "\ea77";
}

.cryptocurrency-icons-mona::before {
    content: "\ea78";
}

.cryptocurrency-icons-mtl::before {
    content: "\ea79";
}

.cryptocurrency-icons-music::before {
    content: "\ea7a";
}

.cryptocurrency-icons-nano::before {
    content: "\ea7b";
}

.cryptocurrency-icons-nas::before {
    content: "\ea7c";
}

.cryptocurrency-icons-nav::before {
    content: "\ea7d";
}

.cryptocurrency-icons-ndz::before {
    content: "\ea7e";
}

.cryptocurrency-icons-nebl::before {
    content: "\ea7f";
}

.cryptocurrency-icons-neo::before {
    content: "\ea80";
}

.cryptocurrency-icons-neos::before {
    content: "\ea81";
}

.cryptocurrency-icons-ngc::before {
    content: "\ea82";
}

.cryptocurrency-icons-nlc2::before {
    content: "\ea83";
}

.cryptocurrency-icons-nlg::before {
    content: "\ea84";
}

.cryptocurrency-icons-nmc::before {
    content: "\ea85";
}

.cryptocurrency-icons-nxs::before {
    content: "\ea86";
}

.cryptocurrency-icons-nxt::before {
    content: "\ea87";
}

.cryptocurrency-icons-omg::before {
    content: "\ea88";
}

.cryptocurrency-icons-omni::before {
    content: "\ea89";
}

.cryptocurrency-icons-ost::before {
    content: "\ea8a";
}

.cryptocurrency-icons-ox::before {
    content: "\ea8b";
}

.cryptocurrency-icons-pac::before {
    content: "\ea8c";
}

.cryptocurrency-icons-part::before {
    content: "\ea8d";
}

.cryptocurrency-icons-pasl::before {
    content: "\ea8e";
}

.cryptocurrency-icons-pay::before {
    content: "\ea8f";
}

.cryptocurrency-icons-pink::before {
    content: "\ea90";
}

.cryptocurrency-icons-pirl::before {
    content: "\ea91";
}

.cryptocurrency-icons-pivx::before {
    content: "\ea92";
}

.cryptocurrency-icons-plr::before {
    content: "\ea93";
}

.cryptocurrency-icons-poe::before {
    content: "\ea94";
}

.cryptocurrency-icons-pot::before {
    content: "\ea95";
}

.cryptocurrency-icons-powr::before {
    content: "\ea96";
}

.cryptocurrency-icons-ppc::before {
    content: "\ea97";
}

.cryptocurrency-icons-ppp::before {
    content: "\ea98";
}

.cryptocurrency-icons-ppt::before {
    content: "\ea99";
}

.cryptocurrency-icons-prl::before {
    content: "\ea9a";
}

.cryptocurrency-icons-pura::before {
    content: "\ea9b";
}

.cryptocurrency-icons-qash::before {
    content: "\ea9c";
}

.cryptocurrency-icons-qiwi::before {
    content: "\ea9d";
}

.cryptocurrency-icons-qlc::before {
    content: "\ea9e";
}

.cryptocurrency-icons-qsp::before {
    content: "\ea9f";
}

.cryptocurrency-icons-qtum::before {
    content: "\eaa0";
}

.cryptocurrency-icons-rads::before {
    content: "\eaa1";
}

.cryptocurrency-icons-rcn::before {
    content: "\eaa2";
}

.cryptocurrency-icons-rdd::before {
    content: "\eaa3";
}

.cryptocurrency-icons-rdn::before {
    content: "\eaa4";
}

.cryptocurrency-icons-rep::before {
    content: "\eaa5";
}

.cryptocurrency-icons-req::before {
    content: "\eaa6";
}

.cryptocurrency-icons-rhoc::before {
    content: "\eaa7";
}

.cryptocurrency-icons-ric::before {
    content: "\eaa8";
}

.cryptocurrency-icons-rise::before {
    content: "\eaa9";
}

.cryptocurrency-icons-rlc::before {
    content: "\eaaa";
}

.cryptocurrency-icons-rpx::before {
    content: "\eaab";
}

.cryptocurrency-icons-rub::before {
    content: "\eaac";
}

.cryptocurrency-icons-salt::before {
    content: "\eaad";
}

.cryptocurrency-icons-san::before {
    content: "\eaae";
}

.cryptocurrency-icons-sbd::before {
    content: "\eaaf";
}

.cryptocurrency-icons-sberbank::before {
    content: "\eab0";
}

.cryptocurrency-icons-sc::before {
    content: "\eab1";
}

.cryptocurrency-icons-sky::before {
    content: "\eab2";
}

.cryptocurrency-icons-smart::before {
    content: "\eab3";
}

.cryptocurrency-icons-sngls::before {
    content: "\eab4";
}

.cryptocurrency-icons-snt::before {
    content: "\eab5";
}

.cryptocurrency-icons-sphtx::before {
    content: "\eab6";
}

.cryptocurrency-icons-srn::before {
    content: "\eab7";
}

.cryptocurrency-icons-start::before {
    content: "\eab8";
}

.cryptocurrency-icons-steem::before {
    content: "\eab9";
}

.cryptocurrency-icons-storj::before {
    content: "\eaba";
}

.cryptocurrency-icons-storm::before {
    content: "\eabb";
}

.cryptocurrency-icons-strat::before {
    content: "\eabc";
}

.cryptocurrency-icons-sub::before {
    content: "\eabd";
}

.cryptocurrency-icons-sys::before {
    content: "\eabe";
}

.cryptocurrency-icons-taas::before {
    content: "\eabf";
}

.cryptocurrency-icons-tau::before {
    content: "\eac0";
}

.cryptocurrency-icons-tkn::before {
    content: "\eac1";
}

.cryptocurrency-icons-tnc::before {
    content: "\eac2";
}

.cryptocurrency-icons-trig::before {
    content: "\eac3";
}

.cryptocurrency-icons-trx::before {
    content: "\eac4";
}

.cryptocurrency-icons-tzc::before {
    content: "\eac5";
}

.cryptocurrency-icons-ubq::before {
    content: "\eac6";
}

.cryptocurrency-icons-usd::before {
    content: "\eac7";
}

.cryptocurrency-icons-usdt::before {
    content: "\eac8";
}

.cryptocurrency-icons-ven::before {
    content: "\eac9";
}

.cryptocurrency-icons-veri::before {
    content: "\eaca";
}

.cryptocurrency-icons-via::before {
    content: "\eacb";
}

.cryptocurrency-icons-vivo::before {
    content: "\eacc";
}

.cryptocurrency-icons-vrc::before {
    content: "\eacd";
}

.cryptocurrency-icons-vtc::before {
    content: "\eace";
}

.cryptocurrency-icons-wabi::before {
    content: "\eacf";
}

.cryptocurrency-icons-waves::before {
    content: "\ead0";
}

.cryptocurrency-icons-wax::before {
    content: "\ead1";
}

.cryptocurrency-icons-wtc::before {
    content: "\ead2";
}

.cryptocurrency-icons-xbc::before {
    content: "\ead3";
}

.cryptocurrency-icons-xcp::before {
    content: "\ead4";
}

.cryptocurrency-icons-xdn::before {
    content: "\ead5";
}

.cryptocurrency-icons-xem::before {
    content: "\ead6";
}

.cryptocurrency-icons-xlm::before {
    content: "\ead7";
}

.cryptocurrency-icons-xmg::before {
    content: "\ead8";
}

.cryptocurrency-icons-xmr::before {
    content: "\ead9";
}

.cryptocurrency-icons-xmy::before {
    content: "\eada";
}

.cryptocurrency-icons-xp::before {
    content: "\eadb";
}

.cryptocurrency-icons-xpa::before {
    content: "\eadc";
}

.cryptocurrency-icons-xpm::before {
    content: "\eadd";
}

.cryptocurrency-icons-xrp::before {
    content: "\eade";
}

.cryptocurrency-icons-xtz::before {
    content: "\eadf";
}

.cryptocurrency-icons-xuc::before {
    content: "\eae0";
}

.cryptocurrency-icons-xvc::before {
    content: "\eae1";
}

.cryptocurrency-icons-xvg::before {
    content: "\eae2";
}

.cryptocurrency-icons-xzc::before {
    content: "\eae3";
}

.cryptocurrency-icons-zcl::before {
    content: "\eae4";
}

.cryptocurrency-icons-zec::before {
    content: "\eae5";
}

.cryptocurrency-icons-zen::before {
    content: "\eae6";
}

.cryptocurrency-icons-zrx::before {
    content: "\eae7";
}