/**
 * Mfglabs iconset 0.0.3
 * Created by MfgLabs
 * https://github.com/MfgLabs/mfglabs-iconset
 * CC BY-SA License
 */
@charset "UTF-8";

@font-face {
  font-family: "mfglabs-iconset";
  src: url('mfglabs-iconset.eot');
  src: url('mfglabs-iconset.eot?#iefix') format('eot'),

    url('mfglabs-iconset.woff') format('woff'),
    url('mfglabs-iconset.ttf') format('truetype'),
    url('mfglabs-iconset.svg#mfglabs-iconset') format('svg');
}

.mli {
  font-family: "mfglabs-iconset";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.mli-cloud:before {
  content: "\2601";
}
.mli-at:before {
  content: "\0040";
}
.mli-plus:before {
  content: "\002B";
}
.mli-minus:before {
  content: "\2212";
}
.mli-arrow_up:before {
  content: "\2191";
}
.mli-arrow_down:before {
  content: "\2193";
}
.mli-arrow_right:before {
  content: "\2192";
}
.mli-arrow_left:before {
  content: "\2190";
}
.mli-chevron_down:before {
  content: "\f004";
}
.mli-chevron_up:before {
  content: "\f005";
}
.mli-chevron_right:before {
  content: "\f006";
}
.mli-chevron_left:before {
  content: "\f007";
}
.mli-reorder:before {
  content: "\f008";
}
.mli-list:before {
  content: "\f009";
}
.mli-reorder_square:before {
  content: "\f00a";
}
.mli-reorder_square_line:before {
  content: "\f00b";
}
.mli-coverflow:before {
  content: "\f00c";
}
.mli-coverflow_line:before {
  content: "\f00d";
}
.mli-pause:before {
  content: "\f00e";
}
.mli-play:before {
  content: "\f00f";
}
.mli-step_forward:before {
  content: "\f010";
}
.mli-step_backward:before {
  content: "\f011";
}
.mli-fast_forward:before {
  content: "\f012";
}
.mli-fast_backward:before {
  content: "\f013";
}
.mli-cloud_upload:before {
  content: "\f014";
}
.mli-cloud_download:before {
  content: "\f015";
}
.mli-data_science:before {
  content: "\f016";
}
.mli-data_science_black:before {
  content: "\f017";
}
.mli-globe:before {
  content: "\f018";
}
.mli-globe_black:before {
  content: "\f019";
}
.mli-math_ico:before {
  content: "\f01a";
}
.mli-math:before {
  content: "\f01b";
}
.mli-math_black:before {
  content: "\f01c";
}
.mli-paperplane_ico:before {
  content: "\f01d";
}
.mli-paperplane:before {
  content: "\f01e";
}
.mli-paperplane_black:before {
  content: "\f01f";
}
.mli-color_balance:before {
  content: "\f020";
}
.mli-star:before {
  content: "\2605";
}
.mli-star_half:before {
  content: "\f022";
}
.mli-star_empty:before {
  content: "\2606";
}
.mli-star_half_empty:before {
  content: "\f024";
}
.mli-reload:before {
  content: "\f025";
}
.mli-heart:before {
  content: "\2665";
}
.mli-heart_broken:before {
  content: "\f028";
}
.mli-hashtag:before {
  content: "\f029";
}
.mli-reply:before {
  content: "\f02a";
}
.mli-retweet:before {
  content: "\f02b";
}
.mli-signin:before {
  content: "\f02c";
}
.mli-signout:before {
  content: "\f02d";
}
.mli-download:before {
  content: "\f02e";
}
.mli-upload:before {
  content: "\f02f";
}
.mli-placepin:before {
  content: "\f031";
}
.mli-display_screen:before {
  content: "\f032";
}
.mli-tablet:before {
  content: "\f033";
}
.mli-smartphone:before {
  content: "\f034";
}
.mli-connected_object:before {
  content: "\f035";
}
.mli-lock:before {
  content: "\F512";
}
.mli-unlock:before {
  content: "\F513";
}
.mli-camera:before {
  content: "\F4F7";
}
.mli-isight:before {
  content: "\f039";
}
.mli-video_camera:before {
  content: "\f03a";
}
.mli-random:before {
  content: "\f03b";
}
.mli-message:before {
  content: "\F4AC";
}
.mli-discussion:before {
  content: "\f03d";
}
.mli-calendar:before {
  content: "\F4C5";
}
.mli-ringbell:before {
  content: "\f03f";
}
.mli-movie:before {
  content: "\f040";
}
.mli-mail:before {
  content: "\2709";
}
.mli-pen:before {
  content: "\270F";
}
.mli-settings:before {
  content: "\9881";
}
.mli-measure:before {
  content: "\f044";
}
.mli-vector:before {
  content: "\f045";
}
.mli-vector_pen:before {
  content: "\2712";
}
.mli-mute_on:before {
  content: "\f047";
}
.mli-mute_off:before {
  content: "\f048";
}
.mli-home:before {
  content: "\2302";
}
.mli-sheet:before {
  content: "\f04a";
}
.mli-arrow_big_right:before {
  content: "\21C9";
}
.mli-arrow_big_left:before {
  content: "\21C7";
}
.mli-arrow_big_down:before {
  content: "\21CA";
}
.mli-arrow_big_up:before {
  content: "\21C8";
}
.mli-dribbble_circle:before {
  content: "\f04f";
}
.mli-dribbble:before {
  content: "\f050";
}
.mli-facebook_circle:before {
  content: "\f051";
}
.mli-facebook:before {
  content: "\f052";
}
.mli-git_circle_alt:before {
  content: "\f053";
}
.mli-git_circle:before {
  content: "\f054";
}
.mli-git:before {
  content: "\f055";
}
.mli-octopus:before {
  content: "\f056";
}
.mli-twitter_circle:before {
  content: "\f057";
}
.mli-twitter:before {
  content: "\f058";
}
.mli-google_plus_circle:before {
  content: "\f059";
}
.mli-google_plus:before {
  content: "\f05a";
}
.mli-linked_in_circle:before {
  content: "\f05b";
}
.mli-linked_in:before {
  content: "\f05c";
}
.mli-instagram:before {
  content: "\f05d";
}
.mli-instagram_circle:before {
  content: "\f05e";
}
.mli-mfg_icon:before {
  content: "\f05f";
}
.mli-xing:before {
  content: "\F532";
}
.mli-xing_circle:before {
  content: "\F533";
}
.mli-mfg_icon_circle:before {
  content: "\f060";
}
.mli-user:before {
  content: "\f061";
}
.mli-user_male:before {
  content: "\f062";
}
.mli-user_female:before {
  content: "\f063";
}
.mli-users:before {
  content: "\f064";
}
.mli-file_open:before {
  content: "\F4C2";
}
.mli-file_close:before {
  content: "\f067";
}
.mli-file_alt:before {
  content: "\f068";
}
.mli-file_close_alt:before {
  content: "\f069";
}
.mli-attachment:before {
  content: "\f06a";
}
.mli-check:before {
  content: "\2713";
}
.mli-cross_mark:before {
  content: "\274C";
}
.mli-cancel_circle:before {
  content: "\F06E";
}
.mli-check_circle:before {
  content: "\f06d";
}
.mli-magnifying:before {
  content: "\F50D";
}
.mli-inbox:before {
  content: "\f070";
}
.mli-clock:before {
  content: "\23F2";
}
.mli-stopwatch:before {
  content: "\23F1";
}
.mli-hourglass:before {
  content: "\231B";
}
.mli-trophy:before {
  content: "\f074";
}
.mli-unlock_alt:before {
  content: "\F075";
}
.mli-lock_alt:before {
  content: "\F510";
}
.mli-arrow_doubled_right:before {
  content: "\21D2";
}
.mli-arrow_doubled_left:before {
  content: "\21D0";
}
.mli-arrow_doubled_down:before {
  content: "\21D3";
}
.mli-arrow_doubled_up:before {
  content: "\21D1";
}
.mli-link:before {
  content: "\f07B";
}
.mli-warning:before {
  content: "\2757";
}
.mli-warning_alt:before {
  content: "\2755";
}
.mli-magnifying_plus:before {
  content: "\f07E";
}
.mli-magnifying_minus:before {
  content: "\f07F";
}
.mli-white_question:before {
  content: "\2754";
}
.mli-black_question:before {
  content: "\2753";
}
.mli-stop:before {
  content: "\f080";
}
.mli-share:before {
  content: "\f081";
}
.mli-eye:before {
  content: "\f082";
}
.mli-trash_can:before {
  content: "\f083";
}
.mli-hard_drive:before {
  content: "\f084";
}
.mli-information_black:before {
  content: "\f085";
}
.mli-information_white:before {
  content: "\f086";
}
.mli-printer:before {
  content: "\f087";
}
.mli-letter:before {
  content: "\f088";
}
.mli-soundcloud:before {
  content: "\f089";
}
.mli-soundcloud_circle:before {
  content: "\f08A";
}
.mli-anchor:before {
  content: "\2693";
}
.mli-female_sign:before {
  content: "\2640";
}
.mli-male_sign:before {
  content: "\2642";
}
.mli-joystick:before {
  content: "\F514";
}
.mli-high_voltage:before {
  content: "\26A1";
}
.mli-fire:before {
  content: "\F525";
}
.mli-newspaper:before {
  content: "\F4F0";
}
.mli-chart:before {
  content: "\F526";
}
.mli-spread:before {
  content: "\F527";
}
.mli-spinner_1:before {
  content: "\F528";
}
.mli-spinner_2:before {
  content: "\F529";
}
.mli-chart_alt:before {
  content: "\F530";
}
.mli-label:before {
  content: "\F531";
}
.mli-brush:before {
  content: "\E000";
}
.mli-refresh:before {
  content: "\E001";
}
.mli-node:before {
  content: "\E002";
}
.mli-node_2:before {
  content: "\E003";
}
.mli-node_3:before {
  content: "\E004";
}
.mli-link_2_nodes:before {
  content: "\E005";
}
.mli-link_3_nodes:before {
  content: "\E006";
}
.mli-link_loop_nodes:before {
  content: "\E007";
}
.mli-node_size:before {
  content: "\E008";
}
.mli-node_color:before {
  content: "\E009";
}
.mli-layout_directed:before {
  content: "\E010";
}
.mli-layout_radial:before {
  content: "\E011";
}
.mli-layout_hierarchical:before {
  content: "\E012";
}
.mli-node_link_direction:before {
  content: "\E013";
}
.mli-node_link_short_path:before {
  content: "\E014";
}
.mli-node_cluster:before {
  content: "\E015";
}
.mli-display_graph:before {
  content: "\E016";
}
.mli-node_link_weight:before {
  content: "\E017";
}
.mli-more_node_links:before {
  content: "\E018";
}
.mli-node_shape:before {
  content: "\E00A";
}
.mli-node_icon:before {
  content: "\E00B";
}
.mli-node_text:before {
  content: "\E00C";
}
.mli-node_link_text:before {
  content: "\E00D";
}
.mli-node_link_color:before {
  content: "\E00E";
}
.mli-node_link_shape:before {
  content: "\E00F";
}
.mli-credit_card:before {
  content: "\F4B3";
}
.mli-disconnect:before {
  content: "\F534";
}
.mli-graph:before {
  content: "\F535";
}
.mli-new_user:before {
  content: "\F536";
}

