/**
 * Zondicons, 0.0.4
 * Created by Steve Schoger
 * http://www.zondicons.com/
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "zondicons";
  src: url('./zondicons.eot');
  src: 
    url('./zondicons.eot?#iefix') format('embedded-opentype'),
    url('./zondicons.woff2') format('woff2'),
    url('./zondicons.woff') format('woff'),
    url('./zondicons.ttf') format('truetype'),
    url('./zondicons.svg#zondicons') format('svg');
}

.zondicons {
  font-family: "zondicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}



.zondicons-add-outline::before {
    content: "\ea01";
}

.zondicons-add-solid::before {
    content: "\ea02";
}

.zondicons-adjust::before {
    content: "\ea03";
}

.zondicons-airplane::before {
    content: "\ea04";
}

.zondicons-album::before {
    content: "\ea05";
}

.zondicons-align-center::before {
    content: "\ea06";
}

.zondicons-align-justified::before {
    content: "\ea07";
}

.zondicons-align-left::before {
    content: "\ea08";
}

.zondicons-align-right::before {
    content: "\ea09";
}

.zondicons-announcement::before {
    content: "\ea0a";
}

.zondicons-arrow-outline-down::before {
    content: "\ea0b";
}

.zondicons-arrow-outline-left::before {
    content: "\ea0c";
}

.zondicons-arrow-outline-right::before {
    content: "\ea0d";
}

.zondicons-arrow-outline-up::before {
    content: "\ea0e";
}

.zondicons-arrow-thick-down::before {
    content: "\ea0f";
}

.zondicons-arrow-thick-left::before {
    content: "\ea10";
}

.zondicons-arrow-thick-right::before {
    content: "\ea11";
}

.zondicons-arrow-thick-up::before {
    content: "\ea12";
}

.zondicons-arrow-thin-down::before {
    content: "\ea13";
}

.zondicons-arrow-thin-left::before {
    content: "\ea14";
}

.zondicons-arrow-thin-right::before {
    content: "\ea15";
}

.zondicons-arrow-thin-up::before {
    content: "\ea16";
}

.zondicons-artist::before {
    content: "\ea17";
}

.zondicons-at-symbol::before {
    content: "\ea18";
}

.zondicons-attachment::before {
    content: "\ea19";
}

.zondicons-backspace::before {
    content: "\ea1a";
}

.zondicons-backward-step::before {
    content: "\ea1b";
}

.zondicons-backward::before {
    content: "\ea1c";
}

.zondicons-badge::before {
    content: "\ea1d";
}

.zondicons-battery-full::before {
    content: "\ea1e";
}

.zondicons-battery-half::before {
    content: "\ea1f";
}

.zondicons-battery-low::before {
    content: "\ea20";
}

.zondicons-beverage::before {
    content: "\ea21";
}

.zondicons-block::before {
    content: "\ea22";
}

.zondicons-bluetooth::before {
    content: "\ea23";
}

.zondicons-bolt::before {
    content: "\ea24";
}

.zondicons-book-reference::before {
    content: "\ea25";
}

.zondicons-bookmark::before {
    content: "\ea26";
}

.zondicons-border-all::before {
    content: "\ea27";
}

.zondicons-border-bottom::before {
    content: "\ea28";
}

.zondicons-border-horizontal::before {
    content: "\ea29";
}

.zondicons-border-inner::before {
    content: "\ea2a";
}

.zondicons-border-left::before {
    content: "\ea2b";
}

.zondicons-border-none::before {
    content: "\ea2c";
}

.zondicons-border-outer::before {
    content: "\ea2d";
}

.zondicons-border-right::before {
    content: "\ea2e";
}

.zondicons-border-top::before {
    content: "\ea2f";
}

.zondicons-border-vertical::before {
    content: "\ea30";
}

.zondicons-box::before {
    content: "\ea31";
}

.zondicons-brightness-down::before {
    content: "\ea32";
}

.zondicons-brightness-up::before {
    content: "\ea33";
}

.zondicons-bug::before {
    content: "\ea34";
}

.zondicons-buoy::before {
    content: "\ea35";
}

.zondicons-calculator::before {
    content: "\ea36";
}

.zondicons-calendar::before {
    content: "\ea37";
}

.zondicons-camera::before {
    content: "\ea38";
}

.zondicons-chart-bar::before {
    content: "\ea39";
}

.zondicons-chart-pie::before {
    content: "\ea3a";
}

.zondicons-chat-bubble-dots::before {
    content: "\ea3b";
}

.zondicons-checkmark-outline::before {
    content: "\ea3c";
}

.zondicons-checkmark::before {
    content: "\ea3d";
}

.zondicons-cheveron-down::before {
    content: "\ea3e";
}

.zondicons-cheveron-left::before {
    content: "\ea3f";
}

.zondicons-cheveron-outline-down::before {
    content: "\ea40";
}

.zondicons-cheveron-outline-left::before {
    content: "\ea41";
}

.zondicons-cheveron-outline-right::before {
    content: "\ea42";
}

.zondicons-cheveron-outline-up::before {
    content: "\ea43";
}

.zondicons-cheveron-right::before {
    content: "\ea44";
}

.zondicons-cheveron-up::before {
    content: "\ea45";
}

.zondicons-clipboard::before {
    content: "\ea46";
}

.zondicons-close-outline::before {
    content: "\ea47";
}

.zondicons-close-solid::before {
    content: "\ea48";
}

.zondicons-cloud-upload::before {
    content: "\ea49";
}

.zondicons-cloud::before {
    content: "\ea4a";
}

.zondicons-code::before {
    content: "\ea4b";
}

.zondicons-cog::before {
    content: "\ea4c";
}

.zondicons-color-palette::before {
    content: "\ea4d";
}

.zondicons-compose::before {
    content: "\ea4e";
}

.zondicons-computer-desktop::before {
    content: "\ea4f";
}

.zondicons-computer-laptop::before {
    content: "\ea50";
}

.zondicons-conversation::before {
    content: "\ea51";
}

.zondicons-credit-card::before {
    content: "\ea52";
}

.zondicons-dashboard::before {
    content: "\ea53";
}

.zondicons-date-add::before {
    content: "\ea54";
}

.zondicons-dial-pad::before {
    content: "\ea55";
}

.zondicons-document-add::before {
    content: "\ea56";
}

.zondicons-document::before {
    content: "\ea57";
}

.zondicons-dots-horizontal-double::before {
    content: "\ea58";
}

.zondicons-dots-horizontal-triple::before {
    content: "\ea59";
}

.zondicons-download::before {
    content: "\ea5a";
}

.zondicons-duplicate::before {
    content: "\ea5b";
}

.zondicons-edit-copy::before {
    content: "\ea5c";
}

.zondicons-edit-crop::before {
    content: "\ea5d";
}

.zondicons-edit-cut::before {
    content: "\ea5e";
}

.zondicons-edit-pencil::before {
    content: "\ea5f";
}

.zondicons-envelope::before {
    content: "\ea60";
}

.zondicons-exclamation-outline::before {
    content: "\ea61";
}

.zondicons-exclamation-solid::before {
    content: "\ea62";
}

.zondicons-explore::before {
    content: "\ea63";
}

.zondicons-factory::before {
    content: "\ea64";
}

.zondicons-film::before {
    content: "\ea65";
}

.zondicons-filter::before {
    content: "\ea66";
}

.zondicons-flashlight::before {
    content: "\ea67";
}

.zondicons-folder::before {
    content: "\ea68";
}

.zondicons-format-bold::before {
    content: "\ea69";
}

.zondicons-format-font-size::before {
    content: "\ea6a";
}

.zondicons-format-italic::before {
    content: "\ea6b";
}

.zondicons-format-underline::before {
    content: "\ea6c";
}

.zondicons-forward-step::before {
    content: "\ea6d";
}

.zondicons-forward::before {
    content: "\ea6e";
}

.zondicons-globe::before {
    content: "\ea6f";
}

.zondicons-hand-stop::before {
    content: "\ea70";
}

.zondicons-hard-drive::before {
    content: "\ea71";
}

.zondicons-headphones::before {
    content: "\ea72";
}

.zondicons-home::before {
    content: "\ea73";
}

.zondicons-hour-glass::before {
    content: "\ea74";
}

.zondicons-inbox-check::before {
    content: "\ea75";
}

.zondicons-inbox-download::before {
    content: "\ea76";
}

.zondicons-inbox::before {
    content: "\ea77";
}

.zondicons-indent-decrease::before {
    content: "\ea78";
}

.zondicons-indent-increase::before {
    content: "\ea79";
}

.zondicons-information-outline::before {
    content: "\ea7a";
}

.zondicons-information-solid::before {
    content: "\ea7b";
}

.zondicons-key::before {
    content: "\ea7c";
}

.zondicons-keyboard::before {
    content: "\ea7d";
}

.zondicons-library::before {
    content: "\ea7e";
}

.zondicons-light-bulb::before {
    content: "\ea7f";
}

.zondicons-link::before {
    content: "\ea80";
}

.zondicons-list-add::before {
    content: "\ea81";
}

.zondicons-list::before {
    content: "\ea82";
}

.zondicons-location-current::before {
    content: "\ea83";
}

.zondicons-location::before {
    content: "\ea84";
}

.zondicons-lock-closed::before {
    content: "\ea85";
}

.zondicons-lock-open::before {
    content: "\ea86";
}

.zondicons-menu::before {
    content: "\ea87";
}

.zondicons-mic::before {
    content: "\ea88";
}

.zondicons-minus-outline::before {
    content: "\ea89";
}

.zondicons-minus-solid::before {
    content: "\ea8a";
}

.zondicons-mobile-devices::before {
    content: "\ea8b";
}

.zondicons-mood-happy::before {
    content: "\ea8c";
}

.zondicons-mood-sad::before {
    content: "\ea8d";
}

.zondicons-mouse::before {
    content: "\ea8e";
}

.zondicons-music-notes::before {
    content: "\ea8f";
}

.zondicons-navigation-more::before {
    content: "\ea90";
}

.zondicons-network::before {
    content: "\ea91";
}

.zondicons-news-paper::before {
    content: "\ea92";
}

.zondicons-notification::before {
    content: "\ea93";
}

.zondicons-notifications-outline::before {
    content: "\ea94";
}

.zondicons-pause-outline::before {
    content: "\ea95";
}

.zondicons-pause-solid::before {
    content: "\ea96";
}

.zondicons-pause::before {
    content: "\ea97";
}

.zondicons-pen-tool::before {
    content: "\ea98";
}

.zondicons-phone::before {
    content: "\ea99";
}

.zondicons-photo::before {
    content: "\ea9a";
}

.zondicons-play-outline::before {
    content: "\ea9b";
}

.zondicons-play::before {
    content: "\ea9c";
}

.zondicons-playlist::before {
    content: "\ea9d";
}

.zondicons-plugin::before {
    content: "\ea9e";
}

.zondicons-portfolio::before {
    content: "\ea9f";
}

.zondicons-printer::before {
    content: "\eaa0";
}

.zondicons-question::before {
    content: "\eaa1";
}

.zondicons-queue::before {
    content: "\eaa2";
}

.zondicons-radar::before {
    content: "\eaa3";
}

.zondicons-refresh::before {
    content: "\eaa4";
}

.zondicons-reload::before {
    content: "\eaa5";
}

.zondicons-reply-all::before {
    content: "\eaa6";
}

.zondicons-reply::before {
    content: "\eaa7";
}

.zondicons-repost::before {
    content: "\eaa8";
}

.zondicons-save-disk::before {
    content: "\eaa9";
}

.zondicons-screen-full::before {
    content: "\eaaa";
}

.zondicons-search::before {
    content: "\eaab";
}

.zondicons-send::before {
    content: "\eaac";
}

.zondicons-share-01::before {
    content: "\eaad";
}

.zondicons-shield::before {
    content: "\eaae";
}

.zondicons-shopping-cart::before {
    content: "\eaaf";
}

.zondicons-show-sidebar::before {
    content: "\eab0";
}

.zondicons-shuffle::before {
    content: "\eab1";
}

.zondicons-star-full::before {
    content: "\eab2";
}

.zondicons-station::before {
    content: "\eab3";
}

.zondicons-store-front::before {
    content: "\eab4";
}

.zondicons-stroke-width::before {
    content: "\eab5";
}

.zondicons-tablet::before {
    content: "\eab6";
}

.zondicons-tag::before {
    content: "\eab7";
}

.zondicons-target::before {
    content: "\eab8";
}

.zondicons-text-box::before {
    content: "\eab9";
}

.zondicons-text-decoration::before {
    content: "\eaba";
}

.zondicons-thumbs-down::before {
    content: "\eabb";
}

.zondicons-thumbs-up::before {
    content: "\eabc";
}

.zondicons-ticket::before {
    content: "\eabd";
}

.zondicons-time::before {
    content: "\eabe";
}

.zondicons-timer::before {
    content: "\eabf";
}

.zondicons-tools::before {
    content: "\eac0";
}

.zondicons-trash::before {
    content: "\eac1";
}

.zondicons-travel::before {
    content: "\eac2";
}

.zondicons-trophy::before {
    content: "\eac3";
}

.zondicons-tuning::before {
    content: "\eac4";
}

.zondicons-upload::before {
    content: "\eac5";
}

.zondicons-usb::before {
    content: "\eac6";
}

.zondicons-user-group::before {
    content: "\eac7";
}

.zondicons-user::before {
    content: "\eac8";
}

.zondicons-vector::before {
    content: "\eac9";
}

.zondicons-video-camera::before {
    content: "\eaca";
}

.zondicons-view-carousel::before {
    content: "\eacb";
}

.zondicons-view-column::before {
    content: "\eacc";
}

.zondicons-view-hide::before {
    content: "\eacd";
}

.zondicons-view-list::before {
    content: "\eace";
}

.zondicons-view-show::before {
    content: "\eacf";
}

.zondicons-view-tile::before {
    content: "\ead0";
}

.zondicons-volume-down::before {
    content: "\ead1";
}

.zondicons-volume-mute::before {
    content: "\ead2";
}

.zondicons-volume-off::before {
    content: "\ead3";
}

.zondicons-volume-up::before {
    content: "\ead4";
}

.zondicons-wallet::before {
    content: "\ead5";
}

.zondicons-watch::before {
    content: "\ead6";
}

.zondicons-window-new::before {
    content: "\ead7";
}

.zondicons-window-open::before {
    content: "\ead8";
}

.zondicons-window::before {
    content: "\ead9";
}

.zondicons-wrench::before {
    content: "\eada";
}

.zondicons-zoom-in::before {
    content: "\eadb";
}

.zondicons-zoom-out::before {
    content: "\eadc";
}