/**
 * Feather, 4.28.0
 * Created by colebemis
 * https://feathericons.com/
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "feather";
  src: url('./feather.eot');
  src: 
    url('./feather.eot?#iefix') format('embedded-opentype'),
    url('./feather.woff2') format('woff2'),
    url('./feather.woff') format('woff'),
    url('./feather.ttf') format('truetype'),
    url('./feather.svg#feather') format('svg');
}

.fe {
  font-family: "feather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

.fe-activity::before {
  content: "\ea01";
}

.fe-airplay::before {
  content: "\ea02";
}

.fe-alert-circle::before {
  content: "\ea03";
}

.fe-alert-octagon::before {
  content: "\ea04";
}

.fe-alert-triangle::before {
  content: "\ea05";
}

.fe-align-center::before {
  content: "\ea06";
}

.fe-align-justify::before {
  content: "\ea07";
}

.fe-align-left::before {
  content: "\ea08";
}

.fe-align-right::before {
  content: "\ea09";
}

.fe-anchor::before {
  content: "\ea0a";
}

.fe-aperture::before {
  content: "\ea0b";
}

.fe-archive::before {
  content: "\ea0c";
}

.fe-arrow-down::before {
  content: "\ea0d";
}

.fe-arrow-down-circle::before {
  content: "\ea0e";
}

.fe-arrow-down-left::before {
  content: "\ea0f";
}

.fe-arrow-down-right::before {
  content: "\ea10";
}

.fe-arrow-left::before {
  content: "\ea11";
}

.fe-arrow-left-circle::before {
  content: "\ea12";
}

.fe-arrow-right::before {
  content: "\ea13";
}

.fe-arrow-right-circle::before {
  content: "\ea14";
}

.fe-arrow-up::before {
  content: "\ea15";
}

.fe-arrow-up-circle::before {
  content: "\ea16";
}

.fe-arrow-up-left::before {
  content: "\ea17";
}

.fe-arrow-up-right::before {
  content: "\ea18";
}

.fe-at-sign::before {
  content: "\ea19";
}

.fe-award::before {
  content: "\ea1a";
}

.fe-bar-chart::before {
  content: "\ea1b";
}

.fe-bar-chart-2::before {
  content: "\ea1c";
}

.fe-battery::before {
  content: "\ea1d";
}

.fe-battery-charging::before {
  content: "\ea1e";
}

.fe-bell::before {
  content: "\ea1f";
}

.fe-bell-off::before {
  content: "\ea20";
}

.fe-bluetooth::before {
  content: "\ea21";
}

.fe-bold::before {
  content: "\ea22";
}

.fe-book::before {
  content: "\ea23";
}

.fe-book-open::before {
  content: "\ea24";
}

.fe-bookmark::before {
  content: "\ea25";
}

.fe-box::before {
  content: "\ea26";
}

.fe-briefcase::before {
  content: "\ea27";
}

.fe-calendar::before {
  content: "\ea28";
}

.fe-camera::before {
  content: "\ea29";
}

.fe-camera-off::before {
  content: "\ea2a";
}

.fe-cast::before {
  content: "\ea2b";
}

.fe-check::before {
  content: "\ea2c";
}

.fe-check-circle::before {
  content: "\ea2d";
}

.fe-check-square::before {
  content: "\ea2e";
}

.fe-chevron-down::before {
  content: "\ea2f";
}

.fe-chevron-left::before {
  content: "\ea30";
}

.fe-chevron-right::before {
  content: "\ea31";
}

.fe-chevron-up::before {
  content: "\ea32";
}

.fe-chevrons-down::before {
  content: "\ea33";
}

.fe-chevrons-left::before {
  content: "\ea34";
}

.fe-chevrons-right::before {
  content: "\ea35";
}

.fe-chevrons-up::before {
  content: "\ea36";
}

.fe-chrome::before {
  content: "\ea37";
}

.fe-circle::before {
  content: "\ea38";
}

.fe-clipboard::before {
  content: "\ea39";
}

.fe-clock::before {
  content: "\ea3a";
}

.fe-cloud::before {
  content: "\ea3b";
}

.fe-cloud-drizzle::before {
  content: "\ea3c";
}

.fe-cloud-lightning::before {
  content: "\ea3d";
}

.fe-cloud-off::before {
  content: "\ea3e";
}

.fe-cloud-rain::before {
  content: "\ea3f";
}

.fe-cloud-snow::before {
  content: "\ea40";
}

.fe-code::before {
  content: "\ea41";
}

.fe-codepen::before {
  content: "\ea42";
}

.fe-codesandbox::before {
  content: "\ea43";
}

.fe-coffee::before {
  content: "\ea44";
}

.fe-columns::before {
  content: "\ea45";
}

.fe-command::before {
  content: "\ea46";
}

.fe-compass::before {
  content: "\ea47";
}

.fe-copy::before {
  content: "\ea48";
}

.fe-corner-down-left::before {
  content: "\ea49";
}

.fe-corner-down-right::before {
  content: "\ea4a";
}

.fe-corner-left-down::before {
  content: "\ea4b";
}

.fe-corner-left-up::before {
  content: "\ea4c";
}

.fe-corner-right-down::before {
  content: "\ea4d";
}

.fe-corner-right-up::before {
  content: "\ea4e";
}

.fe-corner-up-left::before {
  content: "\ea4f";
}

.fe-corner-up-right::before {
  content: "\ea50";
}

.fe-cpu::before {
  content: "\ea51";
}

.fe-credit-card::before {
  content: "\ea52";
}

.fe-crop::before {
  content: "\ea53";
}

.fe-crosshair::before {
  content: "\ea54";
}

.fe-database::before {
  content: "\ea55";
}

.fe-delete::before {
  content: "\ea56";
}

.fe-disc::before {
  content: "\ea57";
}

.fe-divide::before {
  content: "\ea58";
}

.fe-divide-circle::before {
  content: "\ea59";
}

.fe-divide-square::before {
  content: "\ea5a";
}

.fe-dollar-sign::before {
  content: "\ea5b";
}

.fe-download::before {
  content: "\ea5c";
}

.fe-download-cloud::before {
  content: "\ea5d";
}

.fe-dribbble::before {
  content: "\ea5e";
}

.fe-droplet::before {
  content: "\ea5f";
}

.fe-edit::before {
  content: "\ea60";
}

.fe-edit-2::before {
  content: "\ea61";
}

.fe-edit-3::before {
  content: "\ea62";
}

.fe-external-link::before {
  content: "\ea63";
}

.fe-eye::before {
  content: "\ea64";
}

.fe-eye-off::before {
  content: "\ea65";
}

.fe-facebook::before {
  content: "\ea66";
}

.fe-fast-forward::before {
  content: "\ea67";
}

.fe-feather::before {
  content: "\ea68";
}

.fe-figma::before {
  content: "\ea69";
}

.fe-file::before {
  content: "\ea6a";
}

.fe-file-minus::before {
  content: "\ea6b";
}

.fe-file-plus::before {
  content: "\ea6c";
}

.fe-file-text::before {
  content: "\ea6d";
}

.fe-film::before {
  content: "\ea6e";
}

.fe-filter::before {
  content: "\ea6f";
}

.fe-flag::before {
  content: "\ea70";
}

.fe-folder::before {
  content: "\ea71";
}

.fe-folder-minus::before {
  content: "\ea72";
}

.fe-folder-plus::before {
  content: "\ea73";
}

.fe-framer::before {
  content: "\ea74";
}

.fe-frown::before {
  content: "\ea75";
}

.fe-gift::before {
  content: "\ea76";
}

.fe-git-branch::before {
  content: "\ea77";
}

.fe-git-commit::before {
  content: "\ea78";
}

.fe-git-merge::before {
  content: "\ea79";
}

.fe-git-pull-request::before {
  content: "\ea7a";
}

.fe-github::before {
  content: "\ea7b";
}

.fe-gitlab::before {
  content: "\ea7c";
}

.fe-globe::before {
  content: "\ea7d";
}

.fe-grid::before {
  content: "\ea7e";
}

.fe-hard-drive::before {
  content: "\ea7f";
}

.fe-hash::before {
  content: "\ea80";
}

.fe-headphones::before {
  content: "\ea81";
}

.fe-heart::before {
  content: "\ea82";
}

.fe-help-circle::before {
  content: "\ea83";
}

.fe-hexagon::before {
  content: "\ea84";
}

.fe-home::before {
  content: "\ea85";
}

.fe-image::before {
  content: "\ea86";
}

.fe-inbox::before {
  content: "\ea87";
}

.fe-info::before {
  content: "\ea88";
}

.fe-instagram::before {
  content: "\ea89";
}

.fe-italic::before {
  content: "\ea8a";
}

.fe-key::before {
  content: "\ea8b";
}

.fe-layers::before {
  content: "\ea8c";
}

.fe-layout::before {
  content: "\ea8d";
}

.fe-life-buoy::before {
  content: "\ea8e";
}

.fe-link::before {
  content: "\ea8f";
}

.fe-link-2::before {
  content: "\ea90";
}

.fe-linkedin::before {
  content: "\ea91";
}

.fe-list::before {
  content: "\ea92";
}

.fe-loader::before {
  content: "\ea93";
}

.fe-lock::before {
  content: "\ea94";
}

.fe-log-in::before {
  content: "\ea95";
}

.fe-log-out::before {
  content: "\ea96";
}

.fe-mail::before {
  content: "\ea97";
}

.fe-map::before {
  content: "\ea98";
}

.fe-map-pin::before {
  content: "\ea99";
}

.fe-maximize::before {
  content: "\ea9a";
}

.fe-maximize-2::before {
  content: "\ea9b";
}

.fe-meh::before {
  content: "\ea9c";
}

.fe-menu::before {
  content: "\ea9d";
}

.fe-message-circle::before {
  content: "\ea9e";
}

.fe-message-square::before {
  content: "\ea9f";
}

.fe-mic::before {
  content: "\eaa0";
}

.fe-mic-off::before {
  content: "\eaa1";
}

.fe-minimize::before {
  content: "\eaa2";
}

.fe-minimize-2::before {
  content: "\eaa3";
}

.fe-minus::before {
  content: "\eaa4";
}

.fe-minus-circle::before {
  content: "\eaa5";
}

.fe-minus-square::before {
  content: "\eaa6";
}

.fe-monitor::before {
  content: "\eaa7";
}

.fe-moon::before {
  content: "\eaa8";
}

.fe-more-horizontal::before {
  content: "\eaa9";
}

.fe-more-vertical::before {
  content: "\eaaa";
}

.fe-mouse-pointer::before {
  content: "\eaab";
}

.fe-move::before {
  content: "\eaac";
}

.fe-music::before {
  content: "\eaad";
}

.fe-navigation::before {
  content: "\eaae";
}

.fe-navigation-2::before {
  content: "\eaaf";
}

.fe-octagon::before {
  content: "\eab0";
}

.fe-package::before {
  content: "\eab1";
}

.fe-paperclip::before {
  content: "\eab2";
}

.fe-pause::before {
  content: "\eab3";
}

.fe-pause-circle::before {
  content: "\eab4";
}

.fe-pen-tool::before {
  content: "\eab5";
}

.fe-percent::before {
  content: "\eab6";
}

.fe-phone::before {
  content: "\eab7";
}

.fe-phone-call::before {
  content: "\eab8";
}

.fe-phone-forwarded::before {
  content: "\eab9";
}

.fe-phone-incoming::before {
  content: "\eaba";
}

.fe-phone-missed::before {
  content: "\eabb";
}

.fe-phone-off::before {
  content: "\eabc";
}

.fe-phone-outgoing::before {
  content: "\eabd";
}

.fe-pie-chart::before {
  content: "\eabe";
}

.fe-play::before {
  content: "\eabf";
}

.fe-play-circle::before {
  content: "\eac0";
}

.fe-plus::before {
  content: "\eac1";
}

.fe-plus-circle::before {
  content: "\eac2";
}

.fe-plus-square::before {
  content: "\eac3";
}

.fe-pocket::before {
  content: "\eac4";
}

.fe-power::before {
  content: "\eac5";
}

.fe-printer::before {
  content: "\eac6";
}

.fe-radio::before {
  content: "\eac7";
}

.fe-refresh-ccw::before {
  content: "\eac8";
}

.fe-refresh-cw::before {
  content: "\eac9";
}

.fe-repeat::before {
  content: "\eaca";
}

.fe-rewind::before {
  content: "\eacb";
}

.fe-rotate-ccw::before {
  content: "\eacc";
}

.fe-rotate-cw::before {
  content: "\eacd";
}

.fe-rss::before {
  content: "\eace";
}

.fe-save::before {
  content: "\eacf";
}

.fe-scissors::before {
  content: "\ead0";
}

.fe-search::before {
  content: "\ead1";
}

.fe-send::before {
  content: "\ead2";
}

.fe-server::before {
  content: "\ead3";
}

.fe-settings::before {
  content: "\ead4";
}

.fe-share::before {
  content: "\ead5";
}

.fe-share-2::before {
  content: "\ead6";
}

.fe-shield::before {
  content: "\ead7";
}

.fe-shield-off::before {
  content: "\ead8";
}

.fe-shopping-bag::before {
  content: "\ead9";
}

.fe-shopping-cart::before {
  content: "\eada";
}

.fe-shuffle::before {
  content: "\eadb";
}

.fe-sidebar::before {
  content: "\eadc";
}

.fe-skip-back::before {
  content: "\eadd";
}

.fe-skip-forward::before {
  content: "\eade";
}

.fe-slack::before {
  content: "\eadf";
}

.fe-slash::before {
  content: "\eae0";
}

.fe-sliders::before {
  content: "\eae1";
}

.fe-smartphone::before {
  content: "\eae2";
}

.fe-smile::before {
  content: "\eae3";
}

.fe-speaker::before {
  content: "\eae4";
}

.fe-square::before {
  content: "\eae5";
}

.fe-star::before {
  content: "\eae6";
}

.fe-stop-circle::before {
  content: "\eae7";
}

.fe-sun::before {
  content: "\eae8";
}

.fe-sunrise::before {
  content: "\eae9";
}

.fe-sunset::before {
  content: "\eaea";
}

.fe-tablet::before {
  content: "\eaeb";
}

.fe-tag::before {
  content: "\eaec";
}

.fe-target::before {
  content: "\eaed";
}

.fe-terminal::before {
  content: "\eaee";
}

.fe-thermometer::before {
  content: "\eaef";
}

.fe-thumbs-down::before {
  content: "\eaf0";
}

.fe-thumbs-up::before {
  content: "\eaf1";
}

.fe-toggle-left::before {
  content: "\eaf2";
}

.fe-toggle-right::before {
  content: "\eaf3";
}

.fe-tool::before {
  content: "\eaf4";
}

.fe-trash::before {
  content: "\eaf5";
}

.fe-trash-2::before {
  content: "\eaf6";
}

.fe-trello::before {
  content: "\eaf7";
}

.fe-trending-down::before {
  content: "\eaf8";
}

.fe-trending-up::before {
  content: "\eaf9";
}

.fe-triangle::before {
  content: "\eafa";
}

.fe-truck::before {
  content: "\eafb";
}

.fe-tv::before {
  content: "\eafc";
}

.fe-twitch::before {
  content: "\eafd";
}

.fe-twitter::before {
  content: "\eafe";
}

.fe-type::before {
  content: "\eaff";
}

.fe-umbrella::before {
  content: "\eb00";
}

.fe-underline::before {
  content: "\eb01";
}

.fe-unlock::before {
  content: "\eb02";
}

.fe-upload::before {
  content: "\eb03";
}

.fe-upload-cloud::before {
  content: "\eb04";
}

.fe-user::before {
  content: "\eb05";
}

.fe-user-check::before {
  content: "\eb06";
}

.fe-user-minus::before {
  content: "\eb07";
}

.fe-user-plus::before {
  content: "\eb08";
}

.fe-user-x::before {
  content: "\eb09";
}

.fe-users::before {
  content: "\eb0a";
}

.fe-video::before {
  content: "\eb0b";
}

.fe-video-off::before {
  content: "\eb0c";
}

.fe-voicemail::before {
  content: "\eb0d";
}

.fe-volume::before {
  content: "\eb0e";
}

.fe-volume-1::before {
  content: "\eb0f";
}

.fe-volume-2::before {
  content: "\eb10";
}

.fe-volume-x::before {
  content: "\eb11";
}

.fe-watch::before {
  content: "\eb12";
}

.fe-wifi::before {
  content: "\eb13";
}

.fe-wifi-off::before {
  content: "\eb14";
}

.fe-wind::before {
  content: "\eb15";
}

.fe-x::before {
  content: "\eb16";
}

.fe-x-circle::before {
  content: "\eb17";
}

.fe-x-octagon::before {
  content: "\eb18";
}

.fe-x-square::before {
  content: "\eb19";
}

.fe-youtube::before {
  content: "\eb1a";
}

.fe-zap::before {
  content: "\eb1b";
}

.fe-zap-off::before {
  content: "\eb1c";
}

.fe-zoom-in::before {
  content: "\eb1d";
}

.fe-zoom-out::before {
  content: "\eb1e";
}
