/**
 * Linea ecommerce, 1.0.0
 * Created by Dario Ferrando
 * http://www.linea.io/
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "linea-ecommerce";
  src: url('linea-ecommerce.eot');
  src: url('linea-ecommerce.eot?#iefix') format('eot'),

    url('linea-ecommerce.woff') format('woff'),
    url('linea-ecommerce.ttf') format('truetype'),
    url('linea-ecommerce.svg#linea-ecommerce') format('svg');
}

.lei {
  font-family: "linea-ecommerce";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.lei-bag:before {
  content: "a";
}
.lei-bag-check:before {
  content: "b";
}
.lei-bag-cloud:before {
  content: "c";
}
.lei-bag-download:before {
  content: "d";
}
.lei-bag-minus:before {
  content: "e";
}
.lei-bag-plus:before {
  content: "f";
}
.lei-bag-refresh:before {
  content: "g";
}
.lei-bag-remove:before {
  content: "h";
}
.lei-bag-search:before {
  content: "i";
}
.lei-bag-upload:before {
  content: "j";
}
.lei-banknote:before {
  content: "k";
}
.lei-banknotes:before {
  content: "l";
}
.lei-basket:before {
  content: "m";
}
.lei-basket-check:before {
  content: "n";
}
.lei-basket-cloud:before {
  content: "o";
}
.lei-basket-download:before {
  content: "p";
}
.lei-basket-minus:before {
  content: "q";
}
.lei-basket-plus:before {
  content: "r";
}
.lei-basket-refresh:before {
  content: "s";
}
.lei-basket-remove:before {
  content: "t";
}
.lei-basket-search:before {
  content: "u";
}
.lei-basket-upload:before {
  content: "v";
}
.lei-bath:before {
  content: "w";
}
.lei-cart:before {
  content: "x";
}
.lei-cart-check:before {
  content: "y";
}
.lei-cart-cloud:before {
  content: "z";
}
.lei-cart-content:before {
  content: "A";
}
.lei-cart-download:before {
  content: "B";
}
.lei-cart-minus:before {
  content: "C";
}
.lei-cart-plus:before {
  content: "D";
}
.lei-cart-refresh:before {
  content: "E";
}
.lei-cart-remove:before {
  content: "F";
}
.lei-cart-search:before {
  content: "G";
}
.lei-cart-upload:before {
  content: "H";
}
.lei-cent:before {
  content: "I";
}
.lei-colon:before {
  content: "J";
}
.lei-creditcard:before {
  content: "K";
}
.lei-diamond:before {
  content: "L";
}
.lei-dollar:before {
  content: "M";
}
.lei-euro:before {
  content: "N";
}
.lei-franc:before {
  content: "O";
}
.lei-gift:before {
  content: "P";
}
.lei-graph1:before {
  content: "Q";
}
.lei-graph2:before {
  content: "R";
}
.lei-graph3:before {
  content: "S";
}
.lei-graph-decrease:before {
  content: "T";
}
.lei-graph-increase:before {
  content: "U";
}
.lei-guarani:before {
  content: "V";
}
.lei-kips:before {
  content: "W";
}
.lei-lira:before {
  content: "X";
}
.lei-megaphone:before {
  content: "Y";
}
.lei-money:before {
  content: "Z";
}
.lei-naira:before {
  content: "0";
}
.lei-pesos:before {
  content: "1";
}
.lei-pound:before {
  content: "2";
}
.lei-receipt:before {
  content: "3";
}
.lei-receipt-bath:before {
  content: "4";
}
.lei-receipt-cent:before {
  content: "5";
}
.lei-receipt-dollar:before {
  content: "6";
}
.lei-receipt-euro:before {
  content: "7";
}
.lei-receipt-franc:before {
  content: "8";
}
.lei-receipt-guarani:before {
  content: "9";
}
.lei-receipt-kips:before {
  content: "!";
}
.lei-receipt-lira:before {
  content: "\"";
}
.lei-receipt-naira:before {
  content: "#";
}
.lei-receipt-pesos:before {
  content: "$";
}
.lei-receipt-pound:before {
  content: "%";
}
.lei-receipt-rublo:before {
  content: "&";
}
.lei-receipt-rupee:before {
  content: "'";
}
.lei-receipt-tugrik:before {
  content: "(";
}
.lei-receipt-won:before {
  content: ")";
}
.lei-receipt-yen:before {
  content: "*";
}
.lei-receipt-yen2:before {
  content: "+";
}
.lei-recept-colon:before {
  content: ",";
}
.lei-rublo:before {
  content: "-";
}
.lei-rupee:before {
  content: ".";
}
.lei-safe:before {
  content: "/";
}
.lei-sale:before {
  content: ":";
}
.lei-sales:before {
  content: ";";
}
.lei-ticket:before {
  content: "<";
}
.lei-tugriks:before {
  content: "=";
}
.lei-wallet:before {
  content: ">";
}
.lei-won:before {
  content: "?";
}
.lei-yen:before {
  content: "@";
}
.lei-yen2:before {
  content: "[";
}

