/**
 * Boxicons Regular, 1.8.0-2
 * Created by Atisa
 * https://github.com/atisawd/boxicons#readme
 * (CC-4.0 OR SIL-OFL-1.1 OR MIT) License
 */
@charset "UTF-8";

@font-face {
  font-family: "boxicons-regular";
  src: url('boxicons-regular.eot');
  src: url('boxicons-regular.eot?#iefix') format('eot'),
    url('boxicons-regular.woff2') format('woff2'),
    url('boxicons-regular.woff') format('woff'),
    url('boxicons-regular.ttf') format('truetype'),
    url('boxicons-regular.svg#boxicons-regular') format('svg');
}

.bxr {
  font-family: "boxicons-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.bxr-adjust:before {
  content: "\e900";
}
.bxr-alarm:before {
  content: "\e901";
}
.bxr-alarm-off:before {
  content: "\e902";
}
.bxr-album:before {
  content: "\e903";
}
.bxr-align-justify:before {
  content: "\e904";
}
.bxr-align-left:before {
  content: "\e905";
}
.bxr-align-middle:before {
  content: "\e906";
}
.bxr-align-right:before {
  content: "\e907";
}
.bxr-analyse:before {
  content: "\e908";
}
.bxr-anchor:before {
  content: "\e909";
}
.bxr-aperture:before {
  content: "\e90a";
}
.bxr-archive:before {
  content: "\e90b";
}
.bxr-archive-in:before {
  content: "\e90c";
}
.bxr-archive-out:before {
  content: "\e90d";
}
.bxr-area:before {
  content: "\e90e";
}
.bxr-arrow-back:before {
  content: "\e90f";
}
.bxr-asterisk:before {
  content: "\e910";
}
.bxr-at:before {
  content: "\e911";
}
.bxr-award:before {
  content: "\e912";
}
.bxr-badge:before {
  content: "\e913";
}
.bxr-ball:before {
  content: "\e914";
}
.bxr-bar-chart:before {
  content: "\e915";
}
.bxr-bar-chart-alt:before {
  content: "\e916";
}
.bxr-bar-chart-square:before {
  content: "\e917";
}
.bxr-barcode:before {
  content: "\e918";
}
.bxr-basketball:before {
  content: "\e919";
}
.bxr-bath:before {
  content: "\e91a";
}
.bxr-battery:before {
  content: "\e91b";
}
.bxr-battery-charging:before {
  content: "\e91c";
}
.bxr-battery-full:before {
  content: "\e91d";
}
.bxr-battery-low:before {
  content: "\e91e";
}
.bxr-bed:before {
  content: "\e91f";
}
.bxr-bell:before {
  content: "\e920";
}
.bxr-bell-minus:before {
  content: "\e921";
}
.bxr-bell-off:before {
  content: "\e922";
}
.bxr-bell-plus:before {
  content: "\e923";
}
.bxr-bell-ring:before {
  content: "\e924";
}
.bxr-bicycle:before {
  content: "\e925";
}
.bxr-block:before {
  content: "\e926";
}
.bxr-bluetooth:before {
  content: "\e927";
}
.bxr-body:before {
  content: "\e928";
}
.bxr-bold:before {
  content: "\e929";
}
.bxr-bolt:before {
  content: "\e92a";
}
.bxr-book:before {
  content: "\e92b";
}
.bxr-book-bookmark:before {
  content: "\e92c";
}
.bxr-bookmark:before {
  content: "\e92d";
}
.bxr-bookmark-minus:before {
  content: "\e92e";
}
.bxr-bookmark-plus:before {
  content: "\e92f";
}
.bxr-bookmarks:before {
  content: "\e930";
}
.bxr-bookmark-star:before {
  content: "\e931";
}
.bxr-book-open:before {
  content: "\e932";
}
.bxr-bot:before {
  content: "\e933";
}
.bxr-box:before {
  content: "\e934";
}
.bxr-briefcase:before {
  content: "\e935";
}
.bxr-briefcase-alt:before {
  content: "\e936";
}
.bxr-broadcast:before {
  content: "\e937";
}
.bxr-bug:before {
  content: "\e938";
}
.bxr-building:before {
  content: "\e939";
}
.bxr-bulb:before {
  content: "\e93a";
}
.bxr-bullseye:before {
  content: "\e93b";
}
.bxr-buoy:before {
  content: "\e93c";
}
.bxr-bus:before {
  content: "\e93d";
}
.bxr-calculator:before {
  content: "\e93e";
}
.bxr-calendar:before {
  content: "\e93f";
}
.bxr-calendar-alt:before {
  content: "\e940";
}
.bxr-calendar-check:before {
  content: "\e941";
}
.bxr-calendar-minus:before {
  content: "\e942";
}
.bxr-calendar-plus:before {
  content: "\e943";
}
.bxr-calendar-x:before {
  content: "\e944";
}
.bxr-camera:before {
  content: "\e945";
}
.bxr-camera-alt:before {
  content: "\e946";
}
.bxr-camera-off:before {
  content: "\e947";
}
.bxr-capsule:before {
  content: "\e948";
}
.bxr-captions:before {
  content: "\e949";
}
.bxr-car:before {
  content: "\e94a";
}
.bxr-card:before {
  content: "\e94b";
}
.bxr-carousel:before {
  content: "\e94c";
}
.bxr-cart:before {
  content: "\e94d";
}
.bxr-cart-alt:before {
  content: "\e94e";
}
.bxr-cast:before {
  content: "\e94f";
}
.bxr-certification:before {
  content: "\e950";
}
.bxr-chalkboard:before {
  content: "\e951";
}
.bxr-chart:before {
  content: "\e952";
}
.bxr-check:before {
  content: "\e953";
}
.bxr-checkbox:before {
  content: "\e954";
}
.bxr-checkbox-checked:before {
  content: "\e955";
}
.bxr-checkbox-square:before {
  content: "\e956";
}
.bxr-check-circle:before {
  content: "\e957";
}
.bxr-check-double:before {
  content: "\e958";
}
.bxr-chevron-down:before {
  content: "\e959";
}
.bxr-chevron-left:before {
  content: "\e95a";
}
.bxr-chevron-right:before {
  content: "\e95b";
}
.bxr-chevrons-down:before {
  content: "\e95c";
}
.bxr-chevrons-left:before {
  content: "\e95d";
}
.bxr-chevrons-right:before {
  content: "\e95e";
}
.bxr-chevrons-up:before {
  content: "\e95f";
}
.bxr-chevron-up:before {
  content: "\e960";
}
.bxr-chip:before {
  content: "\e961";
}
.bxr-circle:before {
  content: "\e962";
}
.bxr-clipboard:before {
  content: "\e963";
}
.bxr-closet:before {
  content: "\e964";
}
.bxr-cloud:before {
  content: "\e965";
}
.bxr-cloud-download:before {
  content: "\e966";
}
.bxr-cloud-drizzle:before {
  content: "\e967";
}
.bxr-cloud-lightning:before {
  content: "\e968";
}
.bxr-cloud-light-rain:before {
  content: "\e969";
}
.bxr-cloud-rain:before {
  content: "\e96a";
}
.bxr-cloud-snow:before {
  content: "\e96b";
}
.bxr-cloud-upload:before {
  content: "\e96c";
}
.bxr-code:before {
  content: "\e96d";
}
.bxr-code-block:before {
  content: "\e96e";
}
.bxr-code-curly:before {
  content: "\e96f";
}
.bxr-coffee:before {
  content: "\e970";
}
.bxr-cog:before {
  content: "\e971";
}
.bxr-collapse:before {
  content: "\e972";
}
.bxr-collection:before {
  content: "\e973";
}
.bxr-color-fill:before {
  content: "\e974";
}
.bxr-columns:before {
  content: "\e975";
}
.bxr-command:before {
  content: "\e976";
}
.bxr-compass:before {
  content: "\e977";
}
.bxr-contact:before {
  content: "\e978";
}
.bxr-conversation:before {
  content: "\e979";
}
.bxr-copy:before {
  content: "\e97a";
}
.bxr-copyright:before {
  content: "\e97b";
}
.bxr-coupon:before {
  content: "\e97c";
}
.bxr-credit-card:before {
  content: "\e97d";
}
.bxr-crop:before {
  content: "\e97e";
}
.bxr-crosshair:before {
  content: "\e97f";
}
.bxr-crown:before {
  content: "\e980";
}
.bxr-cube:before {
  content: "\e981";
}
.bxr-cut:before {
  content: "\e982";
}
.bxr-dashboard:before {
  content: "\e983";
}
.bxr-data:before {
  content: "\e984";
}
.bxr-desktop:before {
  content: "\e985";
}
.bxr-detail:before {
  content: "\e986";
}
.bxr-dialpad:before {
  content: "\e987";
}
.bxr-diamond:before {
  content: "\e988";
}
.bxr-directions:before {
  content: "\e989";
}
.bxr-disc:before {
  content: "\e98a";
}
.bxr-discount:before {
  content: "\e98b";
}
.bxr-dislike:before {
  content: "\e98c";
}
.bxr-dock-bottom:before {
  content: "\e98d";
}
.bxr-dock-left:before {
  content: "\e98e";
}
.bxr-dock-right:before {
  content: "\e98f";
}
.bxr-dock-top:before {
  content: "\e990";
}
.bxr-documentation:before {
  content: "\e991";
}
.bxr-dollar:before {
  content: "\e992";
}
.bxr-dollar-circle:before {
  content: "\e993";
}
.bxr-dots-horizontal:before {
  content: "\e994";
}
.bxr-dots-horizontal-rounded:before {
  content: "\e995";
}
.bxr-dots-vertical:before {
  content: "\e996";
}
.bxr-dots-vertical-rounded:before {
  content: "\e997";
}
.bxr-down-arrow:before {
  content: "\e998";
}
.bxr-down-arrow-circle:before {
  content: "\e999";
}
.bxr-download:before {
  content: "\e99a";
}
.bxr-downvote:before {
  content: "\e99b";
}
.bxr-drink:before {
  content: "\e99c";
}
.bxr-droplet:before {
  content: "\e99d";
}
.bxr-dumbbell:before {
  content: "\e99e";
}
.bxr-duplicate:before {
  content: "\e99f";
}
.bxr-edit:before {
  content: "\e9a0";
}
.bxr-eject:before {
  content: "\e9a1";
}
.bxr-envelope:before {
  content: "\e9a2";
}
.bxr-equalizer:before {
  content: "\e9a3";
}
.bxr-eraser:before {
  content: "\e9a4";
}
.bxr-error:before {
  content: "\e9a5";
}
.bxr-error-circle:before {
  content: "\e9a6";
}
.bxr-exclamation:before {
  content: "\e9a7";
}
.bxr-exit-fullscreen:before {
  content: "\e9a8";
}
.bxr-expand:before {
  content: "\e9a9";
}
.bxr-export:before {
  content: "\e9aa";
}
.bxr-eyedropper:before {
  content: "\e9ab";
}
.bxr-fast-forward:before {
  content: "\e9ac";
}
.bxr-fast-forward-circle:before {
  content: "\e9ad";
}
.bxr-female:before {
  content: "\e9ae";
}
.bxr-file:before {
  content: "\e9af";
}
.bxr-file-blank:before {
  content: "\e9b0";
}
.bxr-file-image:before {
  content: "\e9b1";
}
.bxr-file-plus:before {
  content: "\e9b2";
}
.bxr-files:before {
  content: "\e9b3";
}
.bxr-film:before {
  content: "\e9b4";
}
.bxr-filter:before {
  content: "\e9b5";
}
.bxr-filter-alt:before {
  content: "\e9b6";
}
.bxr-fingerprint:before {
  content: "\e9b7";
}
.bxr-first-aid:before {
  content: "\e9b8";
}
.bxr-first-page:before {
  content: "\e9b9";
}
.bxr-flag:before {
  content: "\e9ba";
}
.bxr-flag-alt:before {
  content: "\e9bb";
}
.bxr-flask:before {
  content: "\e9bc";
}
.bxr-folder:before {
  content: "\e9bd";
}
.bxr-folder-minus:before {
  content: "\e9be";
}
.bxr-folder-open:before {
  content: "\e9bf";
}
.bxr-folder-plus:before {
  content: "\e9c0";
}
.bxr-font:before {
  content: "\e9c1";
}
.bxr-font-color:before {
  content: "\e9c2";
}
.bxr-font-size:before {
  content: "\e9c3";
}
.bxr-football:before {
  content: "\e9c4";
}
.bxr-fullscreen:before {
  content: "\e9c5";
}
.bxr-gift:before {
  content: "\e9c6";
}
.bxr-git-branch:before {
  content: "\e9c7";
}
.bxr-git-commit:before {
  content: "\e9c8";
}
.bxr-git-compare:before {
  content: "\e9c9";
}
.bxr-git-merge:before {
  content: "\e9ca";
}
.bxr-git-pull-request:before {
  content: "\e9cb";
}
.bxr-git-repo-forked:before {
  content: "\e9cc";
}
.bxr-glasses:before {
  content: "\e9cd";
}
.bxr-globe:before {
  content: "\e9ce";
}
.bxr-globe-alt:before {
  content: "\e9cf";
}
.bxr-grid:before {
  content: "\e9d0";
}
.bxr-grid-alt:before {
  content: "\e9d1";
}
.bxr-grid-horizontal:before {
  content: "\e9d2";
}
.bxr-grid-small:before {
  content: "\e9d3";
}
.bxr-grid-vertical:before {
  content: "\e9d4";
}
.bxr-group:before {
  content: "\e9d5";
}
.bxr-handicap:before {
  content: "\e9d6";
}
.bxr-hash:before {
  content: "\e9d7";
}
.bxr-hdd:before {
  content: "\e9d8";
}
.bxr-heading:before {
  content: "\e9d9";
}
.bxr-headphone:before {
  content: "\e9da";
}
.bxr-heart:before {
  content: "\e9db";
}
.bxr-help-circle:before {
  content: "\e9dc";
}
.bxr-hexagon:before {
  content: "\e9dd";
}
.bxr-hide:before {
  content: "\e9de";
}
.bxr-highlight:before {
  content: "\e9df";
}
.bxr-history:before {
  content: "\e9e0";
}
.bxr-home:before {
  content: "\e9e1";
}
.bxr-home-alt:before {
  content: "\e9e2";
}
.bxr-horizontal-center:before {
  content: "\e9e3";
}
.bxr-hot:before {
  content: "\e9e4";
}
.bxr-hotel:before {
  content: "\e9e5";
}
.bxr-hourglass:before {
  content: "\e9e6";
}
.bxr-id-card:before {
  content: "\e9e7";
}
.bxr-idea:before {
  content: "\e9e8";
}
.bxr-image:before {
  content: "\e9e9";
}
.bxr-image-alt:before {
  content: "\e9ea";
}
.bxr-images:before {
  content: "\e9eb";
}
.bxr-import:before {
  content: "\e9ec";
}
.bxr-inbox:before {
  content: "\e9ed";
}
.bxr-infinite:before {
  content: "\e9ee";
}
.bxr-info:before {
  content: "\e9ef";
}
.bxr-info-circle:before {
  content: "\e9f0";
}
.bxr-italic:before {
  content: "\e9f1";
}
.bxr-joystick:before {
  content: "\e9f2";
}
.bxr-joystick-alt:before {
  content: "\e9f3";
}
.bxr-key:before {
  content: "\e9f4";
}
.bxr-laptop:before {
  content: "\e9f5";
}
.bxr-last-page:before {
  content: "\e9f6";
}
.bxr-layer:before {
  content: "\e9f7";
}
.bxr-layout:before {
  content: "\e9f8";
}
.bxr-left-arrow:before {
  content: "\e9f9";
}
.bxr-left-arrow-circle:before {
  content: "\e9fa";
}
.bxr-left-bottom-arrow-circle:before {
  content: "\e9fb";
}
.bxr-left-indent:before {
  content: "\e9fc";
}
.bxr-left-top-arrow-circle:before {
  content: "\e9fd";
}
.bxr-like:before {
  content: "\e9fe";
}
.bxr-link:before {
  content: "\e9ff";
}
.bxr-link-alt:before {
  content: "\ea00";
}
.bxr-link-external:before {
  content: "\ea01";
}
.bxr-list:before {
  content: "\ea02";
}
.bxr-list-alt:before {
  content: "\ea03";
}
.bxr-list-check:before {
  content: "\ea04";
}
.bxr-list-ol:before {
  content: "\ea05";
}
.bxr-list-plus:before {
  content: "\ea06";
}
.bxr-list-ul:before {
  content: "\ea07";
}
.bxr-list-x:before {
  content: "\ea08";
}
.bxr-loader:before {
  content: "\ea09";
}
.bxr-loader-alt:before {
  content: "\ea0a";
}
.bxr-loader-circle:before {
  content: "\ea0b";
}
.bxr-lock:before {
  content: "\ea0c";
}
.bxr-lock-open:before {
  content: "\ea0d";
}
.bxr-log-in:before {
  content: "\ea0e";
}
.bxr-log-out:before {
  content: "\ea0f";
}
.bxr-magic-wand:before {
  content: "\ea10";
}
.bxr-magnet:before {
  content: "\ea11";
}
.bxr-male:before {
  content: "\ea12";
}
.bxr-map:before {
  content: "\ea13";
}
.bxr-map-alt:before {
  content: "\ea14";
}
.bxr-map-pin:before {
  content: "\ea15";
}
.bxr-menu:before {
  content: "\ea16";
}
.bxr-menu-alt-left:before {
  content: "\ea17";
}
.bxr-menu-alt-right:before {
  content: "\ea18";
}
.bxr-message:before {
  content: "\ea19";
}
.bxr-message-alt:before {
  content: "\ea1a";
}
.bxr-message-detail:before {
  content: "\ea1b";
}
.bxr-message-rounded:before {
  content: "\ea1c";
}
.bxr-microphone:before {
  content: "\ea1d";
}
.bxr-microphone-alt:before {
  content: "\ea1e";
}
.bxr-microphone-off:before {
  content: "\ea1f";
}
.bxr-minus:before {
  content: "\ea20";
}
.bxr-minus-circle:before {
  content: "\ea21";
}
.bxr-minus-square:before {
  content: "\ea22";
}
.bxr-mobile:before {
  content: "\ea23";
}
.bxr-mobile-alt:before {
  content: "\ea24";
}
.bxr-mobile-message:before {
  content: "\ea25";
}
.bxr-moon:before {
  content: "\ea26";
}
.bxr-mouse:before {
  content: "\ea27";
}
.bxr-move:before {
  content: "\ea28";
}
.bxr-move-horizontal:before {
  content: "\ea29";
}
.bxr-move-vertical:before {
  content: "\ea2a";
}
.bxr-movie:before {
  content: "\ea2b";
}
.bxr-music:before {
  content: "\ea2c";
}
.bxr-navigation:before {
  content: "\ea2d";
}
.bxr-news:before {
  content: "\ea2e";
}
.bxr-newsletter:before {
  content: "\ea2f";
}
.bxr-note:before {
  content: "\ea30";
}
.bxr-notes:before {
  content: "\ea31";
}
.bxr-notification:before {
  content: "\ea32";
}
.bxr-notification-off:before {
  content: "\ea33";
}
.bxr-octagon:before {
  content: "\ea34";
}
.bxr-package:before {
  content: "\ea35";
}
.bxr-paperclip:before {
  content: "\ea36";
}
.bxr-paper-plane:before {
  content: "\ea37";
}
.bxr-paragraph:before {
  content: "\ea38";
}
.bxr-paste:before {
  content: "\ea39";
}
.bxr-pause:before {
  content: "\ea3a";
}
.bxr-pause-circle:before {
  content: "\ea3b";
}
.bxr-pen:before {
  content: "\ea3c";
}
.bxr-pencil:before {
  content: "\ea3d";
}
.bxr-phone:before {
  content: "\ea3e";
}
.bxr-phone-call:before {
  content: "\ea3f";
}
.bxr-phone-incoming:before {
  content: "\ea40";
}
.bxr-phone-outgoing:before {
  content: "\ea41";
}
.bxr-photo-album:before {
  content: "\ea42";
}
.bxr-pie-chart:before {
  content: "\ea43";
}
.bxr-pie-chart-alt:before {
  content: "\ea44";
}
.bxr-pin:before {
  content: "\ea45";
}
.bxr-planet:before {
  content: "\ea46";
}
.bxr-play:before {
  content: "\ea47";
}
.bxr-play-circle:before {
  content: "\ea48";
}
.bxr-playlist:before {
  content: "\ea49";
}
.bxr-plug:before {
  content: "\ea4a";
}
.bxr-plus:before {
  content: "\ea4b";
}
.bxr-plus-circle:before {
  content: "\ea4c";
}
.bxr-plus-square:before {
  content: "\ea4d";
}
.bxr-poll:before {
  content: "\ea4e";
}
.bxr-power-off:before {
  content: "\ea4f";
}
.bxr-printer:before {
  content: "\ea50";
}
.bxr-pulse:before {
  content: "\ea51";
}
.bxr-purchase-tag:before {
  content: "\ea52";
}
.bxr-question-mark:before {
  content: "\ea53";
}
.bxr-quote-left:before {
  content: "\ea54";
}
.bxr-quote-right:before {
  content: "\ea55";
}
.bxr-radar:before {
  content: "\ea56";
}
.bxr-radio:before {
  content: "\ea57";
}
.bxr-radio-circle:before {
  content: "\ea58";
}
.bxr-radio-circle-marked:before {
  content: "\ea59";
}
.bxr-rectangle:before {
  content: "\ea5a";
}
.bxr-redo:before {
  content: "\ea5b";
}
.bxr-rename:before {
  content: "\ea5c";
}
.bxr-reply:before {
  content: "\ea5d";
}
.bxr-reply-all:before {
  content: "\ea5e";
}
.bxr-report:before {
  content: "\ea5f";
}
.bxr-repost:before {
  content: "\ea60";
}
.bxr-reset:before {
  content: "\ea61";
}
.bxr-restaurant:before {
  content: "\ea62";
}
.bxr-revision:before {
  content: "\ea63";
}
.bxr-rewind:before {
  content: "\ea64";
}
.bxr-rewind-circle:before {
  content: "\ea65";
}
.bxr-ribbon:before {
  content: "\ea66";
}
.bxr-right-arrow:before {
  content: "\ea67";
}
.bxr-right-arrow-circle:before {
  content: "\ea68";
}
.bxr-right-down-arrow-circle:before {
  content: "\ea69";
}
.bxr-right-indent:before {
  content: "\ea6a";
}
.bxr-right-top-arrow-circle:before {
  content: "\ea6b";
}
.bxr-rocket:before {
  content: "\ea6c";
}
.bxr-rotate:before {
  content: "\ea6d";
}
.bxr-rss:before {
  content: "\ea6e";
}
.bxr-ruler:before {
  content: "\ea6f";
}
.bxr-save:before {
  content: "\ea70";
}
.bxr-screenshot:before {
  content: "\ea71";
}
.bxr-search:before {
  content: "\ea72";
}
.bxr-search-alt:before {
  content: "\ea73";
}
.bxr-select-arrows:before {
  content: "\ea74";
}
.bxr-selection:before {
  content: "\ea75";
}
.bxr-select-multiple:before {
  content: "\ea76";
}
.bxr-send:before {
  content: "\ea77";
}
.bxr-server:before {
  content: "\ea78";
}
.bxr-share:before {
  content: "\ea79";
}
.bxr-share-alt:before {
  content: "\ea7a";
}
.bxr-shield:before {
  content: "\ea7b";
}
.bxr-shield-alt:before {
  content: "\ea7c";
}
.bxr-shopping-bag:before {
  content: "\ea7d";
}
.bxr-shopping-bag-alt:before {
  content: "\ea7e";
}
.bxr-show:before {
  content: "\ea7f";
}
.bxr-shuffle:before {
  content: "\ea80";
}
.bxr-shuffle-alt:before {
  content: "\ea81";
}
.bxr-sidebar:before {
  content: "\ea82";
}
.bxr-sitemap:before {
  content: "\ea83";
}
.bxr-skip-next:before {
  content: "\ea84";
}
.bxr-skip-next-circle:before {
  content: "\ea85";
}
.bxr-skip-previous:before {
  content: "\ea86";
}
.bxr-skip-previous-circle:before {
  content: "\ea87";
}
.bxr-skull:before {
  content: "\ea88";
}
.bxr-slider:before {
  content: "\ea89";
}
.bxr-slider-alt:before {
  content: "\ea8a";
}
.bxr-smiley-happy:before {
  content: "\ea8b";
}
.bxr-smiley-meh:before {
  content: "\ea8c";
}
.bxr-smiley-sad:before {
  content: "\ea8d";
}
.bxr-snowflake:before {
  content: "\ea8e";
}
.bxr-sort:before {
  content: "\ea8f";
}
.bxr-sort-alt:before {
  content: "\ea90";
}
.bxr-sort-down:before {
  content: "\ea91";
}
.bxr-sort-up:before {
  content: "\ea92";
}
.bxr-spreadsheet:before {
  content: "\ea93";
}
.bxr-star:before {
  content: "\ea94";
}
.bxr-station:before {
  content: "\ea95";
}
.bxr-stats:before {
  content: "\ea96";
}
.bxr-stop:before {
  content: "\ea97";
}
.bxr-stop-circle:before {
  content: "\ea98";
}
.bxr-stopwatch:before {
  content: "\ea99";
}
.bxr-store:before {
  content: "\ea9a";
}
.bxr-strikethrough:before {
  content: "\ea9b";
}
.bxr-subdirectory-left:before {
  content: "\ea9c";
}
.bxr-subdirectory-right:before {
  content: "\ea9d";
}
.bxr-sun:before {
  content: "\ea9e";
}
.bxr-support:before {
  content: "\ea9f";
}
.bxr-swim:before {
  content: "\eaa0";
}
.bxr-sync:before {
  content: "\eaa1";
}
.bxr-tab:before {
  content: "\eaa2";
}
.bxr-table:before {
  content: "\eaa3";
}
.bxr-tag:before {
  content: "\eaa4";
}
.bxr-tag-x:before {
  content: "\eaa5";
}
.bxr-target-lock:before {
  content: "\eaa6";
}
.bxr-task:before {
  content: "\eaa7";
}
.bxr-taxi:before {
  content: "\eaa8";
}
.bxr-tennis-ball:before {
  content: "\eaa9";
}
.bxr-terminal:before {
  content: "\eaaa";
}
.bxr-test-tube:before {
  content: "\eaab";
}
.bxr-text:before {
  content: "\eaac";
}
.bxr-thermometer:before {
  content: "\eaad";
}
.bxr-time:before {
  content: "\eaae";
}
.bxr-timer:before {
  content: "\eaaf";
}
.bxr-toggle:before {
  content: "\eab0";
}
.bxr-toggle-left:before {
  content: "\eab1";
}
.bxr-toggle-right:before {
  content: "\eab2";
}
.bxr-torch:before {
  content: "\eab3";
}
.bxr-train:before {
  content: "\eab4";
}
.bxr-transfer:before {
  content: "\eab5";
}
.bxr-trash:before {
  content: "\eab6";
}
.bxr-trash-alt:before {
  content: "\eab7";
}
.bxr-trending-down:before {
  content: "\eab8";
}
.bxr-trending-up:before {
  content: "\eab9";
}
.bxr-triangle:before {
  content: "\eaba";
}
.bxr-trophy:before {
  content: "\eabb";
}
.bxr-trophy-star:before {
  content: "\eabc";
}
.bxr-truck:before {
  content: "\eabd";
}
.bxr-t-shirt:before {
  content: "\eabe";
}
.bxr-tv:before {
  content: "\eabf";
}
.bxr-underline:before {
  content: "\eac0";
}
.bxr-undo:before {
  content: "\eac1";
}
.bxr-up-arrow:before {
  content: "\eac2";
}
.bxr-up-arrow-circle:before {
  content: "\eac3";
}
.bxr-upload:before {
  content: "\eac4";
}
.bxr-upvote:before {
  content: "\eac5";
}
.bxr-usb:before {
  content: "\eac6";
}
.bxr-user:before {
  content: "\eac7";
}
.bxr-user-check:before {
  content: "\eac8";
}
.bxr-user-circle:before {
  content: "\eac9";
}
.bxr-user-detail:before {
  content: "\eaca";
}
.bxr-user-minus:before {
  content: "\eacb";
}
.bxr-user-plus:before {
  content: "\eacc";
}
.bxr-user-x:before {
  content: "\eacd";
}
.bxr-vertical-center:before {
  content: "\eace";
}
.bxr-video:before {
  content: "\eacf";
}
.bxr-video-off:before {
  content: "\ead0";
}
.bxr-video-plus:before {
  content: "\ead1";
}
.bxr-videos:before {
  content: "\ead2";
}
.bxr-voicemail:before {
  content: "\ead3";
}
.bxr-volume:before {
  content: "\ead4";
}
.bxr-volume-full:before {
  content: "\ead5";
}
.bxr-volume-low:before {
  content: "\ead6";
}
.bxr-volume-mute:before {
  content: "\ead7";
}
.bxr-wallet:before {
  content: "\ead8";
}
.bxr-watch:before {
  content: "\ead9";
}
.bxr-watch-alt:before {
  content: "\eada";
}
.bxr-water:before {
  content: "\eadb";
}
.bxr-widget:before {
  content: "\eadc";
}
.bxr-wifi:before {
  content: "\eadd";
}
.bxr-wind:before {
  content: "\eade";
}
.bxr-window:before {
  content: "\eadf";
}
.bxr-window-close:before {
  content: "\eae0";
}
.bxr-window-open:before {
  content: "\eae1";
}
.bxr-windows:before {
  content: "\eae2";
}
.bxr-world:before {
  content: "\eae3";
}
.bxr-wrench:before {
  content: "\eae4";
}
.bxr-x:before {
  content: "\eae5";
}
.bxr-x-circle:before {
  content: "\eae6";
}
.bxr-x-square:before {
  content: "\eae7";
}
.bxr-zap:before {
  content: "\eae8";
}
.bxr-zoom-in:before {
  content: "\eae9";
}
.bxr-zoom-out:before {
  content: "\eaea";
}

