/**
 * Boxicons Regular, 2.0.5
 * Created by Atisa
 * https://github.com/atisawd/boxicons#readme
 * (CC-BY-4.0 OR OFL-1.1 OR MIT) License
 */
@charset "UTF-8";

@font-face {
  font-family: "boxicons-regular";
  src: url('boxicons-regular.eot');
  src: url('boxicons-regular.eot?#iefix') format('eot'),
    url('boxicons-regular.woff2') format('woff2'),
    url('boxicons-regular.woff') format('woff'),
    url('boxicons-regular.ttf') format('truetype'),
    url('boxicons-regular.svg#boxicons-regular') format('svg');
}

.bxr {
  font-family: "boxicons-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.bxr-abacus:before {
  content: "\e971";
}
.bxr-accessibility:before {
  content: "\e972";
}
.bxr-add-to-queue:before {
  content: "\e973";
}
.bxr-adjust:before {
  content: "\e974";
}
.bxr-alarm:before {
  content: "\e975";
}
.bxr-alarm-add:before {
  content: "\e976";
}
.bxr-alarm-exclamation:before {
  content: "\e977";
}
.bxr-alarm-off:before {
  content: "\e978";
}
.bxr-alarm-snooze:before {
  content: "\e979";
}
.bxr-album:before {
  content: "\e97a";
}
.bxr-align-justify:before {
  content: "\e97b";
}
.bxr-align-left:before {
  content: "\e97c";
}
.bxr-align-middle:before {
  content: "\e97d";
}
.bxr-align-right:before {
  content: "\e97e";
}
.bxr-analyse:before {
  content: "\e97f";
}
.bxr-anchor:before {
  content: "\e980";
}
.bxr-angry:before {
  content: "\e981";
}
.bxr-aperture:before {
  content: "\e982";
}
.bxr-arch:before {
  content: "\e983";
}
.bxr-archive:before {
  content: "\e984";
}
.bxr-archive-in:before {
  content: "\e985";
}
.bxr-archive-out:before {
  content: "\e986";
}
.bxr-area:before {
  content: "\e987";
}
.bxr-arrow-back:before {
  content: "\e988";
}
.bxr-arrow-from-bottom:before {
  content: "\e989";
}
.bxr-arrow-from-left:before {
  content: "\e98a";
}
.bxr-arrow-from-right:before {
  content: "\e98b";
}
.bxr-arrow-from-top:before {
  content: "\e98c";
}
.bxr-arrow-to-bottom:before {
  content: "\e98d";
}
.bxr-arrow-to-left:before {
  content: "\e98e";
}
.bxr-arrow-to-right:before {
  content: "\e98f";
}
.bxr-arrow-to-top:before {
  content: "\e990";
}
.bxr-at:before {
  content: "\e991";
}
.bxr-atom:before {
  content: "\e992";
}
.bxr-award:before {
  content: "\e993";
}
.bxr-badge:before {
  content: "\e994";
}
.bxr-badge-check:before {
  content: "\e995";
}
.bxr-ball:before {
  content: "\e996";
}
.bxr-band-aid:before {
  content: "\e997";
}
.bxr-bar-chart:before {
  content: "\e998";
}
.bxr-bar-chart-alt:before {
  content: "\e999";
}
.bxr-bar-chart-alt-2:before {
  content: "\e99a";
}
.bxr-bar-chart-square:before {
  content: "\e99b";
}
.bxr-barcode:before {
  content: "\e99c";
}
.bxr-barcode-reader:before {
  content: "\e99d";
}
.bxr-baseball:before {
  content: "\e99e";
}
.bxr-basket:before {
  content: "\e99f";
}
.bxr-basketball:before {
  content: "\e9a0";
}
.bxr-bath:before {
  content: "\e9a1";
}
.bxr-battery:before {
  content: "\e9a2";
}
.bxr-bed:before {
  content: "\e9a3";
}
.bxr-been-here:before {
  content: "\e9a4";
}
.bxr-beer:before {
  content: "\e9a5";
}
.bxr-bell:before {
  content: "\e9a6";
}
.bxr-bell-minus:before {
  content: "\e9a7";
}
.bxr-bell-off:before {
  content: "\e9a8";
}
.bxr-bell-plus:before {
  content: "\e9a9";
}
.bxr-bible:before {
  content: "\e9aa";
}
.bxr-bitcoin:before {
  content: "\e9ab";
}
.bxr-blanket:before {
  content: "\e9ac";
}
.bxr-block:before {
  content: "\e9ad";
}
.bxr-bluetooth:before {
  content: "\e9ae";
}
.bxr-body:before {
  content: "\e9af";
}
.bxr-bold:before {
  content: "\e9b0";
}
.bxr-bolt-circle:before {
  content: "\e9b1";
}
.bxr-bomb:before {
  content: "\e9b2";
}
.bxr-bone:before {
  content: "\e9b3";
}
.bxr-bong:before {
  content: "\e9b4";
}
.bxr-book:before {
  content: "\e9b5";
}
.bxr-book-add:before {
  content: "\e9b6";
}
.bxr-book-alt:before {
  content: "\e9b7";
}
.bxr-book-bookmark:before {
  content: "\e9b8";
}
.bxr-book-content:before {
  content: "\e9b9";
}
.bxr-book-heart:before {
  content: "\e9ba";
}
.bxr-bookmark:before {
  content: "\e9bb";
}
.bxr-bookmark-minus:before {
  content: "\e9bc";
}
.bxr-bookmark-plus:before {
  content: "\e9bd";
}
.bxr-bookmarks:before {
  content: "\e9be";
}
.bxr-book-open:before {
  content: "\e9bf";
}
.bxr-book-reader:before {
  content: "\e9c0";
}
.bxr-border-all:before {
  content: "\e9c1";
}
.bxr-border-bottom:before {
  content: "\e9c2";
}
.bxr-border-inner:before {
  content: "\e9c3";
}
.bxr-border-left:before {
  content: "\e9c4";
}
.bxr-border-none:before {
  content: "\e9c5";
}
.bxr-border-outer:before {
  content: "\e9c6";
}
.bxr-border-radius:before {
  content: "\e9c7";
}
.bxr-border-right:before {
  content: "\e9c8";
}
.bxr-border-top:before {
  content: "\e9c9";
}
.bxr-bot:before {
  content: "\e9ca";
}
.bxr-bowling-ball:before {
  content: "\e9cb";
}
.bxr-box:before {
  content: "\e9cc";
}
.bxr-bracket:before {
  content: "\e9cd";
}
.bxr-braille:before {
  content: "\e9ce";
}
.bxr-brain:before {
  content: "\e9cf";
}
.bxr-briefcase:before {
  content: "\e9d0";
}
.bxr-briefcase-alt:before {
  content: "\e9d1";
}
.bxr-briefcase-alt-2:before {
  content: "\e9d2";
}
.bxr-brightness:before {
  content: "\e9d3";
}
.bxr-brightness-half:before {
  content: "\e9d4";
}
.bxr-broadcast:before {
  content: "\e9d5";
}
.bxr-brush:before {
  content: "\e9d6";
}
.bxr-brush-alt:before {
  content: "\e9d7";
}
.bxr-bug:before {
  content: "\e9d8";
}
.bxr-bug-alt:before {
  content: "\e9d9";
}
.bxr-building:before {
  content: "\e9da";
}
.bxr-building-house:before {
  content: "\e9db";
}
.bxr-buildings:before {
  content: "\e9dc";
}
.bxr-bulb:before {
  content: "\e9dd";
}
.bxr-bullseye:before {
  content: "\e9de";
}
.bxr-buoy:before {
  content: "\e9df";
}
.bxr-bus:before {
  content: "\e9e0";
}
.bxr-bus-school:before {
  content: "\e9e1";
}
.bxr-cabinet:before {
  content: "\e9e2";
}
.bxr-cake:before {
  content: "\e9e3";
}
.bxr-calculator:before {
  content: "\e9e4";
}
.bxr-calendar:before {
  content: "\e9e5";
}
.bxr-calendar-alt:before {
  content: "\e9e6";
}
.bxr-calendar-check:before {
  content: "\e9e7";
}
.bxr-calendar-edit:before {
  content: "\e9e8";
}
.bxr-calendar-event:before {
  content: "\e9e9";
}
.bxr-calendar-exclamation:before {
  content: "\e9ea";
}
.bxr-calendar-heart:before {
  content: "\e9eb";
}
.bxr-calendar-minus:before {
  content: "\e9ec";
}
.bxr-calendar-plus:before {
  content: "\e9ed";
}
.bxr-calendar-star:before {
  content: "\e9ee";
}
.bxr-calendar-week:before {
  content: "\e9ef";
}
.bxr-calendar-x:before {
  content: "\e9f0";
}
.bxr-camera:before {
  content: "\e9f1";
}
.bxr-camera-home:before {
  content: "\e9f2";
}
.bxr-camera-movie:before {
  content: "\e9f3";
}
.bxr-camera-off:before {
  content: "\e9f4";
}
.bxr-capsule:before {
  content: "\e9f5";
}
.bxr-captions:before {
  content: "\e9f6";
}
.bxr-car:before {
  content: "\e9f7";
}
.bxr-card:before {
  content: "\e9f8";
}
.bxr-caret-down:before {
  content: "\e9f9";
}
.bxr-caret-down-circle:before {
  content: "\e9fa";
}
.bxr-caret-down-square:before {
  content: "\e9fb";
}
.bxr-caret-left:before {
  content: "\e9fc";
}
.bxr-caret-left-circle:before {
  content: "\e9fd";
}
.bxr-caret-left-square:before {
  content: "\e9fe";
}
.bxr-caret-right:before {
  content: "\e9ff";
}
.bxr-caret-right-circle:before {
  content: "\ea00";
}
.bxr-caret-right-square:before {
  content: "\ea01";
}
.bxr-caret-up:before {
  content: "\ea02";
}
.bxr-caret-up-circle:before {
  content: "\ea03";
}
.bxr-caret-up-square:before {
  content: "\ea04";
}
.bxr-carousel:before {
  content: "\ea05";
}
.bxr-cart:before {
  content: "\ea06";
}
.bxr-cart-alt:before {
  content: "\ea07";
}
.bxr-cast:before {
  content: "\ea08";
}
.bxr-cctv:before {
  content: "\ea09";
}
.bxr-certification:before {
  content: "\ea0a";
}
.bxr-chair:before {
  content: "\ea0b";
}
.bxr-chalkboard:before {
  content: "\ea0c";
}
.bxr-chart:before {
  content: "\ea0d";
}
.bxr-chat:before {
  content: "\ea0e";
}
.bxr-check:before {
  content: "\ea0f";
}
.bxr-checkbox:before {
  content: "\ea10";
}
.bxr-checkbox-checked:before {
  content: "\ea11";
}
.bxr-checkbox-square:before {
  content: "\ea12";
}
.bxr-check-circle:before {
  content: "\ea13";
}
.bxr-check-double:before {
  content: "\ea14";
}
.bxr-check-shield:before {
  content: "\ea15";
}
.bxr-check-square:before {
  content: "\ea16";
}
.bxr-chevron-down:before {
  content: "\ea17";
}
.bxr-chevron-down-circle:before {
  content: "\ea18";
}
.bxr-chevron-down-square:before {
  content: "\ea19";
}
.bxr-chevron-left:before {
  content: "\ea1a";
}
.bxr-chevron-left-circle:before {
  content: "\ea1b";
}
.bxr-chevron-left-square:before {
  content: "\ea1c";
}
.bxr-chevron-right:before {
  content: "\ea1d";
}
.bxr-chevron-right-circle:before {
  content: "\ea1e";
}
.bxr-chevron-right-square:before {
  content: "\ea1f";
}
.bxr-chevrons-down:before {
  content: "\ea20";
}
.bxr-chevrons-left:before {
  content: "\ea21";
}
.bxr-chevrons-right:before {
  content: "\ea22";
}
.bxr-chevrons-up:before {
  content: "\ea23";
}
.bxr-chevron-up:before {
  content: "\ea24";
}
.bxr-chevron-up-circle:before {
  content: "\ea25";
}
.bxr-chevron-up-square:before {
  content: "\ea26";
}
.bxr-chip:before {
  content: "\ea27";
}
.bxr-church:before {
  content: "\ea28";
}
.bxr-circle:before {
  content: "\ea29";
}
.bxr-clinic:before {
  content: "\ea2a";
}
.bxr-clipboard:before {
  content: "\ea2b";
}
.bxr-closet:before {
  content: "\ea2c";
}
.bxr-cloud:before {
  content: "\ea2d";
}
.bxr-cloud-download:before {
  content: "\ea2e";
}
.bxr-cloud-drizzle:before {
  content: "\ea2f";
}
.bxr-cloud-lightning:before {
  content: "\ea30";
}
.bxr-cloud-light-rain:before {
  content: "\ea31";
}
.bxr-cloud-rain:before {
  content: "\ea32";
}
.bxr-cloud-snow:before {
  content: "\ea33";
}
.bxr-cloud-upload:before {
  content: "\ea34";
}
.bxr-code:before {
  content: "\ea35";
}
.bxr-code-alt:before {
  content: "\ea36";
}
.bxr-code-block:before {
  content: "\ea37";
}
.bxr-code-curly:before {
  content: "\ea38";
}
.bxr-coffee:before {
  content: "\ea39";
}
.bxr-coffee-togo:before {
  content: "\ea3a";
}
.bxr-cog:before {
  content: "\ea3b";
}
.bxr-coin:before {
  content: "\ea3c";
}
.bxr-coin-stack:before {
  content: "\ea3d";
}
.bxr-collapse:before {
  content: "\ea3e";
}
.bxr-collection:before {
  content: "\ea3f";
}
.bxr-color-fill:before {
  content: "\ea40";
}
.bxr-columns:before {
  content: "\ea41";
}
.bxr-command:before {
  content: "\ea42";
}
.bxr-comment:before {
  content: "\ea43";
}
.bxr-comment-add:before {
  content: "\ea44";
}
.bxr-comment-check:before {
  content: "\ea45";
}
.bxr-comment-detail:before {
  content: "\ea46";
}
.bxr-comment-dots:before {
  content: "\ea47";
}
.bxr-comment-edit:before {
  content: "\ea48";
}
.bxr-comment-error:before {
  content: "\ea49";
}
.bxr-comment-minus:before {
  content: "\ea4a";
}
.bxr-comment-x:before {
  content: "\ea4b";
}
.bxr-compass:before {
  content: "\ea4c";
}
.bxr-confused:before {
  content: "\ea4d";
}
.bxr-conversation:before {
  content: "\ea4e";
}
.bxr-cookie:before {
  content: "\ea4f";
}
.bxr-cool:before {
  content: "\ea50";
}
.bxr-copy:before {
  content: "\ea51";
}
.bxr-copy-alt:before {
  content: "\ea52";
}
.bxr-copyright:before {
  content: "\ea53";
}
.bxr-credit-card:before {
  content: "\ea54";
}
.bxr-credit-card-alt:before {
  content: "\ea55";
}
.bxr-credit-card-front:before {
  content: "\ea56";
}
.bxr-crop:before {
  content: "\ea57";
}
.bxr-crosshair:before {
  content: "\ea58";
}
.bxr-crown:before {
  content: "\ea59";
}
.bxr-cube:before {
  content: "\ea5a";
}
.bxr-cube-alt:before {
  content: "\ea5b";
}
.bxr-cuboid:before {
  content: "\ea5c";
}
.bxr-current-location:before {
  content: "\ea5d";
}
.bxr-customize:before {
  content: "\ea5e";
}
.bxr-cut:before {
  content: "\ea5f";
}
.bxr-cycling:before {
  content: "\ea60";
}
.bxr-cylinder:before {
  content: "\ea61";
}
.bxr-data:before {
  content: "\ea62";
}
.bxr-desktop:before {
  content: "\ea63";
}
.bxr-detail:before {
  content: "\ea64";
}
.bxr-devices:before {
  content: "\ea65";
}
.bxr-dialpad:before {
  content: "\ea66";
}
.bxr-dialpad-alt:before {
  content: "\ea67";
}
.bxr-diamond:before {
  content: "\ea68";
}
.bxr-dice-1:before {
  content: "\ea69";
}
.bxr-dice-2:before {
  content: "\ea6a";
}
.bxr-dice-3:before {
  content: "\ea6b";
}
.bxr-dice-4:before {
  content: "\ea6c";
}
.bxr-dice-5:before {
  content: "\ea6d";
}
.bxr-dice-6:before {
  content: "\ea6e";
}
.bxr-directions:before {
  content: "\ea6f";
}
.bxr-disc:before {
  content: "\ea70";
}
.bxr-dish:before {
  content: "\ea71";
}
.bxr-dislike:before {
  content: "\ea72";
}
.bxr-dizzy:before {
  content: "\ea73";
}
.bxr-dna:before {
  content: "\ea74";
}
.bxr-dock-bottom:before {
  content: "\ea75";
}
.bxr-dock-left:before {
  content: "\ea76";
}
.bxr-dock-right:before {
  content: "\ea77";
}
.bxr-dock-top:before {
  content: "\ea78";
}
.bxr-dollar:before {
  content: "\ea79";
}
.bxr-dollar-circle:before {
  content: "\ea7a";
}
.bxr-donate-blood:before {
  content: "\ea7b";
}
.bxr-donate-heart:before {
  content: "\ea7c";
}
.bxr-door-open:before {
  content: "\ea7d";
}
.bxr-dots-horizontal:before {
  content: "\ea7e";
}
.bxr-dots-horizontal-rounded:before {
  content: "\ea7f";
}
.bxr-dots-vertical:before {
  content: "\ea80";
}
.bxr-dots-vertical-rounded:before {
  content: "\ea81";
}
.bxr-doughnut-chart:before {
  content: "\ea82";
}
.bxr-down-arrow:before {
  content: "\ea83";
}
.bxr-down-arrow-alt:before {
  content: "\ea84";
}
.bxr-down-arrow-circle:before {
  content: "\ea85";
}
.bxr-download:before {
  content: "\ea86";
}
.bxr-downvote:before {
  content: "\ea87";
}
.bxr-drink:before {
  content: "\ea88";
}
.bxr-droplet:before {
  content: "\ea89";
}
.bxr-dumbbell:before {
  content: "\ea8a";
}
.bxr-duplicate:before {
  content: "\ea8b";
}
.bxr-edit:before {
  content: "\ea8c";
}
.bxr-edit-alt:before {
  content: "\ea8d";
}
.bxr-envelope:before {
  content: "\ea8e";
}
.bxr-envelope-open:before {
  content: "\ea8f";
}
.bxr-equalizer:before {
  content: "\ea90";
}
.bxr-eraser:before {
  content: "\ea91";
}
.bxr-error:before {
  content: "\ea92";
}
.bxr-error-alt:before {
  content: "\ea93";
}
.bxr-error-circle:before {
  content: "\ea94";
}
.bxr-euro:before {
  content: "\ea95";
}
.bxr-exclude:before {
  content: "\ea96";
}
.bxr-exit:before {
  content: "\ea97";
}
.bxr-exit-fullscreen:before {
  content: "\ea98";
}
.bxr-expand:before {
  content: "\ea99";
}
.bxr-export:before {
  content: "\ea9a";
}
.bxr-extension:before {
  content: "\ea9b";
}
.bxr-face:before {
  content: "\ea9c";
}
.bxr-fast-forward:before {
  content: "\ea9d";
}
.bxr-fast-forward-circle:before {
  content: "\ea9e";
}
.bxr-female:before {
  content: "\ea9f";
}
.bxr-female-sign:before {
  content: "\eaa0";
}
.bxr-file:before {
  content: "\eaa1";
}
.bxr-file-blank:before {
  content: "\eaa2";
}
.bxr-file-find:before {
  content: "\eaa3";
}
.bxr-film:before {
  content: "\eaa4";
}
.bxr-filter:before {
  content: "\eaa5";
}
.bxr-filter-alt:before {
  content: "\eaa6";
}
.bxr-fingerprint:before {
  content: "\eaa7";
}
.bxr-first-aid:before {
  content: "\eaa8";
}
.bxr-first-page:before {
  content: "\eaa9";
}
.bxr-flag:before {
  content: "\eaaa";
}
.bxr-folder:before {
  content: "\eaab";
}
.bxr-folder-minus:before {
  content: "\eaac";
}
.bxr-folder-open:before {
  content: "\eaad";
}
.bxr-folder-plus:before {
  content: "\eaae";
}
.bxr-font:before {
  content: "\eaaf";
}
.bxr-font-color:before {
  content: "\eab0";
}
.bxr-font-family:before {
  content: "\eab1";
}
.bxr-font-size:before {
  content: "\eab2";
}
.bxr-food-menu:before {
  content: "\eab3";
}
.bxr-food-tag:before {
  content: "\eab4";
}
.bxr-football:before {
  content: "\eab5";
}
.bxr-fridge:before {
  content: "\eab6";
}
.bxr-fullscreen:before {
  content: "\eab7";
}
.bxr-game:before {
  content: "\eab8";
}
.bxr-gas-pump:before {
  content: "\eab9";
}
.bxr-ghost:before {
  content: "\eaba";
}
.bxr-gift:before {
  content: "\eabb";
}
.bxr-git-branch:before {
  content: "\eabc";
}
.bxr-git-commit:before {
  content: "\eabd";
}
.bxr-git-compare:before {
  content: "\eabe";
}
.bxr-git-merge:before {
  content: "\eabf";
}
.bxr-git-pull-request:before {
  content: "\eac0";
}
.bxr-git-repo-forked:before {
  content: "\eac1";
}
.bxr-glasses:before {
  content: "\eac2";
}
.bxr-glasses-alt:before {
  content: "\eac3";
}
.bxr-globe:before {
  content: "\eac4";
}
.bxr-globe-alt:before {
  content: "\eac5";
}
.bxr-grid:before {
  content: "\eac6";
}
.bxr-grid-alt:before {
  content: "\eac7";
}
.bxr-grid-horizontal:before {
  content: "\eac8";
}
.bxr-grid-small:before {
  content: "\eac9";
}
.bxr-grid-vertical:before {
  content: "\eaca";
}
.bxr-group:before {
  content: "\eacb";
}
.bxr-handicap:before {
  content: "\eacc";
}
.bxr-happy:before {
  content: "\eacd";
}
.bxr-happy-alt:before {
  content: "\eace";
}
.bxr-happy-beaming:before {
  content: "\eacf";
}
.bxr-happy-heart-eyes:before {
  content: "\ead0";
}
.bxr-hash:before {
  content: "\ead1";
}
.bxr-hdd:before {
  content: "\ead2";
}
.bxr-heading:before {
  content: "\ead3";
}
.bxr-headphone:before {
  content: "\ead4";
}
.bxr-health:before {
  content: "\ead5";
}
.bxr-heart:before {
  content: "\ead6";
}
.bxr-heart-circle:before {
  content: "\ead7";
}
.bxr-heart-square:before {
  content: "\ead8";
}
.bxr-help-circle:before {
  content: "\ead9";
}
.bxr-hide:before {
  content: "\eada";
}
.bxr-highlight:before {
  content: "\eadb";
}
.bxr-history:before {
  content: "\eadc";
}
.bxr-hive:before {
  content: "\eadd";
}
.bxr-home:before {
  content: "\eade";
}
.bxr-home-alt:before {
  content: "\eadf";
}
.bxr-home-circle:before {
  content: "\eae0";
}
.bxr-home-heart:before {
  content: "\eae1";
}
.bxr-home-smile:before {
  content: "\eae2";
}
.bxr-horizontal-center:before {
  content: "\eae3";
}
.bxr-hotel:before {
  content: "\eae4";
}
.bxr-hourglass:before {
  content: "\eae5";
}
.bxr-id-card:before {
  content: "\eae6";
}
.bxr-image:before {
  content: "\eae7";
}
.bxr-image-add:before {
  content: "\eae8";
}
.bxr-image-alt:before {
  content: "\eae9";
}
.bxr-images:before {
  content: "\eaea";
}
.bxr-import:before {
  content: "\eaeb";
}
.bxr-infinite:before {
  content: "\eaec";
}
.bxr-info-circle:before {
  content: "\eaed";
}
.bxr-info-square:before {
  content: "\eaee";
}
.bxr-intersect:before {
  content: "\eaef";
}
.bxr-italic:before {
  content: "\eaf0";
}
.bxr-joystick:before {
  content: "\eaf1";
}
.bxr-joystick-alt:before {
  content: "\eaf2";
}
.bxr-joystick-button:before {
  content: "\eaf3";
}
.bxr-key:before {
  content: "\eaf4";
}
.bxr-label:before {
  content: "\eaf5";
}
.bxr-landscape:before {
  content: "\eaf6";
}
.bxr-laptop:before {
  content: "\eaf7";
}
.bxr-last-page:before {
  content: "\eaf8";
}
.bxr-laugh:before {
  content: "\eaf9";
}
.bxr-layer:before {
  content: "\eafa";
}
.bxr-layer-minus:before {
  content: "\eafb";
}
.bxr-layer-plus:before {
  content: "\eafc";
}
.bxr-layout:before {
  content: "\eafd";
}
.bxr-left-arrow:before {
  content: "\eafe";
}
.bxr-left-arrow-alt:before {
  content: "\eaff";
}
.bxr-left-arrow-circle:before {
  content: "\eb00";
}
.bxr-left-down-arrow-circle:before {
  content: "\eb01";
}
.bxr-left-indent:before {
  content: "\eb02";
}
.bxr-left-top-arrow-circle:before {
  content: "\eb03";
}
.bxr-like:before {
  content: "\eb04";
}
.bxr-line-chart:before {
  content: "\eb05";
}
.bxr-line-chart-down:before {
  content: "\eb06";
}
.bxr-link:before {
  content: "\eb07";
}
.bxr-link-alt:before {
  content: "\eb08";
}
.bxr-link-external:before {
  content: "\eb09";
}
.bxr-lira:before {
  content: "\eb0a";
}
.bxr-list-check:before {
  content: "\eb0b";
}
.bxr-list-minus:before {
  content: "\eb0c";
}
.bxr-list-ol:before {
  content: "\eb0d";
}
.bxr-list-plus:before {
  content: "\eb0e";
}
.bxr-list-ul:before {
  content: "\eb0f";
}
.bxr-loader:before {
  content: "\eb10";
}
.bxr-loader-alt:before {
  content: "\eb11";
}
.bxr-loader-circle:before {
  content: "\eb12";
}
.bxr-location-plus:before {
  content: "\eb13";
}
.bxr-lock:before {
  content: "\eb14";
}
.bxr-lock-alt:before {
  content: "\eb15";
}
.bxr-lock-open:before {
  content: "\eb16";
}
.bxr-lock-open-alt:before {
  content: "\eb17";
}
.bxr-log-in:before {
  content: "\eb18";
}
.bxr-log-in-circle:before {
  content: "\eb19";
}
.bxr-log-out:before {
  content: "\eb1a";
}
.bxr-log-out-circle:before {
  content: "\eb1b";
}
.bxr-low-vision:before {
  content: "\eb1c";
}
.bxr-magnet:before {
  content: "\eb1d";
}
.bxr-mail-send:before {
  content: "\eb1e";
}
.bxr-male:before {
  content: "\eb1f";
}
.bxr-male-sign:before {
  content: "\eb20";
}
.bxr-map:before {
  content: "\eb21";
}
.bxr-map-alt:before {
  content: "\eb22";
}
.bxr-map-pin:before {
  content: "\eb23";
}
.bxr-mask:before {
  content: "\eb24";
}
.bxr-medal:before {
  content: "\eb25";
}
.bxr-meh:before {
  content: "\eb26";
}
.bxr-meh-alt:before {
  content: "\eb27";
}
.bxr-meh-blank:before {
  content: "\eb28";
}
.bxr-memory-card:before {
  content: "\eb29";
}
.bxr-menu:before {
  content: "\eb2a";
}
.bxr-menu-alt-left:before {
  content: "\eb2b";
}
.bxr-menu-alt-right:before {
  content: "\eb2c";
}
.bxr-merge:before {
  content: "\eb2d";
}
.bxr-message:before {
  content: "\eb2e";
}
.bxr-message-add:before {
  content: "\eb2f";
}
.bxr-message-alt:before {
  content: "\eb30";
}
.bxr-message-alt-add:before {
  content: "\eb31";
}
.bxr-message-alt-check:before {
  content: "\eb32";
}
.bxr-message-alt-detail:before {
  content: "\eb33";
}
.bxr-message-alt-dots:before {
  content: "\eb34";
}
.bxr-message-alt-edit:before {
  content: "\eb35";
}
.bxr-message-alt-error:before {
  content: "\eb36";
}
.bxr-message-alt-minus:before {
  content: "\eb37";
}
.bxr-message-alt-x:before {
  content: "\eb38";
}
.bxr-message-check:before {
  content: "\eb39";
}
.bxr-message-detail:before {
  content: "\eb3a";
}
.bxr-message-dots:before {
  content: "\eb3b";
}
.bxr-message-edit:before {
  content: "\eb3c";
}
.bxr-message-error:before {
  content: "\eb3d";
}
.bxr-message-minus:before {
  content: "\eb3e";
}
.bxr-message-rounded:before {
  content: "\eb3f";
}
.bxr-message-rounded-add:before {
  content: "\eb40";
}
.bxr-message-rounded-check:before {
  content: "\eb41";
}
.bxr-message-rounded-detail:before {
  content: "\eb42";
}
.bxr-message-rounded-dots:before {
  content: "\eb43";
}
.bxr-message-rounded-edit:before {
  content: "\eb44";
}
.bxr-message-rounded-error:before {
  content: "\eb45";
}
.bxr-message-rounded-minus:before {
  content: "\eb46";
}
.bxr-message-rounded-x:before {
  content: "\eb47";
}
.bxr-message-square:before {
  content: "\eb48";
}
.bxr-message-square-add:before {
  content: "\eb49";
}
.bxr-message-square-check:before {
  content: "\eb4a";
}
.bxr-message-square-detail:before {
  content: "\eb4b";
}
.bxr-message-square-dots:before {
  content: "\eb4c";
}
.bxr-message-square-edit:before {
  content: "\eb4d";
}
.bxr-message-square-error:before {
  content: "\eb4e";
}
.bxr-message-square-minus:before {
  content: "\eb4f";
}
.bxr-message-square-x:before {
  content: "\eb50";
}
.bxr-message-x:before {
  content: "\eb51";
}
.bxr-meteor:before {
  content: "\eb52";
}
.bxr-microchip:before {
  content: "\eb53";
}
.bxr-microphone:before {
  content: "\eb54";
}
.bxr-microphone-off:before {
  content: "\eb55";
}
.bxr-minus:before {
  content: "\eb56";
}
.bxr-minus-back:before {
  content: "\eb57";
}
.bxr-minus-circle:before {
  content: "\eb58";
}
.bxr-minus-front:before {
  content: "\eb59";
}
.bxr-mobile:before {
  content: "\eb5a";
}
.bxr-mobile-alt:before {
  content: "\eb5b";
}
.bxr-mobile-landscape:before {
  content: "\eb5c";
}
.bxr-mobile-vibration:before {
  content: "\eb5d";
}
.bxr-money:before {
  content: "\eb5e";
}
.bxr-moon:before {
  content: "\eb5f";
}
.bxr-mouse:before {
  content: "\eb60";
}
.bxr-mouse-alt:before {
  content: "\eb61";
}
.bxr-move:before {
  content: "\eb62";
}
.bxr-move-horizontal:before {
  content: "\eb63";
}
.bxr-move-vertical:before {
  content: "\eb64";
}
.bxr-movie:before {
  content: "\eb65";
}
.bxr-music:before {
  content: "\eb66";
}
.bxr-navigation:before {
  content: "\eb67";
}
.bxr-network-chart:before {
  content: "\eb68";
}
.bxr-news:before {
  content: "\eb69";
}
.bxr-no-entry:before {
  content: "\eb6a";
}
.bxr-note:before {
  content: "\eb6b";
}
.bxr-notepad:before {
  content: "\eb6c";
}
.bxr-notification:before {
  content: "\eb6d";
}
.bxr-notification-off:before {
  content: "\eb6e";
}
.bxr-outline:before {
  content: "\eb6f";
}
.bxr-package:before {
  content: "\eb70";
}
.bxr-paint:before {
  content: "\eb71";
}
.bxr-paint-roll:before {
  content: "\eb72";
}
.bxr-palette:before {
  content: "\eb73";
}
.bxr-paperclip:before {
  content: "\eb74";
}
.bxr-paper-plane:before {
  content: "\eb75";
}
.bxr-paragraph:before {
  content: "\eb76";
}
.bxr-paste:before {
  content: "\eb77";
}
.bxr-pause:before {
  content: "\eb78";
}
.bxr-pause-circle:before {
  content: "\eb79";
}
.bxr-pen:before {
  content: "\eb7a";
}
.bxr-pencil:before {
  content: "\eb7b";
}
.bxr-phone:before {
  content: "\eb7c";
}
.bxr-phone-call:before {
  content: "\eb7d";
}
.bxr-phone-incoming:before {
  content: "\eb7e";
}
.bxr-phone-outgoing:before {
  content: "\eb7f";
}
.bxr-photo-album:before {
  content: "\eb80";
}
.bxr-pie-chart:before {
  content: "\eb81";
}
.bxr-pie-chart-alt:before {
  content: "\eb82";
}
.bxr-pie-chart-alt-2:before {
  content: "\eb83";
}
.bxr-pin:before {
  content: "\eb84";
}
.bxr-planet:before {
  content: "\eb85";
}
.bxr-play:before {
  content: "\eb86";
}
.bxr-play-circle:before {
  content: "\eb87";
}
.bxr-plug:before {
  content: "\eb88";
}
.bxr-plus:before {
  content: "\eb89";
}
.bxr-plus-circle:before {
  content: "\eb8a";
}
.bxr-plus-medical:before {
  content: "\eb8b";
}
.bxr-pointer:before {
  content: "\eb8c";
}
.bxr-poll:before {
  content: "\eb8d";
}
.bxr-polygon:before {
  content: "\eb8e";
}
.bxr-pound:before {
  content: "\eb8f";
}
.bxr-power-off:before {
  content: "\eb90";
}
.bxr-printer:before {
  content: "\eb91";
}
.bxr-pulse:before {
  content: "\eb92";
}
.bxr-purchase-tag:before {
  content: "\eb93";
}
.bxr-purchase-tag-alt:before {
  content: "\eb94";
}
.bxr-pyramid:before {
  content: "\eb95";
}
.bxr-question-mark:before {
  content: "\eb96";
}
.bxr-radar:before {
  content: "\eb97";
}
.bxr-radio:before {
  content: "\eb98";
}
.bxr-radio-circle:before {
  content: "\eb99";
}
.bxr-radio-circle-marked:before {
  content: "\eb9a";
}
.bxr-receipt:before {
  content: "\eb9b";
}
.bxr-rectangle:before {
  content: "\eb9c";
}
.bxr-recycle:before {
  content: "\eb9d";
}
.bxr-redo:before {
  content: "\eb9e";
}
.bxr-refresh:before {
  content: "\eb9f";
}
.bxr-rename:before {
  content: "\eba0";
}
.bxr-repeat:before {
  content: "\eba1";
}
.bxr-reply:before {
  content: "\eba2";
}
.bxr-reply-all:before {
  content: "\eba3";
}
.bxr-repost:before {
  content: "\eba4";
}
.bxr-reset:before {
  content: "\eba5";
}
.bxr-restaurant:before {
  content: "\eba6";
}
.bxr-revision:before {
  content: "\eba7";
}
.bxr-rewind:before {
  content: "\eba8";
}
.bxr-rewind-circle:before {
  content: "\eba9";
}
.bxr-right-arrow:before {
  content: "\ebaa";
}
.bxr-right-arrow-alt:before {
  content: "\ebab";
}
.bxr-right-arrow-circle:before {
  content: "\ebac";
}
.bxr-right-down-arrow-circle:before {
  content: "\ebad";
}
.bxr-right-indent:before {
  content: "\ebae";
}
.bxr-right-top-arrow-circle:before {
  content: "\ebaf";
}
.bxr-rocket:before {
  content: "\ebb0";
}
.bxr-rotate-left:before {
  content: "\ebb1";
}
.bxr-rotate-right:before {
  content: "\ebb2";
}
.bxr-rss:before {
  content: "\ebb3";
}
.bxr-ruble:before {
  content: "\ebb4";
}
.bxr-ruler:before {
  content: "\ebb5";
}
.bxr-run:before {
  content: "\ebb6";
}
.bxr-rupee:before {
  content: "\ebb7";
}
.bxr-sad:before {
  content: "\ebb8";
}
.bxr-save:before {
  content: "\ebb9";
}
.bxr-scan:before {
  content: "\ebba";
}
.bxr-screenshot:before {
  content: "\ebbb";
}
.bxr-search:before {
  content: "\ebbc";
}
.bxr-search-alt:before {
  content: "\ebbd";
}
.bxr-search-alt-2:before {
  content: "\ebbe";
}
.bxr-selection:before {
  content: "\ebbf";
}
.bxr-select-multiple:before {
  content: "\ebc0";
}
.bxr-send:before {
  content: "\ebc1";
}
.bxr-server:before {
  content: "\ebc2";
}
.bxr-shape-circle:before {
  content: "\ebc3";
}
.bxr-shape-polygon:before {
  content: "\ebc4";
}
.bxr-shape-square:before {
  content: "\ebc5";
}
.bxr-shape-triangle:before {
  content: "\ebc6";
}
.bxr-share:before {
  content: "\ebc7";
}
.bxr-share-alt:before {
  content: "\ebc8";
}
.bxr-shekel:before {
  content: "\ebc9";
}
.bxr-shield:before {
  content: "\ebca";
}
.bxr-shield-alt:before {
  content: "\ebcb";
}
.bxr-shield-alt-2:before {
  content: "\ebcc";
}
.bxr-shield-quarter:before {
  content: "\ebcd";
}
.bxr-shield-x:before {
  content: "\ebce";
}
.bxr-shocked:before {
  content: "\ebcf";
}
.bxr-shopping-bag:before {
  content: "\ebd0";
}
.bxr-show:before {
  content: "\ebd1";
}
.bxr-show-alt:before {
  content: "\ebd2";
}
.bxr-shuffle:before {
  content: "\ebd3";
}
.bxr-sidebar:before {
  content: "\ebd4";
}
.bxr-sitemap:before {
  content: "\ebd5";
}
.bxr-skip-next:before {
  content: "\ebd6";
}
.bxr-skip-next-circle:before {
  content: "\ebd7";
}
.bxr-skip-previous:before {
  content: "\ebd8";
}
.bxr-skip-previous-circle:before {
  content: "\ebd9";
}
.bxr-sleepy:before {
  content: "\ebda";
}
.bxr-slider:before {
  content: "\ebdb";
}
.bxr-slider-alt:before {
  content: "\ebdc";
}
.bxr-slideshow:before {
  content: "\ebdd";
}
.bxr-smile:before {
  content: "\ebde";
}
.bxr-sort:before {
  content: "\ebdf";
}
.bxr-sort-a-z:before {
  content: "\ebe0";
}
.bxr-sort-down:before {
  content: "\ebe1";
}
.bxr-sort-up:before {
  content: "\ebe2";
}
.bxr-sort-z-a:before {
  content: "\ebe3";
}
.bxr-spa:before {
  content: "\ebe4";
}
.bxr-space-bar:before {
  content: "\ebe5";
}
.bxr-spray-can:before {
  content: "\ebe6";
}
.bxr-spreadsheet:before {
  content: "\ebe7";
}
.bxr-square:before {
  content: "\ebe8";
}
.bxr-square-rounded:before {
  content: "\ebe9";
}
.bxr-star:before {
  content: "\ebea";
}
.bxr-station:before {
  content: "\ebeb";
}
.bxr-stats:before {
  content: "\ebec";
}
.bxr-sticker:before {
  content: "\ebed";
}
.bxr-stop:before {
  content: "\ebee";
}
.bxr-stop-circle:before {
  content: "\ebef";
}
.bxr-stopwatch:before {
  content: "\ebf0";
}
.bxr-store:before {
  content: "\ebf1";
}
.bxr-store-alt:before {
  content: "\ebf2";
}
.bxr-street-view:before {
  content: "\ebf3";
}
.bxr-strikethrough:before {
  content: "\ebf4";
}
.bxr-subdirectory-left:before {
  content: "\ebf5";
}
.bxr-subdirectory-right:before {
  content: "\ebf6";
}
.bxr-sun:before {
  content: "\ebf7";
}
.bxr-support:before {
  content: "\ebf8";
}
.bxr-swim:before {
  content: "\ebf9";
}
.bxr-sync:before {
  content: "\ebfa";
}
.bxr-tab:before {
  content: "\ebfb";
}
.bxr-table:before {
  content: "\ebfc";
}
.bxr-tachometer:before {
  content: "\ebfd";
}
.bxr-tag:before {
  content: "\ebfe";
}
.bxr-target-lock:before {
  content: "\ebff";
}
.bxr-task:before {
  content: "\ec00";
}
.bxr-task-x:before {
  content: "\ec01";
}
.bxr-taxi:before {
  content: "\ec02";
}
.bxr-tennis-ball:before {
  content: "\ec03";
}
.bxr-terminal:before {
  content: "\ec04";
}
.bxr-test-tube:before {
  content: "\ec05";
}
.bxr-text:before {
  content: "\ec06";
}
.bxr-time:before {
  content: "\ec07";
}
.bxr-time-five:before {
  content: "\ec08";
}
.bxr-timer:before {
  content: "\ec09";
}
.bxr-tired:before {
  content: "\ec0a";
}
.bxr-toggle-left:before {
  content: "\ec0b";
}
.bxr-toggle-right:before {
  content: "\ec0c";
}
.bxr-tone:before {
  content: "\ec0d";
}
.bxr-traffic-cone:before {
  content: "\ec0e";
}
.bxr-train:before {
  content: "\ec0f";
}
.bxr-transfer:before {
  content: "\ec10";
}
.bxr-transfer-alt:before {
  content: "\ec11";
}
.bxr-trash:before {
  content: "\ec12";
}
.bxr-trash-alt:before {
  content: "\ec13";
}
.bxr-trending-down:before {
  content: "\ec14";
}
.bxr-trending-up:before {
  content: "\ec15";
}
.bxr-trim:before {
  content: "\ec16";
}
.bxr-trophy:before {
  content: "\ec17";
}
.bxr-tv:before {
  content: "\ec18";
}
.bxr-underline:before {
  content: "\ec19";
}
.bxr-undo:before {
  content: "\ec1a";
}
.bxr-unite:before {
  content: "\ec1b";
}
.bxr-unlink:before {
  content: "\ec1c";
}
.bxr-up-arrow:before {
  content: "\ec1d";
}
.bxr-up-arrow-alt:before {
  content: "\ec1e";
}
.bxr-up-arrow-circle:before {
  content: "\ec1f";
}
.bxr-upload:before {
  content: "\ec20";
}
.bxr-upside-down:before {
  content: "\ec21";
}
.bxr-upvote:before {
  content: "\ec22";
}
.bxr-usb:before {
  content: "\ec23";
}
.bxr-user:before {
  content: "\ec24";
}
.bxr-user-check:before {
  content: "\ec25";
}
.bxr-user-circle:before {
  content: "\ec26";
}
.bxr-user-minus:before {
  content: "\ec27";
}
.bxr-user-pin:before {
  content: "\ec28";
}
.bxr-user-plus:before {
  content: "\ec29";
}
.bxr-user-voice:before {
  content: "\ec2a";
}
.bxr-user-x:before {
  content: "\ec2b";
}
.bxr-vector:before {
  content: "\ec2c";
}
.bxr-vertical-center:before {
  content: "\ec2d";
}
.bxr-vial:before {
  content: "\ec2e";
}
.bxr-video:before {
  content: "\ec2f";
}
.bxr-video-off:before {
  content: "\ec30";
}
.bxr-video-plus:before {
  content: "\ec31";
}
.bxr-video-recording:before {
  content: "\ec32";
}
.bxr-voicemail:before {
  content: "\ec33";
}
.bxr-volume:before {
  content: "\ec34";
}
.bxr-volume-full:before {
  content: "\ec35";
}
.bxr-volume-low:before {
  content: "\ec36";
}
.bxr-volume-mute:before {
  content: "\ec37";
}
.bxr-walk:before {
  content: "\ec38";
}
.bxr-wallet:before {
  content: "\ec39";
}
.bxr-wallet-alt:before {
  content: "\ec3a";
}
.bxr-water:before {
  content: "\ec3b";
}
.bxr-webcam:before {
  content: "\ec3c";
}
.bxr-wifi:before {
  content: "\ec3d";
}
.bxr-wifi-0:before {
  content: "\ec3e";
}
.bxr-wifi-1:before {
  content: "\ec3f";
}
.bxr-wifi-2:before {
  content: "\ec40";
}
.bxr-wifi-off:before {
  content: "\ec41";
}
.bxr-wind:before {
  content: "\ec42";
}
.bxr-window:before {
  content: "\ec43";
}
.bxr-window-alt:before {
  content: "\ec44";
}
.bxr-window-close:before {
  content: "\ec45";
}
.bxr-window-open:before {
  content: "\ec46";
}
.bxr-windows:before {
  content: "\ec47";
}
.bxr-wine:before {
  content: "\ec48";
}
.bxr-wink-smile:before {
  content: "\ec49";
}
.bxr-wink-tongue:before {
  content: "\ec4a";
}
.bxr-won:before {
  content: "\ec4b";
}
.bxr-world:before {
  content: "\ec4c";
}
.bxr-wrench:before {
  content: "\ec4d";
}
.bxr-x:before {
  content: "\ec4e";
}
.bxr-x-circle:before {
  content: "\ec4f";
}
.bxr-yen:before {
  content: "\ec50";
}
.bxr-zoom-in:before {
  content: "\ec51";
}
.bxr-zoom-out:before {
  content: "\ec52";
}

