/**
 * Govicons, 1.5.1
 * Created by Mark Ostrander
 * http://govicons.io/
 * (OFL-1.1 AND MIT) License
 */
@charset "UTF-8";

@font-face {
  font-family: "govicons";
  src: url('govicons.eot');
  src: url('govicons.eot?#iefix') format('eot'),
    url('govicons.woff2') format('woff2'),
    url('govicons.woff') format('woff'),
    url('govicons.ttf') format('truetype'),
    url('govicons.svg#govicons') format('svg');
}

.gi {
  font-family: "govicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.gi-540:before {
  content: "\e900";
}
.gi-ambulance:before {
  content: "\e980";
}
.gi-factory:before {
  content: "\e972";
}
.gi-file-excel:before {
  content: "\e973";
}
.gi-file-word:before {
  content: "\e974";
}
.gi-hard-hat:before {
  content: "\e975";
}
.gi-jefferson-memorial:before {
  content: "\e976";
}
.gi-lincoln-memorial:before {
  content: "\e977";
}
.gi-metro-front:before {
  content: "\e978";
}
.gi-pallet:before {
  content: "\e979";
}
.gi-poison:before {
  content: "\e97a";
}
.gi-poison-bottle:before {
  content: "\e97b";
}
.gi-train-front:before {
  content: "\e97c";
}
.gi-wheel-barrow:before {
  content: "\e97d";
}
.gi-white-house:before {
  content: "\e97e";
}
.gi-barcode:before {
  content: "\e95e";
}
.gi-ruler:before {
  content: "\e95f";
}
.gi-construction:before {
  content: "\e960";
}
.gi-fingerprint:before {
  content: "\e961";
}
.gi-nuclear-plant:before {
  content: "\e962";
}
.gi-radioactive:before {
  content: "\e963";
}
.gi-biohazard:before {
  content: "\e964";
}
.gi-microscope:before {
  content: "\e965";
}
.gi-dna:before {
  content: "\e966";
}
.gi-road-sign:before {
  content: "\e967";
}
.gi-road:before {
  content: "\e968";
}
.gi-road-barricade:before {
  content: "\e969";
}
.gi-submarine:before {
  content: "\e96a";
}
.gi-radar:before {
  content: "\e96b";
}
.gi-reticle-dot:before {
  content: "\e96c";
}
.gi-reticle-crosshair:before {
  content: "\e96d";
}
.gi-dogtags:before {
  content: "\e96e";
}
.gi-medal-circle:before {
  content: "\e96f";
}
.gi-medal-star:before {
  content: "\e970";
}
.gi-18f:before {
  content: "\e971";
}
.gi-18F-logo:before {
  content: "\e971";
}
.gi-sol:before {
  content: "\e95c";
}
.gi-statue-of-liberty:before {
  content: "\e95c";
}
.gi-liberty-bell:before {
  content: "\e95d";
}
.gi-users:before {
  content: "\e95a";
}
.gi-user-politician:before {
  content: "\e959";
}
.gi-shield-o:before {
  content: "\e956";
}
.gi-shield:before {
  content: "\e957";
}
.gi-us-shield:before {
  content: "\e958";
}
.gi-missile:before {
  content: "\e954";
}
.gi-satellite:before {
  content: "\e955";
}
.gi-drone:before {
  content: "\e953";
}
.gi-security-camera:before {
  content: "\e94f";
}
.gi-textile:before {
  content: "\e950";
}
.gi-leaf:before {
  content: "\e951";
}
.gi-recycle:before {
  content: "\e952";
}
.gi-comment:before {
  content: "\e90f";
}
.gi-comments:before {
  content: "\e93a";
}
.gi-lightbulb:before {
  content: "\e901";
}
.gi-search:before {
  content: "\e942";
}
.gi-tools:before {
  content: "\e90e";
}
.gi-book:before {
  content: "\e945";
}
.gi-script:before {
  content: "\e902";
}
.gi-clock-o:before {
  content: "\e903";
}
.gi-code:before {
  content: "\e904";
}
.gi-cloud-o:before {
  content: "\e905";
}
.gi-cloud:before {
  content: "\e906";
}
.gi-database:before {
  content: "\e90a";
}
.gi-pie-chart:before {
  content: "\e907";
}
.gi-bar-chart:before {
  content: "\e908";
}
.gi-line-chart:before {
  content: "\e909";
}
.gi-briefcase:before {
  content: "\e929";
}
.gi-medkit:before {
  content: "\e90c";
}
.gi-stethoscope:before {
  content: "\e90d";
}
.gi-heartbeat:before {
  content: "\e90b";
}
.gi-ship-front:before {
  content: "\e911";
}
.gi-bus-front:before {
  content: "\e914";
}
.gi-truck-front:before {
  content: "\e916";
}
.gi-truck:before {
  content: "\e917";
}
.gi-tank:before {
  content: "\e91b";
}
.gi-helicopter:before {
  content: "\e918";
}
.gi-airplane:before {
  content: "\e919";
}
.gi-jet:before {
  content: "\e91a";
}
.gi-gun:before {
  content: "\e915";
}
.gi-ammo:before {
  content: "\e910";
}
.gi-desktop:before {
  content: "\e91c";
}
.gi-mobile-phone:before {
  content: "\e91d";
}
.gi-mobile:before {
  content: "\e91d";
}
.gi-tablet:before {
  content: "\e91e";
}
.gi-times:before {
  content: "\e921";
}
.gi-check:before {
  content: "\e922";
}
.gi-check-square-o:before {
  content: "\e923";
}
.gi-caution:before {
  content: "\e924";
}
.gi-warning:before {
  content: "\e924";
}
.gi-cert:before {
  content: "\e925";
}
.gi-ribbon:before {
  content: "\e925";
}
.gi-key:before {
  content: "\e926";
}
.gi-folder:before {
  content: "\e927";
}
.gi-folder-misc:before {
  content: "\e928";
}
.gi-table:before {
  content: "\e92a";
}
.gi-tables:before {
  content: "\e92b";
}
.gi-unlock:before {
  content: "\e92f";
}
.gi-lock:before {
  content: "\e930";
}
.gi-gear:before {
  content: "\e931";
}
.gi-cog:before {
  content: "\e931";
}
.gi-gears:before {
  content: "\e932";
}
.gi-cogs:before {
  content: "\e932";
}
.gi-money:before {
  content: "\e91f";
}
.gi-usd:before {
  content: "\e920";
}
.gi-vote:before {
  content: "\e94d";
}
.gi-us-tophat:before {
  content: "\e92c";
}
.gi-elephant:before {
  content: "\e92e";
}
.gi-donkey:before {
  content: "\e92d";
}
.gi-balance:before {
  content: "\e912";
}
.gi-gavel:before {
  content: "\e913";
}
.gi-handshake:before {
  content: "\e934";
}
.gi-user-military:before {
  content: "\e935";
}
.gi-user-suit:before {
  content: "\e936";
}
.gi-user-student:before {
  content: "\e94e";
}
.gi-user-graduate:before {
  content: "\e94e";
}
.gi-user:before {
  content: "\e93b";
}
.gi-presenter:before {
  content: "\e93c";
}
.gi-file-word-o:before {
  content: "\e93d";
}
.gi-file-excel-o:before {
  content: "\e93e";
}
.gi-file-contract-o:before {
  content: "\e937";
}
.gi-file-text-o:before {
  content: "\e938";
}
.gi-file-text:before {
  content: "\e940";
}
.gi-file-o:before {
  content: "\e941";
}
.gi-file:before {
  content: "\e93f";
}
.gi-cac-o:before {
  content: "\e943";
}
.gi-id-card-o:before {
  content: "\e943";
}
.gi-cac:before {
  content: "\e944";
}
.gi-id-card:before {
  content: "\e944";
}
.gi-dc-flag:before {
  content: "\e939";
}
.gi-dc-map:before {
  content: "\e600";
}
.gi-us-flag-wavy:before {
  content: "\e948";
}
.gi-us-flag-straight:before {
  content: "\e95b";
}
.gi-us-map:before {
  content: "\e946";
}
.gi-globe:before {
  content: "\e947";
}
.gi-world:before {
  content: "\e947";
}
.gi-washington-monument:before {
  content: "\e94a";
}
.gi-capitol:before {
  content: "\e94b";
}
.gi-pentagon:before {
  content: "\e94c";
}
.gi-building:before {
  content: "\e949";
}
.gi-fedapi:before {
  content: "\e933";
}
.gi-540-fedapi:before {
  content: "\e933";
}
.gi-540-logo:before {
  content: "\e900";
}

