/**
 * Evil Icons, 1.9.0-1
 * Created by Alexander Madyankin
 * http://evil-icons.io
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "evil-icons";
  src: url('./evil-icons.eot');
  src: 
    url('./evil-icons.eot?#iefix') format('embedded-opentype'),
    url('./evil-icons.woff2') format('woff2'),
    url('./evil-icons.woff') format('woff'),
    url('./evil-icons.ttf') format('truetype'),
    url('./evil-icons.svg#evil-icons') format('svg');
}

.evil-icons {
  font-family: "evil-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}



.evil-icons-archive::before {
    content: "\ea01";
}

.evil-icons-arrow-down::before {
    content: "\ea02";
}

.evil-icons-arrow-left::before {
    content: "\ea03";
}

.evil-icons-arrow-right::before {
    content: "\ea04";
}

.evil-icons-arrow-up::before {
    content: "\ea05";
}

.evil-icons-bell::before {
    content: "\ea06";
}

.evil-icons-calendar::before {
    content: "\ea07";
}

.evil-icons-camera::before {
    content: "\ea08";
}

.evil-icons-cart::before {
    content: "\ea09";
}

.evil-icons-chart::before {
    content: "\ea0a";
}

.evil-icons-check::before {
    content: "\ea0b";
}

.evil-icons-chevron-down::before {
    content: "\ea0c";
}

.evil-icons-chevron-left::before {
    content: "\ea0d";
}

.evil-icons-chevron-right::before {
    content: "\ea0e";
}

.evil-icons-chevron-up::before {
    content: "\ea0f";
}

.evil-icons-clock::before {
    content: "\ea10";
}

.evil-icons-close-o::before {
    content: "\ea11";
}

.evil-icons-close::before {
    content: "\ea12";
}

.evil-icons-comment::before {
    content: "\ea13";
}

.evil-icons-credit-card::before {
    content: "\ea14";
}

.evil-icons-envelope::before {
    content: "\ea15";
}

.evil-icons-exclamation::before {
    content: "\ea16";
}

.evil-icons-external-link::before {
    content: "\ea17";
}

.evil-icons-eye::before {
    content: "\ea18";
}

.evil-icons-gear::before {
    content: "\ea19";
}

.evil-icons-heart::before {
    content: "\ea1a";
}

.evil-icons-image::before {
    content: "\ea1b";
}

.evil-icons-like::before {
    content: "\ea1c";
}

.evil-icons-link::before {
    content: "\ea1d";
}

.evil-icons-location::before {
    content: "\ea1e";
}

.evil-icons-lock::before {
    content: "\ea1f";
}

.evil-icons-minus::before {
    content: "\ea20";
}

.evil-icons-navicon::before {
    content: "\ea21";
}

.evil-icons-paperclip::before {
    content: "\ea22";
}

.evil-icons-pencil::before {
    content: "\ea23";
}

.evil-icons-play::before {
    content: "\ea24";
}

.evil-icons-plus::before {
    content: "\ea25";
}

.evil-icons-pointer::before {
    content: "\ea26";
}

.evil-icons-question::before {
    content: "\ea27";
}

.evil-icons-redo::before {
    content: "\ea28";
}

.evil-icons-refresh::before {
    content: "\ea29";
}

.evil-icons-retweet::before {
    content: "\ea2a";
}

.evil-icons-sc-facebook::before {
    content: "\ea2b";
}

.evil-icons-sc-github::before {
    content: "\ea2c";
}

.evil-icons-sc-google-plus::before {
    content: "\ea2d";
}

.evil-icons-sc-instagram::before {
    content: "\ea2e";
}

.evil-icons-sc-linkedin::before {
    content: "\ea2f";
}

.evil-icons-sc-odnoklassniki::before {
    content: "\ea30";
}

.evil-icons-sc-pinterest::before {
    content: "\ea31";
}

.evil-icons-sc-skype::before {
    content: "\ea32";
}

.evil-icons-sc-soundcloud::before {
    content: "\ea33";
}

.evil-icons-sc-telegram::before {
    content: "\ea34";
}

.evil-icons-sc-tumblr::before {
    content: "\ea35";
}

.evil-icons-sc-twitter::before {
    content: "\ea36";
}

.evil-icons-sc-vimeo::before {
    content: "\ea37";
}

.evil-icons-sc-vk::before {
    content: "\ea38";
}

.evil-icons-sc-youtube::before {
    content: "\ea39";
}

.evil-icons-search::before {
    content: "\ea3a";
}

.evil-icons-share-apple::before {
    content: "\ea3b";
}

.evil-icons-share-google::before {
    content: "\ea3c";
}

.evil-icons-spinner-2::before {
    content: "\ea3d";
}

.evil-icons-spinner-3::before {
    content: "\ea3e";
}

.evil-icons-spinner::before {
    content: "\ea3f";
}

.evil-icons-star::before {
    content: "\ea40";
}

.evil-icons-tag::before {
    content: "\ea41";
}

.evil-icons-trash::before {
    content: "\ea42";
}

.evil-icons-trophy::before {
    content: "\ea43";
}

.evil-icons-undo::before {
    content: "\ea44";
}

.evil-icons-unlock::before {
    content: "\ea45";
}

.evil-icons-user::before {
    content: "\ea46";
}