/**
 * Evil Icons, 1.9.0-3
 * Created by Alexander Madyankin
 * http://evil-icons.io
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "evil-icons";
  src: url('./evil-icons.eot');
  src: 
    url('./evil-icons.eot?#iefix') format('embedded-opentype'),
    url('./evil-icons.woff2') format('woff2'),
    url('./evil-icons.woff') format('woff'),
    url('./evil-icons.ttf') format('truetype'),
    url('./evil-icons.svg#evil-icons') format('svg');
}

.evil {
  font-family: "evil-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}



.evil-archive::before {
    content: "\ea01";
}

.evil-arrow-down::before {
    content: "\ea02";
}

.evil-arrow-left::before {
    content: "\ea03";
}

.evil-arrow-right::before {
    content: "\ea04";
}

.evil-arrow-up::before {
    content: "\ea05";
}

.evil-bell::before {
    content: "\ea06";
}

.evil-calendar::before {
    content: "\ea07";
}

.evil-camera::before {
    content: "\ea08";
}

.evil-cart::before {
    content: "\ea09";
}

.evil-chart::before {
    content: "\ea0a";
}

.evil-check::before {
    content: "\ea0b";
}

.evil-chevron-down::before {
    content: "\ea0c";
}

.evil-chevron-left::before {
    content: "\ea0d";
}

.evil-chevron-right::before {
    content: "\ea0e";
}

.evil-chevron-up::before {
    content: "\ea0f";
}

.evil-clock::before {
    content: "\ea10";
}

.evil-close-o::before {
    content: "\ea11";
}

.evil-close::before {
    content: "\ea12";
}

.evil-comment::before {
    content: "\ea13";
}

.evil-credit-card::before {
    content: "\ea14";
}

.evil-envelope::before {
    content: "\ea15";
}

.evil-exclamation::before {
    content: "\ea16";
}

.evil-external-link::before {
    content: "\ea17";
}

.evil-eye::before {
    content: "\ea18";
}

.evil-gear::before {
    content: "\ea19";
}

.evil-heart::before {
    content: "\ea1a";
}

.evil-image::before {
    content: "\ea1b";
}

.evil-like::before {
    content: "\ea1c";
}

.evil-link::before {
    content: "\ea1d";
}

.evil-location::before {
    content: "\ea1e";
}

.evil-lock::before {
    content: "\ea1f";
}

.evil-minus::before {
    content: "\ea20";
}

.evil-navicon::before {
    content: "\ea21";
}

.evil-paperclip::before {
    content: "\ea22";
}

.evil-pencil::before {
    content: "\ea23";
}

.evil-play::before {
    content: "\ea24";
}

.evil-plus::before {
    content: "\ea25";
}

.evil-pointer::before {
    content: "\ea26";
}

.evil-question::before {
    content: "\ea27";
}

.evil-redo::before {
    content: "\ea28";
}

.evil-refresh::before {
    content: "\ea29";
}

.evil-retweet::before {
    content: "\ea2a";
}

.evil-sc-facebook::before {
    content: "\ea2b";
}

.evil-sc-github::before {
    content: "\ea2c";
}

.evil-sc-google-plus::before {
    content: "\ea2d";
}

.evil-sc-instagram::before {
    content: "\ea2e";
}

.evil-sc-linkedin::before {
    content: "\ea2f";
}

.evil-sc-odnoklassniki::before {
    content: "\ea30";
}

.evil-sc-pinterest::before {
    content: "\ea31";
}

.evil-sc-skype::before {
    content: "\ea32";
}

.evil-sc-soundcloud::before {
    content: "\ea33";
}

.evil-sc-telegram::before {
    content: "\ea34";
}

.evil-sc-tumblr::before {
    content: "\ea35";
}

.evil-sc-twitter::before {
    content: "\ea36";
}

.evil-sc-vimeo::before {
    content: "\ea37";
}

.evil-sc-vk::before {
    content: "\ea38";
}

.evil-sc-youtube::before {
    content: "\ea39";
}

.evil-search::before {
    content: "\ea3a";
}

.evil-share-apple::before {
    content: "\ea3b";
}

.evil-share-google::before {
    content: "\ea3c";
}

.evil-spinner-2::before {
    content: "\ea3d";
}

.evil-spinner-3::before {
    content: "\ea3e";
}

.evil-spinner::before {
    content: "\ea3f";
}

.evil-star::before {
    content: "\ea40";
}

.evil-tag::before {
    content: "\ea41";
}

.evil-trash::before {
    content: "\ea42";
}

.evil-trophy::before {
    content: "\ea43";
}

.evil-undo::before {
    content: "\ea44";
}

.evil-unlock::before {
    content: "\ea45";
}

.evil-user::before {
    content: "\ea46";
}