/**
 * Micon, 2.2.155
 * Created by Mehdi HosseinZade
 * http://xtoolkit.github.io/Micon/
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "micon";
  src: url('./micon.eot');
  src: 
    url('./micon.eot?#iefix') format('embedded-opentype'),
    url('./micon.woff2') format('woff2'),
    url('./micon.woff') format('woff'),
    url('./micon.ttf') format('truetype'),
    url('./micon.svg#micon') format('svg');
}

.mi {
  font-family: "micon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.mi-500px::before {
  content: "\ea01";
}

.mi-Accept::before {
  content: "\ea02";
}

.mi-Accident::before {
  content: "\ea03";
}

.mi-AccidentSolid::before {
  content: "\ea04";
}

.mi-Accounts::before {
  content: "\ea05";
}

.mi-ActionCenter::before {
  content: "\ea06";
}

.mi-ActionCenterAsterisk::before {
  content: "\ea07";
}

.mi-ActionCenterMirrored::before {
  content: "\ea08";
}

.mi-ActionCenterNotification::before {
  content: "\ea09";
}

.mi-ActionCenterNotificationMirrored::before {
  content: "\ea0a";
}

.mi-ActionCenterQuiet::before {
  content: "\ea0b";
}

.mi-ActionCenterQuietNotification::before {
  content: "\ea0c";
}

.mi-Add::before {
  content: "\ea0d";
}

.mi-AddFriend::before {
  content: "\ea0e";
}

.mi-AddRemoteDevice::before {
  content: "\ea0f";
}

.mi-AddSurfaceHub::before {
  content: "\ea10";
}

.mi-AddTo::before {
  content: "\ea11";
}

.mi-AdjustHologram::before {
  content: "\ea12";
}

.mi-Admin::before {
  content: "\ea13";
}

.mi-Airplane::before {
  content: "\ea14";
}

.mi-AirplaneSolid::before {
  content: "\ea15";
}

.mi-AlignCenter::before {
  content: "\ea16";
}

.mi-AlignLeft::before {
  content: "\ea17";
}

.mi-AlignRight::before {
  content: "\ea18";
}

.mi-AllApps::before {
  content: "\ea19";
}

.mi-AllAppsMirrored::before {
  content: "\ea1a";
}

.mi-Annotation::before {
  content: "\ea1b";
}

.mi-AppIconDefault::before {
  content: "\ea1c";
}

.mi-AspectRatio::before {
  content: "\ea1d";
}

.mi-Asterisk::before {
  content: "\ea1e";
}

.mi-AsteriskBadge12::before {
  content: "\ea1f";
}

.mi-Attach::before {
  content: "\ea20";
}

.mi-AttachCamera::before {
  content: "\ea21";
}

.mi-Audio::before {
  content: "\ea22";
}

.mi-Back::before {
  content: "\ea23";
}

.mi-BackSpaceQWERTYLg::before {
  content: "\ea24";
}

.mi-BackSpaceQWERTYMd::before {
  content: "\ea25";
}

.mi-BackSpaceQWERTYSm::before {
  content: "\ea26";
}

.mi-BackToWindow::before {
  content: "\ea27";
}

.mi-BackgroundToggle::before {
  content: "\ea28";
}

.mi-Badge::before {
  content: "\ea29";
}

.mi-Bank::before {
  content: "\ea2a";
}

.mi-BarcodeScanner::before {
  content: "\ea2b";
}

.mi-Battery0::before {
  content: "\ea2c";
}

.mi-Battery1::before {
  content: "\ea2d";
}

.mi-Battery10::before {
  content: "\ea2e";
}

.mi-Battery2::before {
  content: "\ea2f";
}

.mi-Battery3::before {
  content: "\ea30";
}

.mi-Battery4::before {
  content: "\ea31";
}

.mi-Battery5::before {
  content: "\ea32";
}

.mi-Battery6::before {
  content: "\ea33";
}

.mi-Battery7::before {
  content: "\ea34";
}

.mi-Battery8::before {
  content: "\ea35";
}

.mi-Battery9::before {
  content: "\ea36";
}

.mi-BatteryCharging0::before {
  content: "\ea37";
}

.mi-BatteryCharging1::before {
  content: "\ea38";
}

.mi-BatteryCharging10::before {
  content: "\ea39";
}

.mi-BatteryCharging2::before {
  content: "\ea3a";
}

.mi-BatteryCharging3::before {
  content: "\ea3b";
}

.mi-BatteryCharging4::before {
  content: "\ea3c";
}

.mi-BatteryCharging5::before {
  content: "\ea3d";
}

.mi-BatteryCharging6::before {
  content: "\ea3e";
}

.mi-BatteryCharging7::before {
  content: "\ea3f";
}

.mi-BatteryCharging8::before {
  content: "\ea40";
}

.mi-BatteryCharging9::before {
  content: "\ea41";
}

.mi-BatterySaver0::before {
  content: "\ea42";
}

.mi-BatterySaver1::before {
  content: "\ea43";
}

.mi-BatterySaver10::before {
  content: "\ea44";
}

.mi-BatterySaver2::before {
  content: "\ea45";
}

.mi-BatterySaver3::before {
  content: "\ea46";
}

.mi-BatterySaver4::before {
  content: "\ea47";
}

.mi-BatterySaver5::before {
  content: "\ea48";
}

.mi-BatterySaver6::before {
  content: "\ea49";
}

.mi-BatterySaver7::before {
  content: "\ea4a";
}

.mi-BatterySaver8::before {
  content: "\ea4b";
}

.mi-BatterySaver9::before {
  content: "\ea4c";
}

.mi-BatteryUnknown::before {
  content: "\ea4d";
}

.mi-Beta::before {
  content: "\ea4e";
}

.mi-BidiLtr::before {
  content: "\ea4f";
}

.mi-BidiRtl::before {
  content: "\ea50";
}

.mi-BlockContact::before {
  content: "\ea51";
}

.mi-BlockedLegacy::before {
  content: "\ea52";
}

.mi-Bluetooth::before {
  content: "\ea53";
}

.mi-BodyCam::before {
  content: "\ea54";
}

.mi-Bold::before {
  content: "\ea55";
}

.mi-BoldFLegacy::before {
  content: "\ea56";
}

.mi-BoldGLegacy::before {
  content: "\ea57";
}

.mi-BoldKoreanLegacy::before {
  content: "\ea58";
}

.mi-BoldNLegacy::before {
  content: "\ea59";
}

.mi-BoldRussionLegacy::before {
  content: "\ea5a";
}

.mi-Bookmarks::before {
  content: "\ea5b";
}

.mi-BookmarksMirrored::before {
  content: "\ea5c";
}

.mi-Brightness::before {
  content: "\ea5d";
}

.mi-Broom::before {
  content: "\ea5e";
}

.mi-BrowsePhotos::before {
  content: "\ea5f";
}

.mi-BrushSize::before {
  content: "\ea60";
}

.mi-BuildingEnergy::before {
  content: "\ea61";
}

.mi-BulletedList::before {
  content: "\ea62";
}

.mi-BulletedListMirrored::before {
  content: "\ea63";
}

.mi-Bus::before {
  content: "\ea64";
}

.mi-BusSolid::before {
  content: "\ea65";
}

.mi-CC::before {
  content: "\ea66";
}

.mi-CCEuroLegacy::before {
  content: "\ea67";
}

.mi-CCJapanLegacy::before {
  content: "\ea68";
}

.mi-Calculator::before {
  content: "\ea69";
}

.mi-CalculatorAddition::before {
  content: "\ea6a";
}

.mi-CalculatorBackspace::before {
  content: "\ea6b";
}

.mi-CalculatorDivide::before {
  content: "\ea6c";
}

.mi-CalculatorEqualTo::before {
  content: "\ea6d";
}

.mi-CalculatorMultiply::before {
  content: "\ea6e";
}

.mi-CalculatorNegate::before {
  content: "\ea6f";
}

.mi-CalculatorPercentage::before {
  content: "\ea70";
}

.mi-CalculatorSquareroot::before {
  content: "\ea71";
}

.mi-CalculatorSubtract::before {
  content: "\ea72";
}

.mi-Calendar::before {
  content: "\ea73";
}

.mi-CalendarDay::before {
  content: "\ea74";
}

.mi-CalendarMirrored::before {
  content: "\ea75";
}

.mi-CalendarReply::before {
  content: "\ea76";
}

.mi-CalendarSolid::before {
  content: "\ea77";
}

.mi-CalendarWeek::before {
  content: "\ea78";
}

.mi-CaligraphyPen::before {
  content: "\ea79";
}

.mi-CallForwardInternational::before {
  content: "\ea7a";
}

.mi-CallForwardInternationalMirrored::before {
  content: "\ea7b";
}

.mi-CallForwardRoaming::before {
  content: "\ea7c";
}

.mi-CallForwardRoamingMirrored::before {
  content: "\ea7d";
}

.mi-CallForwarding::before {
  content: "\ea7e";
}

.mi-CallForwardingMirrored::before {
  content: "\ea7f";
}

.mi-Camera::before {
  content: "\ea80";
}

.mi-Cancel::before {
  content: "\ea81";
}

.mi-Caption::before {
  content: "\ea82";
}

.mi-Car::before {
  content: "\ea83";
}

.mi-CashDrawer::before {
  content: "\ea84";
}

.mi-CellPhone::before {
  content: "\ea85";
}

.mi-Certificate::before {
  content: "\ea86";
}

.mi-Characters::before {
  content: "\ea87";
}

.mi-ChatBubbles::before {
  content: "\ea88";
}

.mi-CheckMark::before {
  content: "\ea89";
}

.mi-Checkbox::before {
  content: "\ea8a";
}

.mi-CheckboxComposite::before {
  content: "\ea8b";
}

.mi-CheckboxCompositeReversed::before {
  content: "\ea8c";
}

.mi-CheckboxFill::before {
  content: "\ea8d";
}

.mi-CheckboxIndeterminate::before {
  content: "\ea8e";
}

.mi-ChevronDown::before {
  content: "\ea8f";
}

.mi-ChevronDownMed::before {
  content: "\ea90";
}

.mi-ChevronDownSmall::before {
  content: "\ea91";
}

.mi-ChevronLeft::before {
  content: "\ea92";
}

.mi-ChevronLeftMed::before {
  content: "\ea93";
}

.mi-ChevronLeftSmall::before {
  content: "\ea94";
}

.mi-ChevronRight::before {
  content: "\ea95";
}

.mi-ChevronRightMed::before {
  content: "\ea96";
}

.mi-ChevronRightSmall::before {
  content: "\ea97";
}

.mi-ChevronUp::before {
  content: "\ea98";
}

.mi-ChevronUpMed::before {
  content: "\ea99";
}

.mi-ChevronUpSmall::before {
  content: "\ea9a";
}

.mi-ChineseBoPoMoFo::before {
  content: "\ea9b";
}

.mi-ChineseChangjie::before {
  content: "\ea9c";
}

.mi-ChinesePinyin::before {
  content: "\ea9d";
}

.mi-ChineseQuick::before {
  content: "\ea9e";
}

.mi-ChromeAnnotate::before {
  content: "\ea9f";
}

.mi-ChromeBack::before {
  content: "\eaa0";
}

.mi-ChromeBackMirrored::before {
  content: "\eaa1";
}

.mi-ChromeBackToWindow::before {
  content: "\eaa2";
}

.mi-ChromeClose::before {
  content: "\eaa3";
}

.mi-ChromeFullScreen::before {
  content: "\eaa4";
}

.mi-ChromeMaximize::before {
  content: "\eaa5";
}

.mi-ChromeMinimize::before {
  content: "\eaa6";
}

.mi-ChromeRestore::before {
  content: "\eaa7";
}

.mi-CircleFill::before {
  content: "\eaa8";
}

.mi-CircleFillBadge12::before {
  content: "\eaa9";
}

.mi-CircleRing::before {
  content: "\eaaa";
}

.mi-CircleRingBadge12::before {
  content: "\eaab";
}

.mi-CityNext::before {
  content: "\eaac";
}

.mi-CityNext2::before {
  content: "\eaad";
}

.mi-Clear::before {
  content: "\eaae";
}

.mi-ClearAllInk::before {
  content: "\eaaf";
}

.mi-ClearAllInkMirrored::before {
  content: "\eab0";
}

.mi-ClearSelection::before {
  content: "\eab1";
}

.mi-ClearSelectionMirrored::before {
  content: "\eab2";
}

.mi-Click::before {
  content: "\eab3";
}

.mi-ClockLegacy::before {
  content: "\eab4";
}

.mi-ClosePane::before {
  content: "\eab5";
}

.mi-ClosePaneMirrored::before {
  content: "\eab6";
}

.mi-Cloud::before {
  content: "\eab7";
}

.mi-CloudPrinter::before {
  content: "\eab8";
}

.mi-Code::before {
  content: "\eab9";
}

.mi-Color::before {
  content: "\eaba";
}

.mi-CommaKey::before {
  content: "\eabb";
}

.mi-CommandPrompt::before {
  content: "\eabc";
}

.mi-Comment::before {
  content: "\eabd";
}

.mi-Communications::before {
  content: "\eabe";
}

.mi-CompanionApp::before {
  content: "\eabf";
}

.mi-CompanionDeviceFramework::before {
  content: "\eac0";
}

.mi-Completed::before {
  content: "\eac1";
}

.mi-CompletedSolid::before {
  content: "\eac2";
}

.mi-Component::before {
  content: "\eac3";
}

.mi-Connect::before {
  content: "\eac4";
}

.mi-ConnectApp::before {
  content: "\eac5";
}

.mi-Construction::before {
  content: "\eac6";
}

.mi-ConstructionCone::before {
  content: "\eac7";
}

.mi-ConstructionSolid::before {
  content: "\eac8";
}

.mi-Contact::before {
  content: "\eac9";
}

.mi-Contact2::before {
  content: "\eaca";
}

.mi-ContactInfo::before {
  content: "\eacb";
}

.mi-ContactInfoMirrored::before {
  content: "\eacc";
}

.mi-ContactPresence::before {
  content: "\eacd";
}

.mi-ContactSolid::before {
  content: "\eace";
}

.mi-Copy::before {
  content: "\eacf";
}

.mi-Courthouse::before {
  content: "\ead0";
}

.mi-Crop::before {
  content: "\ead1";
}

.mi-Cut::before {
  content: "\ead2";
}

.mi-DMC::before {
  content: "\ead3";
}

.mi-DashKey::before {
  content: "\ead4";
}

.mi-DataSense::before {
  content: "\ead5";
}

.mi-DataSenseBar::before {
  content: "\ead6";
}

.mi-DateTime::before {
  content: "\ead7";
}

.mi-DateTimeMirrored::before {
  content: "\ead8";
}

.mi-DecreaseIndentLegacy::before {
  content: "\ead9";
}

.mi-DecreaseIndentLegacyMirrored::before {
  content: "\eada";
}

.mi-DefenderApp::before {
  content: "\eadb";
}

.mi-Delete::before {
  content: "\eadc";
}

.mi-DevUpdate::before {
  content: "\eadd";
}

.mi-DeveloperTools::before {
  content: "\eade";
}

.mi-DeviceDiscovery::before {
  content: "\eadf";
}

.mi-DeviceLaptopNoPic::before {
  content: "\eae0";
}

.mi-DeviceLaptopPic::before {
  content: "\eae1";
}

.mi-DeviceMonitorLeftPic::before {
  content: "\eae2";
}

.mi-DeviceMonitorNoPic::before {
  content: "\eae3";
}

.mi-DeviceMonitorRightPic::before {
  content: "\eae4";
}

.mi-Devices::before {
  content: "\eae5";
}

.mi-Devices3::before {
  content: "\eae6";
}

.mi-Devices4::before {
  content: "\eae7";
}

.mi-DevicesLegacy::before {
  content: "\eae8";
}

.mi-Diagnostic::before {
  content: "\eae9";
}

.mi-DialUp::before {
  content: "\eaea";
}

.mi-Dialpad::before {
  content: "\eaeb";
}

.mi-Dictionary::before {
  content: "\eaec";
}

.mi-DictionaryAdd::before {
  content: "\eaed";
}

.mi-DictionaryCloud::before {
  content: "\eaee";
}

.mi-DirectAccess::before {
  content: "\eaef";
}

.mi-Directions::before {
  content: "\eaf0";
}

.mi-DisableUpdates::before {
  content: "\eaf1";
}

.mi-DisconnectDisplay::before {
  content: "\eaf2";
}

.mi-DisconnectDrive::before {
  content: "\eaf3";
}

.mi-Dislike::before {
  content: "\eaf4";
}

.mi-Dock::before {
  content: "\eaf5";
}

.mi-DockBottom::before {
  content: "\eaf6";
}

.mi-DockLeft::before {
  content: "\eaf7";
}

.mi-DockLeftMirrored::before {
  content: "\eaf8";
}

.mi-DockRight::before {
  content: "\eaf9";
}

.mi-DockRightMirrored::before {
  content: "\eafa";
}

.mi-Document::before {
  content: "\eafb";
}

.mi-Down::before {
  content: "\eafc";
}

.mi-DownShiftKey::before {
  content: "\eafd";
}

.mi-Download::before {
  content: "\eafe";
}

.mi-DownloadMap::before {
  content: "\eaff";
}

.mi-Draw::before {
  content: "\eb00";
}

.mi-DrawSolid::before {
  content: "\eb01";
}

.mi-Drop::before {
  content: "\eb02";
}

.mi-DullSound::before {
  content: "\eb03";
}

.mi-DullSoundKey::before {
  content: "\eb04";
}

.mi-EaseOfAccess::before {
  content: "\eb05";
}

.mi-Edit::before {
  content: "\eb06";
}

.mi-EditMirrored::before {
  content: "\eb07";
}

.mi-Education::before {
  content: "\eb08";
}

.mi-Emoji::before {
  content: "\eb09";
}

.mi-Emoji2::before {
  content: "\eb0a";
}

.mi-EmojiSwatch::before {
  content: "\eb0b";
}

.mi-EmojiTabCelebrationObjects::before {
  content: "\eb0c";
}

.mi-EmojiTabFavorites::before {
  content: "\eb0d";
}

.mi-EmojiTabFoodPlants::before {
  content: "\eb0e";
}

.mi-EmojiTabPeople::before {
  content: "\eb0f";
}

.mi-EmojiTabSmilesAnimals::before {
  content: "\eb10";
}

.mi-EmojiTabSymbols::before {
  content: "\eb11";
}

.mi-EmojiTabTextSmiles::before {
  content: "\eb12";
}

.mi-EmojiTabTransitPlaces::before {
  content: "\eb13";
}

.mi-EndPointSolid::before {
  content: "\eb14";
}

.mi-EraseTool::before {
  content: "\eb15";
}

.mi-EraseToolFill::before {
  content: "\eb16";
}

.mi-EraseToolFill2::before {
  content: "\eb17";
}

.mi-Error::before {
  content: "\eb18";
}

.mi-ErrorBadge::before {
  content: "\eb19";
}

.mi-ErrorBadge12::before {
  content: "\eb1a";
}

.mi-Ethernet::before {
  content: "\eb1b";
}

.mi-EthernetError::before {
  content: "\eb1c";
}

.mi-EthernetWarning::before {
  content: "\eb1d";
}

.mi-ExpandTile::before {
  content: "\eb1e";
}

.mi-ExpandTileMirrored::before {
  content: "\eb1f";
}

.mi-ExploreContent::before {
  content: "\eb20";
}

.mi-Export::before {
  content: "\eb21";
}

.mi-FastForward::before {
  content: "\eb22";
}

.mi-FavoriteLegacy::before {
  content: "\eb23";
}

.mi-FavoriteList::before {
  content: "\eb24";
}

.mi-FavoriteStar::before {
  content: "\eb25";
}

.mi-Feedback::before {
  content: "\eb26";
}

.mi-FeedbackApp::before {
  content: "\eb27";
}

.mi-Ferry::before {
  content: "\eb28";
}

.mi-FerrySolid::before {
  content: "\eb29";
}

.mi-FileExplorer::before {
  content: "\eb2a";
}

.mi-FileExplorerApp::before {
  content: "\eb2b";
}

.mi-Filter::before {
  content: "\eb2c";
}

.mi-FingerInking::before {
  content: "\eb2d";
}

.mi-Fingerprint::before {
  content: "\eb2e";
}

.mi-Flag::before {
  content: "\eb2f";
}

.mi-Flashlight::before {
  content: "\eb30";
}

.mi-FlickDown::before {
  content: "\eb31";
}

.mi-FlickLeft::before {
  content: "\eb32";
}

.mi-FlickRight::before {
  content: "\eb33";
}

.mi-FlickUp::before {
  content: "\eb34";
}

.mi-Folder::before {
  content: "\eb35";
}

.mi-FolderFill::before {
  content: "\eb36";
}

.mi-Font::before {
  content: "\eb37";
}

.mi-FontColor::before {
  content: "\eb38";
}

.mi-FontColorKoreanLegacy::before {
  content: "\eb39";
}

.mi-FontDecrease::before {
  content: "\eb3a";
}

.mi-FontIncrease::before {
  content: "\eb3b";
}

.mi-FontSize::before {
  content: "\eb3c";
}

.mi-FontStyleKoreanLegacy::before {
  content: "\eb3d";
}

.mi-Forward::before {
  content: "\eb3e";
}

.mi-ForwardSm::before {
  content: "\eb3f";
}

.mi-FourBars::before {
  content: "\eb40";
}

.mi-Frigid::before {
  content: "\eb41";
}

.mi-FullAlpha::before {
  content: "\eb42";
}

.mi-FullCircleMask::before {
  content: "\eb43";
}

.mi-FullHiragana::before {
  content: "\eb44";
}

.mi-FullKatakana::before {
  content: "\eb45";
}

.mi-FullScreen::before {
  content: "\eb46";
}

.mi-Game::before {
  content: "\eb47";
}

.mi-GameConsole::before {
  content: "\eb48";
}

.mi-GlobalNavButton::before {
  content: "\eb49";
}

.mi-Globe::before {
  content: "\eb4a";
}

.mi-Go::before {
  content: "\eb4b";
}

.mi-GoMirrored::before {
  content: "\eb4c";
}

.mi-GoToStart::before {
  content: "\eb4d";
}

.mi-GotoToday::before {
  content: "\eb4e";
}

.mi-GripperBarHorizontal::before {
  content: "\eb4f";
}

.mi-GripperBarVertical::before {
  content: "\eb50";
}

.mi-GripperResize::before {
  content: "\eb51";
}

.mi-GripperResizeMirrored::before {
  content: "\eb52";
}

.mi-GripperTool::before {
  content: "\eb53";
}

.mi-Groceries::before {
  content: "\eb54";
}

.mi-GuestUser::before {
  content: "\eb55";
}

.mi-HalfAlpha::before {
  content: "\eb56";
}

.mi-HalfDullSound::before {
  content: "\eb57";
}

.mi-HalfKatakana::before {
  content: "\eb58";
}

.mi-HalfStarLeft::before {
  content: "\eb59";
}

.mi-HalfStarRight::before {
  content: "\eb5a";
}

.mi-Handwriting::before {
  content: "\eb5b";
}

.mi-HangUp::before {
  content: "\eb5c";
}

.mi-HardDrive::before {
  content: "\eb5d";
}

.mi-Headphone::before {
  content: "\eb5e";
}

.mi-Headphone0::before {
  content: "\eb5f";
}

.mi-Headphone1::before {
  content: "\eb60";
}

.mi-Headphone2::before {
  content: "\eb61";
}

.mi-Headphone3::before {
  content: "\eb62";
}

.mi-Headset::before {
  content: "\eb63";
}

.mi-Health::before {
  content: "\eb64";
}

.mi-Heart::before {
  content: "\eb65";
}

.mi-HeartBroken::before {
  content: "\eb66";
}

.mi-HeartBrokenLegacy::before {
  content: "\eb67";
}

.mi-HeartFill::before {
  content: "\eb68";
}

.mi-Help::before {
  content: "\eb69";
}

.mi-HelpMirrored::before {
  content: "\eb6a";
}

.mi-HideBcc::before {
  content: "\eb6b";
}

.mi-Highlight::before {
  content: "\eb6c";
}

.mi-HighlightFill::before {
  content: "\eb6d";
}

.mi-HighlightFill2::before {
  content: "\eb6e";
}

.mi-History::before {
  content: "\eb6f";
}

.mi-Home::before {
  content: "\eb70";
}

.mi-HomeGroup::before {
  content: "\eb71";
}

.mi-HomeSolid::before {
  content: "\eb72";
}

.mi-HorizontalTabKey::before {
  content: "\eb73";
}

.mi-IBeam::before {
  content: "\eb74";
}

.mi-IBeamOutline::before {
  content: "\eb75";
}

.mi-ImageExport::before {
  content: "\eb76";
}

.mi-Import::before {
  content: "\eb77";
}

.mi-ImportAll::before {
  content: "\eb78";
}

.mi-ImportAllMirrored::before {
  content: "\eb79";
}

.mi-Important::before {
  content: "\eb7a";
}

.mi-ImportantBadge12::before {
  content: "\eb7b";
}

.mi-InPrivate::before {
  content: "\eb7c";
}

.mi-IncidentTriangle::before {
  content: "\eb7d";
}

.mi-IncreaseIndentLegacy::before {
  content: "\eb7e";
}

.mi-IncreaseIndentLegacyMirrored::before {
  content: "\eb7f";
}

.mi-Info::before {
  content: "\eb80";
}

.mi-Info2::before {
  content: "\eb81";
}

.mi-InkingCaret::before {
  content: "\eb82";
}

.mi-InkingColorFill::before {
  content: "\eb83";
}

.mi-InkingColorOutline::before {
  content: "\eb84";
}

.mi-InkingTool::before {
  content: "\eb85";
}

.mi-InkingToolFill::before {
  content: "\eb86";
}

.mi-InkingToolFill2::before {
  content: "\eb87";
}

.mi-Input::before {
  content: "\eb88";
}

.mi-InsiderHubApp::before {
  content: "\eb89";
}

.mi-Italic::before {
  content: "\eb8a";
}

.mi-ItalicCLegacy::before {
  content: "\eb8b";
}

.mi-ItalicILegacy::before {
  content: "\eb8c";
}

.mi-ItalicKLegacy::before {
  content: "\eb8d";
}

.mi-ItalicKoreanLegacy::before {
  content: "\eb8e";
}

.mi-ItalicRussianLegacy::before {
  content: "\eb8f";
}

.mi-Japanese::before {
  content: "\eb90";
}

.mi-JpnRomanji::before {
  content: "\eb91";
}

.mi-JpnRomanjiLock::before {
  content: "\eb92";
}

.mi-JpnRomanjiShift::before {
  content: "\eb93";
}

.mi-JpnRomanjiShiftLock::before {
  content: "\eb94";
}

.mi-Key12On::before {
  content: "\eb95";
}

.mi-KeyBoardLegacy::before {
  content: "\eb96";
}

.mi-KeyboardBrightness::before {
  content: "\eb97";
}

.mi-KeyboardDismiss::before {
  content: "\eb98";
}

.mi-KeyboardFull::before {
  content: "\eb99";
}

.mi-KeyboardLeftHanded::before {
  content: "\eb9a";
}

.mi-KeyboardLowerBrightness::before {
  content: "\eb9b";
}

.mi-KeyboardOneHanded::before {
  content: "\eb9c";
}

.mi-KeyboardRightHanded::before {
  content: "\eb9d";
}

.mi-KeyboardShortcut::before {
  content: "\eb9e";
}

.mi-KeyboardSplit::before {
  content: "\eb9f";
}

.mi-KeyboardStandard::before {
  content: "\eba0";
}

.mi-Korean::before {
  content: "\eba1";
}

.mi-LEDLight::before {
  content: "\eba2";
}

.mi-Label::before {
  content: "\eba3";
}

.mi-LangJPN::before {
  content: "\eba4";
}

.mi-LanguageChs::before {
  content: "\eba5";
}

.mi-LanguageCht::before {
  content: "\eba6";
}

.mi-LanguageJpn::before {
  content: "\eba7";
}

.mi-LanguageKor::before {
  content: "\eba8";
}

.mi-LaptopSelected::before {
  content: "\eba9";
}

.mi-LayoutLegacy::before {
  content: "\ebaa";
}

.mi-Leaf::before {
  content: "\ebab";
}

.mi-LeaveChat::before {
  content: "\ebac";
}

.mi-LeaveChatMirrored::before {
  content: "\ebad";
}

.mi-LeftArrowKeyTime0::before {
  content: "\ebae";
}

.mi-LeftDoubleQuote::before {
  content: "\ebaf";
}

.mi-LeftQuote::before {
  content: "\ebb0";
}

.mi-Library::before {
  content: "\ebb1";
}

.mi-Light::before {
  content: "\ebb2";
}

.mi-Lightbulb::before {
  content: "\ebb3";
}

.mi-LightningBolt::before {
  content: "\ebb4";
}

.mi-Like::before {
  content: "\ebb5";
}

.mi-LikeDislike::before {
  content: "\ebb6";
}

.mi-Link::before {
  content: "\ebb7";
}

.mi-List::before {
  content: "\ebb8";
}

.mi-ListMirrored::before {
  content: "\ebb9";
}

.mi-Location::before {
  content: "\ebba";
}

.mi-Lock::before {
  content: "\ebbb";
}

.mi-LockScreenGlance::before {
  content: "\ebbc";
}

.mi-LockscreenDesktop::before {
  content: "\ebbd";
}

.mi-LowerBrightness::before {
  content: "\ebbe";
}

.mi-MagStripeReader::before {
  content: "\ebbf";
}

.mi-Mail::before {
  content: "\ebc0";
}

.mi-MailBadge12::before {
  content: "\ebc1";
}

.mi-MailFill::before {
  content: "\ebc2";
}

.mi-MailForward::before {
  content: "\ebc3";
}

.mi-MailForwardMirrored::before {
  content: "\ebc4";
}

.mi-MailReply::before {
  content: "\ebc5";
}

.mi-MailReplyAll::before {
  content: "\ebc6";
}

.mi-MailReplyAllMirrored::before {
  content: "\ebc7";
}

.mi-MailReplyMirrored::before {
  content: "\ebc8";
}

.mi-Manage::before {
  content: "\ebc9";
}

.mi-MapCompassBottom::before {
  content: "\ebca";
}

.mi-MapCompassTop::before {
  content: "\ebcb";
}

.mi-MapDirections::before {
  content: "\ebcc";
}

.mi-MapDrive::before {
  content: "\ebcd";
}

.mi-MapLayers::before {
  content: "\ebce";
}

.mi-MapPin::before {
  content: "\ebcf";
}

.mi-MapPinLegacy::before {
  content: "\ebd0";
}

.mi-Marker::before {
  content: "\ebd1";
}

.mi-Marquee::before {
  content: "\ebd2";
}

.mi-Media::before {
  content: "\ebd3";
}

.mi-MediaStorageTower::before {
  content: "\ebd4";
}

.mi-Megaphone::before {
  content: "\ebd5";
}

.mi-Memo::before {
  content: "\ebd6";
}

.mi-Message::before {
  content: "\ebd7";
}

.mi-MicClipping::before {
  content: "\ebd8";
}

.mi-MicError::before {
  content: "\ebd9";
}

.mi-MicOff::before {
  content: "\ebda";
}

.mi-MicOn::before {
  content: "\ebdb";
}

.mi-MicSleep::before {
  content: "\ebdc";
}

.mi-Microphone::before {
  content: "\ebdd";
}

.mi-MiracastLogoSmall::before {
  content: "\ebde";
}

.mi-MobActionCenter::before {
  content: "\ebdf";
}

.mi-MobAirplane::before {
  content: "\ebe0";
}

.mi-MobBattery0::before {
  content: "\ebe1";
}

.mi-MobBattery1::before {
  content: "\ebe2";
}

.mi-MobBattery10::before {
  content: "\ebe3";
}

.mi-MobBattery2::before {
  content: "\ebe4";
}

.mi-MobBattery3::before {
  content: "\ebe5";
}

.mi-MobBattery4::before {
  content: "\ebe6";
}

.mi-MobBattery5::before {
  content: "\ebe7";
}

.mi-MobBattery6::before {
  content: "\ebe8";
}

.mi-MobBattery7::before {
  content: "\ebe9";
}

.mi-MobBattery8::before {
  content: "\ebea";
}

.mi-MobBattery9::before {
  content: "\ebeb";
}

.mi-MobBatteryCharging0::before {
  content: "\ebec";
}

.mi-MobBatteryCharging1::before {
  content: "\ebed";
}

.mi-MobBatteryCharging10::before {
  content: "\ebee";
}

.mi-MobBatteryCharging2::before {
  content: "\ebef";
}

.mi-MobBatteryCharging3::before {
  content: "\ebf0";
}

.mi-MobBatteryCharging4::before {
  content: "\ebf1";
}

.mi-MobBatteryCharging5::before {
  content: "\ebf2";
}

.mi-MobBatteryCharging6::before {
  content: "\ebf3";
}

.mi-MobBatteryCharging7::before {
  content: "\ebf4";
}

.mi-MobBatteryCharging8::before {
  content: "\ebf5";
}

.mi-MobBatteryCharging9::before {
  content: "\ebf6";
}

.mi-MobBatterySaver0::before {
  content: "\ebf7";
}

.mi-MobBatterySaver1::before {
  content: "\ebf8";
}

.mi-MobBatterySaver10::before {
  content: "\ebf9";
}

.mi-MobBatterySaver2::before {
  content: "\ebfa";
}

.mi-MobBatterySaver3::before {
  content: "\ebfb";
}

.mi-MobBatterySaver4::before {
  content: "\ebfc";
}

.mi-MobBatterySaver5::before {
  content: "\ebfd";
}

.mi-MobBatterySaver6::before {
  content: "\ebfe";
}

.mi-MobBatterySaver7::before {
  content: "\ebff";
}

.mi-MobBatterySaver8::before {
  content: "\ec00";
}

.mi-MobBatterySaver9::before {
  content: "\ec01";
}

.mi-MobBatteryUnknown::before {
  content: "\ec02";
}

.mi-MobBluetooth::before {
  content: "\ec03";
}

.mi-MobCallForwarding::before {
  content: "\ec04";
}

.mi-MobCallForwardingMirrored::before {
  content: "\ec05";
}

.mi-MobDrivingMode::before {
  content: "\ec06";
}

.mi-MobLocation::before {
  content: "\ec07";
}

.mi-MobQuietHours::before {
  content: "\ec08";
}

.mi-MobSignal1::before {
  content: "\ec09";
}

.mi-MobSignal2::before {
  content: "\ec0a";
}

.mi-MobSignal3::before {
  content: "\ec0b";
}

.mi-MobSignal4::before {
  content: "\ec0c";
}

.mi-MobSignal5::before {
  content: "\ec0d";
}

.mi-MobWifi1::before {
  content: "\ec0e";
}

.mi-MobWifi2::before {
  content: "\ec0f";
}

.mi-MobWifi3::before {
  content: "\ec10";
}

.mi-MobWifi4::before {
  content: "\ec11";
}

.mi-MobWifiHotspot::before {
  content: "\ec12";
}

.mi-MobileLocked::before {
  content: "\ec13";
}

.mi-MobileSelected::before {
  content: "\ec14";
}

.mi-MobileTablet::before {
  content: "\ec15";
}

.mi-More::before {
  content: "\ec16";
}

.mi-Mouse::before {
  content: "\ec17";
}

.mi-MoveToFolder::before {
  content: "\ec18";
}

.mi-Movies::before {
  content: "\ec19";
}

.mi-MultiSelect::before {
  content: "\ec1a";
}

.mi-MultiSelectMirrored::before {
  content: "\ec1b";
}

.mi-MultimediaDMP::before {
  content: "\ec1c";
}

.mi-MultimediaDMS::before {
  content: "\ec1d";
}

.mi-MultimediaDVR::before {
  content: "\ec1e";
}

.mi-MultimediaPMP::before {
  content: "\ec1f";
}

.mi-Multitask::before {
  content: "\ec20";
}

.mi-Multitask16::before {
  content: "\ec21";
}

.mi-MultitaskExpanded::before {
  content: "\ec22";
}

.mi-MusicAlbum::before {
  content: "\ec23";
}

.mi-MusicInfo::before {
  content: "\ec24";
}

.mi-MusicNote::before {
  content: "\ec25";
}

.mi-Mute::before {
  content: "\ec26";
}

.mi-MyNetwork::before {
  content: "\ec27";
}

.mi-NUIFPContinueSlideAction::before {
  content: "\ec28";
}

.mi-NUIFPContinueSlideHand::before {
  content: "\ec29";
}

.mi-NUIFPPressAction::before {
  content: "\ec2a";
}

.mi-NUIFPPressHand::before {
  content: "\ec2b";
}

.mi-NUIFPPressRepeatAction::before {
  content: "\ec2c";
}

.mi-NUIFPRollLeftAction::before {
  content: "\ec2d";
}

.mi-NUIFPRollLeftHand::before {
  content: "\ec2e";
}

.mi-NUIFPRollRightHand::before {
  content: "\ec2f";
}

.mi-NUIFPRollRightHandAction::before {
  content: "\ec30";
}

.mi-NUIFPStartSlideAction::before {
  content: "\ec31";
}

.mi-NUIFPStartSlideHand::before {
  content: "\ec32";
}

.mi-NUIFace::before {
  content: "\ec33";
}

.mi-NUIIris::before {
  content: "\ec34";
}

.mi-Narrator::before {
  content: "\ec35";
}

.mi-NarratorForward::before {
  content: "\ec36";
}

.mi-NarratorForwardMirrored::before {
  content: "\ec37";
}

.mi-Network::before {
  content: "\ec38";
}

.mi-NetworkAdapter::before {
  content: "\ec39";
}

.mi-NetworkPrinter::before {
  content: "\ec3a";
}

.mi-NetworkTower::before {
  content: "\ec3b";
}

.mi-NewFolder::before {
  content: "\ec3c";
}

.mi-NewWindow::before {
  content: "\ec3d";
}

.mi-Next::before {
  content: "\ec3e";
}

.mi-OEM::before {
  content: "\ec3f";
}

.mi-OneBar::before {
  content: "\ec40";
}

.mi-OpenFile::before {
  content: "\ec41";
}

.mi-OpenInNewWindow::before {
  content: "\ec42";
}

.mi-OpenLocal::before {
  content: "\ec43";
}

.mi-OpenPane::before {
  content: "\ec44";
}

.mi-OpenPaneMirrored::before {
  content: "\ec45";
}

.mi-OpenWith::before {
  content: "\ec46";
}

.mi-OpenWithMirrored::before {
  content: "\ec47";
}

.mi-Orientation::before {
  content: "\ec48";
}

.mi-OtherUser::before {
  content: "\ec49";
}

.mi-PC1::before {
  content: "\ec4a";
}

.mi-PLAP::before {
  content: "\ec4b";
}

.mi-Package::before {
  content: "\ec4c";
}

.mi-Page::before {
  content: "\ec4d";
}

.mi-PageLeft::before {
  content: "\ec4e";
}

.mi-PageRight::before {
  content: "\ec4f";
}

.mi-PageSolid::before {
  content: "\ec50";
}

.mi-PanMode::before {
  content: "\ec51";
}

.mi-ParkingLocation::before {
  content: "\ec52";
}

.mi-ParkingLocationMirrored::before {
  content: "\ec53";
}

.mi-ParkingLocationSolid::before {
  content: "\ec54";
}

.mi-PartyLeader::before {
  content: "\ec55";
}

.mi-PasswordKeyHide::before {
  content: "\ec56";
}

.mi-PasswordKeyShow::before {
  content: "\ec57";
}

.mi-Paste::before {
  content: "\ec58";
}

.mi-Pause::before {
  content: "\ec59";
}

.mi-PauseBadge12::before {
  content: "\ec5a";
}

.mi-PenPalette::before {
  content: "\ec5b";
}

.mi-PenPaletteMirrored::before {
  content: "\ec5c";
}

.mi-PenWorkspace::before {
  content: "\ec5d";
}

.mi-PenWorkspaceMirrored::before {
  content: "\ec5e";
}

.mi-Pencil::before {
  content: "\ec5f";
}

.mi-People::before {
  content: "\ec60";
}

.mi-PeriodKey::before {
  content: "\ec61";
}

.mi-Permissions::before {
  content: "\ec62";
}

.mi-PersonalFolder::before {
  content: "\ec63";
}

.mi-Personalize::before {
  content: "\ec64";
}

.mi-Phone::before {
  content: "\ec65";
}

.mi-PhoneBook::before {
  content: "\ec66";
}

.mi-Photo::before {
  content: "\ec67";
}

.mi-Photo2::before {
  content: "\ec68";
}

.mi-Picture::before {
  content: "\ec69";
}

.mi-PieSingle::before {
  content: "\ec6a";
}

.mi-Pin::before {
  content: "\ec6b";
}

.mi-PinFill::before {
  content: "\ec6c";
}

.mi-Pinned::before {
  content: "\ec6d";
}

.mi-PinnedFill::before {
  content: "\ec6e";
}

.mi-PlaceFolderLegacy::before {
  content: "\ec6f";
}

.mi-Play::before {
  content: "\ec70";
}

.mi-Play36::before {
  content: "\ec71";
}

.mi-PlayBadge12::before {
  content: "\ec72";
}

.mi-PlayOnLegacy::before {
  content: "\ec73";
}

.mi-PlaybackRate1x::before {
  content: "\ec74";
}

.mi-PlaybackRateOther::before {
  content: "\ec75";
}

.mi-PointErase::before {
  content: "\ec76";
}

.mi-PointEraseMirrored::before {
  content: "\ec77";
}

.mi-PoliceCar::before {
  content: "\ec78";
}

.mi-PostUpdate::before {
  content: "\ec79";
}

.mi-PowerButton::before {
  content: "\ec7a";
}

.mi-PresenceChickletVideo::before {
  content: "\ec7b";
}

.mi-Preview::before {
  content: "\ec7c";
}

.mi-PreviewLink::before {
  content: "\ec7d";
}

.mi-Previous::before {
  content: "\ec7e";
}

.mi-Print::before {
  content: "\ec7f";
}

.mi-Printer3D::before {
  content: "\ec80";
}

.mi-Printer3DLegacy::before {
  content: "\ec81";
}

.mi-PrintfaxPrinterFile::before {
  content: "\ec82";
}

.mi-Priority::before {
  content: "\ec83";
}

.mi-Process::before {
  content: "\ec84";
}

.mi-Project::before {
  content: "\ec85";
}

.mi-Projector::before {
  content: "\ec86";
}

.mi-ProtectedDocument::before {
  content: "\ec87";
}

.mi-ProvisioningPackage::before {
  content: "\ec88";
}

.mi-PuncKey::before {
  content: "\ec89";
}

.mi-PuncKey0::before {
  content: "\ec8a";
}

.mi-PuncKey1::before {
  content: "\ec8b";
}

.mi-PuncKey2::before {
  content: "\ec8c";
}

.mi-PuncKey3::before {
  content: "\ec8d";
}

.mi-PuncKey4::before {
  content: "\ec8e";
}

.mi-PuncKey5::before {
  content: "\ec8f";
}

.mi-PuncKey6::before {
  content: "\ec90";
}

.mi-PuncKey7::before {
  content: "\ec91";
}

.mi-PuncKey8::before {
  content: "\ec92";
}

.mi-PuncKey9::before {
  content: "\ec93";
}

.mi-PuncKeyLeftBottom::before {
  content: "\ec94";
}

.mi-PuncKeyRightBottom::before {
  content: "\ec95";
}

.mi-Puzzle::before {
  content: "\ec96";
}

.mi-QWERTYOff::before {
  content: "\ec97";
}

.mi-QWERTYOn::before {
  content: "\ec98";
}

.mi-QuickNote::before {
  content: "\ec99";
}

.mi-QuietHours::before {
  content: "\ec9a";
}

.mi-RadioBtnOff::before {
  content: "\ec9b";
}

.mi-RadioBtnOn::before {
  content: "\ec9c";
}

.mi-RadioBullet::before {
  content: "\ec9d";
}

.mi-RadioBullet2::before {
  content: "\ec9e";
}

.mi-Read::before {
  content: "\ec9f";
}

.mi-ReadingList::before {
  content: "\eca0";
}

.mi-ReceiptPrinter::before {
  content: "\eca1";
}

.mi-Recent::before {
  content: "\eca2";
}

.mi-Record::before {
  content: "\eca3";
}

.mi-Redo::before {
  content: "\eca4";
}

.mi-ReduceTileLegacy::before {
  content: "\eca5";
}

.mi-ReduceTileLegacyMirrored::before {
  content: "\eca6";
}

.mi-Refresh::before {
  content: "\eca7";
}

.mi-RememberedDevice::before {
  content: "\eca8";
}

.mi-Reminder::before {
  content: "\eca9";
}

.mi-ReminderFill::before {
  content: "\ecaa";
}

.mi-Remote::before {
  content: "\ecab";
}

.mi-Remove::before {
  content: "\ecac";
}

.mi-RemoveFrom::before {
  content: "\ecad";
}

.mi-Rename::before {
  content: "\ecae";
}

.mi-Repair::before {
  content: "\ecaf";
}

.mi-RepeatOne::before {
  content: "\ecb0";
}

.mi-Reply::before {
  content: "\ecb1";
}

.mi-ReplyMirrored::before {
  content: "\ecb2";
}

.mi-ReportHacked::before {
  content: "\ecb3";
}

.mi-ResetDevice::before {
  content: "\ecb4";
}

.mi-ResetDrive::before {
  content: "\ecb5";
}

.mi-Reshare::before {
  content: "\ecb6";
}

.mi-ResizeMouseMedium::before {
  content: "\ecb7";
}

.mi-ResizeMouseMediumMirrored::before {
  content: "\ecb8";
}

.mi-ResizeMouseSmall::before {
  content: "\ecb9";
}

.mi-ResizeMouseSmallMirrored::before {
  content: "\ecba";
}

.mi-ResizeMouseTall::before {
  content: "\ecbb";
}

.mi-ResizeMouseTallMirrored::before {
  content: "\ecbc";
}

.mi-ResizeMouseWide::before {
  content: "\ecbd";
}

.mi-ResizeTouchLarger::before {
  content: "\ecbe";
}

.mi-ResizeTouchNarrower::before {
  content: "\ecbf";
}

.mi-ResizeTouchNarrowerMirrored::before {
  content: "\ecc0";
}

.mi-ResizeTouchShorter::before {
  content: "\ecc1";
}

.mi-ResizeTouchSmaller::before {
  content: "\ecc2";
}

.mi-ResolutionLegacy::before {
  content: "\ecc3";
}

.mi-ReturnKey::before {
  content: "\ecc4";
}

.mi-ReturnKeyLg::before {
  content: "\ecc5";
}

.mi-ReturnKeySm::before {
  content: "\ecc6";
}

.mi-ReturnToWindow::before {
  content: "\ecc7";
}

.mi-RevToggleKey::before {
  content: "\ecc8";
}

.mi-Rewind::before {
  content: "\ecc9";
}

.mi-RightArrowKeyTime0::before {
  content: "\ecca";
}

.mi-RightArrowKeyTime1::before {
  content: "\eccb";
}

.mi-RightArrowKeyTime2::before {
  content: "\eccc";
}

.mi-RightArrowKeyTime3::before {
  content: "\eccd";
}

.mi-RightArrowKeyTime4::before {
  content: "\ecce";
}

.mi-RightDoubleQuote::before {
  content: "\eccf";
}

.mi-RightQuote::before {
  content: "\ecd0";
}

.mi-Ringer::before {
  content: "\ecd1";
}

.mi-RingerBadge12::before {
  content: "\ecd2";
}

.mi-RingerSilent::before {
  content: "\ecd3";
}

.mi-RoamingDomestic::before {
  content: "\ecd4";
}

.mi-RoamingInternational::before {
  content: "\ecd5";
}

.mi-Robot::before {
  content: "\ecd6";
}

.mi-Rotate::before {
  content: "\ecd7";
}

.mi-RotateCamera::before {
  content: "\ecd8";
}

.mi-RotateLegacy::before {
  content: "\ecd9";
}

.mi-RotateMapLeft::before {
  content: "\ecda";
}

.mi-RotateMapRight::before {
  content: "\ecdb";
}

.mi-RotationLock::before {
  content: "\ecdc";
}

.mi-Ruler::before {
  content: "\ecdd";
}

.mi-SDCard::before {
  content: "\ecde";
}

.mi-SIMLock::before {
  content: "\ecdf";
}

.mi-SIMMissing::before {
  content: "\ece0";
}

.mi-SIPMove::before {
  content: "\ece1";
}

.mi-SIPRedock::before {
  content: "\ece2";
}

.mi-SIPUndock::before {
  content: "\ece3";
}

.mi-Save::before {
  content: "\ece4";
}

.mi-SaveAs::before {
  content: "\ece5";
}

.mi-SaveCopy::before {
  content: "\ece6";
}

.mi-SaveLocal::before {
  content: "\ece7";
}

.mi-Scan::before {
  content: "\ece8";
}

.mi-ScrollMode::before {
  content: "\ece9";
}

.mi-ScrollUpDown::before {
  content: "\ecea";
}

.mi-Search::before {
  content: "\eceb";
}

.mi-SearchAndApps::before {
  content: "\ecec";
}

.mi-SelectAll::before {
  content: "\eced";
}

.mi-SemanticZoomLegacy::before {
  content: "\ecee";
}

.mi-Send::before {
  content: "\ecef";
}

.mi-SendFill::before {
  content: "\ecf0";
}

.mi-SendFillMirrored::before {
  content: "\ecf1";
}

.mi-SendMirrored::before {
  content: "\ecf2";
}

.mi-Sensor::before {
  content: "\ecf3";
}

.mi-SetTile::before {
  content: "\ecf4";
}

.mi-SetlockScreen::before {
  content: "\ecf5";
}

.mi-Settings::before {
  content: "\ecf6";
}

.mi-SettingsBattery::before {
  content: "\ecf7";
}

.mi-SettingsDisplaySound::before {
  content: "\ecf8";
}

.mi-Share::before {
  content: "\ecf9";
}

.mi-ShareBroadband::before {
  content: "\ecfa";
}

.mi-Shop::before {
  content: "\ecfb";
}

.mi-ShoppingCart::before {
  content: "\ecfc";
}

.mi-ShowAllFiles1Legacy::before {
  content: "\ecfd";
}

.mi-ShowAllFiles3Legacy::before {
  content: "\ecfe";
}

.mi-ShowBcc::before {
  content: "\ecff";
}

.mi-ShowResults::before {
  content: "\ed00";
}

.mi-ShowResultsMirrored::before {
  content: "\ed01";
}

.mi-Shuffle::before {
  content: "\ed02";
}

.mi-SignalBars1::before {
  content: "\ed03";
}

.mi-SignalBars2::before {
  content: "\ed04";
}

.mi-SignalBars3::before {
  content: "\ed05";
}

.mi-SignalBars4::before {
  content: "\ed06";
}

.mi-SignalBars5::before {
  content: "\ed07";
}

.mi-SignalError::before {
  content: "\ed08";
}

.mi-SignalNotConnected::before {
  content: "\ed09";
}

.mi-SignalRoaming::before {
  content: "\ed0a";
}

.mi-SizeLegacy::before {
  content: "\ed0b";
}

.mi-SkipBack10::before {
  content: "\ed0c";
}

.mi-SkipForward30::before {
  content: "\ed0d";
}

.mi-SliderThumb::before {
  content: "\ed0e";
}

.mi-Slideshow::before {
  content: "\ed0f";
}

.mi-Smartcard::before {
  content: "\ed10";
}

.mi-SmartcardVirtual::before {
  content: "\ed11";
}

.mi-Sort::before {
  content: "\ed12";
}

.mi-Speakers::before {
  content: "\ed13";
}

.mi-SpeedHigh::before {
  content: "\ed14";
}

.mi-SpeedMedium::before {
  content: "\ed15";
}

.mi-SpeedOff::before {
  content: "\ed16";
}

.mi-StartPoint::before {
  content: "\ed17";
}

.mi-StartPointSolid::before {
  content: "\ed18";
}

.mi-StatusCircle::before {
  content: "\ed19";
}

.mi-StatusCircleLeft::before {
  content: "\ed1a";
}

.mi-StatusConnecting1::before {
  content: "\ed1b";
}

.mi-StatusConnecting2::before {
  content: "\ed1c";
}

.mi-StatusDataTransfer::before {
  content: "\ed1d";
}

.mi-StatusDataTransferVPN::before {
  content: "\ed1e";
}

.mi-StatusDualSIM1::before {
  content: "\ed1f";
}

.mi-StatusDualSIM1VPN::before {
  content: "\ed20";
}

.mi-StatusDualSIM2::before {
  content: "\ed21";
}

.mi-StatusDualSIM2VPN::before {
  content: "\ed22";
}

.mi-StatusError::before {
  content: "\ed23";
}

.mi-StatusErrorFull::before {
  content: "\ed24";
}

.mi-StatusErrorLeft::before {
  content: "\ed25";
}

.mi-StatusSGLTE::before {
  content: "\ed26";
}

.mi-StatusSGLTECell::before {
  content: "\ed27";
}

.mi-StatusSGLTEDataVPN::before {
  content: "\ed28";
}

.mi-StatusTriangle::before {
  content: "\ed29";
}

.mi-StatusTriangleLeft::before {
  content: "\ed2a";
}

.mi-StatusUnsecure::before {
  content: "\ed2b";
}

.mi-StatusVPN::before {
  content: "\ed2c";
}

.mi-StatusWarning::before {
  content: "\ed2d";
}

.mi-StatusWarningLeft::before {
  content: "\ed2e";
}

.mi-StockDown::before {
  content: "\ed2f";
}

.mi-StockUp::before {
  content: "\ed30";
}

.mi-Stop::before {
  content: "\ed31";
}

.mi-StopPoint::before {
  content: "\ed32";
}

.mi-StopPointSolid::before {
  content: "\ed33";
}

.mi-StopSlideshowLegacy::before {
  content: "\ed34";
}

.mi-Stopwatch::before {
  content: "\ed35";
}

.mi-StorageNetworkWireless::before {
  content: "\ed36";
}

.mi-StorageOptical::before {
  content: "\ed37";
}

.mi-StorageTape::before {
  content: "\ed38";
}

.mi-Streaming::before {
  content: "\ed39";
}

.mi-StreamingEnterprise::before {
  content: "\ed3a";
}

.mi-Street::before {
  content: "\ed3b";
}

.mi-StreetsideSplitExpand::before {
  content: "\ed3c";
}

.mi-StreetsideSplitMinimize::before {
  content: "\ed3d";
}

.mi-StrokeErase::before {
  content: "\ed3e";
}

.mi-StrokeEraseMirrored::before {
  content: "\ed3f";
}

.mi-Subtitles::before {
  content: "\ed40";
}

.mi-SubtitlesAudio::before {
  content: "\ed41";
}

.mi-SurfaceHub::before {
  content: "\ed42";
}

.mi-Sustainable::before {
  content: "\ed43";
}

.mi-Swipe::before {
  content: "\ed44";
}

.mi-SwipeRevealArt::before {
  content: "\ed45";
}

.mi-Switch::before {
  content: "\ed46";
}

.mi-SwitchApps::before {
  content: "\ed47";
}

.mi-SwitchUser::before {
  content: "\ed48";
}

.mi-Sync::before {
  content: "\ed49";
}

.mi-SyncBadge12::before {
  content: "\ed4a";
}

.mi-SyncError::before {
  content: "\ed4b";
}

.mi-SyncFolder::before {
  content: "\ed4c";
}

.mi-System::before {
  content: "\ed4d";
}

.mi-TVMonitor::before {
  content: "\ed4e";
}

.mi-TVMonitorSelected::before {
  content: "\ed4f";
}

.mi-Tablet::before {
  content: "\ed50";
}

.mi-TabletMode::before {
  content: "\ed51";
}

.mi-TabletSelected::before {
  content: "\ed52";
}

.mi-Tag::before {
  content: "\ed53";
}

.mi-TapAndSend::before {
  content: "\ed54";
}

.mi-TaskbarPhone::before {
  content: "\ed55";
}

.mi-ThisPC::before {
  content: "\ed56";
}

.mi-ThoughtBubble::before {
  content: "\ed57";
}

.mi-ThreeBars::before {
  content: "\ed58";
}

.mi-Tiles::before {
  content: "\ed59";
}

.mi-TiltDown::before {
  content: "\ed5a";
}

.mi-TiltUp::before {
  content: "\ed5b";
}

.mi-TimeLanguage::before {
  content: "\ed5c";
}

.mi-ToggleBorder::before {
  content: "\ed5d";
}

.mi-ToggleFilled::before {
  content: "\ed5e";
}

.mi-ToggleThumb::before {
  content: "\ed5f";
}

.mi-Touch::before {
  content: "\ed60";
}

.mi-TouchPointer::before {
  content: "\ed61";
}

.mi-Touchscreen::before {
  content: "\ed62";
}

.mi-Trackers::before {
  content: "\ed63";
}

.mi-TrackersMirrored::before {
  content: "\ed64";
}

.mi-Train::before {
  content: "\ed65";
}

.mi-TrainSolid::before {
  content: "\ed66";
}

.mi-TreeFolderFolder::before {
  content: "\ed67";
}

.mi-TreeFolderFolderFill::before {
  content: "\ed68";
}

.mi-TreeFolderFolderOpen::before {
  content: "\ed69";
}

.mi-TreeFolderFolderOpenFill::before {
  content: "\ed6a";
}

.mi-Trim::before {
  content: "\ed6b";
}

.mi-TwoBars::before {
  content: "\ed6c";
}

.mi-TwoPage::before {
  content: "\ed6d";
}

.mi-Type::before {
  content: "\ed6e";
}

.mi-TypingIndicatorLegacy::before {
  content: "\ed6f";
}

.mi-USB::before {
  content: "\ed70";
}

.mi-USBSafeConnect::before {
  content: "\ed71";
}

.mi-Underline::before {
  content: "\ed72";
}

.mi-UnderlineLKoreanLegacy::before {
  content: "\ed73";
}

.mi-UnderlineRussianLegacy::before {
  content: "\ed74";
}

.mi-UnderlineSLegacy::before {
  content: "\ed75";
}

.mi-UnderlineULegacy::before {
  content: "\ed76";
}

.mi-UnderscoreSpace::before {
  content: "\ed77";
}

.mi-Undo::before {
  content: "\ed78";
}

.mi-Unfavorite::before {
  content: "\ed79";
}

.mi-Unit::before {
  content: "\ed7a";
}

.mi-Unlock::before {
  content: "\ed7b";
}

.mi-Unpin::before {
  content: "\ed7c";
}

.mi-UnsyncFolder::before {
  content: "\ed7d";
}

.mi-Up::before {
  content: "\ed7e";
}

.mi-UpArrowShiftKey::before {
  content: "\ed7f";
}

.mi-UpShiftKey::before {
  content: "\ed80";
}

.mi-UpdateRestore::before {
  content: "\ed81";
}

.mi-Upload::before {
  content: "\ed82";
}

.mi-VPN::before {
  content: "\ed83";
}

.mi-Vibrate::before {
  content: "\ed84";
}

.mi-Video::before {
  content: "\ed85";
}

.mi-VideoChat::before {
  content: "\ed86";
}

.mi-View::before {
  content: "\ed87";
}

.mi-ViewAll::before {
  content: "\ed88";
}

.mi-Volume::before {
  content: "\ed89";
}

.mi-Volume0::before {
  content: "\ed8a";
}

.mi-Volume1::before {
  content: "\ed8b";
}

.mi-Volume2::before {
  content: "\ed8c";
}

.mi-Volume3::before {
  content: "\ed8d";
}

.mi-VolumeBars::before {
  content: "\ed8e";
}

.mi-Walk::before {
  content: "\ed8f";
}

.mi-WalkSolid::before {
  content: "\ed90";
}

.mi-Warning::before {
  content: "\ed91";
}

.mi-Webcam::before {
  content: "\ed92";
}

.mi-Webcam2::before {
  content: "\ed93";
}

.mi-Wheel::before {
  content: "\ed94";
}

.mi-Wifi::before {
  content: "\ed95";
}

.mi-Wifi1::before {
  content: "\ed96";
}

.mi-Wifi2::before {
  content: "\ed97";
}

.mi-Wifi3::before {
  content: "\ed98";
}

.mi-WifiAttentionOverlay::before {
  content: "\ed99";
}

.mi-WifiCall0::before {
  content: "\ed9a";
}

.mi-WifiCall1::before {
  content: "\ed9b";
}

.mi-WifiCall2::before {
  content: "\ed9c";
}

.mi-WifiCall3::before {
  content: "\ed9d";
}

.mi-WifiCall4::before {
  content: "\ed9e";
}

.mi-WifiCallBars::before {
  content: "\ed9f";
}

.mi-WifiError0::before {
  content: "\eda0";
}

.mi-WifiError1::before {
  content: "\eda1";
}

.mi-WifiError2::before {
  content: "\eda2";
}

.mi-WifiError3::before {
  content: "\eda3";
}

.mi-WifiError4::before {
  content: "\eda4";
}

.mi-WifiEthernet::before {
  content: "\eda5";
}

.mi-WifiHotspot::before {
  content: "\eda6";
}

.mi-WifiWarning0::before {
  content: "\eda7";
}

.mi-WifiWarning1::before {
  content: "\eda8";
}

.mi-WifiWarning2::before {
  content: "\eda9";
}

.mi-WifiWarning3::before {
  content: "\edaa";
}

.mi-WifiWarning4::before {
  content: "\edab";
}

.mi-WindDirection::before {
  content: "\edac";
}

.mi-WiredUSB::before {
  content: "\edad";
}

.mi-WirelessUSB::before {
  content: "\edae";
}

.mi-Work::before {
  content: "\edaf";
}

.mi-WorkSolid::before {
  content: "\edb0";
}

.mi-World::before {
  content: "\edb1";
}

.mi-XboxOneConsole::before {
  content: "\edb2";
}

.mi-ZeroBars::before {
  content: "\edb3";
}

.mi-Zoom::before {
  content: "\edb4";
}

.mi-ZoomIn::before {
  content: "\edb5";
}

.mi-ZoomMode::before {
  content: "\edb6";
}

.mi-ZoomOut::before {
  content: "\edb7";
}

.mi-adn::before {
  content: "\edb8";
}

.mi-amazon::before {
  content: "\edb9";
}

.mi-android::before {
  content: "\edba";
}

.mi-angellist::before {
  content: "\edbb";
}

.mi-apple::before {
  content: "\edbc";
}

.mi-bandcamp::before {
  content: "\edbd";
}

.mi-behance::before {
  content: "\edbe";
}

.mi-behance-square::before {
  content: "\edbf";
}

.mi-bitbucket::before {
  content: "\edc0";
}

.mi-black-tie::before {
  content: "\edc1";
}

.mi-bluetooth::before {
  content: "\edc2";
}

.mi-bluetooth-b::before {
  content: "\edc3";
}

.mi-btc::before {
  content: "\edc4";
}

.mi-buysellads::before {
  content: "\edc5";
}

.mi-cc-amex::before {
  content: "\edc6";
}

.mi-cc-diners-club::before {
  content: "\edc7";
}

.mi-cc-discover::before {
  content: "\edc8";
}

.mi-cc-jcb::before {
  content: "\edc9";
}

.mi-cc-mastercard::before {
  content: "\edca";
}

.mi-cc-paypal::before {
  content: "\edcb";
}

.mi-cc-stripe::before {
  content: "\edcc";
}

.mi-cc-visa::before {
  content: "\edcd";
}

.mi-chrome::before {
  content: "\edce";
}

.mi-codepen::before {
  content: "\edcf";
}

.mi-codiepie::before {
  content: "\edd0";
}

.mi-connectdevelop::before {
  content: "\edd1";
}

.mi-contao::before {
  content: "\edd2";
}

.mi-css3::before {
  content: "\edd3";
}

.mi-dashcube::before {
  content: "\edd4";
}

.mi-delicious::before {
  content: "\edd5";
}

.mi-deviantart::before {
  content: "\edd6";
}

.mi-digg::before {
  content: "\edd7";
}

.mi-dribbble::before {
  content: "\edd8";
}

.mi-dropbox::before {
  content: "\edd9";
}

.mi-drupal::before {
  content: "\edda";
}

.mi-eSIM::before {
  content: "\eddb";
}

.mi-eSIMBusy::before {
  content: "\eddc";
}

.mi-eSIMLocked::before {
  content: "\eddd";
}

.mi-eSIMNoProfile::before {
  content: "\edde";
}

.mi-edge::before {
  content: "\eddf";
}

.mi-eercast::before {
  content: "\ede0";
}

.mi-empire::before {
  content: "\ede1";
}

.mi-envira::before {
  content: "\ede2";
}

.mi-expeditedssl::before {
  content: "\ede3";
}

.mi-facebook::before {
  content: "\ede4";
}

.mi-facebook-official::before {
  content: "\ede5";
}

.mi-firefox::before {
  content: "\ede6";
}

.mi-first-order::before {
  content: "\ede7";
}

.mi-flickr::before {
  content: "\ede8";
}

.mi-forumbee::before {
  content: "\ede9";
}

.mi-foursquare::before {
  content: "\edea";
}

.mi-free-code-camp::before {
  content: "\edeb";
}

.mi-get-pocket::before {
  content: "\edec";
}

.mi-gg::before {
  content: "\eded";
}

.mi-git::before {
  content: "\edee";
}

.mi-github::before {
  content: "\edef";
}

.mi-github-alt::before {
  content: "\edf0";
}

.mi-gitlab::before {
  content: "\edf1";
}

.mi-glide-g::before {
  content: "\edf2";
}

.mi-google::before {
  content: "\edf3";
}

.mi-google-plus::before {
  content: "\edf4";
}

.mi-google-wallet::before {
  content: "\edf5";
}

.mi-gratipay::before {
  content: "\edf6";
}

.mi-hacker-news::before {
  content: "\edf7";
}

.mi-houzz::before {
  content: "\edf8";
}

.mi-html5::before {
  content: "\edf9";
}

.mi-instagram::before {
  content: "\edfa";
}

.mi-internet-explorer::before {
  content: "\edfb";
}

.mi-ioxhost::before {
  content: "\edfc";
}

.mi-joomla::before {
  content: "\edfd";
}

.mi-jsfiddle::before {
  content: "\edfe";
}

.mi-lastfm::before {
  content: "\edff";
}

.mi-leanpub::before {
  content: "\ee00";
}

.mi-linkedin::before {
  content: "\ee01";
}

.mi-linode::before {
  content: "\ee02";
}

.mi-linux::before {
  content: "\ee03";
}

.mi-maxcdn::before {
  content: "\ee04";
}

.mi-meanpath::before {
  content: "\ee05";
}

.mi-medium::before {
  content: "\ee06";
}

.mi-meetup::before {
  content: "\ee07";
}

.mi-mixcloud::before {
  content: "\ee08";
}

.mi-modx::before {
  content: "\ee09";
}

.mi-odnoklassniki::before {
  content: "\ee0a";
}

.mi-opencart::before {
  content: "\ee0b";
}

.mi-openid::before {
  content: "\ee0c";
}

.mi-opera::before {
  content: "\ee0d";
}

.mi-optin-monster::before {
  content: "\ee0e";
}

.mi-pagelines::before {
  content: "\ee0f";
}

.mi-paypal::before {
  content: "\ee10";
}

.mi-pied-piper::before {
  content: "\ee11";
}

.mi-pied-piper-alt::before {
  content: "\ee12";
}

.mi-pinterest-p::before {
  content: "\ee13";
}

.mi-product-hunt::before {
  content: "\ee14";
}

.mi-qq::before {
  content: "\ee15";
}

.mi-quora::before {
  content: "\ee16";
}

.mi-ravelry::before {
  content: "\ee17";
}

.mi-rebel::before {
  content: "\ee18";
}

.mi-reddit-alien::before {
  content: "\ee19";
}

.mi-renren::before {
  content: "\ee1a";
}

.mi-safari::before {
  content: "\ee1b";
}

.mi-scribd::before {
  content: "\ee1c";
}

.mi-sellsy::before {
  content: "\ee1d";
}

.mi-shirtsinbulk::before {
  content: "\ee1e";
}

.mi-simplybuilt::before {
  content: "\ee1f";
}

.mi-skyatlas::before {
  content: "\ee20";
}

.mi-skype::before {
  content: "\ee21";
}

.mi-slack::before {
  content: "\ee22";
}

.mi-slideshare::before {
  content: "\ee23";
}

.mi-snapchat-ghost::before {
  content: "\ee24";
}

.mi-soundcloud::before {
  content: "\ee25";
}

.mi-spotify::before {
  content: "\ee26";
}

.mi-stack-exchange::before {
  content: "\ee27";
}

.mi-stack-overflow::before {
  content: "\ee28";
}

.mi-steam::before {
  content: "\ee29";
}

.mi-stumbleupon::before {
  content: "\ee2a";
}

.mi-superpowers::before {
  content: "\ee2b";
}

.mi-telegram::before {
  content: "\ee2c";
}

.mi-tencent-weibo::before {
  content: "\ee2d";
}

.mi-themeisle::before {
  content: "\ee2e";
}

.mi-trello::before {
  content: "\ee2f";
}

.mi-tripadvisor::before {
  content: "\ee30";
}

.mi-tumblr::before {
  content: "\ee31";
}

.mi-twitch::before {
  content: "\ee32";
}

.mi-twitter::before {
  content: "\ee33";
}

.mi-viacoin::before {
  content: "\ee34";
}

.mi-viadeo::before {
  content: "\ee35";
}

.mi-vimeo::before {
  content: "\ee36";
}

.mi-vine::before {
  content: "\ee37";
}

.mi-vk::before {
  content: "\ee38";
}

.mi-weibo::before {
  content: "\ee39";
}

.mi-weixin::before {
  content: "\ee3a";
}

.mi-whatsapp::before {
  content: "\ee3b";
}

.mi-wikipedia-w::before {
  content: "\ee3c";
}

.mi-windows::before {
  content: "\ee3d";
}

.mi-wordpress::before {
  content: "\ee3e";
}

.mi-wpbeginner::before {
  content: "\ee3f";
}

.mi-wpexplorer::before {
  content: "\ee40";
}

.mi-wpform::before {
  content: "\ee41";
}

.mi-xing::before {
  content: "\ee42";
}

.mi-yahoo::before {
  content: "\ee43";
}

.mi-yelp::before {
  content: "\ee44";
}

.mi-yoast::before {
  content: "\ee45";
}

.mi-youtube::before {
  content: "\ee46";
}

.mi-youtube-play::before {
  content: "\ee47";
}
