/**
 * Map Icons, 3.0.3-3
 * Created by Scott DeJonge
 * https://github.com/scottdejonge/Map-Icons#readme
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "map-icons";
  src: url('map-icons.eot');
  src: url('map-icons.eot?#iefix') format('eot'),

    url('map-icons.woff') format('woff'),
    url('map-icons.ttf') format('truetype'),
    url('map-icons.svg#map-icons') format('svg');
}

.mai {
  font-family: "map-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.mai-art-gallery:before {
  content: "\e806";
}
.mai-campground:before {
  content: "\e819";
}
.mai-bank:before {
  content: "\e80b";
}
.mai-hair-care:before {
  content: "\e845";
}
.mai-gym:before {
  content: "\e844";
}
.mai-point-of-interest:before {
  content: "\e871";
}
.mai-post-box:before {
  content: "\e874";
}
.mai-post-office:before {
  content: "\e875";
}
.mai-university:before {
  content: "\e8a1";
}
.mai-beauty-salon:before {
  content: "\e80e";
}
.mai-atm:before {
  content: "\e808";
}
.mai-rv-park:before {
  content: "\e87e";
}
.mai-school:before {
  content: "\e880";
}
.mai-library:before {
  content: "\e855";
}
.mai-spa:before {
  content: "\e88e";
}
.mai-route:before {
  content: "\e87d";
}
.mai-postal-code:before {
  content: "\e877";
}
.mai-stadium:before {
  content: "\e892";
}
.mai-postal-code-prefix:before {
  content: "\e876";
}
.mai-museum:before {
  content: "\e864";
}
.mai-finance:before {
  content: "\e836";
}
.mai-natural-feature:before {
  content: "\e865";
}
.mai-funeral-home:before {
  content: "\e83e";
}
.mai-cemetery:before {
  content: "\e820";
}
.mai-park:before {
  content: "\e869";
}
.mai-lodging:before {
  content: "\e85a";
}
.mai-female:before {
  content: "\e835";
}
.mai-male:before {
  content: "\e85c";
}
.mai-unisex:before {
  content: "\e8a0";
}
.mai-toilet:before {
  content: "\e89b";
}
.mai-bakery:before {
  content: "\e80a";
}
.mai-cafe:before {
  content: "\e818";
}
.mai-restaurant:before {
  content: "\e87a";
}
.mai-food:before {
  content: "\e83c";
}
.mai-liquor-store:before {
  content: "\e856";
}
.mai-bicycle-store:before {
  content: "\e80f";
}
.mai-pet-store:before {
  content: "\e86b";
}
.mai-hardware-store:before {
  content: "\e847";
}
.mai-book-store:before {
  content: "\e814";
}
.mai-furniture-store:before {
  content: "\e83f";
}
.mai-department-store:before {
  content: "\e82e";
}
.mai-electronics-store:before {
  content: "\e832";
}
.mai-jewelry-store:before {
  content: "\e851";
}
.mai-clothing-store:before {
  content: "\e827";
}
.mai-convenience-store:before {
  content: "\e829";
}
.mai-store:before {
  content: "\e894";
}
.mai-shopping-mall:before {
  content: "\e884";
}
.mai-movie-rental:before {
  content: "\e861";
}
.mai-grocery-or-supermarket:before {
  content: "\e843";
}
.mai-florist:before {
  content: "\e83b";
}
.mai-laundry:before {
  content: "\e853";
}
.mai-abseiling:before {
  content: "\e800";
}
.mai-archery:before {
  content: "\e805";
}
.mai-baseball:before {
  content: "\e80d";
}
.mai-bicycling:before {
  content: "\e810";
}
.mai-climbing:before {
  content: "\e825";
}
.mai-golf:before {
  content: "\e842";
}
.mai-hang-gliding:before {
  content: "\e846";
}
.mai-horse-riding:before {
  content: "\e84a";
}
.mai-inline-skating:before {
  content: "\e84e";
}
.mai-motobike-trail:before {
  content: "\e860";
}
.mai-playground:before {
  content: "\e86f";
}
.mai-skateboarding:before {
  content: "\e886";
}
.mai-tennis:before {
  content: "\e89a";
}
.mai-trail-walking:before {
  content: "\e89c";
}
.mai-viewing:before {
  content: "\e8a3";
}
.mai-walking:before {
  content: "\e8a5";
}
.mai-boating:before {
  content: "\e813";
}
.mai-boat-ramp:before {
  content: "\e811";
}
.mai-boat-tour:before {
  content: "\e812";
}
.mai-canoe:before {
  content: "\e81a";
}
.mai-diving:before {
  content: "\e82f";
}
.mai-fishing:before {
  content: "\e83a";
}
.mai-fishing-pier:before {
  content: "\e839";
}
.mai-fish-cleaning:before {
  content: "\e838";
}
.mai-jet-skiing:before {
  content: "\e850";
}
.mai-kayaking:before {
  content: "\e852";
}
.mai-marina:before {
  content: "\e85e";
}
.mai-rafting:before {
  content: "\e878";
}
.mai-sailing:before {
  content: "\e87f";
}
.mai-scuba-diving:before {
  content: "\e881";
}
.mai-surfing:before {
  content: "\e896";
}
.mai-swimming:before {
  content: "\e897";
}
.mai-waterskiing:before {
  content: "\e8a6";
}
.mai-whale-watching:before {
  content: "\e8a7";
}
.mai-wind-surfing:before {
  content: "\e8a9";
}
.mai-chairlift:before {
  content: "\e821";
}
.mai-cross-country-skiing:before {
  content: "\e82b";
}
.mai-ice-fishing:before {
  content: "\e84c";
}
.mai-ice-skating:before {
  content: "\e84d";
}
.mai-ski-jumping:before {
  content: "\e887";
}
.mai-skiing:before {
  content: "\e888";
}
.mai-sledding:before {
  content: "\e889";
}
.mai-snow-shoeing:before {
  content: "\e88a";
}
.mai-snow:before {
  content: "\e88b";
}
.mai-snowboarding:before {
  content: "\e88c";
}
.mai-snowmobile:before {
  content: "\e88d";
}
.mai-train-station:before {
  content: "\e89d";
}
.mai-subway-station:before {
  content: "\e895";
}
.mai-bus-station:before {
  content: "\e817";
}
.mai-transit-station:before {
  content: "\e89e";
}
.mai-parking:before {
  content: "\e86a";
}
.mai-gas-station:before {
  content: "\e840";
}
.mai-car-rental:before {
  content: "\e81c";
}
.mai-car-dealer:before {
  content: "\e81b";
}
.mai-car-repair:before {
  content: "\e81d";
}
.mai-car-wash:before {
  content: "\e81e";
}
.mai-airport:before {
  content: "\e802";
}
.mai-taxi-stand:before {
  content: "\e899";
}
.mai-health:before {
  content: "\e848";
}
.mai-dentist:before {
  content: "\e82d";
}
.mai-doctor:before {
  content: "\e830";
}
.mai-hospital:before {
  content: "\e84b";
}
.mai-pharmacy:before {
  content: "\e86c";
}
.mai-physiotherapist:before {
  content: "\e86d";
}
.mai-veterinary-care:before {
  content: "\e8a2";
}
.mai-bar:before {
  content: "\e80c";
}
.mai-amusement-park:before {
  content: "\e803";
}
.mai-aquarium:before {
  content: "\e804";
}
.mai-casino:before {
  content: "\e81f";
}
.mai-movie-theater:before {
  content: "\e862";
}
.mai-night-club:before {
  content: "\e866";
}
.mai-zoo:before {
  content: "\e8aa";
}
.mai-bowling-alley:before {
  content: "\e815";
}
.mai-storage:before {
  content: "\e893";
}
.mai-electrician:before {
  content: "\e831";
}
.mai-moving-company:before {
  content: "\e863";
}
.mai-painter:before {
  content: "\e868";
}
.mai-plumber:before {
  content: "\e870";
}
.mai-roofing-contractor:before {
  content: "\e87b";
}
.mai-general-contractor:before {
  content: "\e841";
}
.mai-locksmith:before {
  content: "\e859";
}
.mai-insurance-agency:before {
  content: "\e84f";
}
.mai-lawyer:before {
  content: "\e854";
}
.mai-real-estate-agency:before {
  content: "\e879";
}
.mai-travel-agency:before {
  content: "\e89f";
}
.mai-accounting:before {
  content: "\e801";
}
.mai-courthouse:before {
  content: "\e82a";
}
.mai-political:before {
  content: "\e873";
}
.mai-local-government:before {
  content: "\e857";
}
.mai-embassy:before {
  content: "\e833";
}
.mai-city-hall:before {
  content: "\e824";
}
.mai-fire-station:before {
  content: "\e837";
}
.mai-police:before {
  content: "\e872";
}
.mai-place-of-worship:before {
  content: "\e86e";
}
.mai-church:before {
  content: "\e822";
}
.mai-mosque:before {
  content: "\e85f";
}
.mai-synagogue:before {
  content: "\e898";
}
.mai-hindu-temple:before {
  content: "\e849";
}
.mai-wheelchair:before {
  content: "\e8a8";
}
.mai-closed-captioning:before {
  content: "\e826";
}
.mai-open-captioning:before {
  content: "\e867";
}
.mai-sign-language:before {
  content: "\e885";
}
.mai-volume-control-telephone:before {
  content: "\e8a4";
}
.mai-low-vision-access:before {
  content: "\e85b";
}
.mai-braille:before {
  content: "\e816";
}
.mai-audio-description:before {
  content: "\e809";
}
.mai-assistive-listening-system:before {
  content: "\e807";
}
.mai-search:before {
  content: "\e882";
}
.mai-location-arrow:before {
  content: "\e858";
}
.mai-zoom-out:before {
  content: "\e8ae";
}
.mai-zoom-out-alt:before {
  content: "\e8ad";
}
.mai-zoom-in:before {
  content: "\e8ac";
}
.mai-zoom-in-alt:before {
  content: "\e8ab";
}
.mai-crosshairs:before {
  content: "\e82c";
}
.mai-compass:before {
  content: "\e828";
}
.mai-expand:before {
  content: "\e834";
}
.mai-fullscreen:before {
  content: "\e83d";
}
.mai-map-pin:before {
  content: "\e85d";
}
.mai-square-pin:before {
  content: "\e88f";
}
.mai-route-pin:before {
  content: "\e87c";
}
.mai-shield:before {
  content: "\e883";
}
.mai-circle:before {
  content: "\e823";
}
.mai-square-rounded:before {
  content: "\e890";
}
.mai-square:before {
  content: "\e891";
}

