/**
 * Eva Fill Icons, 1.1.1
 * Created by akveo
 * https://github.com/akveo/eva-icons#readme
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "eva-fill-icons";
  src: url('eva-fill-icons.eot');
  src: url('eva-fill-icons.eot?#iefix') format('eot'),
    url('eva-fill-icons.woff2') format('woff2'),
    url('eva-fill-icons.woff') format('woff'),
    url('eva-fill-icons.ttf') format('truetype'),
    url('eva-fill-icons.svg#eva-fill-icons') format('svg');
}

.evaf {
  font-family: "eva-fill-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.evaf-activity:before {
  content: "\ea01";
}
.evaf-alert-circle:before {
  content: "\ea03";
}
.evaf-alert-triangle:before {
  content: "\ea05";
}
.evaf-archive:before {
  content: "\ea07";
}
.evaf-arrow-back:before {
  content: "\ea09";
}
.evaf-arrow-circle-down:before {
  content: "\ea0b";
}
.evaf-arrow-circle-left:before {
  content: "\ea0d";
}
.evaf-arrow-circle-right:before {
  content: "\ea0f";
}
.evaf-arrow-circle-up:before {
  content: "\ea11";
}
.evaf-arrow-down:before {
  content: "\ea13";
}
.evaf-arrow-downward:before {
  content: "\ea15";
}
.evaf-arrow-forward:before {
  content: "\ea17";
}
.evaf-arrow-ios-back:before {
  content: "\ea19";
}
.evaf-arrow-ios-downward:before {
  content: "\ea1b";
}
.evaf-arrow-ios-forward:before {
  content: "\ea1d";
}
.evaf-arrow-ios-upward:before {
  content: "\ea1f";
}
.evaf-arrow-left:before {
  content: "\ea21";
}
.evaf-arrow-right:before {
  content: "\ea23";
}
.evaf-arrow-up:before {
  content: "\ea25";
}
.evaf-arrow-upward:before {
  content: "\ea27";
}
.evaf-arrowhead-down:before {
  content: "\ea29";
}
.evaf-arrowhead-left:before {
  content: "\ea2b";
}
.evaf-arrowhead-right:before {
  content: "\ea2d";
}
.evaf-arrowhead-up:before {
  content: "\ea2f";
}
.evaf-at:before {
  content: "\ea31";
}
.evaf-attach:before {
  content: "\ea33";
}
.evaf-attach-2:before {
  content: "\ea34";
}
.evaf-award:before {
  content: "\ea37";
}
.evaf-backspace:before {
  content: "\ea39";
}
.evaf-bar-chart:before {
  content: "\ea3b";
}
.evaf-bar-chart-2:before {
  content: "\ea3c";
}
.evaf-battery:before {
  content: "\ea3f";
}
.evaf-behance:before {
  content: "\ea41";
}
.evaf-bell:before {
  content: "\ea43";
}
.evaf-bell-off:before {
  content: "\ea44";
}
.evaf-bluetooth:before {
  content: "\ea47";
}
.evaf-book:before {
  content: "\ea49";
}
.evaf-book-open:before {
  content: "\ea4a";
}
.evaf-bookmark:before {
  content: "\ea4d";
}
.evaf-briefcase:before {
  content: "\ea4f";
}
.evaf-browser:before {
  content: "\ea51";
}
.evaf-brush:before {
  content: "\ea53";
}
.evaf-bulb:before {
  content: "\ea55";
}
.evaf-calendar:before {
  content: "\ea57";
}
.evaf-camera:before {
  content: "\ea59";
}
.evaf-car:before {
  content: "\ea5b";
}
.evaf-cast:before {
  content: "\ea5d";
}
.evaf-charging:before {
  content: "\ea5f";
}
.evaf-checkmark:before {
  content: "\ea61";
}
.evaf-checkmark-circle:before {
  content: "\ea62";
}
.evaf-checkmark-circle-2:before {
  content: "\ea63";
}
.evaf-checkmark-square:before {
  content: "\ea67";
}
.evaf-checkmark-square-2:before {
  content: "\ea68";
}
.evaf-chevron-down:before {
  content: "\ea6b";
}
.evaf-chevron-left:before {
  content: "\ea6d";
}
.evaf-chevron-right:before {
  content: "\ea6f";
}
.evaf-chevron-up:before {
  content: "\ea71";
}
.evaf-clipboard:before {
  content: "\ea73";
}
.evaf-clock:before {
  content: "\ea75";
}
.evaf-close:before {
  content: "\ea77";
}
.evaf-close-circle:before {
  content: "\ea78";
}
.evaf-close-square:before {
  content: "\ea7b";
}
.evaf-cloud-download:before {
  content: "\ea7d";
}
.evaf-cloud-upload:before {
  content: "\ea7f";
}
.evaf-code:before {
  content: "\ea81";
}
.evaf-code-download:before {
  content: "\ea82";
}
.evaf-collapse:before {
  content: "\ea85";
}
.evaf-color-palette:before {
  content: "\ea87";
}
.evaf-color-picker:before {
  content: "\ea89";
}
.evaf-compass:before {
  content: "\ea8b";
}
.evaf-copy:before {
  content: "\ea8d";
}
.evaf-corner-down-left:before {
  content: "\ea8f";
}
.evaf-corner-down-right:before {
  content: "\ea91";
}
.evaf-corner-left-down:before {
  content: "\ea93";
}
.evaf-corner-left-up:before {
  content: "\ea95";
}
.evaf-corner-right-down:before {
  content: "\ea97";
}
.evaf-corner-right-up:before {
  content: "\ea99";
}
.evaf-corner-up-left:before {
  content: "\ea9b";
}
.evaf-corner-up-right:before {
  content: "\ea9d";
}
.evaf-credit-card:before {
  content: "\ea9f";
}
.evaf-crop:before {
  content: "\eaa1";
}
.evaf-cube:before {
  content: "\eaa3";
}
.evaf-diagonal-arrow-left-down:before {
  content: "\eaa5";
}
.evaf-diagonal-arrow-left-up:before {
  content: "\eaa7";
}
.evaf-diagonal-arrow-right-down:before {
  content: "\eaa9";
}
.evaf-diagonal-arrow-right-up:before {
  content: "\eaab";
}
.evaf-done-all:before {
  content: "\eaad";
}
.evaf-download:before {
  content: "\eaaf";
}
.evaf-droplet:before {
  content: "\eab1";
}
.evaf-droplet-off:before {
  content: "\eab2";
}
.evaf-edit:before {
  content: "\eab5";
}
.evaf-edit-2:before {
  content: "\eab6";
}
.evaf-email:before {
  content: "\eab9";
}
.evaf-expand:before {
  content: "\eabb";
}
.evaf-external-link:before {
  content: "\eabd";
}
.evaf-eye:before {
  content: "\eabf";
}
.evaf-eye-off:before {
  content: "\eac0";
}
.evaf-eye-off-2:before {
  content: "\eac1";
}
.evaf-facebook:before {
  content: "\eac5";
}
.evaf-file:before {
  content: "\eac7";
}
.evaf-file-add:before {
  content: "\eac8";
}
.evaf-file-remove:before {
  content: "\eacb";
}
.evaf-file-text:before {
  content: "\eacd";
}
.evaf-film:before {
  content: "\eacf";
}
.evaf-flag:before {
  content: "\ead1";
}
.evaf-flash:before {
  content: "\ead3";
}
.evaf-flash-off:before {
  content: "\ead4";
}
.evaf-flip:before {
  content: "\ead7";
}
.evaf-flip-2:before {
  content: "\ead8";
}
.evaf-folder:before {
  content: "\eadb";
}
.evaf-folder-add:before {
  content: "\eadc";
}
.evaf-folder-remove:before {
  content: "\eadf";
}
.evaf-funnel:before {
  content: "\eae1";
}
.evaf-gift:before {
  content: "\eae3";
}
.evaf-github:before {
  content: "\eae5";
}
.evaf-globe:before {
  content: "\eae7";
}
.evaf-globe-2:before {
  content: "\eae8";
}
.evaf-globe-3:before {
  content: "\eaea";
}
.evaf-google:before {
  content: "\eaec";
}
.evaf-grid:before {
  content: "\eaee";
}
.evaf-hard-drive:before {
  content: "\eaf0";
}
.evaf-hash:before {
  content: "\eaf2";
}
.evaf-headphones:before {
  content: "\eaf4";
}
.evaf-heart:before {
  content: "\eaf6";
}
.evaf-home:before {
  content: "\eaf8";
}
.evaf-image:before {
  content: "\eafa";
}
.evaf-image-2:before {
  content: "\eafb";
}
.evaf-inbox:before {
  content: "\eafd";
}
.evaf-info:before {
  content: "\eaff";
}
.evaf-keypad:before {
  content: "\eb01";
}
.evaf-layers:before {
  content: "\eb03";
}
.evaf-layout:before {
  content: "\eb05";
}
.evaf-link:before {
  content: "\eb07";
}
.evaf-link-2:before {
  content: "\eb08";
}
.evaf-linkedin:before {
  content: "\eb0b";
}
.evaf-list:before {
  content: "\eb0d";
}
.evaf-lock:before {
  content: "\eb10";
}
.evaf-log-in:before {
  content: "\eb12";
}
.evaf-log-out:before {
  content: "\eb14";
}
.evaf-map:before {
  content: "\eb16";
}
.evaf-maximize:before {
  content: "\eb18";
}
.evaf-menu:before {
  content: "\eb1a";
}
.evaf-menu-2:before {
  content: "\eb1b";
}
.evaf-menu-arrow:before {
  content: "\eb1d";
}
.evaf-message-circle:before {
  content: "\eb20";
}
.evaf-message-square:before {
  content: "\eb22";
}
.evaf-mic:before {
  content: "\eb24";
}
.evaf-mic-off:before {
  content: "\eb25";
}
.evaf-minimize:before {
  content: "\eb28";
}
.evaf-minus:before {
  content: "\eb2a";
}
.evaf-minus-circle:before {
  content: "\eb2b";
}
.evaf-minus-square:before {
  content: "\eb2e";
}
.evaf-monitor:before {
  content: "\eb30";
}
.evaf-moon:before {
  content: "\eb32";
}
.evaf-more-horizontal:before {
  content: "\eb34";
}
.evaf-more-vertical:before {
  content: "\eb36";
}
.evaf-move:before {
  content: "\eb38";
}
.evaf-music:before {
  content: "\eb3a";
}
.evaf-navigation:before {
  content: "\eb3c";
}
.evaf-navigation-2:before {
  content: "\eb3d";
}
.evaf-npm:before {
  content: "\eb40";
}
.evaf-options:before {
  content: "\eb42";
}
.evaf-options-2:before {
  content: "\eb43";
}
.evaf-pantone:before {
  content: "\eb46";
}
.evaf-paper-plane:before {
  content: "\eb48";
}
.evaf-pause-circle:before {
  content: "\eb4a";
}
.evaf-people:before {
  content: "\eb4c";
}
.evaf-percent:before {
  content: "\eb4e";
}
.evaf-person:before {
  content: "\eb50";
}
.evaf-person-add:before {
  content: "\eb51";
}
.evaf-person-delete:before {
  content: "\eb53";
}
.evaf-person-done:before {
  content: "\eb55";
}
.evaf-person-remove:before {
  content: "\eb58";
}
.evaf-phone:before {
  content: "\eb5a";
}
.evaf-phone-call:before {
  content: "\eb5b";
}
.evaf-phone-missed:before {
  content: "\eb5d";
}
.evaf-phone-off:before {
  content: "\eb5f";
}
.evaf-pie-chart:before {
  content: "\eb62";
}
.evaf-pie-chart-2:before {
  content: "\eb63";
}
.evaf-pin:before {
  content: "\eb65";
}
.evaf-play-circle:before {
  content: "\eb67";
}
.evaf-plus:before {
  content: "\eb69";
}
.evaf-plus-circle:before {
  content: "\eb6a";
}
.evaf-plus-square:before {
  content: "\eb6d";
}
.evaf-power:before {
  content: "\eb6f";
}
.evaf-pricetags:before {
  content: "\eb71";
}
.evaf-printer:before {
  content: "\eb73";
}
.evaf-question-mark:before {
  content: "\eb75";
}
.evaf-question-mark-circle:before {
  content: "\eb76";
}
.evaf-radio:before {
  content: "\eb79";
}
.evaf-radio-button-off:before {
  content: "\eb7a";
}
.evaf-radio-button-on:before {
  content: "\eb7c";
}
.evaf-recording:before {
  content: "\eb7f";
}
.evaf-refresh:before {
  content: "\eb81";
}
.evaf-repeat:before {
  content: "\eb83";
}
.evaf-rewind-left:before {
  content: "\eb85";
}
.evaf-rewind-right:before {
  content: "\eb87";
}
.evaf-save:before {
  content: "\eb89";
}
.evaf-scissors:before {
  content: "\eb8b";
}
.evaf-search:before {
  content: "\eb8d";
}
.evaf-settings:before {
  content: "\eb8f";
}
.evaf-settings-2:before {
  content: "\eb90";
}
.evaf-shake:before {
  content: "\eb93";
}
.evaf-share:before {
  content: "\eb95";
}
.evaf-shield:before {
  content: "\eb97";
}
.evaf-shield-off:before {
  content: "\eb98";
}
.evaf-shopping-bag:before {
  content: "\eb9b";
}
.evaf-shopping-cart:before {
  content: "\eb9d";
}
.evaf-shuffle:before {
  content: "\eb9f";
}
.evaf-shuffle-2:before {
  content: "\eba0";
}
.evaf-skip-back:before {
  content: "\eba3";
}
.evaf-skip-forward:before {
  content: "\eba5";
}
.evaf-slash:before {
  content: "\eba7";
}
.evaf-smartphone:before {
  content: "\eba9";
}
.evaf-speaker:before {
  content: "\ebab";
}
.evaf-square:before {
  content: "\ebad";
}
.evaf-star:before {
  content: "\ebaf";
}
.evaf-stop-circle:before {
  content: "\ebb1";
}
.evaf-sun:before {
  content: "\ebb3";
}
.evaf-swap:before {
  content: "\ebb5";
}
.evaf-sync:before {
  content: "\ebb7";
}
.evaf-text:before {
  content: "\ebb9";
}
.evaf-thermometer:before {
  content: "\ebbb";
}
.evaf-thermometer-minus:before {
  content: "\ebbc";
}
.evaf-thermometer-plus:before {
  content: "\ebbf";
}
.evaf-toggle-left:before {
  content: "\ebc1";
}
.evaf-toggle-right:before {
  content: "\ebc3";
}
.evaf-trash:before {
  content: "\ebc5";
}
.evaf-trash-2:before {
  content: "\ebc6";
}
.evaf-trending-down:before {
  content: "\ebc9";
}
.evaf-trending-up:before {
  content: "\ebcb";
}
.evaf-tv:before {
  content: "\ebcd";
}
.evaf-twitter:before {
  content: "\ebcf";
}
.evaf-umbrella:before {
  content: "\ebd1";
}
.evaf-undo:before {
  content: "\ebd3";
}
.evaf-unlock:before {
  content: "\ebd5";
}
.evaf-upload:before {
  content: "\ebd7";
}
.evaf-video:before {
  content: "\ebd9";
}
.evaf-video-off:before {
  content: "\ebda";
}
.evaf-volume-down:before {
  content: "\ebdd";
}
.evaf-volume-mute:before {
  content: "\ebdf";
}
.evaf-volume-off:before {
  content: "\ebe1";
}
.evaf-volume-up:before {
  content: "\ebe3";
}
.evaf-wifi:before {
  content: "\ebe5";
}
.evaf-wifi-off:before {
  content: "\ebe6";
}

