/**
 * Eva Outline Icons, 1.1.1
 * Created by akveo
 * https://github.com/akveo/eva-icons#readme
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "eva-outline-icons";
  src: url('eva-outline-icons.eot');
  src: url('eva-outline-icons.eot?#iefix') format('eot'),
    url('eva-outline-icons.woff2') format('woff2'),
    url('eva-outline-icons.woff') format('woff'),
    url('eva-outline-icons.ttf') format('truetype'),
    url('eva-outline-icons.svg#eva-outline-icons') format('svg');
}

.evao {
  font-family: "eva-outline-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.evao-activity-outline:before {
  content: "\ea02";
}
.evao-alert-circle-outline:before {
  content: "\ea04";
}
.evao-alert-triangle-outline:before {
  content: "\ea06";
}
.evao-archive-outline:before {
  content: "\ea08";
}
.evao-arrow-back-outline:before {
  content: "\ea0a";
}
.evao-arrow-circle-down-outline:before {
  content: "\ea0c";
}
.evao-arrow-circle-left-outline:before {
  content: "\ea0e";
}
.evao-arrow-circle-right-outline:before {
  content: "\ea10";
}
.evao-arrow-circle-up-outline:before {
  content: "\ea12";
}
.evao-arrow-down-outline:before {
  content: "\ea14";
}
.evao-arrow-downward-outline:before {
  content: "\ea16";
}
.evao-arrow-forward-outline:before {
  content: "\ea18";
}
.evao-arrow-ios-back-outline:before {
  content: "\ea1a";
}
.evao-arrow-ios-downward-outline:before {
  content: "\ea1c";
}
.evao-arrow-ios-forward-outline:before {
  content: "\ea1e";
}
.evao-arrow-ios-upward-outline:before {
  content: "\ea20";
}
.evao-arrow-left-outline:before {
  content: "\ea22";
}
.evao-arrow-right-outline:before {
  content: "\ea24";
}
.evao-arrow-up-outline:before {
  content: "\ea26";
}
.evao-arrow-upward-outline:before {
  content: "\ea28";
}
.evao-arrowhead-down-outline:before {
  content: "\ea2a";
}
.evao-arrowhead-left-outline:before {
  content: "\ea2c";
}
.evao-arrowhead-right-outline:before {
  content: "\ea2e";
}
.evao-arrowhead-up-outline:before {
  content: "\ea30";
}
.evao-at-outline:before {
  content: "\ea32";
}
.evao-attach-2-outline:before {
  content: "\ea35";
}
.evao-attach-outline:before {
  content: "\ea36";
}
.evao-award-outline:before {
  content: "\ea38";
}
.evao-backspace-outline:before {
  content: "\ea3a";
}
.evao-bar-chart-2-outline:before {
  content: "\ea3d";
}
.evao-bar-chart-outline:before {
  content: "\ea3e";
}
.evao-battery-outline:before {
  content: "\ea40";
}
.evao-behance-outline:before {
  content: "\ea42";
}
.evao-bell-off-outline:before {
  content: "\ea45";
}
.evao-bell-outline:before {
  content: "\ea46";
}
.evao-bluetooth-outline:before {
  content: "\ea48";
}
.evao-book-open-outline:before {
  content: "\ea4b";
}
.evao-book-outline:before {
  content: "\ea4c";
}
.evao-bookmark-outline:before {
  content: "\ea4e";
}
.evao-briefcase-outline:before {
  content: "\ea50";
}
.evao-browser-outline:before {
  content: "\ea52";
}
.evao-brush-outline:before {
  content: "\ea54";
}
.evao-bulb-outline:before {
  content: "\ea56";
}
.evao-calendar-outline:before {
  content: "\ea58";
}
.evao-camera-outline:before {
  content: "\ea5a";
}
.evao-car-outline:before {
  content: "\ea5c";
}
.evao-cast-outline:before {
  content: "\ea5e";
}
.evao-charging-outline:before {
  content: "\ea60";
}
.evao-checkmark-circle-2-outline:before {
  content: "\ea64";
}
.evao-checkmark-circle-outline:before {
  content: "\ea65";
}
.evao-checkmark-outline:before {
  content: "\ea66";
}
.evao-checkmark-square-2-outline:before {
  content: "\ea69";
}
.evao-checkmark-square-outline:before {
  content: "\ea6a";
}
.evao-chevron-down-outline:before {
  content: "\ea6c";
}
.evao-chevron-left-outline:before {
  content: "\ea6e";
}
.evao-chevron-right-outline:before {
  content: "\ea70";
}
.evao-chevron-up-outline:before {
  content: "\ea72";
}
.evao-clipboard-outline:before {
  content: "\ea74";
}
.evao-clock-outline:before {
  content: "\ea76";
}
.evao-close-circle-outline:before {
  content: "\ea79";
}
.evao-close-outline:before {
  content: "\ea7a";
}
.evao-close-square-outline:before {
  content: "\ea7c";
}
.evao-cloud-download-outline:before {
  content: "\ea7e";
}
.evao-cloud-upload-outline:before {
  content: "\ea80";
}
.evao-code-download-outline:before {
  content: "\ea83";
}
.evao-code-outline:before {
  content: "\ea84";
}
.evao-collapse-outline:before {
  content: "\ea86";
}
.evao-color-palette-outline:before {
  content: "\ea88";
}
.evao-color-picker-outline:before {
  content: "\ea8a";
}
.evao-compass-outline:before {
  content: "\ea8c";
}
.evao-copy-outline:before {
  content: "\ea8e";
}
.evao-corner-down-left-outline:before {
  content: "\ea90";
}
.evao-corner-down-right-outline:before {
  content: "\ea92";
}
.evao-corner-left-down-outline:before {
  content: "\ea94";
}
.evao-corner-left-up-outline:before {
  content: "\ea96";
}
.evao-corner-right-down-outline:before {
  content: "\ea98";
}
.evao-corner-right-up-outline:before {
  content: "\ea9a";
}
.evao-corner-up-left-outline:before {
  content: "\ea9c";
}
.evao-corner-up-right-outline:before {
  content: "\ea9e";
}
.evao-credit-card-outline:before {
  content: "\eaa0";
}
.evao-crop-outline:before {
  content: "\eaa2";
}
.evao-cube-outline:before {
  content: "\eaa4";
}
.evao-diagonal-arrow-left-down-outline:before {
  content: "\eaa6";
}
.evao-diagonal-arrow-left-up-outline:before {
  content: "\eaa8";
}
.evao-diagonal-arrow-right-down-outline:before {
  content: "\eaaa";
}
.evao-diagonal-arrow-right-up-outline:before {
  content: "\eaac";
}
.evao-done-all-outline:before {
  content: "\eaae";
}
.evao-download-outline:before {
  content: "\eab0";
}
.evao-droplet-off-outline:before {
  content: "\eab3";
}
.evao-droplet-outline:before {
  content: "\eab4";
}
.evao-edit-2-outline:before {
  content: "\eab7";
}
.evao-edit-outline:before {
  content: "\eab8";
}
.evao-email-outline:before {
  content: "\eaba";
}
.evao-expand-outline:before {
  content: "\eabc";
}
.evao-external-link-outline:before {
  content: "\eabe";
}
.evao-eye-off-2-outline:before {
  content: "\eac2";
}
.evao-eye-off-outline:before {
  content: "\eac3";
}
.evao-eye-outline:before {
  content: "\eac4";
}
.evao-facebook-outline:before {
  content: "\eac6";
}
.evao-file-add-outline:before {
  content: "\eac9";
}
.evao-file-outline:before {
  content: "\eaca";
}
.evao-file-remove-outline:before {
  content: "\eacc";
}
.evao-file-text-outline:before {
  content: "\eace";
}
.evao-film-outline:before {
  content: "\ead0";
}
.evao-flag-outline:before {
  content: "\ead2";
}
.evao-flash-off-outline:before {
  content: "\ead5";
}
.evao-flash-outline:before {
  content: "\ead6";
}
.evao-flip-2-outline:before {
  content: "\ead9";
}
.evao-flip-outline:before {
  content: "\eada";
}
.evao-folder-add-outline:before {
  content: "\eadd";
}
.evao-folder-outline:before {
  content: "\eade";
}
.evao-folder-remove-outline:before {
  content: "\eae0";
}
.evao-funnel-outline:before {
  content: "\eae2";
}
.evao-gift-outline:before {
  content: "\eae4";
}
.evao-github-outline:before {
  content: "\eae6";
}
.evao-globe-2-outline:before {
  content: "\eae9";
}
.evao-globe-outline:before {
  content: "\eaeb";
}
.evao-google-outline:before {
  content: "\eaed";
}
.evao-grid-outline:before {
  content: "\eaef";
}
.evao-hard-drive-outline:before {
  content: "\eaf1";
}
.evao-hash-outline:before {
  content: "\eaf3";
}
.evao-headphones-outline:before {
  content: "\eaf5";
}
.evao-heart-outline:before {
  content: "\eaf7";
}
.evao-home-outline:before {
  content: "\eaf9";
}
.evao-image-outline:before {
  content: "\eafc";
}
.evao-inbox-outline:before {
  content: "\eafe";
}
.evao-info-outline:before {
  content: "\eb00";
}
.evao-keypad-outline:before {
  content: "\eb02";
}
.evao-layers-outline:before {
  content: "\eb04";
}
.evao-layout-outline:before {
  content: "\eb06";
}
.evao-link-2-outline:before {
  content: "\eb09";
}
.evao-link-outline:before {
  content: "\eb0a";
}
.evao-linkedin-outline:before {
  content: "\eb0c";
}
.evao-list-outline:before {
  content: "\eb0e";
}
.evao-loader-outline:before {
  content: "\eb0f";
}
.evao-lock-outline:before {
  content: "\eb11";
}
.evao-log-in-outline:before {
  content: "\eb13";
}
.evao-log-out-outline:before {
  content: "\eb15";
}
.evao-map-outline:before {
  content: "\eb17";
}
.evao-maximize-outline:before {
  content: "\eb19";
}
.evao-menu-2-outline:before {
  content: "\eb1c";
}
.evao-menu-arrow-outline:before {
  content: "\eb1e";
}
.evao-menu-outline:before {
  content: "\eb1f";
}
.evao-message-circle-outline:before {
  content: "\eb21";
}
.evao-message-square-outline:before {
  content: "\eb23";
}
.evao-mic-off-outline:before {
  content: "\eb26";
}
.evao-mic-outline:before {
  content: "\eb27";
}
.evao-minimize-outline:before {
  content: "\eb29";
}
.evao-minus-circle-outline:before {
  content: "\eb2c";
}
.evao-minus-outline:before {
  content: "\eb2d";
}
.evao-minus-square-outline:before {
  content: "\eb2f";
}
.evao-monitor-outline:before {
  content: "\eb31";
}
.evao-moon-outline:before {
  content: "\eb33";
}
.evao-more-horizontal-outline:before {
  content: "\eb35";
}
.evao-more-vertical-outline:before {
  content: "\eb37";
}
.evao-move-outline:before {
  content: "\eb39";
}
.evao-music-outline:before {
  content: "\eb3b";
}
.evao-navigation-2-outline:before {
  content: "\eb3e";
}
.evao-navigation-outline:before {
  content: "\eb3f";
}
.evao-npm-outline:before {
  content: "\eb41";
}
.evao-options-2-outline:before {
  content: "\eb44";
}
.evao-options-outline:before {
  content: "\eb45";
}
.evao-pantone-outline:before {
  content: "\eb47";
}
.evao-paper-plane-outline:before {
  content: "\eb49";
}
.evao-pause-circle-outline:before {
  content: "\eb4b";
}
.evao-people-outline:before {
  content: "\eb4d";
}
.evao-percent-outline:before {
  content: "\eb4f";
}
.evao-person-add-outline:before {
  content: "\eb52";
}
.evao-person-delete-outline:before {
  content: "\eb54";
}
.evao-person-done-outline:before {
  content: "\eb56";
}
.evao-person-outline:before {
  content: "\eb57";
}
.evao-person-remove-outline:before {
  content: "\eb59";
}
.evao-phone-call-outline:before {
  content: "\eb5c";
}
.evao-phone-missed-outline:before {
  content: "\eb5e";
}
.evao-phone-off-outline:before {
  content: "\eb60";
}
.evao-phone-outline:before {
  content: "\eb61";
}
.evao-pie-chart-outline:before {
  content: "\eb64";
}
.evao-pin-outline:before {
  content: "\eb66";
}
.evao-play-circle-outline:before {
  content: "\eb68";
}
.evao-plus-circle-outline:before {
  content: "\eb6b";
}
.evao-plus-outline:before {
  content: "\eb6c";
}
.evao-plus-square-outline:before {
  content: "\eb6e";
}
.evao-power-outline:before {
  content: "\eb70";
}
.evao-pricetags-outline:before {
  content: "\eb72";
}
.evao-printer-outline:before {
  content: "\eb74";
}
.evao-question-mark-circle-outline:before {
  content: "\eb77";
}
.evao-question-mark-outline:before {
  content: "\eb78";
}
.evao-radio-button-off-outline:before {
  content: "\eb7b";
}
.evao-radio-button-on-outline:before {
  content: "\eb7d";
}
.evao-radio-outline:before {
  content: "\eb7e";
}
.evao-recording-outline:before {
  content: "\eb80";
}
.evao-refresh-outline:before {
  content: "\eb82";
}
.evao-repeat-outline:before {
  content: "\eb84";
}
.evao-rewind-left-outline:before {
  content: "\eb86";
}
.evao-rewind-right-outline:before {
  content: "\eb88";
}
.evao-save-outline:before {
  content: "\eb8a";
}
.evao-scissors-outline:before {
  content: "\eb8c";
}
.evao-search-outline:before {
  content: "\eb8e";
}
.evao-settings-2-outline:before {
  content: "\eb91";
}
.evao-settings-outline:before {
  content: "\eb92";
}
.evao-shake-outline:before {
  content: "\eb94";
}
.evao-share-outline:before {
  content: "\eb96";
}
.evao-shield-off-outline:before {
  content: "\eb99";
}
.evao-shield-outline:before {
  content: "\eb9a";
}
.evao-shopping-bag-outline:before {
  content: "\eb9c";
}
.evao-shopping-cart-outline:before {
  content: "\eb9e";
}
.evao-shuffle-2-outline:before {
  content: "\eba1";
}
.evao-shuffle-outline:before {
  content: "\eba2";
}
.evao-skip-back-outline:before {
  content: "\eba4";
}
.evao-skip-forward-outline:before {
  content: "\eba6";
}
.evao-slash-outline:before {
  content: "\eba8";
}
.evao-smartphone-outline:before {
  content: "\ebaa";
}
.evao-speaker-outline:before {
  content: "\ebac";
}
.evao-square-outline:before {
  content: "\ebae";
}
.evao-star-outline:before {
  content: "\ebb0";
}
.evao-stop-circle-outline:before {
  content: "\ebb2";
}
.evao-sun-outline:before {
  content: "\ebb4";
}
.evao-swap-outline:before {
  content: "\ebb6";
}
.evao-sync-outline:before {
  content: "\ebb8";
}
.evao-text-outline:before {
  content: "\ebba";
}
.evao-thermometer-minus-outline:before {
  content: "\ebbd";
}
.evao-thermometer-outline:before {
  content: "\ebbe";
}
.evao-thermometer-plus-outline:before {
  content: "\ebc0";
}
.evao-toggle-left-outline:before {
  content: "\ebc2";
}
.evao-toggle-right-outline:before {
  content: "\ebc4";
}
.evao-trash-2-outline:before {
  content: "\ebc7";
}
.evao-trash-outline:before {
  content: "\ebc8";
}
.evao-trending-down-outline:before {
  content: "\ebca";
}
.evao-trending-up-outline:before {
  content: "\ebcc";
}
.evao-tv-outline:before {
  content: "\ebce";
}
.evao-twitter-outline:before {
  content: "\ebd0";
}
.evao-umbrella-outline:before {
  content: "\ebd2";
}
.evao-undo-outline:before {
  content: "\ebd4";
}
.evao-unlock-outline:before {
  content: "\ebd6";
}
.evao-upload-outline:before {
  content: "\ebd8";
}
.evao-video-off-outline:before {
  content: "\ebdb";
}
.evao-video-outline:before {
  content: "\ebdc";
}
.evao-volume-down-outline:before {
  content: "\ebde";
}
.evao-volume-mute-outline:before {
  content: "\ebe0";
}
.evao-volume-off-outline:before {
  content: "\ebe2";
}
.evao-volume-up-outline:before {
  content: "\ebe4";
}
.evao-wifi-off-outline:before {
  content: "\ebe7";
}
.evao-wifi-outline:before {
  content: "\ebe8";
}

