/**
 * Heroicons Outline, 0.2.0
 * Created by Refactoring UI Inc
 * https://heroicons.dev/
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "heroicons-outline";
  src: url('./heroicons-outline.eot');
  src: 
    url('./heroicons-outline.eot?#iefix') format('embedded-opentype'),
    url('./heroicons-outline.woff2') format('woff2'),
    url('./heroicons-outline.woff') format('woff'),
    url('./heroicons-outline.ttf') format('truetype'),
    url('./heroicons-outline.svg#heroicons-outline') format('svg');
}

.hio {
  font-family: "heroicons-outline";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

.hio-adjustments::before {
  content: "\ea01";
}

.hio-annotation::before {
  content: "\ea02";
}

.hio-archive::before {
  content: "\ea03";
}

.hio-arrow-circle-down::before {
  content: "\ea04";
}

.hio-arrow-circle-left::before {
  content: "\ea05";
}

.hio-arrow-circle-right::before {
  content: "\ea06";
}

.hio-arrow-circle-up::before {
  content: "\ea07";
}

.hio-arrow-down::before {
  content: "\ea08";
}

.hio-arrow-left::before {
  content: "\ea09";
}

.hio-arrow-narrow-down::before {
  content: "\ea0a";
}

.hio-arrow-narrow-left::before {
  content: "\ea0b";
}

.hio-arrow-narrow-right::before {
  content: "\ea0c";
}

.hio-arrow-narrow-up::before {
  content: "\ea0d";
}

.hio-arrow-right::before {
  content: "\ea0e";
}

.hio-arrow-up::before {
  content: "\ea0f";
}

.hio-at-symbol::before {
  content: "\ea10";
}

.hio-badge-check::before {
  content: "\ea11";
}

.hio-ban::before {
  content: "\ea12";
}

.hio-bell::before {
  content: "\ea13";
}

.hio-book-open::before {
  content: "\ea14";
}

.hio-bookmark::before {
  content: "\ea15";
}

.hio-bookmark-alt::before {
  content: "\ea16";
}

.hio-briefcase::before {
  content: "\ea17";
}

.hio-calendar::before {
  content: "\ea18";
}

.hio-camera::before {
  content: "\ea19";
}

.hio-cash::before {
  content: "\ea1a";
}

.hio-chart-bar::before {
  content: "\ea1b";
}

.hio-chart-pie::before {
  content: "\ea1c";
}

.hio-chart-square-bar::before {
  content: "\ea1d";
}

.hio-chat::before {
  content: "\ea1e";
}

.hio-chat-alt::before {
  content: "\ea1f";
}

.hio-chat-alt-2::before {
  content: "\ea20";
}

.hio-check::before {
  content: "\ea21";
}

.hio-check-circle::before {
  content: "\ea22";
}

.hio-chevron-down::before {
  content: "\ea23";
}

.hio-chevron-left::before {
  content: "\ea24";
}

.hio-chevron-right::before {
  content: "\ea25";
}

.hio-chevron-up::before {
  content: "\ea26";
}

.hio-clipboard::before {
  content: "\ea27";
}

.hio-clipboard-check::before {
  content: "\ea28";
}

.hio-clipboard-copy::before {
  content: "\ea29";
}

.hio-clipboard-list::before {
  content: "\ea2a";
}

.hio-clock::before {
  content: "\ea2b";
}

.hio-cloud-download::before {
  content: "\ea2c";
}

.hio-cloud-upload::before {
  content: "\ea2d";
}

.hio-code::before {
  content: "\ea2e";
}

.hio-cog::before {
  content: "\ea2f";
}

.hio-collection::before {
  content: "\ea30";
}

.hio-color-swatch::before {
  content: "\ea31";
}

.hio-credit-card::before {
  content: "\ea32";
}

.hio-currency-dollar::before {
  content: "\ea33";
}

.hio-currency-euro::before {
  content: "\ea34";
}

.hio-currency-pound::before {
  content: "\ea35";
}

.hio-currency-rupee::before {
  content: "\ea36";
}

.hio-currency-yen::before {
  content: "\ea37";
}

.hio-cursor-click::before {
  content: "\ea38";
}

.hio-desktop-computer::before {
  content: "\ea39";
}

.hio-document::before {
  content: "\ea3a";
}

.hio-document-add::before {
  content: "\ea3b";
}

.hio-document-download::before {
  content: "\ea3c";
}

.hio-document-duplicate::before {
  content: "\ea3d";
}

.hio-document-remove::before {
  content: "\ea3e";
}

.hio-document-report::before {
  content: "\ea3f";
}

.hio-dots-circle-horizontal::before {
  content: "\ea40";
}

.hio-dots-horizontal::before {
  content: "\ea41";
}

.hio-dots-vertical::before {
  content: "\ea42";
}

.hio-download::before {
  content: "\ea43";
}

.hio-duplicate::before {
  content: "\ea44";
}

.hio-emoji-happy::before {
  content: "\ea45";
}

.hio-emoji-sad::before {
  content: "\ea46";
}

.hio-exclamation::before {
  content: "\ea47";
}

.hio-exclamation-circle::before {
  content: "\ea48";
}

.hio-external-link::before {
  content: "\ea49";
}

.hio-eye::before {
  content: "\ea4a";
}

.hio-eye-off::before {
  content: "\ea4b";
}

.hio-filter::before {
  content: "\ea4c";
}

.hio-flag::before {
  content: "\ea4d";
}

.hio-folder::before {
  content: "\ea4e";
}

.hio-globe::before {
  content: "\ea4f";
}

.hio-globe-alt::before {
  content: "\ea50";
}

.hio-hashtag::before {
  content: "\ea51";
}

.hio-heart::before {
  content: "\ea52";
}

.hio-home::before {
  content: "\ea53";
}

.hio-inbox::before {
  content: "\ea54";
}

.hio-inbox-in::before {
  content: "\ea55";
}

.hio-information-circle::before {
  content: "\ea56";
}

.hio-key::before {
  content: "\ea57";
}

.hio-library::before {
  content: "\ea58";
}

.hio-light-bulb::before {
  content: "\ea59";
}

.hio-lightning-bolt::before {
  content: "\ea5a";
}

.hio-link::before {
  content: "\ea5b";
}

.hio-location-marker::before {
  content: "\ea5c";
}

.hio-lock-closed::before {
  content: "\ea5d";
}

.hio-lock-open::before {
  content: "\ea5e";
}

.hio-logout::before {
  content: "\ea5f";
}

.hio-mail::before {
  content: "\ea60";
}

.hio-mail-open::before {
  content: "\ea61";
}

.hio-menu::before {
  content: "\ea62";
}

.hio-menu-alt-1::before {
  content: "\ea63";
}

.hio-menu-alt-2::before {
  content: "\ea64";
}

.hio-menu-alt-3::before {
  content: "\ea65";
}

.hio-menu-alt-4::before {
  content: "\ea66";
}

.hio-microphone::before {
  content: "\ea67";
}

.hio-minus-circle::before {
  content: "\ea68";
}

.hio-moon::before {
  content: "\ea69";
}

.hio-newspaper::before {
  content: "\ea6a";
}

.hio-office-building::before {
  content: "\ea6b";
}

.hio-paper-clip::before {
  content: "\ea6c";
}

.hio-pause::before {
  content: "\ea6d";
}

.hio-pencil::before {
  content: "\ea6e";
}

.hio-pencil-alt::before {
  content: "\ea6f";
}

.hio-phone::before {
  content: "\ea70";
}

.hio-phone-incoming::before {
  content: "\ea71";
}

.hio-phone-outgoing::before {
  content: "\ea72";
}

.hio-photograph::before {
  content: "\ea73";
}

.hio-play::before {
  content: "\ea74";
}

.hio-plus::before {
  content: "\ea75";
}

.hio-plus-circle::before {
  content: "\ea76";
}

.hio-printer::before {
  content: "\ea77";
}

.hio-qrcode::before {
  content: "\ea78";
}

.hio-question-mark-circle::before {
  content: "\ea79";
}

.hio-receipt-refund::before {
  content: "\ea7a";
}

.hio-refresh::before {
  content: "\ea7b";
}

.hio-reply::before {
  content: "\ea7c";
}

.hio-scale::before {
  content: "\ea7d";
}

.hio-search::before {
  content: "\ea7e";
}

.hio-selector::before {
  content: "\ea7f";
}

.hio-share::before {
  content: "\ea80";
}

.hio-shield-check::before {
  content: "\ea81";
}

.hio-shield-exclamation::before {
  content: "\ea82";
}

.hio-shopping-cart::before {
  content: "\ea83";
}

.hio-sort-ascending::before {
  content: "\ea84";
}

.hio-sort-descending::before {
  content: "\ea85";
}

.hio-sparkles::before {
  content: "\ea86";
}

.hio-speakerphone::before {
  content: "\ea87";
}

.hio-star::before {
  content: "\ea88";
}

.hio-stop::before {
  content: "\ea89";
}

.hio-sun::before {
  content: "\ea8a";
}

.hio-support::before {
  content: "\ea8b";
}

.hio-switch-horizontal::before {
  content: "\ea8c";
}

.hio-switch-vertical::before {
  content: "\ea8d";
}

.hio-tag::before {
  content: "\ea8e";
}

.hio-template::before {
  content: "\ea8f";
}

.hio-terminal::before {
  content: "\ea90";
}

.hio-ticket::before {
  content: "\ea91";
}

.hio-translate::before {
  content: "\ea92";
}

.hio-trash::before {
  content: "\ea93";
}

.hio-trending-down::before {
  content: "\ea94";
}

.hio-trending-up::before {
  content: "\ea95";
}

.hio-upload::before {
  content: "\ea96";
}

.hio-user::before {
  content: "\ea97";
}

.hio-user-add::before {
  content: "\ea98";
}

.hio-user-circle::before {
  content: "\ea99";
}

.hio-user-group::before {
  content: "\ea9a";
}

.hio-user-remove::before {
  content: "\ea9b";
}

.hio-users::before {
  content: "\ea9c";
}

.hio-view-boards::before {
  content: "\ea9d";
}

.hio-view-grid-add::before {
  content: "\ea9e";
}

.hio-view-list::before {
  content: "\ea9f";
}

.hio-volume-off::before {
  content: "\eaa0";
}

.hio-volume-up::before {
  content: "\eaa1";
}

.hio-x::before {
  content: "\eaa2";
}

.hio-x-circle::before {
  content: "\eaa3";
}

.hio-zoom-in::before {
  content: "\eaa4";
}

.hio-zoom-out::before {
  content: "\eaa5";
}
