/**
 * Framework7 Icons, 0.9.2
 * Created by Vladimir Kharlampidi
 * http://framework7.io/icons/
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "framework7-icons";
  src: url('./framework7-icons.eot');
  src: 
    url('./framework7-icons.eot?#iefix') format('embedded-opentype'),
    url('./framework7-icons.woff2') format('woff2'),
    url('./framework7-icons.woff') format('woff'),
    url('./framework7-icons.ttf') format('truetype'),
    url('./framework7-icons.svg#framework7-icons') format('svg');
}

.f7 {
  font-family: "framework7-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}



.f7-add::before {
    content: "\ea01";
}

.f7-add_round::before {
    content: "\ea02";
}

.f7-add_round_fill::before {
    content: "\ea03";
}

.f7-alarm::before {
    content: "\ea04";
}

.f7-alarm_fill::before {
    content: "\ea05";
}

.f7-albums::before {
    content: "\ea06";
}

.f7-albums_fill::before {
    content: "\ea07";
}

.f7-arrow_down::before {
    content: "\ea08";
}

.f7-arrow_down_fill::before {
    content: "\ea09";
}

.f7-arrow_left::before {
    content: "\ea0a";
}

.f7-arrow_left_fill::before {
    content: "\ea0b";
}

.f7-arrow_right::before {
    content: "\ea0c";
}

.f7-arrow_right_fill::before {
    content: "\ea0d";
}

.f7-arrow_up::before {
    content: "\ea0e";
}

.f7-arrow_up_fill::before {
    content: "\ea0f";
}

.f7-at::before {
    content: "\ea10";
}

.f7-at_fill::before {
    content: "\ea11";
}

.f7-bag::before {
    content: "\ea12";
}

.f7-bag_fill::before {
    content: "\ea13";
}

.f7-bars::before {
    content: "\ea14";
}

.f7-bell::before {
    content: "\ea15";
}

.f7-bell_fill::before {
    content: "\ea16";
}

.f7-bolt::before {
    content: "\ea17";
}

.f7-bolt_fill::before {
    content: "\ea18";
}

.f7-bolt_round::before {
    content: "\ea19";
}

.f7-bolt_round_fill::before {
    content: "\ea1a";
}

.f7-book::before {
    content: "\ea1b";
}

.f7-book_fill::before {
    content: "\ea1c";
}

.f7-bookmark::before {
    content: "\ea1d";
}

.f7-bookmark_fill::before {
    content: "\ea1e";
}

.f7-box::before {
    content: "\ea1f";
}

.f7-box_fill::before {
    content: "\ea20";
}

.f7-briefcase::before {
    content: "\ea21";
}

.f7-briefcase_fill::before {
    content: "\ea22";
}

.f7-calendar::before {
    content: "\ea23";
}

.f7-calendar_fill::before {
    content: "\ea24";
}

.f7-camera::before {
    content: "\ea25";
}

.f7-camera_fill::before {
    content: "\ea26";
}

.f7-card::before {
    content: "\ea27";
}

.f7-card_fill::before {
    content: "\ea28";
}

.f7-chat::before {
    content: "\ea29";
}

.f7-chat_fill::before {
    content: "\ea2a";
}

.f7-chats::before {
    content: "\ea2b";
}

.f7-chats_fill::before {
    content: "\ea2c";
}

.f7-check::before {
    content: "\ea2d";
}

.f7-check_round::before {
    content: "\ea2e";
}

.f7-check_round_fill::before {
    content: "\ea2f";
}

.f7-chevron_down::before {
    content: "\ea30";
}

.f7-chevron_left::before {
    content: "\ea31";
}

.f7-chevron_right::before {
    content: "\ea32";
}

.f7-chevron_up::before {
    content: "\ea33";
}

.f7-circle::before {
    content: "\ea34";
}

.f7-circle_fill::before {
    content: "\ea35";
}

.f7-circle_half::before {
    content: "\ea36";
}

.f7-close::before {
    content: "\ea37";
}

.f7-close_round::before {
    content: "\ea38";
}

.f7-close_round_fill::before {
    content: "\ea39";
}

.f7-cloud::before {
    content: "\ea3a";
}

.f7-cloud_download::before {
    content: "\ea3b";
}

.f7-cloud_download_fill::before {
    content: "\ea3c";
}

.f7-cloud_fill::before {
    content: "\ea3d";
}

.f7-cloud_upload::before {
    content: "\ea3e";
}

.f7-cloud_upload_fill::before {
    content: "\ea3f";
}

.f7-collection::before {
    content: "\ea40";
}

.f7-collection_fill::before {
    content: "\ea41";
}

.f7-compass::before {
    content: "\ea42";
}

.f7-compass_fill::before {
    content: "\ea43";
}

.f7-compose::before {
    content: "\ea44";
}

.f7-compose_fill::before {
    content: "\ea45";
}

.f7-data::before {
    content: "\ea46";
}

.f7-data_fill::before {
    content: "\ea47";
}

.f7-delete::before {
    content: "\ea48";
}

.f7-delete_round::before {
    content: "\ea49";
}

.f7-delete_round_fill::before {
    content: "\ea4a";
}

.f7-document::before {
    content: "\ea4b";
}

.f7-document_fill::before {
    content: "\ea4c";
}

.f7-document_text::before {
    content: "\ea4d";
}

.f7-document_text_fill::before {
    content: "\ea4e";
}

.f7-down::before {
    content: "\ea4f";
}

.f7-download::before {
    content: "\ea50";
}

.f7-download_fill::before {
    content: "\ea51";
}

.f7-download_round::before {
    content: "\ea52";
}

.f7-download_round_fill::before {
    content: "\ea53";
}

.f7-drawer::before {
    content: "\ea54";
}

.f7-drawer_fill::before {
    content: "\ea55";
}

.f7-drawers::before {
    content: "\ea56";
}

.f7-drawers_fill::before {
    content: "\ea57";
}

.f7-email::before {
    content: "\ea58";
}

.f7-email_fill::before {
    content: "\ea59";
}

.f7-eye::before {
    content: "\ea5a";
}

.f7-eye_fill::before {
    content: "\ea5b";
}

.f7-fastforward::before {
    content: "\ea5c";
}

.f7-fastforward_fill::before {
    content: "\ea5d";
}

.f7-fastforward_round::before {
    content: "\ea5e";
}

.f7-fastforward_round_fill::before {
    content: "\ea5f";
}

.f7-favorites::before {
    content: "\ea60";
}

.f7-favorites_fill::before {
    content: "\ea61";
}

.f7-film::before {
    content: "\ea62";
}

.f7-film_fill::before {
    content: "\ea63";
}

.f7-filter-fill::before {
    content: "\ea64";
}

.f7-filter::before {
    content: "\ea65";
}

.f7-flag::before {
    content: "\ea66";
}

.f7-flag_fill::before {
    content: "\ea67";
}

.f7-folder::before {
    content: "\ea68";
}

.f7-folder_fill::before {
    content: "\ea69";
}

.f7-forward::before {
    content: "\ea6a";
}

.f7-forward_fill::before {
    content: "\ea6b";
}

.f7-gear::before {
    content: "\ea6c";
}

.f7-gear_fill::before {
    content: "\ea6d";
}

.f7-graph_round::before {
    content: "\ea6e";
}

.f7-graph_round_fill::before {
    content: "\ea6f";
}

.f7-graph_square::before {
    content: "\ea70";
}

.f7-graph_square_fill::before {
    content: "\ea71";
}

.f7-heart::before {
    content: "\ea72";
}

.f7-heart_fill::before {
    content: "\ea73";
}

.f7-help::before {
    content: "\ea74";
}

.f7-help_fill::before {
    content: "\ea75";
}

.f7-home::before {
    content: "\ea76";
}

.f7-home_fill::before {
    content: "\ea77";
}

.f7-images::before {
    content: "\ea78";
}

.f7-images_fill::before {
    content: "\ea79";
}

.f7-info::before {
    content: "\ea7a";
}

.f7-info_fill::before {
    content: "\ea7b";
}

.f7-keyboard::before {
    content: "\ea7c";
}

.f7-keyboard_fill::before {
    content: "\ea7d";
}

.f7-layers::before {
    content: "\ea7e";
}

.f7-layers_fill::before {
    content: "\ea7f";
}

.f7-left::before {
    content: "\ea80";
}

.f7-list::before {
    content: "\ea81";
}

.f7-list_fill::before {
    content: "\ea82";
}

.f7-lock::before {
    content: "\ea83";
}

.f7-lock_fill::before {
    content: "\ea84";
}

.f7-login::before {
    content: "\ea85";
}

.f7-login_fill::before {
    content: "\ea86";
}

.f7-logout::before {
    content: "\ea87";
}

.f7-logout_fill::before {
    content: "\ea88";
}

.f7-menu::before {
    content: "\ea89";
}

.f7-mic::before {
    content: "\ea8a";
}

.f7-mic_fill::before {
    content: "\ea8b";
}

.f7-money_dollar::before {
    content: "\ea8c";
}

.f7-money_dollar_fill::before {
    content: "\ea8d";
}

.f7-money_euro::before {
    content: "\ea8e";
}

.f7-money_euro_fill::before {
    content: "\ea8f";
}

.f7-money_pound::before {
    content: "\ea90";
}

.f7-money_pound_fill::before {
    content: "\ea91";
}

.f7-money_rubl::before {
    content: "\ea92";
}

.f7-money_rubl_fill::before {
    content: "\ea93";
}

.f7-money_yen::before {
    content: "\ea94";
}

.f7-money_yen_fill::before {
    content: "\ea95";
}

.f7-more::before {
    content: "\ea96";
}

.f7-more_fill::before {
    content: "\ea97";
}

.f7-more_round::before {
    content: "\ea98";
}

.f7-more_round_fill::before {
    content: "\ea99";
}

.f7-more_vertical::before {
    content: "\ea9a";
}

.f7-more_vertical_fill::before {
    content: "\ea9b";
}

.f7-more_vertical_round::before {
    content: "\ea9c";
}

.f7-more_vertical_round_fill::before {
    content: "\ea9d";
}

.f7-navigation::before {
    content: "\ea9e";
}

.f7-navigation_fill::before {
    content: "\ea9f";
}

.f7-paper_plane::before {
    content: "\eaa0";
}

.f7-paper_plane_fill::before {
    content: "\eaa1";
}

.f7-pause::before {
    content: "\eaa2";
}

.f7-pause_fill::before {
    content: "\eaa3";
}

.f7-pause_round::before {
    content: "\eaa4";
}

.f7-pause_round_fill::before {
    content: "\eaa5";
}

.f7-person::before {
    content: "\eaa6";
}

.f7-person_fill::before {
    content: "\eaa7";
}

.f7-persons::before {
    content: "\eaa8";
}

.f7-persons_fill::before {
    content: "\eaa9";
}

.f7-phone::before {
    content: "\eaaa";
}

.f7-phone_fill::before {
    content: "\eaab";
}

.f7-phone_round::before {
    content: "\eaac";
}

.f7-phone_round_fill::before {
    content: "\eaad";
}

.f7-photos::before {
    content: "\eaae";
}

.f7-photos_fill::before {
    content: "\eaaf";
}

.f7-pie::before {
    content: "\eab0";
}

.f7-pie_fill::before {
    content: "\eab1";
}

.f7-play::before {
    content: "\eab2";
}

.f7-play_fill::before {
    content: "\eab3";
}

.f7-play_round::before {
    content: "\eab4";
}

.f7-play_round_fill::before {
    content: "\eab5";
}

.f7-radio::before {
    content: "\eab6";
}

.f7-redo::before {
    content: "\eab7";
}

.f7-refresh::before {
    content: "\eab8";
}

.f7-refresh_round::before {
    content: "\eab9";
}

.f7-refresh_round_fill::before {
    content: "\eaba";
}

.f7-reload::before {
    content: "\eabb";
}

.f7-reload_round::before {
    content: "\eabc";
}

.f7-reload_round_fill::before {
    content: "\eabd";
}

.f7-reply::before {
    content: "\eabe";
}

.f7-reply_fill::before {
    content: "\eabf";
}

.f7-rewind::before {
    content: "\eac0";
}

.f7-rewind_fill::before {
    content: "\eac1";
}

.f7-rewind_round::before {
    content: "\eac2";
}

.f7-rewind_round_fill::before {
    content: "\eac3";
}

.f7-right::before {
    content: "\eac4";
}

.f7-search::before {
    content: "\eac5";
}

.f7-search_strong::before {
    content: "\eac6";
}

.f7-settings::before {
    content: "\eac7";
}

.f7-settings_fill::before {
    content: "\eac8";
}

.f7-share::before {
    content: "\eac9";
}

.f7-share_fill::before {
    content: "\eaca";
}

.f7-social_facebook::before {
    content: "\eacb";
}

.f7-social_facebook_fill::before {
    content: "\eacc";
}

.f7-social_github::before {
    content: "\eacd";
}

.f7-social_github_fill::before {
    content: "\eace";
}

.f7-social_googleplus::before {
    content: "\eacf";
}

.f7-social_instagram::before {
    content: "\ead0";
}

.f7-social_instagram_fill::before {
    content: "\ead1";
}

.f7-social_linkedin::before {
    content: "\ead2";
}

.f7-social_linkedin_fill::before {
    content: "\ead3";
}

.f7-social_rss::before {
    content: "\ead4";
}

.f7-social_rss_fill::before {
    content: "\ead5";
}

.f7-social_twitter::before {
    content: "\ead6";
}

.f7-social_twitter_fill::before {
    content: "\ead7";
}

.f7-sort::before {
    content: "\ead8";
}

.f7-sort_fill::before {
    content: "\ead9";
}

.f7-star::before {
    content: "\eada";
}

.f7-star_fill::before {
    content: "\eadb";
}

.f7-star_half::before {
    content: "\eadc";
}

.f7-stopwatch::before {
    content: "\eadd";
}

.f7-stopwatch_fill::before {
    content: "\eade";
}

.f7-tabs::before {
    content: "\eadf";
}

.f7-tabs_fill::before {
    content: "\eae0";
}

.f7-tags::before {
    content: "\eae1";
}

.f7-tags_fill::before {
    content: "\eae2";
}

.f7-tape::before {
    content: "\eae3";
}

.f7-tape_fill::before {
    content: "\eae4";
}

.f7-ticket::before {
    content: "\eae5";
}

.f7-ticket_fill::before {
    content: "\eae6";
}

.f7-time::before {
    content: "\eae7";
}

.f7-time_fill::before {
    content: "\eae8";
}

.f7-timer::before {
    content: "\eae9";
}

.f7-timer_fill::before {
    content: "\eaea";
}

.f7-today::before {
    content: "\eaeb";
}

.f7-today_fill::before {
    content: "\eaec";
}

.f7-trash::before {
    content: "\eaed";
}

.f7-trash_fill::before {
    content: "\eaee";
}

.f7-tune::before {
    content: "\eaef";
}

.f7-tune_fill::before {
    content: "\eaf0";
}

.f7-undo::before {
    content: "\eaf1";
}

.f7-unlock::before {
    content: "\eaf2";
}

.f7-unlock_fill::before {
    content: "\eaf3";
}

.f7-up::before {
    content: "\eaf4";
}

.f7-videocam::before {
    content: "\eaf5";
}

.f7-videocam_fill::before {
    content: "\eaf6";
}

.f7-videocam_round::before {
    content: "\eaf7";
}

.f7-videocam_round_fill::before {
    content: "\eaf8";
}

.f7-volume::before {
    content: "\eaf9";
}

.f7-volume_fill::before {
    content: "\eafa";
}

.f7-volume_low::before {
    content: "\eafb";
}

.f7-volume_low_fill::before {
    content: "\eafc";
}

.f7-volume_mute::before {
    content: "\eafd";
}

.f7-volume_mute_fill::before {
    content: "\eafe";
}

.f7-world::before {
    content: "\eaff";
}

.f7-world_fill::before {
    content: "\eb00";
}

.f7-zoom_in::before {
    content: "\eb01";
}

.f7-zoom_out::before {
    content: "\eb02";
}