/**
 * Boxicons, 1.7.1-1
 * Created by Atisa
 * https://github.com/atisawd/boxicons#readme
 * (CC-4.0 OR SIL-OFL-1.1 OR MIT) License
 */
@charset "UTF-8";

@font-face {
  font-family: "boxicons";
  src: url('boxicons.eot');
  src: url('boxicons.eot?#iefix') format('eot'),
    url('boxicons.woff2') format('woff2'),
    url('boxicons.woff') format('woff'),
    url('boxicons.ttf') format('truetype'),
    url('boxicons.svg#boxicons') format('svg');
}

.bx {
  font-family: "boxicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.bxs-adjust:before {
  content: "\e923";
}
.bxs-alarm:before {
  content: "\e924";
}
.bxs-alarm-off:before {
  content: "\e925";
}
.bxs-album:before {
  content: "\e926";
}
.bxs-archive:before {
  content: "\e927";
}
.bxs-archive-in:before {
  content: "\e928";
}
.bxs-archive-out:before {
  content: "\e929";
}
.bxs-area:before {
  content: "\e92a";
}
.bxs-award:before {
  content: "\e92b";
}
.bxs-ball:before {
  content: "\e92c";
}
.bxs-bar-chart-square:before {
  content: "\e92d";
}
.bxs-barcode:before {
  content: "\e92e";
}
.bxs-bath:before {
  content: "\e92f";
}
.bxs-battery:before {
  content: "\e930";
}
.bxs-battery-charging:before {
  content: "\e931";
}
.bxs-battery-full:before {
  content: "\e932";
}
.bxs-battery-low:before {
  content: "\e933";
}
.bxs-bed:before {
  content: "\e934";
}
.bxs-bell:before {
  content: "\e935";
}
.bxs-bell-minus:before {
  content: "\e936";
}
.bxs-bell-off:before {
  content: "\e937";
}
.bxs-bell-plus:before {
  content: "\e938";
}
.bxs-bell-ring:before {
  content: "\e939";
}
.bxs-bolt:before {
  content: "\e93a";
}
.bxs-book:before {
  content: "\e93b";
}
.bxs-book-bookmark:before {
  content: "\e93c";
}
.bxs-bookmark:before {
  content: "\e93d";
}
.bxs-bookmark-minus:before {
  content: "\e93e";
}
.bxs-bookmark-plus:before {
  content: "\e93f";
}
.bxs-bookmarks:before {
  content: "\e940";
}
.bxs-bookmark-star:before {
  content: "\e941";
}
.bxs-book-open:before {
  content: "\e942";
}
.bxs-bot:before {
  content: "\e943";
}
.bxs-box:before {
  content: "\e944";
}
.bxs-briefcase:before {
  content: "\e945";
}
.bxs-briefcase-alt:before {
  content: "\e946";
}
.bxs-bug:before {
  content: "\e947";
}
.bxs-building:before {
  content: "\e948";
}
.bxs-bulb:before {
  content: "\e949";
}
.bxs-buoy:before {
  content: "\e94a";
}
.bxs-bus:before {
  content: "\e94b";
}
.bxs-calculator:before {
  content: "\e94c";
}
.bxs-calendar:before {
  content: "\e94d";
}
.bxs-calendar-alt:before {
  content: "\e94e";
}
.bxs-calendar-check:before {
  content: "\e94f";
}
.bxs-calendar-minus:before {
  content: "\e950";
}
.bxs-calendar-plus:before {
  content: "\e951";
}
.bxs-calendar-x:before {
  content: "\e952";
}
.bxs-camera:before {
  content: "\e953";
}
.bxs-camera-alt:before {
  content: "\e954";
}
.bxs-camera-off:before {
  content: "\e955";
}
.bxs-capsule:before {
  content: "\e956";
}
.bxs-captions:before {
  content: "\e957";
}
.bxs-car:before {
  content: "\e958";
}
.bxs-carousel:before {
  content: "\e959";
}
.bxs-cart:before {
  content: "\e95a";
}
.bxs-cart-alt:before {
  content: "\e95b";
}
.bxs-categories:before {
  content: "\e95c";
}
.bxs-certification:before {
  content: "\e95d";
}
.bxs-chart:before {
  content: "\e95e";
}
.bxs-checkbox:before {
  content: "\e95f";
}
.bxs-checkbox-checked:before {
  content: "\e960";
}
.bxs-check-circle:before {
  content: "\e961";
}
.bxs-chip:before {
  content: "\e962";
}
.bxs-circle:before {
  content: "\e963";
}
.bxs-clipboard:before {
  content: "\e964";
}
.bxs-cloud:before {
  content: "\e965";
}
.bxs-cloud-download:before {
  content: "\e966";
}
.bxs-cloud-upload:before {
  content: "\e967";
}
.bxs-code-block:before {
  content: "\e968";
}
.bxs-coffee:before {
  content: "\e969";
}
.bxs-cog:before {
  content: "\e96a";
}
.bxs-collection:before {
  content: "\e96b";
}
.bxs-columns:before {
  content: "\e96c";
}
.bxs-compass:before {
  content: "\e96d";
}
.bxs-contact:before {
  content: "\e96e";
}
.bxs-conversation:before {
  content: "\e96f";
}
.bxs-copy:before {
  content: "\e970";
}
.bxs-copyright:before {
  content: "\e971";
}
.bxs-coupon:before {
  content: "\e972";
}
.bxs-credit-card:before {
  content: "\e973";
}
.bxs-crown:before {
  content: "\e974";
}
.bxs-cube:before {
  content: "\e975";
}
.bxs-dashboard:before {
  content: "\e976";
}
.bxs-detail:before {
  content: "\e977";
}
.bxs-diamond:before {
  content: "\e978";
}
.bxs-directions:before {
  content: "\e979";
}
.bxs-discount:before {
  content: "\e97a";
}
.bxs-dislike:before {
  content: "\e97b";
}
.bxs-dock-bottom:before {
  content: "\e97c";
}
.bxs-dock-left:before {
  content: "\e97d";
}
.bxs-dock-right:before {
  content: "\e97e";
}
.bxs-dock-top:before {
  content: "\e97f";
}
.bxs-documentation:before {
  content: "\e980";
}
.bxs-dollar-circle:before {
  content: "\e981";
}
.bxs-down-arrow:before {
  content: "\e982";
}
.bxs-down-arrow-circle:before {
  content: "\e983";
}
.bxs-download-alt:before {
  content: "\e984";
}
.bxs-downvote:before {
  content: "\e985";
}
.bxs-drink:before {
  content: "\e986";
}
.bxs-droplet:before {
  content: "\e987";
}
.bxs-duplicate:before {
  content: "\e988";
}
.bxs-edit:before {
  content: "\e989";
}
.bxs-eject:before {
  content: "\e98a";
}
.bxs-envelope:before {
  content: "\e98b";
}
.bxs-eraser:before {
  content: "\e98c";
}
.bxs-error:before {
  content: "\e98d";
}
.bxs-error-circle:before {
  content: "\e98e";
}
.bxs-fast-forward-circle:before {
  content: "\e98f";
}
.bxs-file:before {
  content: "\e990";
}
.bxs-file-blank:before {
  content: "\e991";
}
.bxs-file-image:before {
  content: "\e992";
}
.bxs-file-plus:before {
  content: "\e993";
}
.bxs-files:before {
  content: "\e994";
}
.bxs-film:before {
  content: "\e995";
}
.bxs-filter-alt:before {
  content: "\e996";
}
.bxs-first-aid:before {
  content: "\e997";
}
.bxs-flag:before {
  content: "\e998";
}
.bxs-flag-alt:before {
  content: "\e999";
}
.bxs-flask:before {
  content: "\e99a";
}
.bxs-folder:before {
  content: "\e99b";
}
.bxs-folder-minus:before {
  content: "\e99c";
}
.bxs-folder-open:before {
  content: "\e99d";
}
.bxs-folder-plus:before {
  content: "\e99e";
}
.bxs-gift:before {
  content: "\e99f";
}
.bxs-globe-alt:before {
  content: "\e9a0";
}
.bxs-grid-alt:before {
  content: "\e9a1";
}
.bxs-hdd:before {
  content: "\e9a2";
}
.bxs-heart:before {
  content: "\e9a3";
}
.bxs-hexagon:before {
  content: "\e9a4";
}
.bxs-hide:before {
  content: "\e9a5";
}
.bxs-home:before {
  content: "\e9a6";
}
.bxs-home-alt:before {
  content: "\e9a7";
}
.bxs-hot:before {
  content: "\e9a8";
}
.bxs-hotel:before {
  content: "\e9a9";
}
.bxs-hourglass:before {
  content: "\e9aa";
}
.bxs-idea:before {
  content: "\e9ab";
}
.bxs-image:before {
  content: "\e9ac";
}
.bxs-inbox:before {
  content: "\e9ad";
}
.bxs-info-circle:before {
  content: "\e9ae";
}
.bxs-joystick:before {
  content: "\e9af";
}
.bxs-joystick-alt:before {
  content: "\e9b0";
}
.bxs-key:before {
  content: "\e9b1";
}
.bxs-layer:before {
  content: "\e9b2";
}
.bxs-layout:before {
  content: "\e9b3";
}
.bxs-left-arrow:before {
  content: "\e9b4";
}
.bxs-left-arrow-circle:before {
  content: "\e9b5";
}
.bxs-left-bottom-arrow-circle:before {
  content: "\e9b6";
}
.bxs-left-top-arrow-circle:before {
  content: "\e9b7";
}
.bxs-like:before {
  content: "\e9b8";
}
.bxs-lock:before {
  content: "\e9b9";
}
.bxs-lock-open:before {
  content: "\e9ba";
}
.bxs-magic-wand:before {
  content: "\e9bb";
}
.bxs-map:before {
  content: "\e9bc";
}
.bxs-map-alt:before {
  content: "\e9bd";
}
.bxs-message:before {
  content: "\e9be";
}
.bxs-message-alt:before {
  content: "\e9bf";
}
.bxs-message-detail:before {
  content: "\e9c0";
}
.bxs-message-rounded:before {
  content: "\e9c1";
}
.bxs-microphone:before {
  content: "\e9c2";
}
.bxs-microphone-off:before {
  content: "\e9c3";
}
.bxs-minus-circle:before {
  content: "\e9c4";
}
.bxs-mobile-alt:before {
  content: "\e9c5";
}
.bxs-mobile-message:before {
  content: "\e9c6";
}
.bxs-moon:before {
  content: "\e9c7";
}
.bxs-mouse:before {
  content: "\e9c8";
}
.bxs-movie:before {
  content: "\e9c9";
}
.bxs-music:before {
  content: "\e9ca";
}
.bxs-navigation:before {
  content: "\e9cb";
}
.bxs-news:before {
  content: "\e9cc";
}
.bxs-newsletter:before {
  content: "\e9cd";
}
.bxs-notification:before {
  content: "\e9ce";
}
.bxs-notification-off:before {
  content: "\e9cf";
}
.bxs-octagon:before {
  content: "\e9d0";
}
.bxs-package:before {
  content: "\e9d1";
}
.bxs-paper-plane:before {
  content: "\e9d2";
}
.bxs-paste:before {
  content: "\e9d3";
}
.bxs-pause-circle:before {
  content: "\e9d4";
}
.bxs-pen:before {
  content: "\e9d5";
}
.bxs-pencil:before {
  content: "\e9d6";
}
.bxs-phone:before {
  content: "\e9d7";
}
.bxs-phone-call:before {
  content: "\e9d8";
}
.bxs-phone-incoming:before {
  content: "\e9d9";
}
.bxs-phone-outgoing:before {
  content: "\e9da";
}
.bxs-photo-album:before {
  content: "\e9db";
}
.bxs-pie-chart:before {
  content: "\e9dc";
}
.bxs-pie-chart-alt:before {
  content: "\e9dd";
}
.bxs-pin:before {
  content: "\e9de";
}
.bxs-planet:before {
  content: "\e9df";
}
.bxs-play-circle:before {
  content: "\e9e0";
}
.bxs-playlist:before {
  content: "\e9e1";
}
.bxs-plug:before {
  content: "\e9e2";
}
.bxs-plus-circle:before {
  content: "\e9e3";
}
.bxs-printer:before {
  content: "\e9e4";
}
.bxs-purchase-tag:before {
  content: "\e9e5";
}
.bxs-quote-left:before {
  content: "\e9e6";
}
.bxs-quote-right:before {
  content: "\e9e7";
}
.bxs-radio:before {
  content: "\e9e8";
}
.bxs-rectangle:before {
  content: "\e9e9";
}
.bxs-rename:before {
  content: "\e9ea";
}
.bxs-report:before {
  content: "\e9eb";
}
.bxs-right-arrow:before {
  content: "\e9ec";
}
.bxs-right-arrow-circle:before {
  content: "\e9ed";
}
.bxs-right-down-arrow-circle:before {
  content: "\e9ee";
}
.bxs-right-top-arrow-circle:before {
  content: "\e9ef";
}
.bxs-rocket:before {
  content: "\e9f0";
}
.bxs-ruler:before {
  content: "\e9f1";
}
.bxs-save:before {
  content: "\e9f2";
}
.bxs-select-arrows:before {
  content: "\e9f3";
}
.bxs-select-multiple:before {
  content: "\e9f4";
}
.bxs-send:before {
  content: "\e9f5";
}
.bxs-server:before {
  content: "\e9f6";
}
.bxs-share:before {
  content: "\e9f7";
}
.bxs-share-alt:before {
  content: "\e9f8";
}
.bxs-shield:before {
  content: "\e9f9";
}
.bxs-shield-alt:before {
  content: "\e9fa";
}
.bxs-shopping-bag:before {
  content: "\e9fb";
}
.bxs-shopping-bag-alt:before {
  content: "\e9fc";
}
.bxs-show:before {
  content: "\e9fd";
}
.bxs-sidebar:before {
  content: "\e9fe";
}
.bxs-sitemap:before {
  content: "\e9ff";
}
.bxs-skip-next-circle:before {
  content: "\ea00";
}
.bxs-skip-previous-circle:before {
  content: "\ea01";
}
.bxs-skull:before {
  content: "\ea02";
}
.bxs-slider-alt:before {
  content: "\ea03";
}
.bxs-smiley-happy:before {
  content: "\ea04";
}
.bxs-smiley-meh:before {
  content: "\ea05";
}
.bxs-smiley-sad:before {
  content: "\ea06";
}
.bxs-spreadsheet:before {
  content: "\ea07";
}
.bxs-star:before {
  content: "\ea08";
}
.bxs-star-half:before {
  content: "\ea09";
}
.bxs-stop-circle:before {
  content: "\ea0a";
}
.bxs-stopwatch:before {
  content: "\ea0b";
}
.bxs-store:before {
  content: "\ea0c";
}
.bxs-sun:before {
  content: "\ea0d";
}
.bxs-table:before {
  content: "\ea0e";
}
.bxs-tag:before {
  content: "\ea0f";
}
.bxs-tag-x:before {
  content: "\ea10";
}
.bxs-task:before {
  content: "\ea11";
}
.bxs-taxi:before {
  content: "\ea12";
}
.bxs-tennis-ball:before {
  content: "\ea13";
}
.bxs-terminal:before {
  content: "\ea14";
}
.bxs-thermometer:before {
  content: "\ea15";
}
.bxs-time:before {
  content: "\ea16";
}
.bxs-timer:before {
  content: "\ea17";
}
.bxs-toggle:before {
  content: "\ea18";
}
.bxs-toggle-left:before {
  content: "\ea19";
}
.bxs-toggle-right:before {
  content: "\ea1a";
}
.bxs-torch:before {
  content: "\ea1b";
}
.bxs-to-top:before {
  content: "\ea1c";
}
.bxs-train:before {
  content: "\ea1d";
}
.bxs-trash:before {
  content: "\ea1e";
}
.bxs-trash-alt:before {
  content: "\ea1f";
}
.bxs-triangle:before {
  content: "\ea20";
}
.bxs-trophy:before {
  content: "\ea21";
}
.bxs-trophy-star:before {
  content: "\ea22";
}
.bxs-truck:before {
  content: "\ea23";
}
.bxs-t-shirt:before {
  content: "\ea24";
}
.bxs-tv:before {
  content: "\ea25";
}
.bxs-umbrella:before {
  content: "\ea26";
}
.bxs-up-arrow:before {
  content: "\ea27";
}
.bxs-up-arrow-circle:before {
  content: "\ea28";
}
.bxs-upvote:before {
  content: "\ea29";
}
.bxs-user:before {
  content: "\ea2a";
}
.bxs-user-check:before {
  content: "\ea2b";
}
.bxs-user-circle:before {
  content: "\ea2c";
}
.bxs-user-detail:before {
  content: "\ea2d";
}
.bxs-user-group:before {
  content: "\ea2e";
}
.bxs-user-minus:before {
  content: "\ea2f";
}
.bxs-user-plus:before {
  content: "\ea30";
}
.bxs-user-x:before {
  content: "\ea31";
}
.bxs-video:before {
  content: "\ea32";
}
.bxs-video-off:before {
  content: "\ea33";
}
.bxs-video-plus:before {
  content: "\ea34";
}
.bxs-videos:before {
  content: "\ea35";
}
.bxs-volume:before {
  content: "\ea36";
}
.bxs-volume-full:before {
  content: "\ea37";
}
.bxs-volume-low:before {
  content: "\ea38";
}
.bxs-volume-mute:before {
  content: "\ea39";
}
.bxs-wallet:before {
  content: "\ea3a";
}
.bxs-watch:before {
  content: "\ea3b";
}
.bxs-watch-alt:before {
  content: "\ea3c";
}
.bxs-widget:before {
  content: "\ea3d";
}
.bxs-window:before {
  content: "\ea3e";
}
.bxs-window-close:before {
  content: "\ea3f";
}
.bxs-window-open:before {
  content: "\ea40";
}
.bxs-windows:before {
  content: "\ea41";
}
.bxs-world:before {
  content: "\ea42";
}
.bxs-wrench:before {
  content: "\ea43";
}
.bxs-x-circle:before {
  content: "\ea44";
}
.bxs-zap:before {
  content: "\ea45";
}
.bxs-zoom-in:before {
  content: "\ea46";
}
.bxs-zoom-out:before {
  content: "\ea47";
}

