/**
 * Boxicons Solid, 2.0.5
 * Created by Atisa
 * https://github.com/atisawd/boxicons#readme
 * (CC-BY-4.0 OR OFL-1.1 OR MIT) License
 */
@charset "UTF-8";

@font-face {
  font-family: "boxicons-solid";
  src: url('boxicons-solid.eot');
  src: url('boxicons-solid.eot?#iefix') format('eot'),
    url('boxicons-solid.woff2') format('woff2'),
    url('boxicons-solid.woff') format('woff'),
    url('boxicons-solid.ttf') format('truetype'),
    url('boxicons-solid.svg#boxicons-solid') format('svg');
}

.bxs {
  font-family: "boxicons-solid";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.bxs-add-to-queue:before {
  content: "\ec53";
}
.bxs-adjust:before {
  content: "\ec54";
}
.bxs-adjust-alt:before {
  content: "\ec55";
}
.bxs-alarm:before {
  content: "\ec56";
}
.bxs-alarm-add:before {
  content: "\ec57";
}
.bxs-alarm-exclamation:before {
  content: "\ec58";
}
.bxs-alarm-off:before {
  content: "\ec59";
}
.bxs-alarm-snooze:before {
  content: "\ec5a";
}
.bxs-album:before {
  content: "\ec5b";
}
.bxs-ambulance:before {
  content: "\ec5c";
}
.bxs-analyse:before {
  content: "\ec5d";
}
.bxs-angry:before {
  content: "\ec5e";
}
.bxs-arch:before {
  content: "\ec5f";
}
.bxs-archive:before {
  content: "\ec60";
}
.bxs-archive-in:before {
  content: "\ec61";
}
.bxs-archive-out:before {
  content: "\ec62";
}
.bxs-area:before {
  content: "\ec63";
}
.bxs-arrow-from-bottom:before {
  content: "\ec64";
}
.bxs-arrow-from-left:before {
  content: "\ec65";
}
.bxs-arrow-from-right:before {
  content: "\ec66";
}
.bxs-arrow-from-top:before {
  content: "\ec67";
}
.bxs-arrow-to-bottom:before {
  content: "\ec68";
}
.bxs-arrow-to-left:before {
  content: "\ec69";
}
.bxs-arrow-to-right:before {
  content: "\ec6a";
}
.bxs-arrow-to-top:before {
  content: "\ec6b";
}
.bxs-award:before {
  content: "\ec6c";
}
.bxs-baby-carriage:before {
  content: "\ec6d";
}
.bxs-backpack:before {
  content: "\ec6e";
}
.bxs-badge:before {
  content: "\ec6f";
}
.bxs-badge-check:before {
  content: "\ec70";
}
.bxs-badge-dollar:before {
  content: "\ec71";
}
.bxs-ball:before {
  content: "\ec72";
}
.bxs-band-aid:before {
  content: "\ec73";
}
.bxs-bank:before {
  content: "\ec74";
}
.bxs-bar-chart-alt-2:before {
  content: "\ec75";
}
.bxs-bar-chart-square:before {
  content: "\ec76";
}
.bxs-barcode:before {
  content: "\ec77";
}
.bxs-baseball:before {
  content: "\ec78";
}
.bxs-basket:before {
  content: "\ec79";
}
.bxs-basketball:before {
  content: "\ec7a";
}
.bxs-bath:before {
  content: "\ec7b";
}
.bxs-battery:before {
  content: "\ec7c";
}
.bxs-battery-charging:before {
  content: "\ec7d";
}
.bxs-battery-full:before {
  content: "\ec7e";
}
.bxs-battery-low:before {
  content: "\ec7f";
}
.bxs-bed:before {
  content: "\ec80";
}
.bxs-been-here:before {
  content: "\ec81";
}
.bxs-beer:before {
  content: "\ec82";
}
.bxs-bell:before {
  content: "\ec83";
}
.bxs-bell-minus:before {
  content: "\ec84";
}
.bxs-bell-off:before {
  content: "\ec85";
}
.bxs-bell-plus:before {
  content: "\ec86";
}
.bxs-bell-ring:before {
  content: "\ec87";
}
.bxs-bible:before {
  content: "\ec88";
}
.bxs-binoculars:before {
  content: "\ec89";
}
.bxs-blanket:before {
  content: "\ec8a";
}
.bxs-bolt:before {
  content: "\ec8b";
}
.bxs-bolt-circle:before {
  content: "\ec8c";
}
.bxs-bomb:before {
  content: "\ec8d";
}
.bxs-bone:before {
  content: "\ec8e";
}
.bxs-bong:before {
  content: "\ec8f";
}
.bxs-book:before {
  content: "\ec90";
}
.bxs-book-add:before {
  content: "\ec91";
}
.bxs-book-alt:before {
  content: "\ec92";
}
.bxs-book-bookmark:before {
  content: "\ec93";
}
.bxs-book-content:before {
  content: "\ec94";
}
.bxs-book-heart:before {
  content: "\ec95";
}
.bxs-bookmark:before {
  content: "\ec96";
}
.bxs-bookmark-minus:before {
  content: "\ec97";
}
.bxs-bookmark-plus:before {
  content: "\ec98";
}
.bxs-bookmarks:before {
  content: "\ec99";
}
.bxs-bookmark-star:before {
  content: "\ec9a";
}
.bxs-book-open:before {
  content: "\ec9b";
}
.bxs-book-reader:before {
  content: "\ec9c";
}
.bxs-bot:before {
  content: "\ec9d";
}
.bxs-bowling-ball:before {
  content: "\ec9e";
}
.bxs-box:before {
  content: "\ec9f";
}
.bxs-brain:before {
  content: "\eca0";
}
.bxs-briefcase:before {
  content: "\eca1";
}
.bxs-briefcase-alt:before {
  content: "\eca2";
}
.bxs-briefcase-alt-2:before {
  content: "\eca3";
}
.bxs-brightness:before {
  content: "\eca4";
}
.bxs-brightness-half:before {
  content: "\eca5";
}
.bxs-brush:before {
  content: "\eca6";
}
.bxs-brush-alt:before {
  content: "\eca7";
}
.bxs-bug:before {
  content: "\eca8";
}
.bxs-bug-alt:before {
  content: "\eca9";
}
.bxs-building:before {
  content: "\ecaa";
}
.bxs-building-house:before {
  content: "\ecab";
}
.bxs-buildings:before {
  content: "\ecac";
}
.bxs-bulb:before {
  content: "\ecad";
}
.bxs-bullseye:before {
  content: "\ecae";
}
.bxs-buoy:before {
  content: "\ecaf";
}
.bxs-bus:before {
  content: "\ecb0";
}
.bxs-business:before {
  content: "\ecb1";
}
.bxs-bus-school:before {
  content: "\ecb2";
}
.bxs-cabinet:before {
  content: "\ecb3";
}
.bxs-cake:before {
  content: "\ecb4";
}
.bxs-calculator:before {
  content: "\ecb5";
}
.bxs-calendar:before {
  content: "\ecb6";
}
.bxs-calendar-alt:before {
  content: "\ecb7";
}
.bxs-calendar-check:before {
  content: "\ecb8";
}
.bxs-calendar-edit:before {
  content: "\ecb9";
}
.bxs-calendar-event:before {
  content: "\ecba";
}
.bxs-calendar-exclamation:before {
  content: "\ecbb";
}
.bxs-calendar-heart:before {
  content: "\ecbc";
}
.bxs-calendar-minus:before {
  content: "\ecbd";
}
.bxs-calendar-plus:before {
  content: "\ecbe";
}
.bxs-calendar-star:before {
  content: "\ecbf";
}
.bxs-calendar-week:before {
  content: "\ecc0";
}
.bxs-calendar-x:before {
  content: "\ecc1";
}
.bxs-camera:before {
  content: "\ecc2";
}
.bxs-camera-home:before {
  content: "\ecc3";
}
.bxs-camera-movie:before {
  content: "\ecc4";
}
.bxs-camera-off:before {
  content: "\ecc5";
}
.bxs-camera-plus:before {
  content: "\ecc6";
}
.bxs-capsule:before {
  content: "\ecc7";
}
.bxs-captions:before {
  content: "\ecc8";
}
.bxs-car:before {
  content: "\ecc9";
}
.bxs-car-battery:before {
  content: "\ecca";
}
.bxs-car-crash:before {
  content: "\eccb";
}
.bxs-card:before {
  content: "\eccc";
}
.bxs-caret-down-circle:before {
  content: "\eccd";
}
.bxs-caret-down-square:before {
  content: "\ecce";
}
.bxs-caret-left-circle:before {
  content: "\eccf";
}
.bxs-caret-left-square:before {
  content: "\ecd0";
}
.bxs-caret-right-circle:before {
  content: "\ecd1";
}
.bxs-caret-right-square:before {
  content: "\ecd2";
}
.bxs-caret-up-circle:before {
  content: "\ecd3";
}
.bxs-caret-up-square:before {
  content: "\ecd4";
}
.bxs-car-garage:before {
  content: "\ecd5";
}
.bxs-car-mechanic:before {
  content: "\ecd6";
}
.bxs-carousel:before {
  content: "\ecd7";
}
.bxs-cart:before {
  content: "\ecd8";
}
.bxs-cart-add:before {
  content: "\ecd9";
}
.bxs-cart-alt:before {
  content: "\ecda";
}
.bxs-cart-download:before {
  content: "\ecdb";
}
.bxs-car-wash:before {
  content: "\ecdc";
}
.bxs-cctv:before {
  content: "\ecdd";
}
.bxs-certification:before {
  content: "\ecde";
}
.bxs-chalkboard:before {
  content: "\ecdf";
}
.bxs-chart:before {
  content: "\ece0";
}
.bxs-chat:before {
  content: "\ece1";
}
.bxs-checkbox:before {
  content: "\ece2";
}
.bxs-checkbox-checked:before {
  content: "\ece3";
}
.bxs-check-circle:before {
  content: "\ece4";
}
.bxs-check-shield:before {
  content: "\ece5";
}
.bxs-check-square:before {
  content: "\ece6";
}
.bxs-chess:before {
  content: "\ece7";
}
.bxs-chevron-down:before {
  content: "\ece8";
}
.bxs-chevron-down-circle:before {
  content: "\ece9";
}
.bxs-chevron-down-square:before {
  content: "\ecea";
}
.bxs-chevron-left:before {
  content: "\eceb";
}
.bxs-chevron-left-circle:before {
  content: "\ecec";
}
.bxs-chevron-left-square:before {
  content: "\eced";
}
.bxs-chevron-right:before {
  content: "\ecee";
}
.bxs-chevron-right-circle:before {
  content: "\ecef";
}
.bxs-chevron-right-square:before {
  content: "\ecf0";
}
.bxs-chevrons-down:before {
  content: "\ecf1";
}
.bxs-chevrons-left:before {
  content: "\ecf2";
}
.bxs-chevrons-right:before {
  content: "\ecf3";
}
.bxs-chevrons-up:before {
  content: "\ecf4";
}
.bxs-chevron-up:before {
  content: "\ecf5";
}
.bxs-chevron-up-circle:before {
  content: "\ecf6";
}
.bxs-chevron-up-square:before {
  content: "\ecf7";
}
.bxs-chip:before {
  content: "\ecf8";
}
.bxs-church:before {
  content: "\ecf9";
}
.bxs-circle:before {
  content: "\ecfa";
}
.bxs-city:before {
  content: "\ecfb";
}
.bxs-clinic:before {
  content: "\ecfc";
}
.bxs-cloud:before {
  content: "\ecfd";
}
.bxs-cloud-download:before {
  content: "\ecfe";
}
.bxs-cloud-lightning:before {
  content: "\ecff";
}
.bxs-cloud-rain:before {
  content: "\ed00";
}
.bxs-cloud-upload:before {
  content: "\ed01";
}
.bxs-coffee:before {
  content: "\ed02";
}
.bxs-coffee-alt:before {
  content: "\ed03";
}
.bxs-coffee-togo:before {
  content: "\ed04";
}
.bxs-cog:before {
  content: "\ed05";
}
.bxs-coin:before {
  content: "\ed06";
}
.bxs-coin-stack:before {
  content: "\ed07";
}
.bxs-collection:before {
  content: "\ed08";
}
.bxs-color-fill:before {
  content: "\ed09";
}
.bxs-comment:before {
  content: "\ed0a";
}
.bxs-comment-add:before {
  content: "\ed0b";
}
.bxs-comment-check:before {
  content: "\ed0c";
}
.bxs-comment-detail:before {
  content: "\ed0d";
}
.bxs-comment-dots:before {
  content: "\ed0e";
}
.bxs-comment-edit:before {
  content: "\ed0f";
}
.bxs-comment-error:before {
  content: "\ed10";
}
.bxs-comment-minus:before {
  content: "\ed11";
}
.bxs-comment-x:before {
  content: "\ed12";
}
.bxs-compass:before {
  content: "\ed13";
}
.bxs-component:before {
  content: "\ed14";
}
.bxs-confused:before {
  content: "\ed15";
}
.bxs-contact:before {
  content: "\ed16";
}
.bxs-conversation:before {
  content: "\ed17";
}
.bxs-cookie:before {
  content: "\ed18";
}
.bxs-cool:before {
  content: "\ed19";
}
.bxs-copy:before {
  content: "\ed1a";
}
.bxs-copy-alt:before {
  content: "\ed1b";
}
.bxs-copyright:before {
  content: "\ed1c";
}
.bxs-coupon:before {
  content: "\ed1d";
}
.bxs-credit-card:before {
  content: "\ed1e";
}
.bxs-credit-card-alt:before {
  content: "\ed1f";
}
.bxs-credit-card-front:before {
  content: "\ed20";
}
.bxs-crop:before {
  content: "\ed21";
}
.bxs-crown:before {
  content: "\ed22";
}
.bxs-cube:before {
  content: "\ed23";
}
.bxs-cube-alt:before {
  content: "\ed24";
}
.bxs-cuboid:before {
  content: "\ed25";
}
.bxs-customize:before {
  content: "\ed26";
}
.bxs-cylinder:before {
  content: "\ed27";
}
.bxs-dashboard:before {
  content: "\ed28";
}
.bxs-data:before {
  content: "\ed29";
}
.bxs-detail:before {
  content: "\ed2a";
}
.bxs-devices:before {
  content: "\ed2b";
}
.bxs-diamond:before {
  content: "\ed2c";
}
.bxs-dice-1:before {
  content: "\ed2d";
}
.bxs-dice-2:before {
  content: "\ed2e";
}
.bxs-dice-3:before {
  content: "\ed2f";
}
.bxs-dice-4:before {
  content: "\ed30";
}
.bxs-dice-5:before {
  content: "\ed31";
}
.bxs-dice-6:before {
  content: "\ed32";
}
.bxs-direction-left:before {
  content: "\ed33";
}
.bxs-direction-right:before {
  content: "\ed34";
}
.bxs-directions:before {
  content: "\ed35";
}
.bxs-disc:before {
  content: "\ed36";
}
.bxs-discount:before {
  content: "\ed37";
}
.bxs-dish:before {
  content: "\ed38";
}
.bxs-dislike:before {
  content: "\ed39";
}
.bxs-dizzy:before {
  content: "\ed3a";
}
.bxs-dock-bottom:before {
  content: "\ed3b";
}
.bxs-dock-left:before {
  content: "\ed3c";
}
.bxs-dock-right:before {
  content: "\ed3d";
}
.bxs-dock-top:before {
  content: "\ed3e";
}
.bxs-dollar-circle:before {
  content: "\ed3f";
}
.bxs-donate-blood:before {
  content: "\ed40";
}
.bxs-donate-heart:before {
  content: "\ed41";
}
.bxs-door-open:before {
  content: "\ed42";
}
.bxs-doughnut-chart:before {
  content: "\ed43";
}
.bxs-down-arrow:before {
  content: "\ed44";
}
.bxs-down-arrow-alt:before {
  content: "\ed45";
}
.bxs-down-arrow-circle:before {
  content: "\ed46";
}
.bxs-down-arrow-square:before {
  content: "\ed47";
}
.bxs-download:before {
  content: "\ed48";
}
.bxs-downvote:before {
  content: "\ed49";
}
.bxs-drink:before {
  content: "\ed4a";
}
.bxs-droplet:before {
  content: "\ed4b";
}
.bxs-droplet-half:before {
  content: "\ed4c";
}
.bxs-dryer:before {
  content: "\ed4d";
}
.bxs-duplicate:before {
  content: "\ed4e";
}
.bxs-edit:before {
  content: "\ed4f";
}
.bxs-edit-alt:before {
  content: "\ed50";
}
.bxs-edit-location:before {
  content: "\ed51";
}
.bxs-eject:before {
  content: "\ed52";
}
.bxs-envelope:before {
  content: "\ed53";
}
.bxs-envelope-open:before {
  content: "\ed54";
}
.bxs-eraser:before {
  content: "\ed55";
}
.bxs-error:before {
  content: "\ed56";
}
.bxs-error-alt:before {
  content: "\ed57";
}
.bxs-error-circle:before {
  content: "\ed58";
}
.bxs-ev-station:before {
  content: "\ed59";
}
.bxs-exit:before {
  content: "\ed5a";
}
.bxs-extension:before {
  content: "\ed5b";
}
.bxs-eyedropper:before {
  content: "\ed5c";
}
.bxs-face:before {
  content: "\ed5d";
}
.bxs-factory:before {
  content: "\ed5e";
}
.bxs-fast-forward-circle:before {
  content: "\ed5f";
}
.bxs-file:before {
  content: "\ed60";
}
.bxs-file-archive:before {
  content: "\ed61";
}
.bxs-file-blank:before {
  content: "\ed62";
}
.bxs-file-css:before {
  content: "\ed63";
}
.bxs-file-doc:before {
  content: "\ed64";
}
.bxs-file-export:before {
  content: "\ed65";
}
.bxs-file-find:before {
  content: "\ed66";
}
.bxs-file-gif:before {
  content: "\ed67";
}
.bxs-file-html:before {
  content: "\ed68";
}
.bxs-file-image:before {
  content: "\ed69";
}
.bxs-file-import:before {
  content: "\ed6a";
}
.bxs-file-jpg:before {
  content: "\ed6b";
}
.bxs-file-js:before {
  content: "\ed6c";
}
.bxs-file-json:before {
  content: "\ed6d";
}
.bxs-file-md:before {
  content: "\ed6e";
}
.bxs-file-pdf:before {
  content: "\ed6f";
}
.bxs-file-plus:before {
  content: "\ed70";
}
.bxs-file-png:before {
  content: "\ed71";
}
.bxs-file-txt:before {
  content: "\ed72";
}
.bxs-film:before {
  content: "\ed73";
}
.bxs-filter-alt:before {
  content: "\ed74";
}
.bxs-first-aid:before {
  content: "\ed75";
}
.bxs-flag:before {
  content: "\ed76";
}
.bxs-flag-alt:before {
  content: "\ed77";
}
.bxs-flag-checkered:before {
  content: "\ed78";
}
.bxs-flame:before {
  content: "\ed79";
}
.bxs-flask:before {
  content: "\ed7a";
}
.bxs-florist:before {
  content: "\ed7b";
}
.bxs-folder:before {
  content: "\ed7c";
}
.bxs-folder-minus:before {
  content: "\ed7d";
}
.bxs-folder-open:before {
  content: "\ed7e";
}
.bxs-folder-plus:before {
  content: "\ed7f";
}
.bxs-food-menu:before {
  content: "\ed80";
}
.bxs-fridge:before {
  content: "\ed81";
}
.bxs-game:before {
  content: "\ed82";
}
.bxs-gas-pump:before {
  content: "\ed83";
}
.bxs-ghost:before {
  content: "\ed84";
}
.bxs-gift:before {
  content: "\ed85";
}
.bxs-graduation:before {
  content: "\ed86";
}
.bxs-grid:before {
  content: "\ed87";
}
.bxs-grid-alt:before {
  content: "\ed88";
}
.bxs-group:before {
  content: "\ed89";
}
.bxs-guitar-amp:before {
  content: "\ed8a";
}
.bxs-hand-down:before {
  content: "\ed8b";
}
.bxs-hand-left:before {
  content: "\ed8c";
}
.bxs-hand-right:before {
  content: "\ed8d";
}
.bxs-hand-up:before {
  content: "\ed8e";
}
.bxs-happy:before {
  content: "\ed8f";
}
.bxs-happy-alt:before {
  content: "\ed90";
}
.bxs-happy-beaming:before {
  content: "\ed91";
}
.bxs-happy-heart-eyes:before {
  content: "\ed92";
}
.bxs-hdd:before {
  content: "\ed93";
}
.bxs-heart:before {
  content: "\ed94";
}
.bxs-heart-circle:before {
  content: "\ed95";
}
.bxs-heart-square:before {
  content: "\ed96";
}
.bxs-help-circle:before {
  content: "\ed97";
}
.bxs-hide:before {
  content: "\ed98";
}
.bxs-home:before {
  content: "\ed99";
}
.bxs-home-circle:before {
  content: "\ed9a";
}
.bxs-home-heart:before {
  content: "\ed9b";
}
.bxs-home-smile:before {
  content: "\ed9c";
}
.bxs-hot:before {
  content: "\ed9d";
}
.bxs-hotel:before {
  content: "\ed9e";
}
.bxs-hourglass:before {
  content: "\ed9f";
}
.bxs-hourglass-bottom:before {
  content: "\eda0";
}
.bxs-hourglass-top:before {
  content: "\eda1";
}
.bxs-id-card:before {
  content: "\eda2";
}
.bxs-image:before {
  content: "\eda3";
}
.bxs-image-add:before {
  content: "\eda4";
}
.bxs-image-alt:before {
  content: "\eda5";
}
.bxs-inbox:before {
  content: "\eda6";
}
.bxs-info-circle:before {
  content: "\eda7";
}
.bxs-info-square:before {
  content: "\eda8";
}
.bxs-institution:before {
  content: "\eda9";
}
.bxs-joystick:before {
  content: "\edaa";
}
.bxs-joystick-alt:before {
  content: "\edab";
}
.bxs-joystick-button:before {
  content: "\edac";
}
.bxs-key:before {
  content: "\edad";
}
.bxs-keyboard:before {
  content: "\edae";
}
.bxs-label:before {
  content: "\edaf";
}
.bxs-landmark:before {
  content: "\edb0";
}
.bxs-landscape:before {
  content: "\edb1";
}
.bxs-laugh:before {
  content: "\edb2";
}
.bxs-layer:before {
  content: "\edb3";
}
.bxs-layer-minus:before {
  content: "\edb4";
}
.bxs-layer-plus:before {
  content: "\edb5";
}
.bxs-layout:before {
  content: "\edb6";
}
.bxs-left-arrow:before {
  content: "\edb7";
}
.bxs-left-arrow-alt:before {
  content: "\edb8";
}
.bxs-left-arrow-circle:before {
  content: "\edb9";
}
.bxs-left-arrow-square:before {
  content: "\edba";
}
.bxs-left-down-arrow-circle:before {
  content: "\edbb";
}
.bxs-left-top-arrow-circle:before {
  content: "\edbc";
}
.bxs-like:before {
  content: "\edbd";
}
.bxs-location-plus:before {
  content: "\edbe";
}
.bxs-lock:before {
  content: "\edbf";
}
.bxs-lock-alt:before {
  content: "\edc0";
}
.bxs-lock-open:before {
  content: "\edc1";
}
.bxs-lock-open-alt:before {
  content: "\edc2";
}
.bxs-log-in:before {
  content: "\edc3";
}
.bxs-log-in-circle:before {
  content: "\edc4";
}
.bxs-log-out:before {
  content: "\edc5";
}
.bxs-log-out-circle:before {
  content: "\edc6";
}
.bxs-low-vision:before {
  content: "\edc7";
}
.bxs-magic-wand:before {
  content: "\edc8";
}
.bxs-magnet:before {
  content: "\edc9";
}
.bxs-map:before {
  content: "\edca";
}
.bxs-map-alt:before {
  content: "\edcb";
}
.bxs-map-pin:before {
  content: "\edcc";
}
.bxs-mask:before {
  content: "\edcd";
}
.bxs-medal:before {
  content: "\edce";
}
.bxs-megaphone:before {
  content: "\edcf";
}
.bxs-meh:before {
  content: "\edd0";
}
.bxs-meh-alt:before {
  content: "\edd1";
}
.bxs-meh-blank:before {
  content: "\edd2";
}
.bxs-memory-card:before {
  content: "\edd3";
}
.bxs-message:before {
  content: "\edd4";
}
.bxs-message-add:before {
  content: "\edd5";
}
.bxs-message-alt:before {
  content: "\edd6";
}
.bxs-message-alt-add:before {
  content: "\edd7";
}
.bxs-message-alt-check:before {
  content: "\edd8";
}
.bxs-message-alt-detail:before {
  content: "\edd9";
}
.bxs-message-alt-dots:before {
  content: "\edda";
}
.bxs-message-alt-edit:before {
  content: "\eddb";
}
.bxs-message-alt-error:before {
  content: "\eddc";
}
.bxs-message-alt-minus:before {
  content: "\eddd";
}
.bxs-message-alt-x:before {
  content: "\edde";
}
.bxs-message-check:before {
  content: "\eddf";
}
.bxs-message-detail:before {
  content: "\ede0";
}
.bxs-message-dots:before {
  content: "\ede1";
}
.bxs-message-edit:before {
  content: "\ede2";
}
.bxs-message-error:before {
  content: "\ede3";
}
.bxs-message-minus:before {
  content: "\ede4";
}
.bxs-message-rounded:before {
  content: "\ede5";
}
.bxs-message-rounded-add:before {
  content: "\ede6";
}
.bxs-message-rounded-check:before {
  content: "\ede7";
}
.bxs-message-rounded-detail:before {
  content: "\ede8";
}
.bxs-message-rounded-dots:before {
  content: "\ede9";
}
.bxs-message-rounded-edit:before {
  content: "\edea";
}
.bxs-message-rounded-error:before {
  content: "\edeb";
}
.bxs-message-rounded-minus:before {
  content: "\edec";
}
.bxs-message-rounded-x:before {
  content: "\eded";
}
.bxs-message-square:before {
  content: "\edee";
}
.bxs-message-square-add:before {
  content: "\edef";
}
.bxs-message-square-check:before {
  content: "\edf0";
}
.bxs-message-square-detail:before {
  content: "\edf1";
}
.bxs-message-square-dots:before {
  content: "\edf2";
}
.bxs-message-square-edit:before {
  content: "\edf3";
}
.bxs-message-square-error:before {
  content: "\edf4";
}
.bxs-message-square-minus:before {
  content: "\edf5";
}
.bxs-message-square-x:before {
  content: "\edf6";
}
.bxs-message-x:before {
  content: "\edf7";
}
.bxs-meteor:before {
  content: "\edf8";
}
.bxs-microchip:before {
  content: "\edf9";
}
.bxs-microphone:before {
  content: "\edfa";
}
.bxs-microphone-alt:before {
  content: "\edfb";
}
.bxs-microphone-off:before {
  content: "\edfc";
}
.bxs-minus-circle:before {
  content: "\edfd";
}
.bxs-minus-square:before {
  content: "\edfe";
}
.bxs-mobile:before {
  content: "\edff";
}
.bxs-mobile-vibration:before {
  content: "\ee00";
}
.bxs-moon:before {
  content: "\ee01";
}
.bxs-mouse:before {
  content: "\ee02";
}
.bxs-mouse-alt:before {
  content: "\ee03";
}
.bxs-movie:before {
  content: "\ee04";
}
.bxs-music:before {
  content: "\ee05";
}
.bxs-navigation:before {
  content: "\ee06";
}
.bxs-network-chart:before {
  content: "\ee07";
}
.bxs-news:before {
  content: "\ee08";
}
.bxs-no-entry:before {
  content: "\ee09";
}
.bxs-note:before {
  content: "\ee0a";
}
.bxs-notepad:before {
  content: "\ee0b";
}
.bxs-notification:before {
  content: "\ee0c";
}
.bxs-notification-off:before {
  content: "\ee0d";
}
.bxs-offer:before {
  content: "\ee0e";
}
.bxs-package:before {
  content: "\ee0f";
}
.bxs-paint:before {
  content: "\ee10";
}
.bxs-paint-roll:before {
  content: "\ee11";
}
.bxs-palette:before {
  content: "\ee12";
}
.bxs-paper-plane:before {
  content: "\ee13";
}
.bxs-parking:before {
  content: "\ee14";
}
.bxs-paste:before {
  content: "\ee15";
}
.bxs-pen:before {
  content: "\ee16";
}
.bxs-pencil:before {
  content: "\ee17";
}
.bxs-phone:before {
  content: "\ee18";
}
.bxs-phone-call:before {
  content: "\ee19";
}
.bxs-phone-incoming:before {
  content: "\ee1a";
}
.bxs-phone-outgoing:before {
  content: "\ee1b";
}
.bxs-photo-album:before {
  content: "\ee1c";
}
.bxs-piano:before {
  content: "\ee1d";
}
.bxs-pie-chart:before {
  content: "\ee1e";
}
.bxs-pie-chart-alt:before {
  content: "\ee1f";
}
.bxs-pie-chart-alt-2:before {
  content: "\ee20";
}
.bxs-pin:before {
  content: "\ee21";
}
.bxs-pizza:before {
  content: "\ee22";
}
.bxs-plane:before {
  content: "\ee23";
}
.bxs-plane-alt:before {
  content: "\ee24";
}
.bxs-plane-land:before {
  content: "\ee25";
}
.bxs-planet:before {
  content: "\ee26";
}
.bxs-plane-take-off:before {
  content: "\ee27";
}
.bxs-playlist:before {
  content: "\ee28";
}
.bxs-plug:before {
  content: "\ee29";
}
.bxs-plus-circle:before {
  content: "\ee2a";
}
.bxs-plus-square:before {
  content: "\ee2b";
}
.bxs-pointer:before {
  content: "\ee2c";
}
.bxs-polygon:before {
  content: "\ee2d";
}
.bxs-printer:before {
  content: "\ee2e";
}
.bxs-purchase-tag:before {
  content: "\ee2f";
}
.bxs-purchase-tag-alt:before {
  content: "\ee30";
}
.bxs-pyramid:before {
  content: "\ee31";
}
.bxs-quote-alt-left:before {
  content: "\ee32";
}
.bxs-quote-alt-right:before {
  content: "\ee33";
}
.bxs-quote-left:before {
  content: "\ee34";
}
.bxs-quote-right:before {
  content: "\ee35";
}
.bxs-quote-single-left:before {
  content: "\ee36";
}
.bxs-quote-single-right:before {
  content: "\ee37";
}
.bxs-radiation:before {
  content: "\ee38";
}
.bxs-radio:before {
  content: "\ee39";
}
.bxs-receipt:before {
  content: "\ee3a";
}
.bxs-rectangle:before {
  content: "\ee3b";
}
.bxs-rename:before {
  content: "\ee3c";
}
.bxs-report:before {
  content: "\ee3d";
}
.bxs-rewind-circle:before {
  content: "\ee3e";
}
.bxs-right-arrow:before {
  content: "\ee3f";
}
.bxs-right-arrow-alt:before {
  content: "\ee40";
}
.bxs-right-arrow-circle:before {
  content: "\ee41";
}
.bxs-right-arrow-square:before {
  content: "\ee42";
}
.bxs-right-down-arrow-circle:before {
  content: "\ee43";
}
.bxs-right-top-arrow-circle:before {
  content: "\ee44";
}
.bxs-rocket:before {
  content: "\ee45";
}
.bxs-ruler:before {
  content: "\ee46";
}
.bxs-sad:before {
  content: "\ee47";
}
.bxs-save:before {
  content: "\ee48";
}
.bxs-school:before {
  content: "\ee49";
}
.bxs-search:before {
  content: "\ee4a";
}
.bxs-search-alt-2:before {
  content: "\ee4b";
}
.bxs-select-multiple:before {
  content: "\ee4c";
}
.bxs-send:before {
  content: "\ee4d";
}
.bxs-server:before {
  content: "\ee4e";
}
.bxs-shapes:before {
  content: "\ee4f";
}
.bxs-share:before {
  content: "\ee50";
}
.bxs-share-alt:before {
  content: "\ee51";
}
.bxs-shield:before {
  content: "\ee52";
}
.bxs-shield-alt-2:before {
  content: "\ee53";
}
.bxs-shield-x:before {
  content: "\ee54";
}
.bxs-ship:before {
  content: "\ee55";
}
.bxs-shocked:before {
  content: "\ee56";
}
.bxs-shopping-bag:before {
  content: "\ee57";
}
.bxs-shopping-bag-alt:before {
  content: "\ee58";
}
.bxs-shopping-bags:before {
  content: "\ee59";
}
.bxs-show:before {
  content: "\ee5a";
}
.bxs-skip-next-circle:before {
  content: "\ee5b";
}
.bxs-skip-previous-circle:before {
  content: "\ee5c";
}
.bxs-skull:before {
  content: "\ee5d";
}
.bxs-sleepy:before {
  content: "\ee5e";
}
.bxs-slideshow:before {
  content: "\ee5f";
}
.bxs-smile:before {
  content: "\ee60";
}
.bxs-sort-alt:before {
  content: "\ee61";
}
.bxs-spa:before {
  content: "\ee62";
}
.bxs-spray-can:before {
  content: "\ee63";
}
.bxs-spreadsheet:before {
  content: "\ee64";
}
.bxs-square:before {
  content: "\ee65";
}
.bxs-square-rounded:before {
  content: "\ee66";
}
.bxs-star:before {
  content: "\ee67";
}
.bxs-star-half:before {
  content: "\ee68";
}
.bxs-sticker:before {
  content: "\ee69";
}
.bxs-stopwatch:before {
  content: "\ee6a";
}
.bxs-store:before {
  content: "\ee6b";
}
.bxs-store-alt:before {
  content: "\ee6c";
}
.bxs-sun:before {
  content: "\ee6d";
}
.bxs-tachometer:before {
  content: "\ee6e";
}
.bxs-tag:before {
  content: "\ee6f";
}
.bxs-tag-x:before {
  content: "\ee70";
}
.bxs-taxi:before {
  content: "\ee71";
}
.bxs-tennis-ball:before {
  content: "\ee72";
}
.bxs-terminal:before {
  content: "\ee73";
}
.bxs-thermometer:before {
  content: "\ee74";
}
.bxs-time:before {
  content: "\ee75";
}
.bxs-time-five:before {
  content: "\ee76";
}
.bxs-timer:before {
  content: "\ee77";
}
.bxs-tired:before {
  content: "\ee78";
}
.bxs-toggle-left:before {
  content: "\ee79";
}
.bxs-toggle-right:before {
  content: "\ee7a";
}
.bxs-tone:before {
  content: "\ee7b";
}
.bxs-torch:before {
  content: "\ee7c";
}
.bxs-to-top:before {
  content: "\ee7d";
}
.bxs-traffic:before {
  content: "\ee7e";
}
.bxs-traffic-barrier:before {
  content: "\ee7f";
}
.bxs-traffic-cone:before {
  content: "\ee80";
}
.bxs-train:before {
  content: "\ee81";
}
.bxs-trash:before {
  content: "\ee82";
}
.bxs-trash-alt:before {
  content: "\ee83";
}
.bxs-tree:before {
  content: "\ee84";
}
.bxs-trophy:before {
  content: "\ee85";
}
.bxs-truck:before {
  content: "\ee86";
}
.bxs-t-shirt:before {
  content: "\ee87";
}
.bxs-up-arrow:before {
  content: "\ee88";
}
.bxs-up-arrow-alt:before {
  content: "\ee89";
}
.bxs-up-arrow-circle:before {
  content: "\ee8a";
}
.bxs-up-arrow-square:before {
  content: "\ee8b";
}
.bxs-upside-down:before {
  content: "\ee8c";
}
.bxs-upvote:before {
  content: "\ee8d";
}
.bxs-user:before {
  content: "\ee8e";
}
.bxs-user-badge:before {
  content: "\ee8f";
}
.bxs-user-check:before {
  content: "\ee90";
}
.bxs-user-circle:before {
  content: "\ee91";
}
.bxs-user-detail:before {
  content: "\ee92";
}
.bxs-user-minus:before {
  content: "\ee93";
}
.bxs-user-pin:before {
  content: "\ee94";
}
.bxs-user-plus:before {
  content: "\ee95";
}
.bxs-user-rectangle:before {
  content: "\ee96";
}
.bxs-user-voice:before {
  content: "\ee97";
}
.bxs-user-x:before {
  content: "\ee98";
}
.bxs-vector:before {
  content: "\ee99";
}
.bxs-vial:before {
  content: "\ee9a";
}
.bxs-video:before {
  content: "\ee9b";
}
.bxs-video-off:before {
  content: "\ee9c";
}
.bxs-video-plus:before {
  content: "\ee9d";
}
.bxs-video-recording:before {
  content: "\ee9e";
}
.bxs-videos:before {
  content: "\ee9f";
}
.bxs-volume:before {
  content: "\eea0";
}
.bxs-volume-full:before {
  content: "\eea1";
}
.bxs-volume-low:before {
  content: "\eea2";
}
.bxs-volume-mute:before {
  content: "\eea3";
}
.bxs-wallet:before {
  content: "\eea4";
}
.bxs-wallet-alt:before {
  content: "\eea5";
}
.bxs-washer:before {
  content: "\eea6";
}
.bxs-watch:before {
  content: "\eea7";
}
.bxs-watch-alt:before {
  content: "\eea8";
}
.bxs-webcam:before {
  content: "\eea9";
}
.bxs-widget:before {
  content: "\eeaa";
}
.bxs-window-alt:before {
  content: "\eeab";
}
.bxs-wine:before {
  content: "\eeac";
}
.bxs-wink-smile:before {
  content: "\eead";
}
.bxs-wink-tongue:before {
  content: "\eeae";
}
.bxs-wrench:before {
  content: "\eeaf";
}
.bxs-x-circle:before {
  content: "\eeb0";
}
.bxs-x-square:before {
  content: "\eeb1";
}
.bxs-yin-yang:before {
  content: "\eeb2";
}
.bxs-zap:before {
  content: "\eeb3";
}
.bxs-zoom-in:before {
  content: "\eeb4";
}
.bxs-zoom-out:before {
  content: "\eeb5";
}

