/**
 * Boxicons Solid, 1.8.1
 * Created by Atisa
 * https://github.com/atisawd/boxicons#readme
 * (CC-4.0 OR SIL-OFL-1.1 OR MIT) License
 */
@charset "UTF-8";

@font-face {
  font-family: "boxicons-solid";
  src: url('boxicons-solid.eot');
  src: url('boxicons-solid.eot?#iefix') format('eot'),
    url('boxicons-solid.woff2') format('woff2'),
    url('boxicons-solid.woff') format('woff'),
    url('boxicons-solid.ttf') format('truetype'),
    url('boxicons-solid.svg#boxicons-solid') format('svg');
}

.bxs {
  font-family: "boxicons-solid";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.bxs-adjust:before {
  content: "\eaeb";
}
.bxs-alarm:before {
  content: "\eaec";
}
.bxs-alarm-off:before {
  content: "\eaed";
}
.bxs-album:before {
  content: "\eaee";
}
.bxs-archive:before {
  content: "\eaef";
}
.bxs-archive-in:before {
  content: "\eaf0";
}
.bxs-archive-out:before {
  content: "\eaf1";
}
.bxs-area:before {
  content: "\eaf2";
}
.bxs-award:before {
  content: "\eaf3";
}
.bxs-badge:before {
  content: "\eaf4";
}
.bxs-ball:before {
  content: "\eaf5";
}
.bxs-bar-chart-square:before {
  content: "\eaf6";
}
.bxs-barcode:before {
  content: "\eaf7";
}
.bxs-bath:before {
  content: "\eaf8";
}
.bxs-battery:before {
  content: "\eaf9";
}
.bxs-battery-charging:before {
  content: "\eafa";
}
.bxs-battery-full:before {
  content: "\eafb";
}
.bxs-battery-low:before {
  content: "\eafc";
}
.bxs-bed:before {
  content: "\eafd";
}
.bxs-bell:before {
  content: "\eafe";
}
.bxs-bell-minus:before {
  content: "\eaff";
}
.bxs-bell-off:before {
  content: "\eb00";
}
.bxs-bell-plus:before {
  content: "\eb01";
}
.bxs-bell-ring:before {
  content: "\eb02";
}
.bxs-bolt:before {
  content: "\eb03";
}
.bxs-book:before {
  content: "\eb04";
}
.bxs-book-bookmark:before {
  content: "\eb05";
}
.bxs-bookmark:before {
  content: "\eb06";
}
.bxs-bookmark-minus:before {
  content: "\eb07";
}
.bxs-bookmark-plus:before {
  content: "\eb08";
}
.bxs-bookmarks:before {
  content: "\eb09";
}
.bxs-bookmark-star:before {
  content: "\eb0a";
}
.bxs-book-open:before {
  content: "\eb0b";
}
.bxs-bot:before {
  content: "\eb0c";
}
.bxs-box:before {
  content: "\eb0d";
}
.bxs-briefcase:before {
  content: "\eb0e";
}
.bxs-briefcase-alt:before {
  content: "\eb0f";
}
.bxs-bug:before {
  content: "\eb10";
}
.bxs-building:before {
  content: "\eb11";
}
.bxs-bulb:before {
  content: "\eb12";
}
.bxs-buoy:before {
  content: "\eb13";
}
.bxs-bus:before {
  content: "\eb14";
}
.bxs-calculator:before {
  content: "\eb15";
}
.bxs-calendar:before {
  content: "\eb16";
}
.bxs-calendar-alt:before {
  content: "\eb17";
}
.bxs-calendar-check:before {
  content: "\eb18";
}
.bxs-calendar-minus:before {
  content: "\eb19";
}
.bxs-calendar-plus:before {
  content: "\eb1a";
}
.bxs-calendar-x:before {
  content: "\eb1b";
}
.bxs-camera:before {
  content: "\eb1c";
}
.bxs-camera-alt:before {
  content: "\eb1d";
}
.bxs-camera-off:before {
  content: "\eb1e";
}
.bxs-captions:before {
  content: "\eb1f";
}
.bxs-car:before {
  content: "\eb20";
}
.bxs-card:before {
  content: "\eb21";
}
.bxs-carousel:before {
  content: "\eb22";
}
.bxs-cart:before {
  content: "\eb23";
}
.bxs-cart-alt:before {
  content: "\eb24";
}
.bxs-categories:before {
  content: "\eb25";
}
.bxs-certification:before {
  content: "\eb26";
}
.bxs-chart:before {
  content: "\eb27";
}
.bxs-checkbox:before {
  content: "\eb28";
}
.bxs-checkbox-checked:before {
  content: "\eb29";
}
.bxs-check-circle:before {
  content: "\eb2a";
}
.bxs-chip:before {
  content: "\eb2b";
}
.bxs-circle:before {
  content: "\eb2c";
}
.bxs-clipboard:before {
  content: "\eb2d";
}
.bxs-cloud:before {
  content: "\eb2e";
}
.bxs-cloud-download:before {
  content: "\eb2f";
}
.bxs-cloud-upload:before {
  content: "\eb30";
}
.bxs-code-block:before {
  content: "\eb31";
}
.bxs-coffee:before {
  content: "\eb32";
}
.bxs-cog:before {
  content: "\eb33";
}
.bxs-collection:before {
  content: "\eb34";
}
.bxs-compass:before {
  content: "\eb35";
}
.bxs-contact:before {
  content: "\eb36";
}
.bxs-conversation:before {
  content: "\eb37";
}
.bxs-copy:before {
  content: "\eb38";
}
.bxs-copyright:before {
  content: "\eb39";
}
.bxs-coupon:before {
  content: "\eb3a";
}
.bxs-credit-card:before {
  content: "\eb3b";
}
.bxs-crown:before {
  content: "\eb3c";
}
.bxs-cube:before {
  content: "\eb3d";
}
.bxs-dashboard:before {
  content: "\eb3e";
}
.bxs-detail:before {
  content: "\eb3f";
}
.bxs-diamond:before {
  content: "\eb40";
}
.bxs-disc:before {
  content: "\eb41";
}
.bxs-discount:before {
  content: "\eb42";
}
.bxs-dislike:before {
  content: "\eb43";
}
.bxs-dock-bottom:before {
  content: "\eb44";
}
.bxs-dock-left:before {
  content: "\eb45";
}
.bxs-dock-right:before {
  content: "\eb46";
}
.bxs-dock-top:before {
  content: "\eb47";
}
.bxs-documentation:before {
  content: "\eb48";
}
.bxs-dollar-circle:before {
  content: "\eb49";
}
.bxs-down-arrow:before {
  content: "\eb4a";
}
.bxs-down-arrow-circle:before {
  content: "\eb4b";
}
.bxs-download:before {
  content: "\eb4c";
}
.bxs-downvote:before {
  content: "\eb4d";
}
.bxs-drink:before {
  content: "\eb4e";
}
.bxs-droplet:before {
  content: "\eb4f";
}
.bxs-duplicate:before {
  content: "\eb50";
}
.bxs-edit:before {
  content: "\eb51";
}
.bxs-eject:before {
  content: "\eb52";
}
.bxs-envelope:before {
  content: "\eb53";
}
.bxs-error:before {
  content: "\eb54";
}
.bxs-error-circle:before {
  content: "\eb55";
}
.bxs-fast-forward-circle:before {
  content: "\eb56";
}
.bxs-file:before {
  content: "\eb57";
}
.bxs-file-blank:before {
  content: "\eb58";
}
.bxs-file-image:before {
  content: "\eb59";
}
.bxs-file-plus:before {
  content: "\eb5a";
}
.bxs-files:before {
  content: "\eb5b";
}
.bxs-film:before {
  content: "\eb5c";
}
.bxs-filter-alt:before {
  content: "\eb5d";
}
.bxs-first-aid:before {
  content: "\eb5e";
}
.bxs-flag:before {
  content: "\eb5f";
}
.bxs-flag-alt:before {
  content: "\eb60";
}
.bxs-flame:before {
  content: "\eb61";
}
.bxs-folder:before {
  content: "\eb62";
}
.bxs-folder-minus:before {
  content: "\eb63";
}
.bxs-folder-open:before {
  content: "\eb64";
}
.bxs-folder-plus:before {
  content: "\eb65";
}
.bxs-gift:before {
  content: "\eb66";
}
.bxs-globe-alt:before {
  content: "\eb67";
}
.bxs-grid-alt:before {
  content: "\eb68";
}
.bxs-group:before {
  content: "\eb69";
}
.bxs-hdd:before {
  content: "\eb6a";
}
.bxs-heart:before {
  content: "\eb6b";
}
.bxs-help-circle:before {
  content: "\eb6c";
}
.bxs-hexagon:before {
  content: "\eb6d";
}
.bxs-hide:before {
  content: "\eb6e";
}
.bxs-home:before {
  content: "\eb6f";
}
.bxs-home-alt:before {
  content: "\eb70";
}
.bxs-hot:before {
  content: "\eb71";
}
.bxs-hourglass:before {
  content: "\eb72";
}
.bxs-idea:before {
  content: "\eb73";
}
.bxs-image:before {
  content: "\eb74";
}
.bxs-image-alt:before {
  content: "\eb75";
}
.bxs-inbox:before {
  content: "\eb76";
}
.bxs-info-circle:before {
  content: "\eb77";
}
.bxs-joystick:before {
  content: "\eb78";
}
.bxs-joystick-alt:before {
  content: "\eb79";
}
.bxs-key:before {
  content: "\eb7a";
}
.bxs-layer:before {
  content: "\eb7b";
}
.bxs-layout:before {
  content: "\eb7c";
}
.bxs-left-arrow:before {
  content: "\eb7d";
}
.bxs-left-arrow-circle:before {
  content: "\eb7e";
}
.bxs-left-bottom-arrow-circle:before {
  content: "\eb7f";
}
.bxs-left-top-arrow-circle:before {
  content: "\eb80";
}
.bxs-like:before {
  content: "\eb81";
}
.bxs-lock:before {
  content: "\eb82";
}
.bxs-lock-open:before {
  content: "\eb83";
}
.bxs-magnet:before {
  content: "\eb84";
}
.bxs-map:before {
  content: "\eb85";
}
.bxs-map-alt:before {
  content: "\eb86";
}
.bxs-message:before {
  content: "\eb87";
}
.bxs-message-alt:before {
  content: "\eb88";
}
.bxs-message-detail:before {
  content: "\eb89";
}
.bxs-message-rounded:before {
  content: "\eb8a";
}
.bxs-microphone:before {
  content: "\eb8b";
}
.bxs-microphone-off:before {
  content: "\eb8c";
}
.bxs-minus-circle:before {
  content: "\eb8d";
}
.bxs-minus-square:before {
  content: "\eb8e";
}
.bxs-mobile-alt:before {
  content: "\eb8f";
}
.bxs-mobile-message:before {
  content: "\eb90";
}
.bxs-moon:before {
  content: "\eb91";
}
.bxs-mouse:before {
  content: "\eb92";
}
.bxs-movie:before {
  content: "\eb93";
}
.bxs-music:before {
  content: "\eb94";
}
.bxs-navigation:before {
  content: "\eb95";
}
.bxs-news:before {
  content: "\eb96";
}
.bxs-newsletter:before {
  content: "\eb97";
}
.bxs-note:before {
  content: "\eb98";
}
.bxs-notes:before {
  content: "\eb99";
}
.bxs-notification:before {
  content: "\eb9a";
}
.bxs-notification-off:before {
  content: "\eb9b";
}
.bxs-octagon:before {
  content: "\eb9c";
}
.bxs-package:before {
  content: "\eb9d";
}
.bxs-paper-plane:before {
  content: "\eb9e";
}
.bxs-paste:before {
  content: "\eb9f";
}
.bxs-pause-circle:before {
  content: "\eba0";
}
.bxs-pen:before {
  content: "\eba1";
}
.bxs-pencil:before {
  content: "\eba2";
}
.bxs-phone:before {
  content: "\eba3";
}
.bxs-phone-call:before {
  content: "\eba4";
}
.bxs-phone-incoming:before {
  content: "\eba5";
}
.bxs-phone-outgoing:before {
  content: "\eba6";
}
.bxs-photo-album:before {
  content: "\eba7";
}
.bxs-pie-chart:before {
  content: "\eba8";
}
.bxs-pie-chart-alt:before {
  content: "\eba9";
}
.bxs-pin:before {
  content: "\ebaa";
}
.bxs-planet:before {
  content: "\ebab";
}
.bxs-play-circle:before {
  content: "\ebac";
}
.bxs-playlist:before {
  content: "\ebad";
}
.bxs-plug:before {
  content: "\ebae";
}
.bxs-plus-circle:before {
  content: "\ebaf";
}
.bxs-plus-square:before {
  content: "\ebb0";
}
.bxs-printer:before {
  content: "\ebb1";
}
.bxs-purchase-tag:before {
  content: "\ebb2";
}
.bxs-quote-left:before {
  content: "\ebb3";
}
.bxs-quote-right:before {
  content: "\ebb4";
}
.bxs-radio:before {
  content: "\ebb5";
}
.bxs-rectangle:before {
  content: "\ebb6";
}
.bxs-rename:before {
  content: "\ebb7";
}
.bxs-report:before {
  content: "\ebb8";
}
.bxs-rewind-circle:before {
  content: "\ebb9";
}
.bxs-right-arrow:before {
  content: "\ebba";
}
.bxs-right-arrow-circle:before {
  content: "\ebbb";
}
.bxs-right-down-arrow-circle:before {
  content: "\ebbc";
}
.bxs-right-top-arrow-circle:before {
  content: "\ebbd";
}
.bxs-rocket:before {
  content: "\ebbe";
}
.bxs-ruler:before {
  content: "\ebbf";
}
.bxs-save:before {
  content: "\ebc0";
}
.bxs-select-arrows:before {
  content: "\ebc1";
}
.bxs-select-multiple:before {
  content: "\ebc2";
}
.bxs-send:before {
  content: "\ebc3";
}
.bxs-server:before {
  content: "\ebc4";
}
.bxs-share:before {
  content: "\ebc5";
}
.bxs-share-alt:before {
  content: "\ebc6";
}
.bxs-shield:before {
  content: "\ebc7";
}
.bxs-shield-alt:before {
  content: "\ebc8";
}
.bxs-shopping-bag:before {
  content: "\ebc9";
}
.bxs-shopping-bag-alt:before {
  content: "\ebca";
}
.bxs-show:before {
  content: "\ebcb";
}
.bxs-sidebar:before {
  content: "\ebcc";
}
.bxs-skip-next-circle:before {
  content: "\ebcd";
}
.bxs-skip-previous-circle:before {
  content: "\ebce";
}
.bxs-skull:before {
  content: "\ebcf";
}
.bxs-smiley-happy:before {
  content: "\ebd0";
}
.bxs-smiley-meh:before {
  content: "\ebd1";
}
.bxs-smiley-sad:before {
  content: "\ebd2";
}
.bxs-spreadsheet:before {
  content: "\ebd3";
}
.bxs-star:before {
  content: "\ebd4";
}
.bxs-star-half:before {
  content: "\ebd5";
}
.bxs-stop-circle:before {
  content: "\ebd6";
}
.bxs-stopwatch:before {
  content: "\ebd7";
}
.bxs-store:before {
  content: "\ebd8";
}
.bxs-sun:before {
  content: "\ebd9";
}
.bxs-tag:before {
  content: "\ebda";
}
.bxs-tag-x:before {
  content: "\ebdb";
}
.bxs-task:before {
  content: "\ebdc";
}
.bxs-taxi:before {
  content: "\ebdd";
}
.bxs-tennis-ball:before {
  content: "\ebde";
}
.bxs-terminal:before {
  content: "\ebdf";
}
.bxs-thermometer:before {
  content: "\ebe0";
}
.bxs-time:before {
  content: "\ebe1";
}
.bxs-timer:before {
  content: "\ebe2";
}
.bxs-toggle:before {
  content: "\ebe3";
}
.bxs-toggle-left:before {
  content: "\ebe4";
}
.bxs-toggle-right:before {
  content: "\ebe5";
}
.bxs-torch:before {
  content: "\ebe6";
}
.bxs-to-top:before {
  content: "\ebe7";
}
.bxs-train:before {
  content: "\ebe8";
}
.bxs-trash:before {
  content: "\ebe9";
}
.bxs-trash-alt:before {
  content: "\ebea";
}
.bxs-triangle:before {
  content: "\ebeb";
}
.bxs-trophy:before {
  content: "\ebec";
}
.bxs-trophy-star:before {
  content: "\ebed";
}
.bxs-truck:before {
  content: "\ebee";
}
.bxs-t-shirt:before {
  content: "\ebef";
}
.bxs-up-arrow:before {
  content: "\ebf0";
}
.bxs-up-arrow-circle:before {
  content: "\ebf1";
}
.bxs-upvote:before {
  content: "\ebf2";
}
.bxs-user:before {
  content: "\ebf3";
}
.bxs-user-check:before {
  content: "\ebf4";
}
.bxs-user-circle:before {
  content: "\ebf5";
}
.bxs-user-detail:before {
  content: "\ebf6";
}
.bxs-user-minus:before {
  content: "\ebf7";
}
.bxs-user-plus:before {
  content: "\ebf8";
}
.bxs-user-x:before {
  content: "\ebf9";
}
.bxs-video:before {
  content: "\ebfa";
}
.bxs-video-off:before {
  content: "\ebfb";
}
.bxs-video-plus:before {
  content: "\ebfc";
}
.bxs-videos:before {
  content: "\ebfd";
}
.bxs-volume:before {
  content: "\ebfe";
}
.bxs-volume-full:before {
  content: "\ebff";
}
.bxs-volume-low:before {
  content: "\ec00";
}
.bxs-volume-mute:before {
  content: "\ec01";
}
.bxs-wallet:before {
  content: "\ec02";
}
.bxs-watch:before {
  content: "\ec03";
}
.bxs-watch-alt:before {
  content: "\ec04";
}
.bxs-widget:before {
  content: "\ec05";
}
.bxs-window:before {
  content: "\ec06";
}
.bxs-window-close:before {
  content: "\ec07";
}
.bxs-window-open:before {
  content: "\ec08";
}
.bxs-windows:before {
  content: "\ec09";
}
.bxs-world:before {
  content: "\ec0a";
}
.bxs-wrench:before {
  content: "\ec0b";
}
.bxs-x-circle:before {
  content: "\ec0c";
}
.bxs-x-square:before {
  content: "\ec0d";
}
.bxs-zap:before {
  content: "\ec0e";
}
.bxs-zoom-in:before {
  content: "\ec0f";
}
.bxs-zoom-out:before {
  content: "\ec10";
}

