/**
 * Feathericon, 0.9.8
 * Created by Featherplain
 * http://feathericon.com
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "feathericon";
  src: url('feathericon.eot');
  src: url('feathericon.eot?#iefix') format('eot'),
    url('feathericon.woff2') format('woff2'),
    url('feathericon.woff') format('woff'),
    url('feathericon.ttf') format('truetype'),
    url('feathericon.svg#feathericon') format('svg');
}

.fei {
  font-family: "feathericon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.fei-activity:before {
  content: "\f1e2";
}
.fei-add-cart:before {
  content: "\f1e6";
}
.fei-align-bottom:before {
  content: "\f1bf";
}
.fei-align-center:before {
  content: "\f195";
}
.fei-align-left:before {
  content: "\f196";
}
.fei-align-right:before {
  content: "\f197";
}
.fei-align-top:before {
  content: "\f1c0";
}
.fei-align-vertically:before {
  content: "\f1c1";
}
.fei-angry:before {
  content: "\f1b6";
}
.fei-app-menu:before {
  content: "\f198";
}
.fei-arrow-down:before {
  content: "\f100";
}
.fei-arrow-left:before {
  content: "\f101";
}
.fei-arrow-right:before {
  content: "\f102";
}
.fei-arrow-up:before {
  content: "\f103";
}
.fei-artboard:before {
  content: "\f104";
}
.fei-audio-player:before {
  content: "\f199";
}
.fei-backward:before {
  content: "\f180";
}
.fei-bar:before {
  content: "\f105";
}
.fei-bar-chart:before {
  content: "\f106";
}
.fei-beer:before {
  content: "\f107";
}
.fei-bell:before {
  content: "\f108";
}
.fei-birthday-cake:before {
  content: "\f163";
}
.fei-bold:before {
  content: "\f179";
}
.fei-bolt:before {
  content: "\f1e3";
}
.fei-book:before {
  content: "\f109";
}
.fei-bookmark:before {
  content: "\f170";
}
.fei-browser:before {
  content: "\f10b";
}
.fei-brush:before {
  content: "\f10c";
}
.fei-bug:before {
  content: "\f10d";
}
.fei-building:before {
  content: "\f10e";
}
.fei-cage:before {
  content: "\f1e7";
}
.fei-calendar:before {
  content: "\f10f";
}
.fei-camera:before {
  content: "\f110";
}
.fei-cart:before {
  content: "\f1e8";
}
.fei-check:before {
  content: "\f111";
}
.fei-check-circle:before {
  content: "\f19a";
}
.fei-check-circle-o:before {
  content: "\f19b";
}
.fei-check-verified:before {
  content: "\f19c";
}
.fei-clock:before {
  content: "\f113";
}
.fei-close:before {
  content: "\f114";
}
.fei-cloud:before {
  content: "\f115";
}
.fei-cocktail:before {
  content: "\f116";
}
.fei-code:before {
  content: "\f117";
}
.fei-codepen:before {
  content: "\f1d3";
}
.fei-coffee:before {
  content: "\f166";
}
.fei-columns:before {
  content: "\f118";
}
.fei-comment:before {
  content: "\f119";
}
.fei-comment-o:before {
  content: "\f1d2";
}
.fei-commenting:before {
  content: "\f11a";
}
.fei-comments:before {
  content: "\f11b";
}
.fei-compress:before {
  content: "\f181";
}
.fei-credit-card:before {
  content: "\f1e9";
}
.fei-crop:before {
  content: "\f1c2";
}
.fei-cry:before {
  content: "\f1b7";
}
.fei-cutlery:before {
  content: "\f19d";
}
.fei-delete-link:before {
  content: "\f19e";
}
.fei-desktop:before {
  content: "\f11d";
}
.fei-diamond:before {
  content: "\f11e";
}
.fei-difference:before {
  content: "\f1c3";
}
.fei-disabled:before {
  content: "\f11f";
}
.fei-disappointed:before {
  content: "\f1b8";
}
.fei-distribute-horizontally:before {
  content: "\f1cf";
}
.fei-distribute-vertically:before {
  content: "\f1c5";
}
.fei-document:before {
  content: "\f19f";
}
.fei-download:before {
  content: "\f120";
}
.fei-drop-down:before {
  content: "\f121";
}
.fei-drop-left:before {
  content: "\f122";
}
.fei-drop-right:before {
  content: "\f123";
}
.fei-drop-up:before {
  content: "\f124";
}
.fei-edit:before {
  content: "\f17f";
}
.fei-eject:before {
  content: "\f182";
}
.fei-elipsis-h:before {
  content: "\f125";
}
.fei-elipsis-v:before {
  content: "\f126";
}
.fei-equalizer:before {
  content: "\f1a0";
}
.fei-eraser:before {
  content: "\f1c6";
}
.fei-expand:before {
  content: "\f183";
}
.fei-export:before {
  content: "\f16e";
}
.fei-eye:before {
  content: "\f127";
}
.fei-facebook:before {
  content: "\f1d4";
}
.fei-fast-backward:before {
  content: "\f184";
}
.fei-fast-forward:before {
  content: "\f185";
}
.fei-feather:before {
  content: "\f174";
}
.fei-feed:before {
  content: "\f128";
}
.fei-file:before {
  content: "\f1b1";
}
.fei-file-audio:before {
  content: "\f1b2";
}
.fei-file-excel:before {
  content: "\f1a2";
}
.fei-file-image:before {
  content: "\f1b3";
}
.fei-file-movie:before {
  content: "\f1b4";
}
.fei-file-powerpoint:before {
  content: "\f1a3";
}
.fei-file-word:before {
  content: "\f1a4";
}
.fei-file-zip:before {
  content: "\f1b5";
}
.fei-filter:before {
  content: "\f173";
}
.fei-flag:before {
  content: "\f129";
}
.fei-folder:before {
  content: "\f12a";
}
.fei-folder-open:before {
  content: "\f176";
}
.fei-fork:before {
  content: "\f12b";
}
.fei-forward:before {
  content: "\f186";
}
.fei-frowing:before {
  content: "\f1b9";
}
.fei-gamepad:before {
  content: "\f191";
}
.fei-gear:before {
  content: "\f1a5";
}
.fei-gift:before {
  content: "\f1ea";
}
.fei-git:before {
  content: "\f1d5";
}
.fei-github:before {
  content: "\f1d6";
}
.fei-github-alt:before {
  content: "\f1d7";
}
.fei-globe:before {
  content: "\f12c";
}
.fei-google:before {
  content: "\f1d8";
}
.fei-google-plus:before {
  content: "\f1d9";
}
.fei-hash:before {
  content: "\f12d";
}
.fei-headphone:before {
  content: "\f18e";
}
.fei-heart:before {
  content: "\f12e";
}
.fei-heart-o:before {
  content: "\f167";
}
.fei-home:before {
  content: "\f12f";
}
.fei-import:before {
  content: "\f16f";
}
.fei-info:before {
  content: "\f130";
}
.fei-insert-link:before {
  content: "\f1a6";
}
.fei-instagram:before {
  content: "\f1da";
}
.fei-intersect:before {
  content: "\f1c7";
}
.fei-italic:before {
  content: "\f17a";
}
.fei-key:before {
  content: "\f131";
}
.fei-keyboard:before {
  content: "\f132";
}
.fei-kitchen-cooker:before {
  content: "\f1a7";
}
.fei-laptop:before {
  content: "\f133";
}
.fei-layer:before {
  content: "\f18c";
}
.fei-layout:before {
  content: "\f134";
}
.fei-line-chart:before {
  content: "\f135";
}
.fei-link:before {
  content: "\f136";
}
.fei-link-external:before {
  content: "\f137";
}
.fei-list-bullet:before {
  content: "\f17c";
}
.fei-list-order:before {
  content: "\f17d";
}
.fei-list-task:before {
  content: "\f17e";
}
.fei-location:before {
  content: "\f138";
}
.fei-lock:before {
  content: "\f139";
}
.fei-login:before {
  content: "\f13a";
}
.fei-logout:before {
  content: "\f13b";
}
.fei-loop:before {
  content: "\f192";
}
.fei-magic:before {
  content: "\f177";
}
.fei-mail:before {
  content: "\f13c";
}
.fei-map:before {
  content: "\f16d";
}
.fei-mask:before {
  content: "\f1c8";
}
.fei-medal:before {
  content: "\f13d";
}
.fei-megaphone:before {
  content: "\f13e";
}
.fei-mention:before {
  content: "\f164";
}
.fei-messanger:before {
  content: "\f1e1";
}
.fei-minus:before {
  content: "\f140";
}
.fei-mobile:before {
  content: "\f141";
}
.fei-money:before {
  content: "\f1a8";
}
.fei-moon:before {
  content: "\f1ef";
}
.fei-mouse:before {
  content: "\f142";
}
.fei-music:before {
  content: "\f175";
}
.fei-open-mouth:before {
  content: "\f1ba";
}
.fei-palette:before {
  content: "\f165";
}
.fei-paper-plane:before {
  content: "\f178";
}
.fei-pause:before {
  content: "\f187";
}
.fei-pencil:before {
  content: "\f144";
}
.fei-phone:before {
  content: "\f145";
}
.fei-picture:before {
  content: "\f1a9";
}
.fei-picture-square:before {
  content: "\f1e4";
}
.fei-pie-chart:before {
  content: "\f146";
}
.fei-pinterest:before {
  content: "\f1db";
}
.fei-pizza:before {
  content: "\f147";
}
.fei-play:before {
  content: "\f188";
}
.fei-plug:before {
  content: "\f18f";
}
.fei-plus:before {
  content: "\f148";
}
.fei-pocket:before {
  content: "\f1dc";
}
.fei-pot:before {
  content: "\f1aa";
}
.fei-print:before {
  content: "\f171";
}
.fei-prototype:before {
  content: "\f149";
}
.fei-question:before {
  content: "\f14a";
}
.fei-quote-left:before {
  content: "\f14b";
}
.fei-quote-right:before {
  content: "\f14c";
}
.fei-rage:before {
  content: "\f1bb";
}
.fei-random:before {
  content: "\f189";
}
.fei-reload:before {
  content: "\f193";
}
.fei-remove-cart:before {
  content: "\f1eb";
}
.fei-rocket:before {
  content: "\f14d";
}
.fei-scale:before {
  content: "\f1c9";
}
.fei-search:before {
  content: "\f14e";
}
.fei-search-minus:before {
  content: "\f16a";
}
.fei-search-plus:before {
  content: "\f16b";
}
.fei-share:before {
  content: "\f14f";
}
.fei-shield:before {
  content: "\f172";
}
.fei-shopping-bag:before {
  content: "\f1ec";
}
.fei-sitemap:before {
  content: "\f150";
}
.fei-smile:before {
  content: "\f1bc";
}
.fei-smile-alt:before {
  content: "\f1bd";
}
.fei-smile-heart:before {
  content: "\f1f6";
}
.fei-smile-plus:before {
  content: "\f1f5";
}
.fei-speaker:before {
  content: "\f1ab";
}
.fei-star:before {
  content: "\f151";
}
.fei-star-o:before {
  content: "\f168";
}
.fei-step-backward:before {
  content: "\f1d0";
}
.fei-step-forward:before {
  content: "\f1d1";
}
.fei-stop:before {
  content: "\f18b";
}
.fei-subtract:before {
  content: "\f1ca";
}
.fei-sunny-o:before {
  content: "\f1f0";
}
.fei-sunrise:before {
  content: "\f1f1";
}
.fei-sync:before {
  content: "\f194";
}
.fei-table:before {
  content: "\f1ac";
}
.fei-tablet:before {
  content: "\f152";
}
.fei-tag:before {
  content: "\f153";
}
.fei-target:before {
  content: "\f1f3";
}
.fei-terminal:before {
  content: "\f154";
}
.fei-text-align-center:before {
  content: "\f1cb";
}
.fei-text-align-justify:before {
  content: "\f1e5";
}
.fei-text-align-left:before {
  content: "\f1cc";
}
.fei-text-align-right:before {
  content: "\f1cd";
}
.fei-text-size:before {
  content: "\f17b";
}
.fei-ticket:before {
  content: "\f155";
}
.fei-tiled:before {
  content: "\f156";
}
.fei-timeline:before {
  content: "\f1ad";
}
.fei-tired:before {
  content: "\f1be";
}
.fei-trash:before {
  content: "\f157";
}
.fei-trophy:before {
  content: "\f158";
}
.fei-truck:before {
  content: "\f1ed";
}
.fei-twitter:before {
  content: "\f1dd";
}
.fei-umbrella:before {
  content: "\f1f2";
}
.fei-underline:before {
  content: "\f1ae";
}
.fei-union:before {
  content: "\f1ce";
}
.fei-unlock:before {
  content: "\f169";
}
.fei-upload:before {
  content: "\f159";
}
.fei-usb:before {
  content: "\f190";
}
.fei-user:before {
  content: "\f15a";
}
.fei-user-minus:before {
  content: "\f16c";
}
.fei-user-plus:before {
  content: "\f15b";
}
.fei-users:before {
  content: "\f15c";
}
.fei-vector:before {
  content: "\f15d";
}
.fei-video:before {
  content: "\f15e";
}
.fei-wallet:before {
  content: "\f1ee";
}
.fei-warning:before {
  content: "\f15f";
}
.fei-watch:before {
  content: "\f1af";
}
.fei-watch-alt:before {
  content: "\f1b0";
}
.fei-wine-glass:before {
  content: "\f161";
}
.fei-wordpress:before {
  content: "\f1de";
}
.fei-wordpress-alt:before {
  content: "\f1df";
}
.fei-wrench:before {
  content: "\f162";
}
.fei-youtube:before {
  content: "\f1e0";
}

