/**
 * Linea music, 1.0.0-1
 * Created by Dario Ferrando
 * http://www.linea.io/
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "linea-music";
  src: url('linea-music.eot');
  src: url('linea-music.eot?#iefix') format('eot'),

    url('linea-music.woff') format('woff'),
    url('linea-music.ttf') format('truetype'),
    url('linea-music.svg#linea-music') format('svg');
}

.lmu {
  font-family: "linea-music";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.lmu-music-beginning-button:before {
  content: "a";
}
.lmu-music-bell:before {
  content: "b";
}
.lmu-music-cd:before {
  content: "c";
}
.lmu-music-diapason:before {
  content: "d";
}
.lmu-music-eject-button:before {
  content: "e";
}
.lmu-music-end-button:before {
  content: "f";
}
.lmu-music-fastforward-button:before {
  content: "g";
}
.lmu-music-headphones:before {
  content: "h";
}
.lmu-music-ipod:before {
  content: "i";
}
.lmu-music-loudspeaker:before {
  content: "j";
}
.lmu-music-microphone:before {
  content: "k";
}
.lmu-music-microphone-old:before {
  content: "l";
}
.lmu-music-mixer:before {
  content: "m";
}
.lmu-music-mute:before {
  content: "n";
}
.lmu-music-note-multiple:before {
  content: "o";
}
.lmu-music-note-single:before {
  content: "p";
}
.lmu-music-pause-button:before {
  content: "q";
}
.lmu-music-play-button:before {
  content: "r";
}
.lmu-music-playlist:before {
  content: "s";
}
.lmu-music-radio-ghettoblaster:before {
  content: "t";
}
.lmu-music-radio-portable:before {
  content: "u";
}
.lmu-music-record:before {
  content: "v";
}
.lmu-music-recordplayer:before {
  content: "w";
}
.lmu-music-repeat-button:before {
  content: "x";
}
.lmu-music-rewind-button:before {
  content: "y";
}
.lmu-music-shuffle-button:before {
  content: "z";
}
.lmu-music-stop-button:before {
  content: "A";
}
.lmu-music-tape:before {
  content: "B";
}
.lmu-music-volume-down:before {
  content: "C";
}
.lmu-music-volume-up:before {
  content: "D";
}

