/**
 * , 0.9.5
 * Created by Orlando TM Merone, Leo Di Donato, Leonardo Grasso
 * https://github.com/orlandotm/payment-webfont
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "payment-webfont";
  src: url('payment-webfont.eot');
  src: url('payment-webfont.eot?#iefix') format('eot'),

    url('payment-webfont.woff') format('woff'),
    url('payment-webfont.ttf') format('truetype'),
    url('payment-webfont.svg#payment-webfont') format('svg');
}

.pw {
  font-family: "payment-webfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.pw-clickandbuy:before {
  content: "\e61d";
}
.pw-westernunion:before {
  content: "\e61e";
}
.pw-braintree:before {
  content: "\e61f";
}
.pw-paysafecard:before {
  content: "\e620";
}
.pw-ideal:before {
  content: "\e621";
}
.pw-paypal:before {
  content: "\e622";
}
.pw-skrill:before {
  content: "\e61b";
}
.pw-cb:before {
  content: "\e61c";
}
.pw-gittip:before {
  content: "\e618";
}
.pw-flattr:before {
  content: "\e61a";
}
.pw-ripple:before {
  content: "\e616";
}
.pw-sofort:before {
  content: "\e617";
}
.pw-bitcoin:before {
  content: "\e614";
}
.pw-bitcoin-sign:before {
  content: "\e615";
}
.pw-diners:before {
  content: "\e609";
}
.pw-mastercard:before {
  content: "\e602";
}
.pw-trust-e:before {
  content: "\e612";
}
.pw-amazon:before {
  content: "\e613";
}
.pw-jcb:before {
  content: "\e610";
}
.pw-google-wallet:before {
  content: "\e611";
}
.pw-stripe:before {
  content: "\e60d";
}
.pw-square:before {
  content: "\e60e";
}
.pw-ogone:before {
  content: "\e60f";
}
.pw-verisign:before {
  content: "\e60c";
}
.pw-discover:before {
  content: "\e60a";
}
.pw-american-express:before {
  content: "\e607";
}
.pw-paypal--classic:before {
  content: "\e604";
}
.pw-maestro:before {
  content: "\e605";
}
.pw-visa:before {
  content: "\e601";
}
.pw-visa-electron:before {
  content: "\e606";
}
.pw-postepay:before {
  content: "\e608";
}
.pw-cartasi:before {
  content: "\e60b";
}
.pw-unionpay:before {
  content: "\e603";
}
.pw-ec:before {
  content: "\e600";
}
.pw-bancontact:before {
  content: "\e622";
}

