/**
 * Remixicon Line, 2.5.0
 * Created by Remix Design
 * https://remixicon.com
 * Apache 2.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "remixicon-line";
  src: url('./remixicon-line.eot');
  src: 
    url('./remixicon-line.eot?#iefix') format('embedded-opentype'),
    url('./remixicon-line.woff2') format('woff2'),
    url('./remixicon-line.woff') format('woff'),
    url('./remixicon-line.ttf') format('truetype'),
    url('./remixicon-line.svg#remixicon-line') format('svg');
}

.ril {
  font-family: "remixicon-line";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

.ril-24-hours::before {
  content: "\ea01";
}

.ril-4k::before {
  content: "\ea02";
}

.ril-account-box::before {
  content: "\ea03";
}

.ril-account-circle::before {
  content: "\ea04";
}

.ril-account-pin-box::before {
  content: "\ea05";
}

.ril-account-pin-circle::before {
  content: "\ea06";
}

.ril-add::before {
  content: "\ea07";
}

.ril-add-box::before {
  content: "\ea08";
}

.ril-add-circle::before {
  content: "\ea09";
}

.ril-admin::before {
  content: "\ea0a";
}

.ril-advertisement::before {
  content: "\ea0b";
}

.ril-airplay::before {
  content: "\ea0c";
}

.ril-alarm::before {
  content: "\ea0d";
}

.ril-alarm-warning::before {
  content: "\ea0e";
}

.ril-album::before {
  content: "\ea0f";
}

.ril-alert::before {
  content: "\ea10";
}

.ril-aliens::before {
  content: "\ea11";
}

.ril-alipay::before {
  content: "\ea12";
}

.ril-amazon::before {
  content: "\ea13";
}

.ril-anchor::before {
  content: "\ea14";
}

.ril-ancient-gate::before {
  content: "\ea15";
}

.ril-ancient-pavilion::before {
  content: "\ea16";
}

.ril-android::before {
  content: "\ea17";
}

.ril-angularjs::before {
  content: "\ea18";
}

.ril-anticlockwise::before {
  content: "\ea19";
}

.ril-anticlockwise-2::before {
  content: "\ea1a";
}

.ril-app-store::before {
  content: "\ea1b";
}

.ril-apple::before {
  content: "\ea1c";
}

.ril-apps::before {
  content: "\ea1d";
}

.ril-apps-2::before {
  content: "\ea1e";
}

.ril-archive::before {
  content: "\ea1f";
}

.ril-archive-drawer::before {
  content: "\ea20";
}

.ril-arrow-down::before {
  content: "\ea21";
}

.ril-arrow-down-circle::before {
  content: "\ea22";
}

.ril-arrow-down-s::before {
  content: "\ea23";
}

.ril-arrow-drop-down::before {
  content: "\ea24";
}

.ril-arrow-drop-left::before {
  content: "\ea25";
}

.ril-arrow-drop-right::before {
  content: "\ea26";
}

.ril-arrow-drop-up::before {
  content: "\ea27";
}

.ril-arrow-go-back::before {
  content: "\ea28";
}

.ril-arrow-go-forward::before {
  content: "\ea29";
}

.ril-arrow-left::before {
  content: "\ea2a";
}

.ril-arrow-left-circle::before {
  content: "\ea2b";
}

.ril-arrow-left-down::before {
  content: "\ea2c";
}

.ril-arrow-left-right::before {
  content: "\ea2d";
}

.ril-arrow-left-s::before {
  content: "\ea2e";
}

.ril-arrow-left-up::before {
  content: "\ea2f";
}

.ril-arrow-right::before {
  content: "\ea30";
}

.ril-arrow-right-circle::before {
  content: "\ea31";
}

.ril-arrow-right-down::before {
  content: "\ea32";
}

.ril-arrow-right-s::before {
  content: "\ea33";
}

.ril-arrow-right-up::before {
  content: "\ea34";
}

.ril-arrow-up::before {
  content: "\ea35";
}

.ril-arrow-up-circle::before {
  content: "\ea36";
}

.ril-arrow-up-down::before {
  content: "\ea37";
}

.ril-arrow-up-s::before {
  content: "\ea38";
}

.ril-artboard::before {
  content: "\ea39";
}

.ril-artboard-2::before {
  content: "\ea3a";
}

.ril-article::before {
  content: "\ea3b";
}

.ril-aspect-ratio::before {
  content: "\ea3c";
}

.ril-at::before {
  content: "\ea3d";
}

.ril-attachment::before {
  content: "\ea3e";
}

.ril-auction::before {
  content: "\ea3f";
}

.ril-award::before {
  content: "\ea40";
}

.ril-baidu::before {
  content: "\ea41";
}

.ril-ball-pen::before {
  content: "\ea42";
}

.ril-bank::before {
  content: "\ea43";
}

.ril-bank-card::before {
  content: "\ea44";
}

.ril-bank-card-2::before {
  content: "\ea45";
}

.ril-bar-chart::before {
  content: "\ea46";
}

.ril-bar-chart-2::before {
  content: "\ea47";
}

.ril-bar-chart-box::before {
  content: "\ea48";
}

.ril-bar-chart-grouped::before {
  content: "\ea49";
}

.ril-bar-chart-horizontal::before {
  content: "\ea4a";
}

.ril-barcode::before {
  content: "\ea4b";
}

.ril-barcode-box::before {
  content: "\ea4c";
}

.ril-barricade::before {
  content: "\ea4d";
}

.ril-base-station::before {
  content: "\ea4e";
}

.ril-basketball::before {
  content: "\ea4f";
}

.ril-battery::before {
  content: "\ea50";
}

.ril-battery-2::before {
  content: "\ea51";
}

.ril-battery-2-charge::before {
  content: "\ea52";
}

.ril-battery-charge::before {
  content: "\ea53";
}

.ril-battery-low::before {
  content: "\ea54";
}

.ril-battery-saver::before {
  content: "\ea55";
}

.ril-battery-share::before {
  content: "\ea56";
}

.ril-bear-smile::before {
  content: "\ea57";
}

.ril-behance::before {
  content: "\ea58";
}

.ril-bell::before {
  content: "\ea59";
}

.ril-bike::before {
  content: "\ea5a";
}

.ril-bilibili::before {
  content: "\ea5b";
}

.ril-bill::before {
  content: "\ea5c";
}

.ril-billiards::before {
  content: "\ea5d";
}

.ril-bit-coin::before {
  content: "\ea5e";
}

.ril-blaze::before {
  content: "\ea5f";
}

.ril-bluetooth::before {
  content: "\ea60";
}

.ril-bluetooth-connect::before {
  content: "\ea61";
}

.ril-blur-off::before {
  content: "\ea62";
}

.ril-body-scan::before {
  content: "\ea63";
}

.ril-book::before {
  content: "\ea64";
}

.ril-book-2::before {
  content: "\ea65";
}

.ril-book-3::before {
  content: "\ea66";
}

.ril-book-mark::before {
  content: "\ea67";
}

.ril-book-open::before {
  content: "\ea68";
}

.ril-book-read::before {
  content: "\ea69";
}

.ril-booklet::before {
  content: "\ea6a";
}

.ril-bookmark::before {
  content: "\ea6b";
}

.ril-bookmark-2::before {
  content: "\ea6c";
}

.ril-bookmark-3::before {
  content: "\ea6d";
}

.ril-boxing::before {
  content: "\ea6e";
}

.ril-braces::before {
  content: "\ea6f";
}

.ril-brackets::before {
  content: "\ea70";
}

.ril-briefcase::before {
  content: "\ea71";
}

.ril-briefcase-2::before {
  content: "\ea72";
}

.ril-briefcase-3::before {
  content: "\ea73";
}

.ril-briefcase-4::before {
  content: "\ea74";
}

.ril-briefcase-5::before {
  content: "\ea75";
}

.ril-broadcast::before {
  content: "\ea76";
}

.ril-brush::before {
  content: "\ea77";
}

.ril-brush-2::before {
  content: "\ea78";
}

.ril-brush-3::before {
  content: "\ea79";
}

.ril-brush-4::before {
  content: "\ea7a";
}

.ril-bubble-chart::before {
  content: "\ea7b";
}

.ril-bug::before {
  content: "\ea7c";
}

.ril-bug-2::before {
  content: "\ea7d";
}

.ril-building::before {
  content: "\ea7e";
}

.ril-building-2::before {
  content: "\ea7f";
}

.ril-building-3::before {
  content: "\ea80";
}

.ril-building-4::before {
  content: "\ea81";
}

.ril-bus::before {
  content: "\ea82";
}

.ril-bus-2::before {
  content: "\ea83";
}

.ril-bus-wifi::before {
  content: "\ea84";
}

.ril-cactus::before {
  content: "\ea85";
}

.ril-cake::before {
  content: "\ea86";
}

.ril-cake-2::before {
  content: "\ea87";
}

.ril-cake-3::before {
  content: "\ea88";
}

.ril-calculator::before {
  content: "\ea89";
}

.ril-calendar::before {
  content: "\ea8a";
}

.ril-calendar-2::before {
  content: "\ea8b";
}

.ril-calendar-check::before {
  content: "\ea8c";
}

.ril-calendar-event::before {
  content: "\ea8d";
}

.ril-calendar-todo::before {
  content: "\ea8e";
}

.ril-camera::before {
  content: "\ea8f";
}

.ril-camera-2::before {
  content: "\ea90";
}

.ril-camera-3::before {
  content: "\ea91";
}

.ril-camera-lens::before {
  content: "\ea92";
}

.ril-camera-off::before {
  content: "\ea93";
}

.ril-camera-switch::before {
  content: "\ea94";
}

.ril-capsule::before {
  content: "\ea95";
}

.ril-car::before {
  content: "\ea96";
}

.ril-car-washing::before {
  content: "\ea97";
}

.ril-caravan::before {
  content: "\ea98";
}

.ril-cast::before {
  content: "\ea99";
}

.ril-cellphone::before {
  content: "\ea9a";
}

.ril-celsius::before {
  content: "\ea9b";
}

.ril-centos::before {
  content: "\ea9c";
}

.ril-character-recognition::before {
  content: "\ea9d";
}

.ril-charging-pile::before {
  content: "\ea9e";
}

.ril-charging-pile-2::before {
  content: "\ea9f";
}

.ril-chat-1::before {
  content: "\eaa0";
}

.ril-chat-2::before {
  content: "\eaa1";
}

.ril-chat-3::before {
  content: "\eaa2";
}

.ril-chat-4::before {
  content: "\eaa3";
}

.ril-chat-check::before {
  content: "\eaa4";
}

.ril-chat-delete::before {
  content: "\eaa5";
}

.ril-chat-download::before {
  content: "\eaa6";
}

.ril-chat-follow-up::before {
  content: "\eaa7";
}

.ril-chat-forward::before {
  content: "\eaa8";
}

.ril-chat-heart::before {
  content: "\eaa9";
}

.ril-chat-history::before {
  content: "\eaaa";
}

.ril-chat-new::before {
  content: "\eaab";
}

.ril-chat-off::before {
  content: "\eaac";
}

.ril-chat-poll::before {
  content: "\eaad";
}

.ril-chat-private::before {
  content: "\eaae";
}

.ril-chat-quote::before {
  content: "\eaaf";
}

.ril-chat-settings::before {
  content: "\eab0";
}

.ril-chat-smile::before {
  content: "\eab1";
}

.ril-chat-smile-2::before {
  content: "\eab2";
}

.ril-chat-smile-3::before {
  content: "\eab3";
}

.ril-chat-upload::before {
  content: "\eab4";
}

.ril-chat-voice::before {
  content: "\eab5";
}

.ril-check::before {
  content: "\eab6";
}

.ril-check-double::before {
  content: "\eab7";
}

.ril-checkbox::before {
  content: "\eab8";
}

.ril-checkbox-blank::before {
  content: "\eab9";
}

.ril-checkbox-blank-circle::before {
  content: "\eaba";
}

.ril-checkbox-circle::before {
  content: "\eabb";
}

.ril-checkbox-indeterminate::before {
  content: "\eabc";
}

.ril-checkbox-multiple::before {
  content: "\eabd";
}

.ril-checkbox-multiple-blank::before {
  content: "\eabe";
}

.ril-china-railway::before {
  content: "\eabf";
}

.ril-chrome::before {
  content: "\eac0";
}

.ril-clapperboard::before {
  content: "\eac1";
}

.ril-clipboard::before {
  content: "\eac2";
}

.ril-clockwise::before {
  content: "\eac3";
}

.ril-clockwise-2::before {
  content: "\eac4";
}

.ril-close::before {
  content: "\eac5";
}

.ril-close-circle::before {
  content: "\eac6";
}

.ril-closed-captioning::before {
  content: "\eac7";
}

.ril-cloud::before {
  content: "\eac8";
}

.ril-cloud-off::before {
  content: "\eac9";
}

.ril-cloud-windy::before {
  content: "\eaca";
}

.ril-cloudy::before {
  content: "\eacb";
}

.ril-cloudy-2::before {
  content: "\eacc";
}

.ril-code::before {
  content: "\eacd";
}

.ril-code-box::before {
  content: "\eace";
}

.ril-code-s::before {
  content: "\eacf";
}

.ril-code-s-slash::before {
  content: "\ead0";
}

.ril-codepen::before {
  content: "\ead1";
}

.ril-coin::before {
  content: "\ead2";
}

.ril-coins::before {
  content: "\ead3";
}

.ril-collage::before {
  content: "\ead4";
}

.ril-command::before {
  content: "\ead5";
}

.ril-community::before {
  content: "\ead6";
}

.ril-compass::before {
  content: "\ead7";
}

.ril-compass-2::before {
  content: "\ead8";
}

.ril-compass-3::before {
  content: "\ead9";
}

.ril-compass-4::before {
  content: "\eada";
}

.ril-compass-discover::before {
  content: "\eadb";
}

.ril-compasses::before {
  content: "\eadc";
}

.ril-compasses-2::before {
  content: "\eadd";
}

.ril-computer::before {
  content: "\eade";
}

.ril-contacts::before {
  content: "\eadf";
}

.ril-contacts-book::before {
  content: "\eae0";
}

.ril-contacts-book-2::before {
  content: "\eae1";
}

.ril-contacts-book-upload::before {
  content: "\eae2";
}

.ril-contrast::before {
  content: "\eae3";
}

.ril-contrast-2::before {
  content: "\eae4";
}

.ril-contrast-drop::before {
  content: "\eae5";
}

.ril-contrast-drop-2::before {
  content: "\eae6";
}

.ril-copper-coin::before {
  content: "\eae7";
}

.ril-copper-diamond::before {
  content: "\eae8";
}

.ril-copyleft::before {
  content: "\eae9";
}

.ril-copyright::before {
  content: "\eaea";
}

.ril-coreos::before {
  content: "\eaeb";
}

.ril-coupon::before {
  content: "\eaec";
}

.ril-coupon-2::before {
  content: "\eaed";
}

.ril-coupon-3::before {
  content: "\eaee";
}

.ril-coupon-4::before {
  content: "\eaef";
}

.ril-coupon-5::before {
  content: "\eaf0";
}

.ril-cpu::before {
  content: "\eaf1";
}

.ril-creative-commons::before {
  content: "\eaf2";
}

.ril-creative-commons-by::before {
  content: "\eaf3";
}

.ril-creative-commons-nc::before {
  content: "\eaf4";
}

.ril-creative-commons-nd::before {
  content: "\eaf5";
}

.ril-creative-commons-sa::before {
  content: "\eaf6";
}

.ril-creative-commons-zero::before {
  content: "\eaf7";
}

.ril-criminal::before {
  content: "\eaf8";
}

.ril-crop::before {
  content: "\eaf9";
}

.ril-crop-2::before {
  content: "\eafa";
}

.ril-css3::before {
  content: "\eafb";
}

.ril-cup::before {
  content: "\eafc";
}

.ril-currency::before {
  content: "\eafd";
}

.ril-cursor::before {
  content: "\eafe";
}

.ril-customer-service::before {
  content: "\eaff";
}

.ril-customer-service-2::before {
  content: "\eb00";
}

.ril-dashboard::before {
  content: "\eb01";
}

.ril-dashboard-2::before {
  content: "\eb02";
}

.ril-dashboard-3::before {
  content: "\eb03";
}

.ril-database::before {
  content: "\eb04";
}

.ril-database-2::before {
  content: "\eb05";
}

.ril-delete-back::before {
  content: "\eb06";
}

.ril-delete-back-2::before {
  content: "\eb07";
}

.ril-delete-bin::before {
  content: "\eb08";
}

.ril-delete-bin-2::before {
  content: "\eb09";
}

.ril-delete-bin-3::before {
  content: "\eb0a";
}

.ril-delete-bin-4::before {
  content: "\eb0b";
}

.ril-delete-bin-5::before {
  content: "\eb0c";
}

.ril-delete-bin-6::before {
  content: "\eb0d";
}

.ril-delete-bin-7::before {
  content: "\eb0e";
}

.ril-device::before {
  content: "\eb0f";
}

.ril-device-recover::before {
  content: "\eb10";
}

.ril-dingding::before {
  content: "\eb11";
}

.ril-direction::before {
  content: "\eb12";
}

.ril-disc::before {
  content: "\eb13";
}

.ril-discord::before {
  content: "\eb14";
}

.ril-discuss::before {
  content: "\eb15";
}

.ril-dislike::before {
  content: "\eb16";
}

.ril-disqus::before {
  content: "\eb17";
}

.ril-divide::before {
  content: "\eb18";
}

.ril-donut-chart::before {
  content: "\eb19";
}

.ril-door::before {
  content: "\eb1a";
}

.ril-door-closed::before {
  content: "\eb1b";
}

.ril-door-lock::before {
  content: "\eb1c";
}

.ril-door-lock-box::before {
  content: "\eb1d";
}

.ril-door-open::before {
  content: "\eb1e";
}

.ril-dossier::before {
  content: "\eb1f";
}

.ril-douban::before {
  content: "\eb20";
}

.ril-download::before {
  content: "\eb21";
}

.ril-download-2::before {
  content: "\eb22";
}

.ril-download-cloud::before {
  content: "\eb23";
}

.ril-download-cloud-2::before {
  content: "\eb24";
}

.ril-draft::before {
  content: "\eb25";
}

.ril-drag-drop::before {
  content: "\eb26";
}

.ril-drag-move::before {
  content: "\eb27";
}

.ril-drag-move-2::before {
  content: "\eb28";
}

.ril-dribbble::before {
  content: "\eb29";
}

.ril-drive::before {
  content: "\eb2a";
}

.ril-drizzle::before {
  content: "\eb2b";
}

.ril-drop::before {
  content: "\eb2c";
}

.ril-dropbox::before {
  content: "\eb2d";
}

.ril-dual-sim-1::before {
  content: "\eb2e";
}

.ril-dual-sim-2::before {
  content: "\eb2f";
}

.ril-dv::before {
  content: "\eb30";
}

.ril-dvd::before {
  content: "\eb31";
}

.ril-e-bike::before {
  content: "\eb32";
}

.ril-e-bike-2::before {
  content: "\eb33";
}

.ril-earth::before {
  content: "\eb34";
}

.ril-earthquake::before {
  content: "\eb35";
}

.ril-edge::before {
  content: "\eb36";
}

.ril-edit::before {
  content: "\eb37";
}

.ril-edit-2::before {
  content: "\eb38";
}

.ril-edit-box::before {
  content: "\eb39";
}

.ril-edit-circle::before {
  content: "\eb3a";
}

.ril-eject::before {
  content: "\eb3b";
}

.ril-emotion::before {
  content: "\eb3c";
}

.ril-emotion-2::before {
  content: "\eb3d";
}

.ril-emotion-happy::before {
  content: "\eb3e";
}

.ril-emotion-laugh::before {
  content: "\eb3f";
}

.ril-emotion-normal::before {
  content: "\eb40";
}

.ril-emotion-sad::before {
  content: "\eb41";
}

.ril-emotion-unhappy::before {
  content: "\eb42";
}

.ril-empathize::before {
  content: "\eb43";
}

.ril-equalizer::before {
  content: "\eb44";
}

.ril-eraser::before {
  content: "\eb45";
}

.ril-error-warning::before {
  content: "\eb46";
}

.ril-evernote::before {
  content: "\eb47";
}

.ril-exchange::before {
  content: "\eb48";
}

.ril-exchange-box::before {
  content: "\eb49";
}

.ril-exchange-cny::before {
  content: "\eb4a";
}

.ril-exchange-dollar::before {
  content: "\eb4b";
}

.ril-exchange-funds::before {
  content: "\eb4c";
}

.ril-external-link::before {
  content: "\eb4d";
}

.ril-eye::before {
  content: "\eb4e";
}

.ril-eye-2::before {
  content: "\eb4f";
}

.ril-eye-close::before {
  content: "\eb50";
}

.ril-eye-off::before {
  content: "\eb51";
}

.ril-facebook::before {
  content: "\eb52";
}

.ril-facebook-box::before {
  content: "\eb53";
}

.ril-facebook-circle::before {
  content: "\eb54";
}

.ril-fahrenheit::before {
  content: "\eb55";
}

.ril-feedback::before {
  content: "\eb56";
}

.ril-file::before {
  content: "\eb57";
}

.ril-file-2::before {
  content: "\eb58";
}

.ril-file-3::before {
  content: "\eb59";
}

.ril-file-4::before {
  content: "\eb5a";
}

.ril-file-add::before {
  content: "\eb5b";
}

.ril-file-chart::before {
  content: "\eb5c";
}

.ril-file-chart-2::before {
  content: "\eb5d";
}

.ril-file-cloud::before {
  content: "\eb5e";
}

.ril-file-code::before {
  content: "\eb5f";
}

.ril-file-copy::before {
  content: "\eb60";
}

.ril-file-copy-2::before {
  content: "\eb61";
}

.ril-file-damage::before {
  content: "\eb62";
}

.ril-file-download::before {
  content: "\eb63";
}

.ril-file-edit::before {
  content: "\eb64";
}

.ril-file-excel::before {
  content: "\eb65";
}

.ril-file-excel-2::before {
  content: "\eb66";
}

.ril-file-forbid::before {
  content: "\eb67";
}

.ril-file-gif::before {
  content: "\eb68";
}

.ril-file-history::before {
  content: "\eb69";
}

.ril-file-hwp::before {
  content: "\eb6a";
}

.ril-file-info::before {
  content: "\eb6b";
}

.ril-file-list::before {
  content: "\eb6c";
}

.ril-file-list-2::before {
  content: "\eb6d";
}

.ril-file-list-3::before {
  content: "\eb6e";
}

.ril-file-lock::before {
  content: "\eb6f";
}

.ril-file-mark::before {
  content: "\eb70";
}

.ril-file-music::before {
  content: "\eb71";
}

.ril-file-paper::before {
  content: "\eb72";
}

.ril-file-paper-2::before {
  content: "\eb73";
}

.ril-file-pdf::before {
  content: "\eb74";
}

.ril-file-ppt::before {
  content: "\eb75";
}

.ril-file-ppt-2::before {
  content: "\eb76";
}

.ril-file-reduce::before {
  content: "\eb77";
}

.ril-file-search::before {
  content: "\eb78";
}

.ril-file-settings::before {
  content: "\eb79";
}

.ril-file-shield::before {
  content: "\eb7a";
}

.ril-file-shield-2::before {
  content: "\eb7b";
}

.ril-file-shred::before {
  content: "\eb7c";
}

.ril-file-text::before {
  content: "\eb7d";
}

.ril-file-transfer::before {
  content: "\eb7e";
}

.ril-file-unknow::before {
  content: "\eb7f";
}

.ril-file-upload::before {
  content: "\eb80";
}

.ril-file-user::before {
  content: "\eb81";
}

.ril-file-warning::before {
  content: "\eb82";
}

.ril-file-word::before {
  content: "\eb83";
}

.ril-file-word-2::before {
  content: "\eb84";
}

.ril-file-zip::before {
  content: "\eb85";
}

.ril-film::before {
  content: "\eb86";
}

.ril-filter::before {
  content: "\eb87";
}

.ril-filter-2::before {
  content: "\eb88";
}

.ril-filter-3::before {
  content: "\eb89";
}

.ril-filter-off::before {
  content: "\eb8a";
}

.ril-find-replace::before {
  content: "\eb8b";
}

.ril-finder::before {
  content: "\eb8c";
}

.ril-fingerprint::before {
  content: "\eb8d";
}

.ril-fingerprint-2::before {
  content: "\eb8e";
}

.ril-fire::before {
  content: "\eb8f";
}

.ril-firefox::before {
  content: "\eb90";
}

.ril-first-aid-kit::before {
  content: "\eb91";
}

.ril-flag::before {
  content: "\eb92";
}

.ril-flag-2::before {
  content: "\eb93";
}

.ril-flashlight::before {
  content: "\eb94";
}

.ril-flask::before {
  content: "\eb95";
}

.ril-flight-land::before {
  content: "\eb96";
}

.ril-flight-takeoff::before {
  content: "\eb97";
}

.ril-flood::before {
  content: "\eb98";
}

.ril-flutter::before {
  content: "\eb99";
}

.ril-focus::before {
  content: "\eb9a";
}

.ril-focus-2::before {
  content: "\eb9b";
}

.ril-focus-3::before {
  content: "\eb9c";
}

.ril-foggy::before {
  content: "\eb9d";
}

.ril-folder::before {
  content: "\eb9e";
}

.ril-folder-2::before {
  content: "\eb9f";
}

.ril-folder-3::before {
  content: "\eba0";
}

.ril-folder-4::before {
  content: "\eba1";
}

.ril-folder-5::before {
  content: "\eba2";
}

.ril-folder-add::before {
  content: "\eba3";
}

.ril-folder-chart::before {
  content: "\eba4";
}

.ril-folder-chart-2::before {
  content: "\eba5";
}

.ril-folder-download::before {
  content: "\eba6";
}

.ril-folder-forbid::before {
  content: "\eba7";
}

.ril-folder-history::before {
  content: "\eba8";
}

.ril-folder-info::before {
  content: "\eba9";
}

.ril-folder-keyhole::before {
  content: "\ebaa";
}

.ril-folder-lock::before {
  content: "\ebab";
}

.ril-folder-music::before {
  content: "\ebac";
}

.ril-folder-open::before {
  content: "\ebad";
}

.ril-folder-received::before {
  content: "\ebae";
}

.ril-folder-reduce::before {
  content: "\ebaf";
}

.ril-folder-settings::before {
  content: "\ebb0";
}

.ril-folder-shared::before {
  content: "\ebb1";
}

.ril-folder-shield::before {
  content: "\ebb2";
}

.ril-folder-shield-2::before {
  content: "\ebb3";
}

.ril-folder-transfer::before {
  content: "\ebb4";
}

.ril-folder-unknow::before {
  content: "\ebb5";
}

.ril-folder-upload::before {
  content: "\ebb6";
}

.ril-folder-user::before {
  content: "\ebb7";
}

.ril-folder-warning::before {
  content: "\ebb8";
}

.ril-folder-zip::before {
  content: "\ebb9";
}

.ril-folders::before {
  content: "\ebba";
}

.ril-football::before {
  content: "\ebbb";
}

.ril-footprint::before {
  content: "\ebbc";
}

.ril-forbid::before {
  content: "\ebbd";
}

.ril-forbid-2::before {
  content: "\ebbe";
}

.ril-fridge::before {
  content: "\ebbf";
}

.ril-fullscreen::before {
  content: "\ebc0";
}

.ril-fullscreen-exit::before {
  content: "\ebc1";
}

.ril-function::before {
  content: "\ebc2";
}

.ril-funds::before {
  content: "\ebc3";
}

.ril-funds-box::before {
  content: "\ebc4";
}

.ril-gallery::before {
  content: "\ebc5";
}

.ril-gallery-upload::before {
  content: "\ebc6";
}

.ril-game::before {
  content: "\ebc7";
}

.ril-gamepad::before {
  content: "\ebc8";
}

.ril-gas-station::before {
  content: "\ebc9";
}

.ril-gatsby::before {
  content: "\ebca";
}

.ril-genderless::before {
  content: "\ebcb";
}

.ril-ghost::before {
  content: "\ebcc";
}

.ril-ghost-2::before {
  content: "\ebcd";
}

.ril-ghost-smile::before {
  content: "\ebce";
}

.ril-gift::before {
  content: "\ebcf";
}

.ril-gift-2::before {
  content: "\ebd0";
}

.ril-git-branch::before {
  content: "\ebd1";
}

.ril-git-commit::before {
  content: "\ebd2";
}

.ril-git-merge::before {
  content: "\ebd3";
}

.ril-git-pull-request::before {
  content: "\ebd4";
}

.ril-git-repository::before {
  content: "\ebd5";
}

.ril-git-repository-commits::before {
  content: "\ebd6";
}

.ril-git-repository-private::before {
  content: "\ebd7";
}

.ril-github::before {
  content: "\ebd8";
}

.ril-gitlab::before {
  content: "\ebd9";
}

.ril-global::before {
  content: "\ebda";
}

.ril-globe::before {
  content: "\ebdb";
}

.ril-goblet::before {
  content: "\ebdc";
}

.ril-google::before {
  content: "\ebdd";
}

.ril-google-play::before {
  content: "\ebde";
}

.ril-government::before {
  content: "\ebdf";
}

.ril-gps::before {
  content: "\ebe0";
}

.ril-gradienter::before {
  content: "\ebe1";
}

.ril-grid::before {
  content: "\ebe2";
}

.ril-group::before {
  content: "\ebe3";
}

.ril-group-2::before {
  content: "\ebe4";
}

.ril-guide::before {
  content: "\ebe5";
}

.ril-hail::before {
  content: "\ebe6";
}

.ril-hammer::before {
  content: "\ebe7";
}

.ril-hand-coin::before {
  content: "\ebe8";
}

.ril-hand-heart::before {
  content: "\ebe9";
}

.ril-hand-sanitizer::before {
  content: "\ebea";
}

.ril-handbag::before {
  content: "\ebeb";
}

.ril-hard-drive::before {
  content: "\ebec";
}

.ril-hard-drive-2::before {
  content: "\ebed";
}

.ril-haze::before {
  content: "\ebee";
}

.ril-haze-2::before {
  content: "\ebef";
}

.ril-hd::before {
  content: "\ebf0";
}

.ril-headphone::before {
  content: "\ebf1";
}

.ril-health-book::before {
  content: "\ebf2";
}

.ril-heart::before {
  content: "\ebf3";
}

.ril-heart-2::before {
  content: "\ebf4";
}

.ril-heart-3::before {
  content: "\ebf5";
}

.ril-heart-add::before {
  content: "\ebf6";
}

.ril-heart-pulse::before {
  content: "\ebf7";
}

.ril-hearts::before {
  content: "\ebf8";
}

.ril-heavy-showers::before {
  content: "\ebf9";
}

.ril-history::before {
  content: "\ebfa";
}

.ril-home::before {
  content: "\ebfb";
}

.ril-home-2::before {
  content: "\ebfc";
}

.ril-home-3::before {
  content: "\ebfd";
}

.ril-home-4::before {
  content: "\ebfe";
}

.ril-home-5::before {
  content: "\ebff";
}

.ril-home-6::before {
  content: "\ec00";
}

.ril-home-7::before {
  content: "\ec01";
}

.ril-home-8::before {
  content: "\ec02";
}

.ril-home-gear::before {
  content: "\ec03";
}

.ril-home-heart::before {
  content: "\ec04";
}

.ril-home-smile::before {
  content: "\ec05";
}

.ril-home-smile-2::before {
  content: "\ec06";
}

.ril-home-wifi::before {
  content: "\ec07";
}

.ril-honor-of-kings::before {
  content: "\ec08";
}

.ril-honour::before {
  content: "\ec09";
}

.ril-hospital::before {
  content: "\ec0a";
}

.ril-hotel::before {
  content: "\ec0b";
}

.ril-hotel-bed::before {
  content: "\ec0c";
}

.ril-hotspot::before {
  content: "\ec0d";
}

.ril-hq::before {
  content: "\ec0e";
}

.ril-html5::before {
  content: "\ec0f";
}

.ril-ie::before {
  content: "\ec10";
}

.ril-image::before {
  content: "\ec11";
}

.ril-image-2::before {
  content: "\ec12";
}

.ril-image-add::before {
  content: "\ec13";
}

.ril-image-edit::before {
  content: "\ec14";
}

.ril-inbox::before {
  content: "\ec15";
}

.ril-inbox-archive::before {
  content: "\ec16";
}

.ril-inbox-unarchive::before {
  content: "\ec17";
}

.ril-increase-decrease::before {
  content: "\ec18";
}

.ril-indeterminate-circle::before {
  content: "\ec19";
}

.ril-information::before {
  content: "\ec1a";
}

.ril-infrared-thermometer::before {
  content: "\ec1b";
}

.ril-ink-bottle::before {
  content: "\ec1c";
}

.ril-input-method::before {
  content: "\ec1d";
}

.ril-instagram::before {
  content: "\ec1e";
}

.ril-install::before {
  content: "\ec1f";
}

.ril-invision::before {
  content: "\ec20";
}

.ril-kakao-talk::before {
  content: "\ec21";
}

.ril-key::before {
  content: "\ec22";
}

.ril-key-2::before {
  content: "\ec23";
}

.ril-keyboard::before {
  content: "\ec24";
}

.ril-keyboard-box::before {
  content: "\ec25";
}

.ril-keynote::before {
  content: "\ec26";
}

.ril-knife::before {
  content: "\ec27";
}

.ril-knife-blood::before {
  content: "\ec28";
}

.ril-landscape::before {
  content: "\ec29";
}

.ril-layout::before {
  content: "\ec2a";
}

.ril-layout-2::before {
  content: "\ec2b";
}

.ril-layout-3::before {
  content: "\ec2c";
}

.ril-layout-4::before {
  content: "\ec2d";
}

.ril-layout-5::before {
  content: "\ec2e";
}

.ril-layout-6::before {
  content: "\ec2f";
}

.ril-layout-bottom::before {
  content: "\ec30";
}

.ril-layout-bottom-2::before {
  content: "\ec31";
}

.ril-layout-column::before {
  content: "\ec32";
}

.ril-layout-grid::before {
  content: "\ec33";
}

.ril-layout-left::before {
  content: "\ec34";
}

.ril-layout-left-2::before {
  content: "\ec35";
}

.ril-layout-masonry::before {
  content: "\ec36";
}

.ril-layout-right::before {
  content: "\ec37";
}

.ril-layout-right-2::before {
  content: "\ec38";
}

.ril-layout-row::before {
  content: "\ec39";
}

.ril-layout-top::before {
  content: "\ec3a";
}

.ril-layout-top-2::before {
  content: "\ec3b";
}

.ril-leaf::before {
  content: "\ec3c";
}

.ril-lifebuoy::before {
  content: "\ec3d";
}

.ril-lightbulb::before {
  content: "\ec3e";
}

.ril-lightbulb-flash::before {
  content: "\ec3f";
}

.ril-line::before {
  content: "\ec40";
}

.ril-line-chart::before {
  content: "\ec41";
}

.ril-linkedin::before {
  content: "\ec42";
}

.ril-linkedin-box::before {
  content: "\ec43";
}

.ril-links::before {
  content: "\ec44";
}

.ril-list-settings::before {
  content: "\ec45";
}

.ril-live::before {
  content: "\ec46";
}

.ril-loader::before {
  content: "\ec47";
}

.ril-loader-2::before {
  content: "\ec48";
}

.ril-loader-3::before {
  content: "\ec49";
}

.ril-loader-4::before {
  content: "\ec4a";
}

.ril-loader-5::before {
  content: "\ec4b";
}

.ril-lock::before {
  content: "\ec4c";
}

.ril-lock-2::before {
  content: "\ec4d";
}

.ril-lock-password::before {
  content: "\ec4e";
}

.ril-lock-unlock::before {
  content: "\ec4f";
}

.ril-login-box::before {
  content: "\ec50";
}

.ril-login-circle::before {
  content: "\ec51";
}

.ril-logout-box::before {
  content: "\ec52";
}

.ril-logout-box-r::before {
  content: "\ec53";
}

.ril-logout-circle::before {
  content: "\ec54";
}

.ril-logout-circle-r::before {
  content: "\ec55";
}

.ril-luggage-cart::before {
  content: "\ec56";
}

.ril-luggage-deposit::before {
  content: "\ec57";
}

.ril-lungs::before {
  content: "\ec58";
}

.ril-mac::before {
  content: "\ec59";
}

.ril-macbook::before {
  content: "\ec5a";
}

.ril-magic::before {
  content: "\ec5b";
}

.ril-mail::before {
  content: "\ec5c";
}

.ril-mail-add::before {
  content: "\ec5d";
}

.ril-mail-check::before {
  content: "\ec5e";
}

.ril-mail-close::before {
  content: "\ec5f";
}

.ril-mail-download::before {
  content: "\ec60";
}

.ril-mail-forbid::before {
  content: "\ec61";
}

.ril-mail-lock::before {
  content: "\ec62";
}

.ril-mail-open::before {
  content: "\ec63";
}

.ril-mail-send::before {
  content: "\ec64";
}

.ril-mail-settings::before {
  content: "\ec65";
}

.ril-mail-star::before {
  content: "\ec66";
}

.ril-mail-unread::before {
  content: "\ec67";
}

.ril-mail-volume::before {
  content: "\ec68";
}

.ril-map::before {
  content: "\ec69";
}

.ril-map-2::before {
  content: "\ec6a";
}

.ril-map-pin::before {
  content: "\ec6b";
}

.ril-map-pin-2::before {
  content: "\ec6c";
}

.ril-map-pin-3::before {
  content: "\ec6d";
}

.ril-map-pin-4::before {
  content: "\ec6e";
}

.ril-map-pin-5::before {
  content: "\ec6f";
}

.ril-map-pin-add::before {
  content: "\ec70";
}

.ril-map-pin-range::before {
  content: "\ec71";
}

.ril-map-pin-time::before {
  content: "\ec72";
}

.ril-map-pin-user::before {
  content: "\ec73";
}

.ril-mark-pen::before {
  content: "\ec74";
}

.ril-markdown::before {
  content: "\ec75";
}

.ril-markup::before {
  content: "\ec76";
}

.ril-mastercard::before {
  content: "\ec77";
}

.ril-mastodon::before {
  content: "\ec78";
}

.ril-medal::before {
  content: "\ec79";
}

.ril-medal-2::before {
  content: "\ec7a";
}

.ril-medicine-bottle::before {
  content: "\ec7b";
}

.ril-medium::before {
  content: "\ec7c";
}

.ril-men::before {
  content: "\ec7d";
}

.ril-mental-health::before {
  content: "\ec7e";
}

.ril-menu::before {
  content: "\ec7f";
}

.ril-menu-2::before {
  content: "\ec80";
}

.ril-menu-3::before {
  content: "\ec81";
}

.ril-menu-4::before {
  content: "\ec82";
}

.ril-menu-5::before {
  content: "\ec83";
}

.ril-menu-add::before {
  content: "\ec84";
}

.ril-menu-fold::before {
  content: "\ec85";
}

.ril-menu-unfold::before {
  content: "\ec86";
}

.ril-message::before {
  content: "\ec87";
}

.ril-message-2::before {
  content: "\ec88";
}

.ril-message-3::before {
  content: "\ec89";
}

.ril-messenger::before {
  content: "\ec8a";
}

.ril-meteor::before {
  content: "\ec8b";
}

.ril-mic::before {
  content: "\ec8c";
}

.ril-mic-2::before {
  content: "\ec8d";
}

.ril-mic-off::before {
  content: "\ec8e";
}

.ril-mickey::before {
  content: "\ec8f";
}

.ril-microscope::before {
  content: "\ec90";
}

.ril-microsoft::before {
  content: "\ec91";
}

.ril-mini-program::before {
  content: "\ec92";
}

.ril-mist::before {
  content: "\ec93";
}

.ril-money-cny-box::before {
  content: "\ec94";
}

.ril-money-cny-circle::before {
  content: "\ec95";
}

.ril-money-dollar-box::before {
  content: "\ec96";
}

.ril-money-dollar-circle::before {
  content: "\ec97";
}

.ril-money-euro-box::before {
  content: "\ec98";
}

.ril-money-euro-circle::before {
  content: "\ec99";
}

.ril-money-pound-box::before {
  content: "\ec9a";
}

.ril-money-pound-circle::before {
  content: "\ec9b";
}

.ril-moon::before {
  content: "\ec9c";
}

.ril-moon-clear::before {
  content: "\ec9d";
}

.ril-moon-cloudy::before {
  content: "\ec9e";
}

.ril-moon-foggy::before {
  content: "\ec9f";
}

.ril-more::before {
  content: "\eca0";
}

.ril-more-2::before {
  content: "\eca1";
}

.ril-motorbike::before {
  content: "\eca2";
}

.ril-mouse::before {
  content: "\eca3";
}

.ril-movie::before {
  content: "\eca4";
}

.ril-movie-2::before {
  content: "\eca5";
}

.ril-music::before {
  content: "\eca6";
}

.ril-music-2::before {
  content: "\eca7";
}

.ril-mv::before {
  content: "\eca8";
}

.ril-navigation::before {
  content: "\eca9";
}

.ril-netease-cloud-music::before {
  content: "\ecaa";
}

.ril-netflix::before {
  content: "\ecab";
}

.ril-newspaper::before {
  content: "\ecac";
}

.ril-notification::before {
  content: "\ecad";
}

.ril-notification-2::before {
  content: "\ecae";
}

.ril-notification-3::before {
  content: "\ecaf";
}

.ril-notification-4::before {
  content: "\ecb0";
}

.ril-notification-badge::before {
  content: "\ecb1";
}

.ril-notification-off::before {
  content: "\ecb2";
}

.ril-npmjs::before {
  content: "\ecb3";
}

.ril-numbers::before {
  content: "\ecb4";
}

.ril-nurse::before {
  content: "\ecb5";
}

.ril-oil::before {
  content: "\ecb6";
}

.ril-open-arm::before {
  content: "\ecb7";
}

.ril-open-source::before {
  content: "\ecb8";
}

.ril-opera::before {
  content: "\ecb9";
}

.ril-order-play::before {
  content: "\ecba";
}

.ril-outlet::before {
  content: "\ecbb";
}

.ril-outlet-2::before {
  content: "\ecbc";
}

.ril-pages::before {
  content: "\ecbd";
}

.ril-paint::before {
  content: "\ecbe";
}

.ril-paint-brush::before {
  content: "\ecbf";
}

.ril-palette::before {
  content: "\ecc0";
}

.ril-pantone::before {
  content: "\ecc1";
}

.ril-parent::before {
  content: "\ecc2";
}

.ril-parentheses::before {
  content: "\ecc3";
}

.ril-parking::before {
  content: "\ecc4";
}

.ril-parking-box::before {
  content: "\ecc5";
}

.ril-passport::before {
  content: "\ecc6";
}

.ril-patreon::before {
  content: "\ecc7";
}

.ril-pause::before {
  content: "\ecc8";
}

.ril-pause-circle::before {
  content: "\ecc9";
}

.ril-pause-mini::before {
  content: "\ecca";
}

.ril-paypal::before {
  content: "\eccb";
}

.ril-pen-nib::before {
  content: "\eccc";
}

.ril-pencil::before {
  content: "\eccd";
}

.ril-pencil-ruler::before {
  content: "\ecce";
}

.ril-pencil-ruler-2::before {
  content: "\eccf";
}

.ril-percent::before {
  content: "\ecd0";
}

.ril-phone::before {
  content: "\ecd1";
}

.ril-phone-camera::before {
  content: "\ecd2";
}

.ril-phone-find::before {
  content: "\ecd3";
}

.ril-phone-lock::before {
  content: "\ecd4";
}

.ril-picture-in-picture::before {
  content: "\ecd5";
}

.ril-picture-in-picture-2::before {
  content: "\ecd6";
}

.ril-picture-in-picture-exit::before {
  content: "\ecd7";
}

.ril-pie-chart::before {
  content: "\ecd8";
}

.ril-pie-chart-2::before {
  content: "\ecd9";
}

.ril-pie-chart-box::before {
  content: "\ecda";
}

.ril-pin-distance::before {
  content: "\ecdb";
}

.ril-ping-pong::before {
  content: "\ecdc";
}

.ril-pinterest::before {
  content: "\ecdd";
}

.ril-pixelfed::before {
  content: "\ecde";
}

.ril-plane::before {
  content: "\ecdf";
}

.ril-plant::before {
  content: "\ece0";
}

.ril-play::before {
  content: "\ece1";
}

.ril-play-circle::before {
  content: "\ece2";
}

.ril-play-list::before {
  content: "\ece3";
}

.ril-play-list-2::before {
  content: "\ece4";
}

.ril-play-list-add::before {
  content: "\ece5";
}

.ril-play-mini::before {
  content: "\ece6";
}

.ril-playstation::before {
  content: "\ece7";
}

.ril-plug::before {
  content: "\ece8";
}

.ril-plug-2::before {
  content: "\ece9";
}

.ril-polaroid::before {
  content: "\ecea";
}

.ril-polaroid-2::before {
  content: "\eceb";
}

.ril-police-car::before {
  content: "\ecec";
}

.ril-price-tag::before {
  content: "\eced";
}

.ril-price-tag-2::before {
  content: "\ecee";
}

.ril-price-tag-3::before {
  content: "\ecef";
}

.ril-printer::before {
  content: "\ecf0";
}

.ril-printer-cloud::before {
  content: "\ecf1";
}

.ril-product-hunt::before {
  content: "\ecf2";
}

.ril-profile::before {
  content: "\ecf3";
}

.ril-projector::before {
  content: "\ecf4";
}

.ril-projector-2::before {
  content: "\ecf5";
}

.ril-psychotherapy::before {
  content: "\ecf6";
}

.ril-pulse::before {
  content: "\ecf7";
}

.ril-pushpin::before {
  content: "\ecf8";
}

.ril-pushpin-2::before {
  content: "\ecf9";
}

.ril-qq::before {
  content: "\ecfa";
}

.ril-qr-code::before {
  content: "\ecfb";
}

.ril-qr-scan::before {
  content: "\ecfc";
}

.ril-qr-scan-2::before {
  content: "\ecfd";
}

.ril-question::before {
  content: "\ecfe";
}

.ril-question-answer::before {
  content: "\ecff";
}

.ril-questionnaire::before {
  content: "\ed00";
}

.ril-quill-pen::before {
  content: "\ed01";
}

.ril-radar::before {
  content: "\ed02";
}

.ril-radio::before {
  content: "\ed03";
}

.ril-radio-2::before {
  content: "\ed04";
}

.ril-radio-button::before {
  content: "\ed05";
}

.ril-rainbow::before {
  content: "\ed06";
}

.ril-rainy::before {
  content: "\ed07";
}

.ril-reactjs::before {
  content: "\ed08";
}

.ril-record-circle::before {
  content: "\ed09";
}

.ril-record-mail::before {
  content: "\ed0a";
}

.ril-recycle::before {
  content: "\ed0b";
}

.ril-red-packet::before {
  content: "\ed0c";
}

.ril-reddit::before {
  content: "\ed0d";
}

.ril-refresh::before {
  content: "\ed0e";
}

.ril-refund::before {
  content: "\ed0f";
}

.ril-refund-2::before {
  content: "\ed10";
}

.ril-registered::before {
  content: "\ed11";
}

.ril-remixicon::before {
  content: "\ed12";
}

.ril-remote-control::before {
  content: "\ed13";
}

.ril-remote-control-2::before {
  content: "\ed14";
}

.ril-repeat::before {
  content: "\ed15";
}

.ril-repeat-2::before {
  content: "\ed16";
}

.ril-repeat-one::before {
  content: "\ed17";
}

.ril-reply::before {
  content: "\ed18";
}

.ril-reply-all::before {
  content: "\ed19";
}

.ril-reserved::before {
  content: "\ed1a";
}

.ril-rest-time::before {
  content: "\ed1b";
}

.ril-restart::before {
  content: "\ed1c";
}

.ril-restaurant::before {
  content: "\ed1d";
}

.ril-restaurant-2::before {
  content: "\ed1e";
}

.ril-rewind::before {
  content: "\ed1f";
}

.ril-rewind-mini::before {
  content: "\ed20";
}

.ril-rhythm::before {
  content: "\ed21";
}

.ril-riding::before {
  content: "\ed22";
}

.ril-road-map::before {
  content: "\ed23";
}

.ril-roadster::before {
  content: "\ed24";
}

.ril-robot::before {
  content: "\ed25";
}

.ril-rocket::before {
  content: "\ed26";
}

.ril-rocket-2::before {
  content: "\ed27";
}

.ril-rotate-lock::before {
  content: "\ed28";
}

.ril-route::before {
  content: "\ed29";
}

.ril-router::before {
  content: "\ed2a";
}

.ril-rss::before {
  content: "\ed2b";
}

.ril-ruler::before {
  content: "\ed2c";
}

.ril-ruler-2::before {
  content: "\ed2d";
}

.ril-run::before {
  content: "\ed2e";
}

.ril-safari::before {
  content: "\ed2f";
}

.ril-safe::before {
  content: "\ed30";
}

.ril-safe-2::before {
  content: "\ed31";
}

.ril-sailboat::before {
  content: "\ed32";
}

.ril-save::before {
  content: "\ed33";
}

.ril-save-2::before {
  content: "\ed34";
}

.ril-save-3::before {
  content: "\ed35";
}

.ril-scales::before {
  content: "\ed36";
}

.ril-scales-2::before {
  content: "\ed37";
}

.ril-scales-3::before {
  content: "\ed38";
}

.ril-scan::before {
  content: "\ed39";
}

.ril-scan-2::before {
  content: "\ed3a";
}

.ril-scissors::before {
  content: "\ed3b";
}

.ril-scissors-2::before {
  content: "\ed3c";
}

.ril-scissors-cut::before {
  content: "\ed3d";
}

.ril-screenshot::before {
  content: "\ed3e";
}

.ril-screenshot-2::before {
  content: "\ed3f";
}

.ril-sd-card::before {
  content: "\ed40";
}

.ril-sd-card-mini::before {
  content: "\ed41";
}

.ril-search::before {
  content: "\ed42";
}

.ril-search-2::before {
  content: "\ed43";
}

.ril-search-eye::before {
  content: "\ed44";
}

.ril-secure-payment::before {
  content: "\ed45";
}

.ril-seedling::before {
  content: "\ed46";
}

.ril-send-plane::before {
  content: "\ed47";
}

.ril-send-plane-2::before {
  content: "\ed48";
}

.ril-sensor::before {
  content: "\ed49";
}

.ril-server::before {
  content: "\ed4a";
}

.ril-service::before {
  content: "\ed4b";
}

.ril-settings::before {
  content: "\ed4c";
}

.ril-settings-2::before {
  content: "\ed4d";
}

.ril-settings-3::before {
  content: "\ed4e";
}

.ril-settings-4::before {
  content: "\ed4f";
}

.ril-settings-5::before {
  content: "\ed50";
}

.ril-settings-6::before {
  content: "\ed51";
}

.ril-shape::before {
  content: "\ed52";
}

.ril-shape-2::before {
  content: "\ed53";
}

.ril-share::before {
  content: "\ed54";
}

.ril-share-box::before {
  content: "\ed55";
}

.ril-share-circle::before {
  content: "\ed56";
}

.ril-share-forward::before {
  content: "\ed57";
}

.ril-share-forward-2::before {
  content: "\ed58";
}

.ril-share-forward-box::before {
  content: "\ed59";
}

.ril-shield::before {
  content: "\ed5a";
}

.ril-shield-check::before {
  content: "\ed5b";
}

.ril-shield-cross::before {
  content: "\ed5c";
}

.ril-shield-flash::before {
  content: "\ed5d";
}

.ril-shield-keyhole::before {
  content: "\ed5e";
}

.ril-shield-star::before {
  content: "\ed5f";
}

.ril-shield-user::before {
  content: "\ed60";
}

.ril-ship::before {
  content: "\ed61";
}

.ril-ship-2::before {
  content: "\ed62";
}

.ril-shirt::before {
  content: "\ed63";
}

.ril-shopping-bag::before {
  content: "\ed64";
}

.ril-shopping-bag-2::before {
  content: "\ed65";
}

.ril-shopping-bag-3::before {
  content: "\ed66";
}

.ril-shopping-basket::before {
  content: "\ed67";
}

.ril-shopping-basket-2::before {
  content: "\ed68";
}

.ril-shopping-cart::before {
  content: "\ed69";
}

.ril-shopping-cart-2::before {
  content: "\ed6a";
}

.ril-showers::before {
  content: "\ed6b";
}

.ril-shuffle::before {
  content: "\ed6c";
}

.ril-shut-down::before {
  content: "\ed6d";
}

.ril-side-bar::before {
  content: "\ed6e";
}

.ril-signal-tower::before {
  content: "\ed6f";
}

.ril-signal-wifi::before {
  content: "\ed70";
}

.ril-signal-wifi-1::before {
  content: "\ed71";
}

.ril-signal-wifi-2::before {
  content: "\ed72";
}

.ril-signal-wifi-3::before {
  content: "\ed73";
}

.ril-signal-wifi-error::before {
  content: "\ed74";
}

.ril-signal-wifi-off::before {
  content: "\ed75";
}

.ril-sim-card::before {
  content: "\ed76";
}

.ril-sim-card-2::before {
  content: "\ed77";
}

.ril-sip::before {
  content: "\ed78";
}

.ril-skip-back::before {
  content: "\ed79";
}

.ril-skip-back-mini::before {
  content: "\ed7a";
}

.ril-skip-forward::before {
  content: "\ed7b";
}

.ril-skip-forward-mini::before {
  content: "\ed7c";
}

.ril-skull::before {
  content: "\ed7d";
}

.ril-skull-2::before {
  content: "\ed7e";
}

.ril-skype::before {
  content: "\ed7f";
}

.ril-slack::before {
  content: "\ed80";
}

.ril-slice::before {
  content: "\ed81";
}

.ril-slideshow::before {
  content: "\ed82";
}

.ril-slideshow-2::before {
  content: "\ed83";
}

.ril-slideshow-3::before {
  content: "\ed84";
}

.ril-slideshow-4::before {
  content: "\ed85";
}

.ril-smartphone::before {
  content: "\ed86";
}

.ril-snapchat::before {
  content: "\ed87";
}

.ril-snowy::before {
  content: "\ed88";
}

.ril-sound-module::before {
  content: "\ed89";
}

.ril-soundcloud::before {
  content: "\ed8a";
}

.ril-space-ship::before {
  content: "\ed8b";
}

.ril-spam::before {
  content: "\ed8c";
}

.ril-spam-2::before {
  content: "\ed8d";
}

.ril-spam-3::before {
  content: "\ed8e";
}

.ril-speaker::before {
  content: "\ed8f";
}

.ril-speaker-2::before {
  content: "\ed90";
}

.ril-speaker-3::before {
  content: "\ed91";
}

.ril-spectrum::before {
  content: "\ed92";
}

.ril-speed::before {
  content: "\ed93";
}

.ril-speed-mini::before {
  content: "\ed94";
}

.ril-spotify::before {
  content: "\ed95";
}

.ril-spy::before {
  content: "\ed96";
}

.ril-stack::before {
  content: "\ed97";
}

.ril-stack-overflow::before {
  content: "\ed98";
}

.ril-stackshare::before {
  content: "\ed99";
}

.ril-star::before {
  content: "\ed9a";
}

.ril-star-half::before {
  content: "\ed9b";
}

.ril-star-half-s::before {
  content: "\ed9c";
}

.ril-star-s::before {
  content: "\ed9d";
}

.ril-star-smile::before {
  content: "\ed9e";
}

.ril-steam::before {
  content: "\ed9f";
}

.ril-steering::before {
  content: "\eda0";
}

.ril-steering-2::before {
  content: "\eda1";
}

.ril-stethoscope::before {
  content: "\eda2";
}

.ril-sticky-note::before {
  content: "\eda3";
}

.ril-sticky-note-2::before {
  content: "\eda4";
}

.ril-stock::before {
  content: "\eda5";
}

.ril-stop::before {
  content: "\eda6";
}

.ril-stop-circle::before {
  content: "\eda7";
}

.ril-stop-mini::before {
  content: "\eda8";
}

.ril-store::before {
  content: "\eda9";
}

.ril-store-2::before {
  content: "\edaa";
}

.ril-store-3::before {
  content: "\edab";
}

.ril-subtract::before {
  content: "\edac";
}

.ril-subway::before {
  content: "\edad";
}

.ril-subway-wifi::before {
  content: "\edae";
}

.ril-suitcase::before {
  content: "\edaf";
}

.ril-suitcase-2::before {
  content: "\edb0";
}

.ril-suitcase-3::before {
  content: "\edb1";
}

.ril-sun::before {
  content: "\edb2";
}

.ril-sun-cloudy::before {
  content: "\edb3";
}

.ril-sun-foggy::before {
  content: "\edb4";
}

.ril-surgical-mask::before {
  content: "\edb5";
}

.ril-surround-sound::before {
  content: "\edb6";
}

.ril-survey::before {
  content: "\edb7";
}

.ril-swap::before {
  content: "\edb8";
}

.ril-swap-box::before {
  content: "\edb9";
}

.ril-switch::before {
  content: "\edba";
}

.ril-sword::before {
  content: "\edbb";
}

.ril-syringe::before {
  content: "\edbc";
}

.ril-t-box::before {
  content: "\edbd";
}

.ril-t-shirt::before {
  content: "\edbe";
}

.ril-t-shirt-2::before {
  content: "\edbf";
}

.ril-t-shirt-air::before {
  content: "\edc0";
}

.ril-table::before {
  content: "\edc1";
}

.ril-table-alt::before {
  content: "\edc2";
}

.ril-tablet::before {
  content: "\edc3";
}

.ril-takeaway::before {
  content: "\edc4";
}

.ril-taobao::before {
  content: "\edc5";
}

.ril-tape::before {
  content: "\edc6";
}

.ril-task::before {
  content: "\edc7";
}

.ril-taxi::before {
  content: "\edc8";
}

.ril-taxi-wifi::before {
  content: "\edc9";
}

.ril-team::before {
  content: "\edca";
}

.ril-telegram::before {
  content: "\edcb";
}

.ril-temp-cold::before {
  content: "\edcc";
}

.ril-temp-hot::before {
  content: "\edcd";
}

.ril-terminal::before {
  content: "\edce";
}

.ril-terminal-box::before {
  content: "\edcf";
}

.ril-terminal-window::before {
  content: "\edd0";
}

.ril-test-tube::before {
  content: "\edd1";
}

.ril-thermometer::before {
  content: "\edd2";
}

.ril-thumb-down::before {
  content: "\edd3";
}

.ril-thumb-up::before {
  content: "\edd4";
}

.ril-thunderstorms::before {
  content: "\edd5";
}

.ril-ticket::before {
  content: "\edd6";
}

.ril-ticket-2::before {
  content: "\edd7";
}

.ril-time::before {
  content: "\edd8";
}

.ril-timer::before {
  content: "\edd9";
}

.ril-timer-2::before {
  content: "\edda";
}

.ril-timer-flash::before {
  content: "\eddb";
}

.ril-todo::before {
  content: "\eddc";
}

.ril-toggle::before {
  content: "\eddd";
}

.ril-tools::before {
  content: "\edde";
}

.ril-tornado::before {
  content: "\eddf";
}

.ril-trademark::before {
  content: "\ede0";
}

.ril-traffic-light::before {
  content: "\ede1";
}

.ril-train::before {
  content: "\ede2";
}

.ril-train-wifi::before {
  content: "\ede3";
}

.ril-travesti::before {
  content: "\ede4";
}

.ril-treasure-map::before {
  content: "\ede5";
}

.ril-trello::before {
  content: "\ede6";
}

.ril-trophy::before {
  content: "\ede7";
}

.ril-truck::before {
  content: "\ede8";
}

.ril-tumblr::before {
  content: "\ede9";
}

.ril-tv::before {
  content: "\edea";
}

.ril-tv-2::before {
  content: "\edeb";
}

.ril-twitch::before {
  content: "\edec";
}

.ril-twitter::before {
  content: "\eded";
}

.ril-typhoon::before {
  content: "\edee";
}

.ril-u-disk::before {
  content: "\edef";
}

.ril-ubuntu::before {
  content: "\edf0";
}

.ril-umbrella::before {
  content: "\edf1";
}

.ril-uninstall::before {
  content: "\edf2";
}

.ril-unsplash::before {
  content: "\edf3";
}

.ril-upload::before {
  content: "\edf4";
}

.ril-upload-2::before {
  content: "\edf5";
}

.ril-upload-cloud::before {
  content: "\edf6";
}

.ril-upload-cloud-2::before {
  content: "\edf7";
}

.ril-usb::before {
  content: "\edf8";
}

.ril-user::before {
  content: "\edf9";
}

.ril-user-2::before {
  content: "\edfa";
}

.ril-user-3::before {
  content: "\edfb";
}

.ril-user-4::before {
  content: "\edfc";
}

.ril-user-5::before {
  content: "\edfd";
}

.ril-user-6::before {
  content: "\edfe";
}

.ril-user-add::before {
  content: "\edff";
}

.ril-user-follow::before {
  content: "\ee00";
}

.ril-user-heart::before {
  content: "\ee01";
}

.ril-user-location::before {
  content: "\ee02";
}

.ril-user-received::before {
  content: "\ee03";
}

.ril-user-received-2::before {
  content: "\ee04";
}

.ril-user-search::before {
  content: "\ee05";
}

.ril-user-settings::before {
  content: "\ee06";
}

.ril-user-shared::before {
  content: "\ee07";
}

.ril-user-shared-2::before {
  content: "\ee08";
}

.ril-user-smile::before {
  content: "\ee09";
}

.ril-user-star::before {
  content: "\ee0a";
}

.ril-user-unfollow::before {
  content: "\ee0b";
}

.ril-user-voice::before {
  content: "\ee0c";
}

.ril-video::before {
  content: "\ee0d";
}

.ril-video-add::before {
  content: "\ee0e";
}

.ril-video-chat::before {
  content: "\ee0f";
}

.ril-video-download::before {
  content: "\ee10";
}

.ril-video-upload::before {
  content: "\ee11";
}

.ril-vidicon::before {
  content: "\ee12";
}

.ril-vidicon-2::before {
  content: "\ee13";
}

.ril-vimeo::before {
  content: "\ee14";
}

.ril-vip::before {
  content: "\ee15";
}

.ril-vip-crown::before {
  content: "\ee16";
}

.ril-vip-crown-2::before {
  content: "\ee17";
}

.ril-vip-diamond::before {
  content: "\ee18";
}

.ril-virus::before {
  content: "\ee19";
}

.ril-visa::before {
  content: "\ee1a";
}

.ril-voice-recognition::before {
  content: "\ee1b";
}

.ril-voiceprint::before {
  content: "\ee1c";
}

.ril-volume-down::before {
  content: "\ee1d";
}

.ril-volume-mute::before {
  content: "\ee1e";
}

.ril-volume-off-vibrate::before {
  content: "\ee1f";
}

.ril-volume-up::before {
  content: "\ee20";
}

.ril-volume-vibrate::before {
  content: "\ee21";
}

.ril-vuejs::before {
  content: "\ee22";
}

.ril-walk::before {
  content: "\ee23";
}

.ril-wallet::before {
  content: "\ee24";
}

.ril-wallet-2::before {
  content: "\ee25";
}

.ril-wallet-3::before {
  content: "\ee26";
}

.ril-water-flash::before {
  content: "\ee27";
}

.ril-webcam::before {
  content: "\ee28";
}

.ril-wechat::before {
  content: "\ee29";
}

.ril-wechat-2::before {
  content: "\ee2a";
}

.ril-wechat-pay::before {
  content: "\ee2b";
}

.ril-weibo::before {
  content: "\ee2c";
}

.ril-whatsapp::before {
  content: "\ee2d";
}

.ril-wheelchair::before {
  content: "\ee2e";
}

.ril-wifi::before {
  content: "\ee2f";
}

.ril-wifi-off::before {
  content: "\ee30";
}

.ril-window::before {
  content: "\ee31";
}

.ril-window-2::before {
  content: "\ee32";
}

.ril-windows::before {
  content: "\ee33";
}

.ril-windy::before {
  content: "\ee34";
}

.ril-wireless-charging::before {
  content: "\ee35";
}

.ril-women::before {
  content: "\ee36";
}

.ril-xbox::before {
  content: "\ee37";
}

.ril-xing::before {
  content: "\ee38";
}

.ril-youtube::before {
  content: "\ee39";
}

.ril-zcool::before {
  content: "\ee3a";
}

.ril-zhihu::before {
  content: "\ee3b";
}

.ril-zoom-in::before {
  content: "\ee3c";
}

.ril-zoom-out::before {
  content: "\ee3d";
}

.ril-zzz::before {
  content: "\ee3e";
}
