/**
 * OpenWeb Icons, 1.4.3
 * Created by Matthias Pfefferle
 * http://pfefferle.github.io/openwebicons/
 * OFL-1.1 License
 */
@charset "UTF-8";

@font-face {
  font-family: "openwebicons";
  src: url('openwebicons.eot.eot');
  src: url('openwebicons.eot?#iefix') format('eot'),
    url('openwebicons.woff2') format('woff2'),
    url('openwebicons.woff') format('woff'),
    url('openwebicons.ttf') format('truetype'),
    url('openwebicons.svg#openwebicons') format('svg');
}

.owi {
  font-family: "openwebicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.owi-apml:before {
  content: "";
}
.owi-open-share:before {
  content: "";
}
.owi-share:before {
  content: "";
}
.owi-feed:before {
  content: "";
}
.owi-ostatus:before {
  content: "";
}
.owi-opml:before {
  content: "";
}
.owi-activity:before {
  content: "";
}
.owi-geo:before {
  content: "";
}
.owi-opensearch:before {
  content: "";
}
.owi-oauth:before {
  content: "";
}
.owi-openid:before {
  content: "";
}
.owi-rdf:before {
  content: "";
}
.owi-json-ld:before {
  content: "";
}
.owi-semantic-web:before {
  content: "";
}
.owi-dataportability:before {
  content: "";
}
.owi-federated:before {
  content: "";
}
.owi-open-web:before {
  content: "";
}
.owi-web-intents:before {
  content: "";
}
.owi-xmpp:before {
  content: "";
}
.owi-qr:before {
  content: "";
}
.owi-epub:before {
  content: "";
}
.owi-opengraph:before {
  content: "";
}
.owi-foaf:before {
  content: "";
}
.owi-info-card:before {
  content: "";
}
.owi-browserid:before {
  content: "";
}
.owi-persona:before {
  content: "";
}
.owi-remote-storage:before {
  content: "";
}
.owi-odata:before {
  content: "";
}
.owi-markdown:before {
  content: "";
}
.owi-tosdr:before {
  content: "";
}
.owi-indieweb:before {
  content: "";
}
.owi-indiewebcamp:before {
  content: "";
}
.owi-git:before {
  content: "";
}
.owi-webhooks:before {
  content: "";
}
.owi-osi:before {
  content: "";
}
.owi-webfinger:before {
  content: "";
}
.owi-bitcoin:before {
  content: "";
}
.owi-pubsubhubbub:before {
  content: "";
}
.owi-svg:before {
  content: "";
}
.owi-tent:before {
  content: "";
}
.owi-copyleft:before {
  content: "";
}
.owi-gnu:before {
  content: "";
}
.owi-webmention:before {
  content: "";
}
.owi-javascript:before {
  content: "";
}
.owi-wtfpl:before {
  content: "";
}
.owi-wordpress:before {
  content: "";
}
.owi-owncloud:before {
  content: "";
}
.owi-known:before {
  content: "";
}
.owi-barcamp:before {
  content: "";
}
.owi-indiehosters:before {
  content: "";
}
.owi-cccs:before {
  content: "";
}
.owi-mozilla:before {
  content: "";
}
.owi-unhosted:before {
  content: "";
}
.owi-indie:before {
  content: "";
}
.owi-ghost:before {
  content: "";
}
.owi-diaspora:before {
  content: "";
}
.owi-webplattform:before {
  content: "";
}
.owi-opensourcedesign:before {
  content: "";
}
.owi-opendesign:before {
  content: "";
}
.owi-gnusocial:before {
  content: "";
}
.owi-mastodon:before {
  content: "";
}
.owi-mastodon-simple:before {
  content: "";
}
.owi-html5:before {
  content: "";
}
.owi-css3:before {
  content: "";
}
.owi-connectivity:before {
  content: "";
}
.owi-semantics:before {
  content: "";
}
.owi-device-access:before {
  content: "";
}
.owi-offline-storage:before {
  content: "";
}
.owi-multimedia:before {
  content: "";
}
.owi-3deffects:before {
  content: "";
}
.owi-perfintegration:before {
  content: "";
}
.owi-cc:before {
  content: "";
}
.owi-cc-by:before {
  content: "";
}
.owi-cc-nc:before {
  content: "";
}
.owi-cc-nc-eu:before {
  content: "";
}
.owi-cc-nc-jp:before {
  content: "";
}
.owi-cc-sa:before {
  content: "";
}
.owi-cc-nd:before {
  content: "";
}
.owi-cc-public:before {
  content: "";
}
.owi-cc-zero:before {
  content: "";
}
.owi-cc-share:before {
  content: "";
}
.owi-cc-remix:before {
  content: "";
}
.owi-microformats:before {
  content: "";
}
.owi-hcard-download:before {
  content: "";
}
.owi-hcard-add:before {
  content: "";
}
.owi-hresume:before {
  content: "";
}
.owi-hatom:before {
  content: "";
}
.owi-ofl:before {
  content: "";
}
.owi-ofl-attribution:before {
  content: "";
}
.owi-ofl-share:before {
  content: "";
}
.owi-ofl-embedding:before {
  content: "";
}
.owi-ofl-renaming:before {
  content: "";
}
.owi-ofl-selling:before {
  content: "";
}

