/**
 * Bytesize Icons, 1.4.0
 * Created by [object Object]
 * https://github.com/danklammer/bytesize-icons#readme
 * MIT License
 */
@charset "UTF-8";

@font-face {
  font-family: "bytesize-icons";
  src: url('./bytesize-icons.eot');
  src: 
    url('./bytesize-icons.eot?#iefix') format('embedded-opentype'),
    url('./bytesize-icons.woff2') format('woff2'),
    url('./bytesize-icons.woff') format('woff'),
    url('./bytesize-icons.ttf') format('truetype'),
    url('./bytesize-icons.svg#bytesize-icons') format('svg');
}

.bsi {
  font-family: "bytesize-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

.bsi-activity::before {
  content: "\ea01";
}

.bsi-alert::before {
  content: "\ea02";
}

.bsi-archive::before {
  content: "\ea03";
}

.bsi-arrow-bottom::before {
  content: "\ea04";
}

.bsi-arrow-left::before {
  content: "\ea05";
}

.bsi-arrow-right::before {
  content: "\ea06";
}

.bsi-arrow-top::before {
  content: "\ea07";
}

.bsi-backwards::before {
  content: "\ea08";
}

.bsi-bag::before {
  content: "\ea09";
}

.bsi-ban::before {
  content: "\ea0a";
}

.bsi-bell::before {
  content: "\ea0b";
}

.bsi-book::before {
  content: "\ea0c";
}

.bsi-bookmark::before {
  content: "\ea0d";
}

.bsi-calendar::before {
  content: "\ea0e";
}

.bsi-camera::before {
  content: "\ea0f";
}

.bsi-caret-bottom::before {
  content: "\ea10";
}

.bsi-caret-left::before {
  content: "\ea11";
}

.bsi-caret-right::before {
  content: "\ea12";
}

.bsi-caret-top::before {
  content: "\ea13";
}

.bsi-cart::before {
  content: "\ea14";
}

.bsi-checkmark::before {
  content: "\ea15";
}

.bsi-chevron-bottom::before {
  content: "\ea16";
}

.bsi-chevron-left::before {
  content: "\ea17";
}

.bsi-chevron-right::before {
  content: "\ea18";
}

.bsi-chevron-top::before {
  content: "\ea19";
}

.bsi-clipboard::before {
  content: "\ea1a";
}

.bsi-clock::before {
  content: "\ea1b";
}

.bsi-close::before {
  content: "\ea1c";
}

.bsi-code::before {
  content: "\ea1d";
}

.bsi-compose::before {
  content: "\ea1e";
}

.bsi-creditcard::before {
  content: "\ea1f";
}

.bsi-desktop::before {
  content: "\ea20";
}

.bsi-download::before {
  content: "\ea21";
}

.bsi-edit::before {
  content: "\ea22";
}

.bsi-eject::before {
  content: "\ea23";
}

.bsi-ellipsis-horizontal::before {
  content: "\ea24";
}

.bsi-ellipsis-vertical::before {
  content: "\ea25";
}

.bsi-end::before {
  content: "\ea26";
}

.bsi-export::before {
  content: "\ea27";
}

.bsi-external::before {
  content: "\ea28";
}

.bsi-eye::before {
  content: "\ea29";
}

.bsi-feed::before {
  content: "\ea2a";
}

.bsi-file::before {
  content: "\ea2b";
}

.bsi-filter::before {
  content: "\ea2c";
}

.bsi-flag::before {
  content: "\ea2d";
}

.bsi-folder::before {
  content: "\ea2e";
}

.bsi-folder-open::before {
  content: "\ea2f";
}

.bsi-forwards::before {
  content: "\ea30";
}

.bsi-fullscreen::before {
  content: "\ea31";
}

.bsi-fullscreen-exit::before {
  content: "\ea32";
}

.bsi-gift::before {
  content: "\ea33";
}

.bsi-github::before {
  content: "\ea34";
}

.bsi-heart::before {
  content: "\ea35";
}

.bsi-home::before {
  content: "\ea36";
}

.bsi-import::before {
  content: "\ea37";
}

.bsi-inbox::before {
  content: "\ea38";
}

.bsi-info::before {
  content: "\ea39";
}

.bsi-lightning::before {
  content: "\ea3a";
}

.bsi-link::before {
  content: "\ea3b";
}

.bsi-location::before {
  content: "\ea3c";
}

.bsi-lock::before {
  content: "\ea3d";
}

.bsi-mail::before {
  content: "\ea3e";
}

.bsi-menu::before {
  content: "\ea3f";
}

.bsi-message::before {
  content: "\ea40";
}

.bsi-microphone::before {
  content: "\ea41";
}

.bsi-minus::before {
  content: "\ea42";
}

.bsi-mobile::before {
  content: "\ea43";
}

.bsi-moon::before {
  content: "\ea44";
}

.bsi-move::before {
  content: "\ea45";
}

.bsi-music::before {
  content: "\ea46";
}

.bsi-mute::before {
  content: "\ea47";
}

.bsi-options::before {
  content: "\ea48";
}

.bsi-paperclip::before {
  content: "\ea49";
}

.bsi-pause::before {
  content: "\ea4a";
}

.bsi-photo::before {
  content: "\ea4b";
}

.bsi-play::before {
  content: "\ea4c";
}

.bsi-plus::before {
  content: "\ea4d";
}

.bsi-portfolio::before {
  content: "\ea4e";
}

.bsi-print::before {
  content: "\ea4f";
}

.bsi-reload::before {
  content: "\ea50";
}

.bsi-reply::before {
  content: "\ea51";
}

.bsi-search::before {
  content: "\ea52";
}

.bsi-send::before {
  content: "\ea53";
}

.bsi-settings::before {
  content: "\ea54";
}

.bsi-sign-in::before {
  content: "\ea55";
}

.bsi-sign-out::before {
  content: "\ea56";
}

.bsi-star::before {
  content: "\ea57";
}

.bsi-start::before {
  content: "\ea58";
}

.bsi-tag::before {
  content: "\ea59";
}

.bsi-telephone::before {
  content: "\ea5a";
}

.bsi-trash::before {
  content: "\ea5b";
}

.bsi-twitter::before {
  content: "\ea5c";
}

.bsi-unlock::before {
  content: "\ea5d";
}

.bsi-upload::before {
  content: "\ea5e";
}

.bsi-user::before {
  content: "\ea5f";
}

.bsi-video::before {
  content: "\ea60";
}

.bsi-volume::before {
  content: "\ea61";
}

.bsi-work::before {
  content: "\ea62";
}

.bsi-zoom-in::before {
  content: "\ea63";
}

.bsi-zoom-out::before {
  content: "\ea64";
}

.bsi-zoom-reset::before {
  content: "\ea65";
}
