/**
 * Linea Weather, 1.0.0
 * Created by Dario Ferrando
 * http://www.linea.io/
 * CC0-1.0 License
 */
@charset "UTF-8";

@font-face {
  font-family: "linea-weather";
  src: url('linea-weather.eot');
  src: url('linea-weather.eot?#iefix') format('eot'),

    url('linea-weather.woff') format('woff'),
    url('linea-weather.ttf') format('truetype'),
    url('linea-weather.svg#linea-weather') format('svg');
}

.lwi {
  font-family: "linea-weather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.lwi-aquarius:before {
  content: "\e000";
}
.lwi-aries:before {
  content: "\e001";
}
.lwi-cancer:before {
  content: "\e002";
}
.lwi-capricorn:before {
  content: "\e003";
}
.lwi-cloud:before {
  content: "\e004";
}
.lwi-cloud-drop:before {
  content: "\e005";
}
.lwi-cloud-lightning:before {
  content: "\e006";
}
.lwi-cloud-snowflake:before {
  content: "\e007";
}
.lwi-downpour-fullmoon:before {
  content: "\e008";
}
.lwi-downpour-halfmoon:before {
  content: "\e009";
}
.lwi-downpour-sun:before {
  content: "\e00a";
}
.lwi-drop:before {
  content: "\e00b";
}
.lwi-first-quarter:before {
  content: "\e00c";
}
.lwi-fog:before {
  content: "\e00d";
}
.lwi-fog-fullmoon:before {
  content: "\e00e";
}
.lwi-fog-halfmoon:before {
  content: "\e00f";
}
.lwi-fog-sun:before {
  content: "\e010";
}
.lwi-fullmoon:before {
  content: "\e011";
}
.lwi-gemini:before {
  content: "\e012";
}
.lwi-hail:before {
  content: "\e013";
}
.lwi-hail-fullmoon:before {
  content: "\e014";
}
.lwi-hail-halfmoon:before {
  content: "\e015";
}
.lwi-hail-sun:before {
  content: "\e016";
}
.lwi-last-quarter:before {
  content: "\e017";
}
.lwi-leo:before {
  content: "\e018";
}
.lwi-libra:before {
  content: "\e019";
}
.lwi-lightning:before {
  content: "\e01a";
}
.lwi-mistyrain:before {
  content: "\e01b";
}
.lwi-mistyrain-fullmoon:before {
  content: "\e01c";
}
.lwi-mistyrain-halfmoon:before {
  content: "\e01d";
}
.lwi-mistyrain-sun:before {
  content: "\e01e";
}
.lwi-moon:before {
  content: "\e01f";
}
.lwi-moondown-full:before {
  content: "\e020";
}
.lwi-moondown-half:before {
  content: "\e021";
}
.lwi-moonset-full:before {
  content: "\e022";
}
.lwi-moonset-half:before {
  content: "\e023";
}
.lwi-move2:before {
  content: "\e024";
}
.lwi-newmoon:before {
  content: "\e025";
}
.lwi-pisces:before {
  content: "\e026";
}
.lwi-rain:before {
  content: "\e027";
}
.lwi-rain-fullmoon:before {
  content: "\e028";
}
.lwi-rain-halfmoon:before {
  content: "\e029";
}
.lwi-rain-sun:before {
  content: "\e02a";
}
.lwi-sagittarius:before {
  content: "\e02b";
}
.lwi-scorpio:before {
  content: "\e02c";
}
.lwi-snow:before {
  content: "\e02d";
}
.lwi-snow-fullmoon:before {
  content: "\e02e";
}
.lwi-snow-halfmoon:before {
  content: "\e02f";
}
.lwi-snow-sun:before {
  content: "\e030";
}
.lwi-snowflake:before {
  content: "\e031";
}
.lwi-star:before {
  content: "\e032";
}
.lwi-storm-11:before {
  content: "\e033";
}
.lwi-storm-32:before {
  content: "\e034";
}
.lwi-storm-fullmoon:before {
  content: "\e035";
}
.lwi-storm-halfmoon:before {
  content: "\e036";
}
.lwi-storm-sun:before {
  content: "\e037";
}
.lwi-sun:before {
  content: "\e038";
}
.lwi-sundown:before {
  content: "\e039";
}
.lwi-sunset:before {
  content: "\e03a";
}
.lwi-taurus:before {
  content: "\e03b";
}
.lwi-tempest:before {
  content: "\e03c";
}
.lwi-tempest-fullmoon:before {
  content: "\e03d";
}
.lwi-tempest-halfmoon:before {
  content: "\e03e";
}
.lwi-tempest-sun:before {
  content: "\e03f";
}
.lwi-variable-fullmoon:before {
  content: "\e040";
}
.lwi-variable-halfmoon:before {
  content: "\e041";
}
.lwi-variable-sun:before {
  content: "\e042";
}
.lwi-virgo:before {
  content: "\e043";
}
.lwi-waning-cresent:before {
  content: "\e044";
}
.lwi-waning-gibbous:before {
  content: "\e045";
}
.lwi-waxing-cresent:before {
  content: "\e046";
}
.lwi-waxing-gibbous:before {
  content: "\e047";
}
.lwi-wind:before {
  content: "\e048";
}
.lwi-wind-e:before {
  content: "\e049";
}
.lwi-wind-fullmoon:before {
  content: "\e04a";
}
.lwi-wind-halfmoon:before {
  content: "\e04b";
}
.lwi-wind-n:before {
  content: "\e04c";
}
.lwi-wind-ne:before {
  content: "\e04d";
}
.lwi-wind-nw:before {
  content: "\e04e";
}
.lwi-wind-s:before {
  content: "\e04f";
}
.lwi-wind-se:before {
  content: "\e050";
}
.lwi-wind-sun:before {
  content: "\e051";
}
.lwi-wind-sw:before {
  content: "\e052";
}
.lwi-wind-w:before {
  content: "\e053";
}
.lwi-windgust:before {
  content: "\e054";
}

